@import 'src/colors.scss';

:host ::ng-deep .ui-table {

  .ui-table-tbody > tr > td.ui-editing-cell p-celleditor > * {
    width: 2.5rem;
  }

  .ui-chkbox {
    width: 1.0833rem;
    height: 1.0833rem;
    .ui-chkbox-box {
      background-color: #E5E5E5;
      box-shadow: 0 0.0833rem #BBB inset;
      width: 1.0833rem;
      height: 1.0833rem;
      border: none;
      position: relative;

      &:hover {
        background-color: #D0D0D0;
      }

      &.ui-state-active:not(.ui-state-disabled):hover {
        background-color: #D0D0D0;
      }

      .ui-chkbox-icon {
        overflow: visible;
        color: #505050;
        position: absolute;
        top: -0.5rem;
        left: -0.3333rem;
        font-size: 1.8333rem;
      }
    }
  }

  .ui-table-tbody > tr {
    background-color: #EFEFEF;
    display: flex;
    border-bottom: 0.0833rem solid #E2E9F1;
    margin-bottom: 0.1667rem;
    border-radius: 0.8333rem;
  }

  .ui-table-tbody > tr:last-child {
    border: none;
  }

  .ui-table-tbody > tr:nth-child(even) {
    background-color: #EFEFEF;
  }

  .ui-table-tbody > tr > td {
    color: $base-text-color;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    .chapter-type-control {
      display: flex;
      align-items: center;
    }

    &.ui-editable-column {
      display: flex;
      align-items: center;
      padding-left: 0.4167rem;
      padding-right: 0.4167rem;

      input:focus {
        outline: none;
      }
    }

    span.table-icon {
      margin-right: 0.8333rem;
      color: $base-color;
      cursor: pointer;

      &.lock {
        color: $secondary-color;
      }
    }

    &.reorder-handle {
      cursor: grab;
    }

    &.main {
      flex: 1;
    }

    &.type {
      color: $base-color;
    }
  }

  .ui-table-summary {
    background-color: transparent;
    border: none;
    padding-left: 0.4167rem;

    .summary-container {
      display: flex;
      align-items: center;

      .lock-drag {
        color: $base-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin-right: 0.8333rem;
        font-size: 1.2rem;
      }

      .select-all {
        margin-left: 0.8333rem;
        color: $base-text-color;
        font-weight: bold;
        font-size: 1.2rem;
        flex: 1;
        text-align: left;
      }

      .export-tools {
        display: flex;
        align-items: center;
        color: $base-color;
        font-size: 1.2rem;

        span {
          margin-right: 0.8333rem;
          cursor: pointer;
          
          span {
            margin-right: 0.8333rem;
          }
        }
      }
    }
  }
}