@use 'src/assets/scss/functions';

.explanation {
  margin: 0;
  color: var(--alg-secondary-color);
}

.note-caption {
  margin: var(--alg-space-size-5) 0;
  color: var(--alg-secondary-color);
  font-size: functions.toRem(14);
  text-align: center;
}

.list {
  list-style-type: none;
  margin: var(--alg-space-size-5) 0 0 0;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: functions.toRem(48);
  border-bottom: .1rem solid var(--light-border-color);
}

.list-item-link {
  line-height: functions.toRem(32);
}

.add-dependency {
  display: block;
  margin-top: functions.toRem(38);
}

.depending-content-title {
  margin: functions.toRem(38) 0 functions.toRem(16) 0;
}

.loading {
  margin: functions.toRem(--alg-space-size-3) 0;
}
