@import 'src/colors.scss';

.page-nav {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    height: 28px;
    background-color: $base-color;
    justify-content: center;
    color: white;
    cursor: pointer;
  }

  .page-edit {
    width: 28px;
    border-radius: 28px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .navigator {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    padding-left: 10px;
    color: #D0DDEC;
    i {
      cursor: pointer;
      margin-right: 10px;
      &:last-child {
        margin-right: 5px;
      }
    }
  }

  .top-bar-expand {
      border-left: 1px solid #E0E1E5;
      color: $base-color;
      font-size: 18px;
      padding-left: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
  }

  .top-bar-menu {
      color: white;
      background-color: $base-color;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
      padding-left: 15px;
      padding-right: 10px;
      height: 28px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}