@if (user.personalInfoAccessApprovalToCurrentUser === 'edit') {
  <div class="button-container">
    <button
      class="size-l"
      icon="ph-duotone ph-pen"
      (click)="onModifyPassword()"
      alg-button
      i18n
    >Modify password</button>
  </div>
}
<h2 class="alg-h2 alg-text-normal title" i18n>Personal Information</h2>
<ul class="alg-data-list">
  <li class="alg-data-list-item">
    <span class="alg-data-list-item-caption" i18n>Login</span>
    <span class="alg-data-list-item-value">{{ user.login }}</span>
  </li>
  <li class="alg-data-list-item">
    <span class="alg-data-list-item-caption" i18n>First Name</span>
    <span class="alg-data-list-item-value">{{ user.firstName }}</span>
  </li>
  <li class="alg-data-list-item">
    <span class="alg-data-list-item-caption" i18n>Last Name</span>
    <span class="alg-data-list-item-value">{{ user.lastName }}</span>
  </li>
  <li class="alg-data-list-item">
    <span class="alg-data-list-item-caption" i18n>Personal Web page</span>
    <span class="alg-data-list-item-value">{{ user.webSite }}</span>
  </li>
</ul>
