@use 'src/assets/scss/functions';

.modify-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modify-description {
  padding-right: functions.toRem(16);
  overflow: hidden;
}
