@use 'src/assets/scss/functions';

.strings-section {
  margin-bottom: var(--alg-space-size-6);
}

.strings-section-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--alg-space-size-3);
  margin-bottom: functions.toRem(20);

  h2 {
    margin-bottom: 0;
  }

  button {
    transform: translateY(functions.toRem(3));
  }
}
