<section class="strings-section" aria-labelledby="item-strings-section-heading">
  <div class="strings-section-header">
    <h2 id="item-strings-section-heading" class="alg-h2 alg-text-normal alg-base-title-primary-space">
      {{ sectionHeading() }}
    </h2>
    @if (showTranslateCta()) {
      <button type="button" class="size-s" alg-button (click)="onShowTabs()" i18n>Translate</button>
    }
  </div>

  <ng-container [formGroup]="form">
    <ng-container formArrayName="allStrings">
      @switch (state()) {
        @case ('tabs') {
          <alg-item-strings-tabs
            [languageTags]="tabLanguageTags()"
            [defaultLanguageTag]="resolvedLanguageTag()"
            [activeLanguageTag]="activeLanguageTag()"
            [pendingDeletions]="pendingDeletions()"
            [loadingLanguages]="loadingLanguages()"
            [failedLanguages]="failedLanguages()"
            [missingLanguages]="missingLanguages()"
            [invalidLanguageTags]="invalidLanguageTags()"
            [showDescription]="showDescription()"
            [activeControl]="activeStringsControl()"
            (activeTabChange)="onActiveTabChange($event)"
            (setDefaultLanguage)="onSetDefaultLanguage($event)"
            (togglePendingDeletion)="onTogglePendingDeletion($event)"
            (addLanguage)="onAddLanguage($event)"
            (retryFetch)="onRetryFetch($event)"
          ></alg-item-strings-tabs>
        }
        @default {
          <div class="tab-panel" [attr.data-testid]="'lang-panel-' + resolvedLanguageTag()">
            <alg-item-strings-control
              [formControl]="allStrings.at(0)"
              [showDescription]="showDescription()"
            ></alg-item-strings-control>
          </div>
        }
      }
    </ng-container>
  </ng-container>
</section>
