<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="itemData">

    <ng-container *ngIf="state.isReady">

      <ng-container *ngIf="itemData.item.type === 'Skill'; else childrenEditWithNoTitle">
        <alg-section
          class="edit-children"
          i18n-label label="Sub-skills"
          icon="fa fa-list"
          [hideBorder]="true"
        >
          <alg-item-children-edit-list
            type="skill"
            [data]="skills"
            [itemData]="itemData"
            (childrenChanges)="onDataChange($event, 'skill')"
          ></alg-item-children-edit-list>
        </alg-section>

        <alg-section
          class="edit-children"
          i18n-label label="Activities to learn or reinforce this skill"
          icon="fa fa-list"
          [hideBorder]="true"
        >
          <alg-item-children-edit-list
            [data]="activities"
            [itemData]="itemData"
            (childrenChanges)="onDataChange($event)"
          ></alg-item-children-edit-list>
        </alg-section>
      </ng-container>

      <ng-template #childrenEditWithNoTitle>
        <alg-item-children-edit-list
          [data]="activities"
          [itemData]="itemData"
          (childrenChanges)="onDataChange($event)"
        ></alg-item-children-edit-list>
      </ng-template>

    </ng-container>

    <alg-loading *ngIf="state.isFetching"></alg-loading>

    <alg-error
      *ngIf="state.isError"
      class="dark"
      i18n-message message="Error while loading the children items"
      [showRefreshButton]="true"
      (refresh)="reloadData()"
    ></alg-error>

  </ng-container>
</ng-container>

