@let state = stateSignal();

<p i18n>The resulting additional time of all descendants of this group:</p>

@if (state.isError) {
  <alg-error
    class="alg-flex-1"
    icon="ph-duotone ph-warning-circle"
    i18n-message message="Unable to extra time information"
    i18n-buttonCaption buttonCaption="Retry"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>
}
@else if (state.data === undefined) {
  <alg-loading></alg-loading>
}
@else { <!-- state ready or fetching-->
  @let data = state.data;
  <div class="alg-table-page-wrapper">
    <div class="alg-table-horizontal-scroll">
      <table class="alg-table-v2" cdk-table [dataSource]="data">
        <ng-container cdkColumnDef="name">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Name</th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let descendantExtraTime">{{ descendantExtraTime.name }}</td>
        </ng-container>
        <ng-container cdkColumnDef="additionalTime">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Participant-specific</th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let descendantExtraTime">
            <alg-item-extra-time-input
              [initialValue]="descendantExtraTime.additionalTime"
              [disabled]="updating()"
              (saveEvent)="onExtraTimeSave($event, descendantExtraTime.groupId)"
            ></alg-item-extra-time-input>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="totalAdditionalTime">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Total</th>
          <td class="alg-table-td" data-testid="total-additional-time" cdk-cell *cdkCellDef="let descendantExtraTime">
            {{ descendantExtraTime.totalAdditionalTime }}s
          </td>
        </ng-container>
        @if (data.length > 0) {
          <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
        }
        <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
        <tr class="alg-table-body-tr" *cdkNoDataRow>
          <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
            <span i18n>This group has no descendants.</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
}
