@let state = stateSignal();

<p i18n>The resulting additional time of all descendants of this group:</p>

@if (state.isError) {
  <alg-error
    class="alg-flex-1"
    icon="ph-duotone ph-warning-circle"
    i18n-message message="Unable to extra time information"
    i18n-buttonCaption buttonCaption="Retry"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>
}
@else if (state.data === undefined) {
  <alg-loading></alg-loading>
}
@else { <!-- state ready or fetching-->
  @let data = state.data;
  <p-table
    class="alg-table"
    [value]="data"
    [loading]="state.isFetching"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      @if (data && data.length > 0) {
        <tr>
          <th i18n>Name</th>
          <th i18n>Participant-specific</th>
          <th i18n>Total</th>
        </tr>
      }
    </ng-template>

    <ng-template
      pTemplate="body"
      let-descendantExtraTime
    >
      <tr>
        <td>{{ descendantExtraTime.name }}</td>
        <td>
          <alg-item-extra-time-input
            [initialValue]="descendantExtraTime.additionalTime"
            [disabled]="updating()"
            (saveEvent)="onExtraTimeSave($event, descendantExtraTime.groupId)"
          ></alg-item-extra-time-input>
        </td>
        <td data-testid="alg-total-additional-time">{{ descendantExtraTime.totalAdditionalTime }}s</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td>
          <div class="empty-message" i18n>
            This group has no descendants.
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
