@import 'src/assets/scss/functions';

:host {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.start-watch-button {
  margin-left: toRem(8);
}
