<div class="container" #containerRef>
  <alg-observation-bar [onlyIcon]="!!(isNarrowScreen$ | async)" *ngIf="isObserving$ | async"></alg-observation-bar>
  <ng-container *ngrxLet="currentGroupContent$; let currentGroupContent">
    <button
      class="alg-button-icon no-bg primary-color start-watch-button"
      pButton
      type="button"
      icon="ph ph-eye"
      data-testid="toggle-group-observation"
      (click)="toggleObservation($event, containerRef, startObservingActiveContentGroupInfo)"
      *ngIf="startObservingActiveContentGroupInfo$ | async as startObservingActiveContentGroupInfo"
    ></button>
  </ng-container>
</div>
<p-overlayPanel
  #op
  [style]="{ minWidth: '15rem', maxWidth: '30rem' }"
  styleClass="alg-suggestion-of-activities-overlay"
  appendTo="body"
>
  <alg-suggestion-of-activities *ngIf="op.overlayVisible"></alg-suggestion-of-activities>
</p-overlayPanel>

