@import 'src/colors.scss';

.gear-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gear-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    background-color: $nav-bk-color;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .gear-label {
    color: $base-text-color;
  }
}