:host {
  display: block;
  width: 47.5rem;
  max-height: 65vh;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.error-message {
  margin-right: .3rem;
}

.dialog-description {
  margin-top: 0;
}
