<p-dialog
  [visible]="true"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  styleClass="alg-permissions-edit-dialog"
>
  <p-header>
    <div class="dialog-header">
      <span class="dialog-title" i18n>Permission editor</span>
      <button
        type="button"
        class="stroke size-l"
        icon="ph-bold ph-x"
        (click)="onCancel()"
        alg-button-icon
      ></button>
    </div>
  </p-header>

  <alg-error
    i18n-message message="User permissions cannot be changed via this page for the moment"
    *ngIf="(group | isUser) && !sourceGroup; else stateBlock"
  ></alg-error>

  <ng-template #stateBlock>
    <ng-container *ngIf="state$ | async as state">
      <alg-loading *ngIf="state.isFetching"></alg-loading>

      <alg-error *ngIf="state.isError">
        <span class="error-message" i18n>The permissions cannot be retrieved.</span>
        <span i18n="@@contactUs">If the problem persists, please contact us.</span>
      </alg-error>

      <div class="dialog-container" *ngIf="state.isReady">
        <div class="dialog-content">
          <ng-container *ngIf="item.string.title">
            <p class="dialog-description" i18n>
              These are the permissions given by "{{ permReceiverName }}" to "{{ item.string.title }}"
              <ng-container *ngIf="(group | isUser) && permGiverName">on "{{ permGiverName }}"</ng-container>
            </p>
          </ng-container>

          <alg-permissions-edit-form
            (save)="onPermissionsDialogSave($event)"
            (cancel)="onCancel()"
            [targetType]="targetType"
            [permissions]="state.data.granted"
            [computedPermissions]="state.data.computed"
            [giverPermissions]="currentUserPermissions"
            [acceptButtonDisabled]="updateInProcess"
            [requiresExplicitEntry]="item.requiresExplicitEntry"
          ></alg-permissions-edit-form>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-dialog>

