<ng-container *ngIf="userProgress">
  <div
    class="group-situation-data"
    [ngClass]="state"
    [matMenuTriggerFor]="menu"
  >
    <alg-score-ring
      *ngIf="state !== 'success' && state !== 'not-started'"
      [currentScore]="userProgress.score"
      [diameter]="32"
      [scoreFillColor]="'#FFF'"
    ></alg-score-ring>
    <span class="situation-check" *ngIf="state === 'success'">
      <i class="fa fa-check"></i>
    </span>
  </div>
  <mat-menu
    #menu="matMenu"
    yPosition="above"
    class="grid-td-menu"
  >
    <div class="content validated">
      <span *ngIf="userProgress">
        <i class="fa fa-clock"></i>
        <span class="menu-label">Time spent</span>
        <span class="menu-value">{{ userProgress.timeSpent | duration }}</span>
      </span>
      <span class="score">
        <alg-score-ring
          *ngIf="state !== 'success' && state !== 'not-started'"
          [isDark]="true"
          [currentScore]="userProgress.score"
          [diameter]="32"
        ></alg-score-ring>
        <span class="situation-check" *ngIf="state === 'success'">
          <i class="fa fa-check"></i>
        </span>
      </span>
      <span *ngIf="canAccess" class="clickable" (click)="onClickAccess()">
        <i class="fa fa-lock"></i>
        <span>ACCESS</span>
      </span>
    </div>
    <span class="indicator"></span>
  </mat-menu>
</ng-container>
<alg-permissions-edit-dialog
  [title]="title"
  [targetType]="targetType"
  [permissions]="permissions"
  (close)="onDialogClose($event)"
></alg-permissions-edit-dialog>
