<lib-section icon="fa fa-link" label="Suggested activities for this skill">
  <lib-activity-skill-list [data]="suggested" [activity]="true"></lib-activity-skill-list>
</lib-section>
<lib-section icon="fa fa-calendar-check" label="Activities associated with this skill">
  <div class="select-type-container">
    <lib-selection type="square" [items]="sels"></lib-selection>
  </div>
  <lib-grid-filter-bar>
    <lib-select
      [items]="filterChoice"
      [opened]="false"
      width="10"
      style="margin: 0.4167rem;"
      (onClick)="gridSelect = true"
    ></lib-select>
    <ng-container *ngFor="let filter of gridFilters">
      <lib-grid-filter
        [icon]="filter.icon"
        [label]="filter.label"
        [type]="filter.type"
        [mode]="filter.mode"
        [text]="filter.text"
        [ranges]="filter.ranges"
        [dateRanges]="filter.dateRanges"
        [list]="filter.list"
        [outsideClicked]="gridSelect"
        (onClose)="removeFilter(filter.ID)"
        (onHide)="gridSelect = false"
      ></lib-grid-filter>
    </ng-container>
  </lib-grid-filter-bar>
  <lib-activity-skill-list [data]="associated" [activity]="true"></lib-activity-skill-list>
</lib-section>
