@use 'src/assets/scss/functions';

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.no-padding {
    padding: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  margin: 0 functions.toRem(2);
  width: functions.toRem(12);
  height: functions.toRem(12);
  background-color: #d2dfff;
  border: functions.toRem(3) solid var(--alg-primary-color);
  border-radius: 50%;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-name: fade;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:last-child {
    animation-delay: .4s;
  }
}
