@import 'src/colors.scss';

.progress-level-container {
  display: flex;
  align-items: center;

  .progress-level-item {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-color: var(--base-text-color);
    border-radius: 1rem;

    &.active {
      background-color: var(--base-color);
    }

    &.revert {
      background-color: var(--dark-base-color);

      &.active {
        background-color: white;
      }
    }

    &-link {
      display: flex;
      width: 0.5833rem;
      height: 0.25rem;
      background-color: var(--base-text-color);

      &.active {
        background-color: var(--base-color);
      }

      &.revert {
        background-color: var(--dark-base-color);
  
        &.active {
          background-color: white;
        }
      }
    }
  }

  &.warning {
    .progress-level-item, .progress-level-item-link {
      &.revert:not(&.active) {
        background-color: var(--section-warning-handle-border-color);
      }
    }
  }
}
