@if (state$ | async; as state) {
  @if (state.isFetching && !state.data) {
    <alg-loading class="alg-flex-1" size="medium"></alg-loading>
  }
  @if (state.isError) {
    <alg-error
      class="alg-flex-1"
      i18n-message message="Error while loading the user progress"
      [showRefreshButton]="true"
      (refresh)="refresh()"
    ></alg-error>
  }
  @if (state.data) {
    <div class="refresh-button">
      <button class="stroke size-s" alg-button icon="ph-duotone ph-arrows-clockwise" (click)="refresh()">
        Refresh
      </button>
    </div>
    <div class="alg-table-page-wrapper">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="state.data">
          @for (column of columns(); track column.field) {
            <ng-container [cdkColumnDef]="column.field">
              <th
                class="alg-table-th"
                [class.text-center]="[ 'timeSpent', 'submissions' ].includes(column.field)"
                cdk-header-cell
                *cdkHeaderCellDef
              >{{ column.header }}</th>
              <td
                class="alg-table-td"
                [class.text-center]="[ 'timeSpent', 'submissions' ].includes(column.field)"
                cdk-cell
                *cdkCellDef="let rowData"
              >
                @switch (column.field) {
                  @case ('title') {
                    @if (itemData && itemData.currentResult?.attemptId; as parentAttemptId) {
                      <div>
                        <a
                          class="alg-link"
                          [ngClass]="{ 'disabled font-bold text-black': rowData.id === itemData.item.id }"
                          [routerLink]="rowData | itemRoute: { path: itemData.route.path.concat([ itemData.item.id ]), parentAttemptId } | url"
                        >
                          {{ rowData.title }}
                        </a>
                      </div>
                    }
                  }
                  @case ('latestActivityAt') {
                    @if (rowData.latestActivityAt) {
                      {{ rowData.latestActivityAt | date:'short' }}
                    } @else {
                      <span i18n>Not started</span>
                    }
                  }
                  @case ('timeSpent') {
                    @if (rowData.latestActivityAt) {
                      {{ rowData.timeSpent | secToDuration | readable }}
                    }
                  }
                  @case ('submissions') {
                    @if (!['Chapter', 'Skill'].includes(rowData.type) && rowData.latestActivityAt) {
                      {{ rowData.submissions }}
                      @if (rowData.hintsRequested > 0) {
                        <span i18n>
                          (using {rowData.hintsRequested, plural, =1 {hint} other {{{ rowData.hintsRequested }} hints}})
                        </span>
                      }
                    }
                  }
                  @case ('score') {
                    @if (!rowData.noScore && rowData.latestActivityAt) {
                      <alg-score-ring
                        [currentScore]="rowData.score"
                        [isValidated]="rowData.validated"
                      ></alg-score-ring>
                    }
                  }
                  @default {
                    {{ rowData[column.field] }}
                  }
                }
              </td>
            </ng-container>
          }
          @if (state.data.length > 0) {
            <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
          }
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              <span i18n>There is no progress to report for this group/user.</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  }
}
