@use 'src/assets/scss/functions';

:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: functions.toRem(32);
  padding: 0 functions.toRem(18);
  font-size: functions.toRem(12);
  text-decoration: none;
  border-radius: functions.toRem(20);
  border: none;
  cursor: pointer;
  background: none;
  color: var(--alg-secondary-color);
  box-sizing: border-box;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.size-xs {
    padding: 0 functions.toRem(8);
    height: functions.toRem(20);
    font-size: functions.toRem(12);
    border-radius: functions.toRem(12);
    font-weight: 500;

    &:has(.icon) {
      padding: 0 functions.toRem(7) 0 functions.toRem(15);
    }
  }

  &.size-s {
    height: functions.toRem(24);
    font-size: functions.toRem(12);
    border-radius: functions.toRem(12);

    &:has(.icon) {
      padding: 0 functions.toRem(7) 0 functions.toRem(15);
    }
  }

  &.size-l {
    height: functions.toRem(40);
    font-size: functions.toRem(16);
    border-radius: functions.toRem(20);
  }

  &.width-full {
    width: 100%;
    padding-left: functions.toRem(4);
    padding-right: functions.toRem(4);
  }

  &:not(.stroke) {
    color: var(--alg-white-color);
    background: var(--alg-primary-color);
  }

  &.stroke {
    border: functions.toRem(1) solid var(--alg-border-color);

    .icon {
      color: var(--alg-primary-color);
    }
  }

  &.only-caption {
    height: auto;
    padding: 0;
    border: none;
    background: none;
    color: var(--alg-primary-color);

    &.accent-dark {
      color: var(--alg-accent-dark-color);
    }
  }

  &.secondary {
    color: var(--alg-secondary-color);
    border: functions.toRem(1) solid var(--alg-border-color);
    background: var(--alg-white-color);

    .icon {
      color: var(--alg-secondary-color);
    }
  }

  &.success {
    border: functions.toRem(1) solid var(--alg-success-color);
    background: var(--alg-success-color);
  }

  &.accent-dark:not(.only-caption) {
    color: var(--alg-white-color);
    border: functions.toRem(1) solid var(--alg-accent-dark-color);
    background: var(--alg-accent-dark-color);

    .icon {
      color: var(--alg-white-color);
    }

    &.stroke {
      background: none;
      color: var(--alg-accent-dark-color);

      .icon {
        color: var(--alg-accent-dark-color);
      }
    }
  }

  &.danger {
    border: functions.toRem(1) solid var(--alg-message-error-color);
    background: var(--alg-message-error-color);
  }

  &.light-border {
    border: functions.toRem(1) solid var(--alg-white-color);

    &.with-hover-eff {
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &.left-menu {
    flex-direction: row-reverse;
    border-color: #0000000d;

    .icon {
      font-size: functions.toRem(24);
      margin-right: functions.toRem(7.5);
    }

    &.selected {
      border-color: var(--alg-primary-color);
    }
  }

  &.select-button {
    padding-left: functions.toRem(9) !important;
    padding-right: functions.toRem(5) !important;
    border: functions.toRem(1) solid var(--alg-light-color);
  }

  &.select-form-button {
    display: flex;
    justify-content: space-between;
    padding-left: var(--alg-space-size-5) !important;
    padding-right: var(--alg-space-size-5) !important;
    background: var(--alg-light-color);
    color: var(--alg-secondary-color);

    .icon {
      color: var(--alg-primary-color);
    }

  }

  &.neighbor-nav {
    padding-left: functions.toRem(12);
    padding-right: functions.toRem(7);

    .icon {
      font-size: functions.toRem(18);
    }
  }

  &.no-caption {
    padding: 0 functions.toRem(12);

    &:not(&.stroke) {
      background-color: transparent;
      .icon {
        color: var(--alg-primary-color);
      }
    }

    &.stroke {
      border-color: transparent;
    }

    .icon {
      margin-left: 0;
    }
  }

  &.no-caption-animatable {
    &:not(&.stroke) {
      transition: background-color 200ms ease-in-out;

      .content {
        overflow: hidden;
      }
    }

    &.stroke {
      transition: border-color 200ms ease-in-out;

      .content {
        overflow: hidden;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: functions.toRem(7);
  color: var(--alg-white-color);
  font-size: functions.toRem(16);
}
