@import 'src/colors.scss';

:host ::ng-deep .ui-table {

  .ui-table-tbody > tr {
    background-color: transparent;
    display: flex;
    border-bottom: 0.0833rem solid #D1D9E5;
  }

  .ui-table-tbody > tr:last-child {
    border: none;
  }

  .ui-table-tbody > tr:nth-child(even) {
    background-color: transparent;
  }

  .ui-table-tbody > tr > td {
    border: none;
    background-color: transparent;
    font-size: 1rem;

    span.table-icon {
      margin-right: 0.8333rem;
      color: $base-color;
      cursor: pointer;
    }

    &.main {
      flex: 1;
    }

    .team-user-image {
      border-radius: 2.0833rem;
    }
  }
}