@import 'src/colors.scss';

.header-section-container {
  background-color: $light-color;
  padding:  15px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 10px;

  .header-section-header {
    display: flex;
    align-items: center;
    padding-right: 15px;

    .header-handle {
      display: flex;
      background-color: $base-color;
      border-left: 3px solid $dark-color;
      width: 55px;
      height: 30px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      align-items: center;
      justify-content: flex-end;
      color: white;
      margin-right: 10px;
      padding-right: 8px;
    }

    .header-title {
      flex: 1;
      font-size: 20px;
      color: $dark-text-color;
    }

    .header-collapse {
      font-size: 16px;
      color: $dark-text-color;
    }
  }

  .header-section-body {
    padding: 10px 15px 5px 65px;
  }
}