<h2 class="alg-h2 alg-text-normal alg-base-title-space" i18n>Add a manager</h2>
<div class="input-container">
  <input
    class="input-element"
    type="text"
    i18n-placeholder="Placeholder of field for searching for user by login" placeholder="Login of a user"
    [(ngModel)]="login"
    [disabled]="state === 'loading'"
  >
  <div class="button-section">
    <button
      class="alg-button primary"
      icon="ph-bold ph-plus"
      [disabled]="login === '' || state === 'loading'"
      (click)="onClick()"
      pButton
    >Add</button>
  </div>
</div>
