@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.member-list-table {
  margin-top: functions.toRem(20);
}

.alg-table-footer-checkbox {
  margin-left: functions.toRem(8.8);
}
