<alg-group-composition-filter #compositionFilter (change)="onFilterChange($event)" [defaultValue]="defaultFilter"></alg-group-composition-filter>
<ng-container *ngIf="rows$ | async as state">

  <alg-error
    *ngIf="state.isError; else noError"
    class="error dark"
    i18n-message message="Error while loading the group members"
    icon="ph-duotone ph-warning-circle"
    [showRefreshButton]="true"
    (refresh)="fetchRows()"
  ></alg-error>

  <ng-template #noError>
    <div class="alg-table-page-wrapper member-list-table">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="state.data || []" algTableSort (sortChange)="onSortChange($event)">
          <ng-container cdkColumnDef="checkbox">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              @let isSelected = !!(selection | findInArray: rowData);
              <input type="checkbox" [checked]="isSelected" (change)="onSelect(rowData)" />
            </td>
          </ng-container>

          @for (column of columns(); track column.field) {
            <ng-container [cdkColumnDef]="column.field">
              <th
                class="alg-table-th"
                [alg-table-sort-header]="column.field"
                [sortEnabled]="!!column.sortable"
                cdk-header-cell
                *cdkHeaderCellDef
              >{{ column.header }}</th>
              <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
                <ng-container [ngSwitch]="column.field">
                  <ng-container *ngSwitchCase="'user.login'">
                    <ng-container *ngIf="rowData.user">
                      <a
                        class="alg-link"
                        [routerLink]="rowData.route | groupLink"
                      >
                        {{ rowData.user | userCaption }}
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'name'">
                    <a
                      class="alg-link"
                      [routerLink]="rowData.route | groupLink"
                    >
                      {{ rowData.name }}
                    </a>
                  </ng-container>
                  <ng-container *ngSwitchCase="'member_since'">
                    <ng-container *ngIf="rowData.memberSince">
                      {{ rowData.memberSince | date:'short' }}
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ rowData[column.field] }}
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
          }

          <tr
            class="alg-table-header-tr"
            [ngClass]="{ 'alg-display-none': !state.isReady || state.data.length === 0 }"
            cdk-header-row
            *cdkHeaderRowDef="displayedColumns()"
          ></tr>
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              @if (state.isFetching) {
                <alg-loading></alg-loading>
              } @else {
                <p class="empty-message" i18n>This list is empty. Check below the different ways to add members or sub-groups.</p>
              }
            </td>
          </tr>
        </table>
      </div>
      @let data = state.data;
      @if (currentUserCanManage() && data && data.length > 0) {
        <div class="alg-table-footer">
          <div class="alg-table-footer-left">
            <label for="select-all-checkbox">
              <input
                type="checkbox"
                class="alg-table-footer-checkbox"
                id="select-all-checkbox"
                data-testid="member-list-select-all"
                (change)="onSelectAll(data)"
                [checked]="data.length === selection.length"
              />
              <span class="alg-table-footer-select-all" i18n>
              Select all
            </span>
            </label>
          </div>
          <button
            alg-button
            type="button"
            icon="ph ph-trash"
            (click)="onRemove()"
            [disabled]="(removalInProgress$ | async) || !state.isReady || selection.length === 0"
          >
            {currentFilter.type, select, users {Remove} other {Remove from group}}
          </button>
        </div>
      }
    </div>

    @if (datapager.canLoadMore$ | async) {
      <div class="alg-table-load-more">
        <button
          alg-button
          class="size-s stroke"
          icon="ph-duotone ph-arrow-circle-down"
          (click)="fetchMoreRows()"
          [disabled]="state.isFetching || state.isError"
          i18n
        >Load more</button>
      </div>
    }
  </ng-template>
</ng-container>
