@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.switch-control {
  margin-top: functions.toRem(40);
  display: flex;
  align-items: center;
}

.switch-control-caption {
  margin: 0 0 0 var(--alg-space-size-5);
  color: var(--alg-switch-control-caption-color);
}

.member-list-table {
  margin-top: functions.toRem(20);
}

.alg-table-footer-checkbox {
  margin-left: functions.toRem(8.8);
}
