@import 'src/assets/scss/functions';

:host {
  &.search {
    .container {
      padding: .719rem toRem(12);
    }
  }

  &.height-auto {
    .container {
      height: auto;
    }
  }
}

.container {
  padding: 0 toRem(12);
  height: toRem(40);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--alg-accent-color);
  border-radius: toRem(8);
}

.message-icon {
  margin: 0 toRem(10) 0 0;
  color: var(--alg-accent-dark-color);
  font-size: toRem(17);
}

.message-text {
  color: RGBA(0, 0, 0, .5);
  font-size: toRem(14);
}
