@import 'src/assets/scss/functions';

:host {
  &.search {
    .container {
      padding: .719rem toRem(12);
    }
  }

  &.overflow {
    .container {
      padding: 0 toRem(12);
      height: toRem(40);
    }

    .message-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.success {
    .container {
      color: var(--alg-message-success-color);
      background-color: var(--alg-message-success-bg-color);
    }

    .message-icon {
      color: var(--alg-message-success-color);
    }
  }

  &.info {
    .container {
      color: var(--alg-message-info-color);
      background-color: var(--alg-message-info-bg-color);
    }

    .message-icon, .p-message-close-icon {
      color: var(--alg-message-info-color);
    }
  }

  &.danger {
    .container {
      color: var(--alg-message-error-color);
      background-color: var(--alg-message-error-bg-color);
    }

    .message-icon {
      color: var(--alg-message-error-color);
    }
  }
}

.container {
  padding: toRem(12);
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--alg-accent-color);
  border-radius: toRem(8);
}

.message-icon {
  margin: 0 toRem(10) 0 0;
  color: var(--alg-accent-dark-color);
  font-size: toRem(17);
}

.message-text {
  color: RGBA(0, 0, 0, .5);
  font-size: toRem(14);
}
