@import 'src/assets/scss/functions';

.input-wrapper {
  display: flex;
  position: relative;
  border-radius: var(--border-radius);

  &.large {
    height: 3.75rem;

    input {
      font-size: 2.5rem;
      font-weight: 300;
      padding-left: 3.75rem;
      line-height: 3.75rem;
    }

    .icon {
      left: 1.4167rem;
    }
  }

  &.light {
    input {
      background-color: white;
    }
  }

  input {
    &.has-button {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  .clear-button {
    right: toRem(4);
    left: auto;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: toRem(24);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    color: white;
    background-color: var(--base-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    cursor: pointer;
  }
}

.icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-size: toRem(24);
  width: toRem(40);
  height: toRem(40);
  color: var(--alg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-element {
  width: 100%;
  height: toRem(40);
  display: flex;
  background-color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding-left: toRem(40);
  font-size: toRem(16);
  color: var(--alg-secondary-color);

  &:focus {
    outline: toRem(2) solid var(--alg-primary-color);
  }

  &::placeholder {
    color: var(--alg-secondary-color);
    font-size: toRem(16);
    font-style: italic;
    opacity: .5;
  }
}
