@import 'src/colors.scss';
@import 'src/geometry.scss';

.input-wrapper {
  display: flex;
  border-radius: $border-radius;
  height: 3rem;
  position: relative;

  &.large {
    height: 3.75rem;

    input {
      font-size: 2.5rem;
      font-weight: 300;
      padding-left: 3.75rem;
      line-height: 3.75rem;
    }

    .icon {
      left: 1.4167rem;
    }
  }

  &.light {
    input {
      background-color: white;
    }
  }

  .icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    margin-top: -.5em;
    font-size: 1.2rem;
    height: 1rem;
    line-height: 1rem;
    color: var(--base-text-color);
  }

  input {
    font-family: var(--font-family);
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: 0 .1rem #00000019 inset;
    border-radius: $border-radius;
    padding-left: 2.5rem;
    font-size: 1.2rem;
    line-height: 3rem;
    color: var(--base-text-color);

    &.has-button {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
      color: rgb(118, 118, 121);
      font-size: 1.2rem;
    }


  }

  .clear-button {
    margin-left: -3rem;
    margin-top: .6rem;

    button {
      cursor: pointer;
      border: none;
      outline: none;
      position: relative;
      width: 0;
      color: #787878;
      background-color: transparent;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    color: white;
    background-color: var(--base-color);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    cursor: pointer;
  }

}
