@import 'src/assets/scss/components/input-base';
@import 'src/assets/scss/functions';

:host {
  &.transparent {
    .input-element {
      background-color: transparent;
      &::placeholder {
        opacity: .5;
      }
      &:active, &:focus {
        background-color: var(--alg-white-color);
      }
    }
  }

  &.white-bg {
    .input-element {
      background-color: var(--alg-white-color) !important;
    }
  }
}

.input-wrapper {
  display: flex;
  position: relative;
  border-radius: var(--border-radius);

  .input-element {
    background-color: var(--alg-light-color);

    &.has-button {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  .clear-button {
    right: toRem(4);
    left: auto;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: toRem(24);
  }

  .input-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    color: white;
    background-color: var(--base-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    cursor: pointer;
  }
}

.icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-size: toRem(24);
  width: toRem(40);
  height: toRem(40);
  color: var(--alg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-element {
  @include input-base;
  padding-left: toRem(40);
}
