<div class="input-wrapper" [ngClass]="{ large: size === 'large', light: !isDark }" *ngIf="parentForm" [formGroup]="parentForm">
  <input
    #input
    [type]="inputType"
    [placeholder]="placeholder"
    [ngClass]="{'has-button': buttonIcon}"
    [formControlName]="name"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)"
    [pTooltip]="pTooltip"
    [tooltipEvent]="tooltipEvent"
    [tooltipPosition]="tooltipPosition"
    [tooltipDisabled]="tooltipDisabled"
  >
  <span *ngIf="hasClearButton && input.value" class="clear-button">
    <button type="button" (click)="clearInput(); input.focus()" tabindex="-1">
      <i class="pi pi-times"></i>
    </button>
  </span>
  <span class="icon">
    <i class="fa fa-{{inputIcon}}"></i>
  </span>
  <span *ngIf="buttonIcon" class="input-button" (click)="onButtonClick()">
    <i class="fa fa-{{buttonIcon}}"></i>
  </span>
</div>

<alg-input-error [form]="parentForm" [inputName]="name"></alg-input-error>
