@import 'src/colors.scss';
@import 'src/geometry.scss';

:host {
  width: 100%;
  display: block;
}

:host ::ng-deep .ui-inputtext {
  background-color: $input-transparency-color;
  border: none;
  box-shadow: 0 .1rem #C9CFD7 inset;
}

:host ::ng-deep .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  box-shadow: none;
}

:host ::ng-deep .ui-dropdown {
  border: none;
  border-radius: $border-radius;
  width: 100%;
  font-size: 1.2rem;

  .ui-dropdown-trigger {
    background-color: $input-transparency-color;
    box-shadow: 0 .1rem #C9CFD7 inset;
    right: unset;
    left: 0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .ui-dropdown-label-container {
    padding-left: 2em;

    .ui-dropdown-label {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
      color: $base-text-color;
      font-size: 1.2rem;

      &.ui-placeholder {
        font-style: italic;
      }
    }
  }
}
