@import 'src/colors.scss';

.pending-invitation-container {
  margin-right: -1.6667rem;

  .req-tools {
    display: flex;
    align-items: center;
    color: $base-color;
    font-size: 1.2rem;

    span {
      margin-right: 0.8333rem;
      cursor: pointer;

      span {
        margin-right: 0.8333rem;
      }
    }
  }
}


:host ::ng-deep .pending-invitation-container .ui-table .ui-table-summary {
  background-color: transparent;
}

:host ::ng-deep .pending-invitation-container .ui-table .ui-table-tbody > tr {
  background-color: transparent;

  & > td {
    border-bottom-color: $section-border-color;
    border-right: 0.0833rem solid $section-border-color;

    &:first-child {
      border-right: none;
    }
  }

  &:last-child {
    border-bottom: 0.0833rem solid $section-border-color;
  }

  &:nth-child(even) {
    background-color: transparent;
  }

  &.ui-state-highlight {
    background-color: $base-color;

    .grid-user-info-field .user-info {
      color: white;
    }
  }
}