@import "../../../../variables";

$inactive-bk-color: #d8d8d8;

.header-content {
  display: flex;
  align-items: center;

  .selected-progress-level {
    margin: 0 1rem;
  }
}

.progress-select-body {
  display: flex;
  flex-direction: column;
  position: relative;

  .progress-select-item {
    display: flex;
    position: relative;
    height: 5rem;

    &:first-child {
      height: 3rem;
    }

    .progress-control {
      margin-right: 1.8rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 1.5rem;

      .progress-point {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 1.25rem;
        font-size: 0.75rem;
        color: white;
        background-color: $inactive-bk-color;
        cursor: pointer;

        &.active {
          background-color: var(--base-color);
        }

        &.active-light {
          background-color: #84bafd;
        }

        &.last {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 2.5rem;
          font-size: 1.2rem;
        }
      }

      .progress-branch {
        display: flex;
        width: 0.4167rem;
        background-color: $inactive-bk-color;
        flex: 1;

        &.active {
          background-color: var(--base-color);
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    .progress-desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      color: var(--base-text-color);
      min-height: 2.5rem;

      &.header-comment {
        padding-top: 0.4167rem;
      }

      .progress-desc-name {
        color: var(--dark-text-color);
        font-weight: bold;
        // margin-bottom: 0.4167rem;
        cursor: pointer;

        &.active {
          color: var(--base-color);
        }
      }

      .progress-desc-comment {
        font-style: italic;
        color: var(--base-text-color);
        margin-bottom: 1rem;
      }
    }
  }

  .gray-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: white;
  }
}
