@use 'src/assets/scss/functions';

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-progress-level {
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
}

.progress-select-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.progress-select-item {
  &:first-child {
    .progress-select-clickable-area {
      height: functions.toRem(48);
    }
  }

  &:hover {
    &:not(:first-child) {
      .progress-select-clickable-area {
        &:not(.disabled) {
          cursor: pointer;
          background-color: var(--alg-light-color);
        }
      }
    }
  }
}

.progress-select-clickable-area {
  display: flex;
  position: relative;
  height: functions.toRem(60);
  padding: functions.toRem(6) functions.toRem(6) 0 functions.toRem(6);
  border-radius: functions.toRem(10);

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.progress-control {
  position: relative;
  z-index: 1;
  margin-right: functions.toRem(20);
  margin-bottom: functions.toRem(-6);
  width: functions.toRem(32);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.progress-point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: functions.toRem(16);
  height: functions.toRem(16);
  border-radius: functions.toRem(16);
  font-size: functions.toRem(12);
  color: var(--alg-white-color);
  background-color: var(--alg-tree-line-color);

  &.active {
    background-color: var(--alg-primary-color);
  }

  &.active-light {
    background-color: var(--alg-tree-line-color);
  }

  &.last {
    width: functions.toRem(32);
    height: functions.toRem(32);
    border-radius: functions.toRem(32);
    font-size: functions.toRem(16);
  }
}

.progress-branch {
  display: flex;
  width: functions.toRem(4);
  background-color: var(--alg-tree-line-color);
  flex: 1;

  &.active {
    background-color: var(--alg-primary-color);
  }

  &.disabled {
    opacity: 0.5;
  }
}

.progress-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--alg-secondary-color);
  min-height: functions.toRem(32);

  &.header-comment {
    padding-top: functions.toRem(6);
  }
}


.progress-desc-name {
  color: var(--dark-text-color);
  font-weight: bold;
  cursor: pointer;

  &.active {
    color: var(--alg-primary-color);
  }
}

.progress-desc-comment {
  font-style: italic;
  font-size: functions.toRem(14);
  color: var(--alg-secondary-color);
  margin-bottom: var(--alg-space-size-5);
}

.header-content-wrapper {
  display: flex;
  align-items: center;
}
