@use 'src/assets/scss/functions';

:host {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  margin-left: functions.toRem(14);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
  color: var(--alg-primary-color);
  font-size: functions.toRem(49);
  z-index: 3;
}

.icon-bg-overlay {
  position: absolute;
  bottom: functions.toRem(10);
  width: functions.toRem(40);
  height: functions.toRem(28.5);
  background-color: #fff;
  z-index: 2;
}

.icon-bg {
  position: absolute;
  bottom: 0;
  width: functions.toRem(70);
  height: functions.toRem(28.5);
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  z-index: 1;
}

.message {
  margin-top: functions.toRem(7);
  margin-left: functions.toRem(34);
  color: var(--alg-secondary-color);
}
