@import 'src/colors.scss';

@mixin section-format($bk-color, $handle-color, $handle-border-color) {
  border-bottom: 0.0833rem solid $light-border-color;
  background-color: $bk-color;
  margin-top: 0.8333rem;
  margin-bottom: 0.8333rem;
  
  .section-header {
    display: flex;
    align-items: center;

    &.show-cursor {
      cursor: pointer;
    }

    .section-handler {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: $handle-color;
      border-left: 0.25rem solid $handle-border-color;
      width: 4.5833rem;
      height: 2.5rem;
      border-top-right-radius: 9rem;
      border-bottom-right-radius: 9rem;
      position: relative;

      i {
        color: white;
        margin-right: 0.8333rem;
      }

      .score-container {
        width: 2.6667rem;
        height: 2.6667rem;
        border-radius: 1.25rem;
        background-color: $bk-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .section-header-content {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      display: flex;
      align-items: center;
      flex: 1;
      margin-right: 0.8333rem;
      border-bottom: 0.0833rem solid transparent;
      position: relative;

      &.show-border {
        border-bottom: 0.0833rem solid $section-border-color;
      }

      .section-title {
        font-size: 2rem;
        color: $dark-text-color;
        padding-left: 1.25rem;
      }

      .additional-content {
        margin-right: 4.1667rem;
        flex: 1;
        display: flex;
        align-items: center;
      }
  
      .toggle-content {
        font-size: 2rem;
        color: $base-text-color;
        width: 4.1667rem;
        height: 2rem;
        padding-left: 2.1667rem;
        line-height: 2rem;
        text-align: center;
        font-weight: lighter;
        cursor: pointer;
        position: absolute;
        right: 0;
      }

    }
  }
  
  .section-content {
    padding: 1.25rem 1.6667rem 1.25rem 5.8333rem;
    color: $base-text-color;
  }
  
}

.section-container {

  &.success {
    @include section-format($section-color, $base-color, $dark-color);
  }

  &.danger {
    @include section-format($section-danger-color, $section-danger-handle-color, $section-danger-handle-border-color)
  }
}


