@import 'src/assets/scss/functions';

.margin-right {
  margin-right: var(--alg-space-size-6);
}

.operations {
  display: flex;
  justify-content: flex-end;
}

.empty-message {
  text-align: left;
  margin-left: toRem(16);
}

.grid-user-info-field {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
