@use 'src/assets/scss/functions';

.margin-right {
  margin-right: var(--alg-space-size-6);
}

.operations {
  display: flex;
  justify-content: flex-end;
}

.empty-message {
  text-align: left;
  margin-left: functions.toRem(16);
}
