<h2 class="alg-h2 alg-text-normal alg-base-title-space" i18n>Pending invitations</h2>
@if (state$ | async; as state) {
  @if (state.isFetching) {
    <alg-loading></alg-loading>
  } @else if (state.isError) {
    <alg-error
      class="dark"
      icon="ph-duotone ph-warning-circle"
      i18n-message message="Error while loading the group invitations."
    ></alg-error>
  } @else if (state.isReady) {
    <div class="alg-table-page-wrapper">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="state.data" algTableSort (sortChange)="onSortChange($event)">
          <ng-container cdkColumnDef="name">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Title</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              {{ rowData.group.name }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="type">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Type</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              {{ rowData.group.type }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="at">
            <th class="alg-table-th" alg-table-sort-header="at" cdk-header-cell *cdkHeaderCellDef i18n>
              Requested On
            </th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              {{ rowData.at | date: "d/MM/y" }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="operations">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              <div class="operations">
                <button
                  class="stroke size-l margin-right"
                  data-testid="accept-group"
                  alg-button-icon
                  type="button"
                  icon="ph-bold ph-check"
                  (click)="openJoinGroupConfirmationDialog(rowData)"
                  [disabled]="processing"
                ></button>
                <button
                  class="stroke size-l"
                  data-testid="reject-group"
                  alg-button-icon
                  type="button"
                  icon="ph-bold ph-x"
                  (click)="onReject(rowData)"
                  [disabled]="processing"
                ></button>
              </div>
            </td>
          </ng-container>
          <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              <p class="empty-message" i18n>No pending requests</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  }
}

@if (pendingJoinRequest) {
  <alg-join-group-confirmation-dialog
    [name]="pendingJoinRequest.name"
    [params]="pendingJoinRequest.params"
    (confirmEvent)="accept(pendingJoinRequest.id, pendingJoinRequest.name)"
    (cancelEvent)="closeModal()"
  ></alg-join-group-confirmation-dialog>
}
