<div class="section-container" [ngClass]="theme">
  <div class="section-header" [ngClass]="styleClass">
    <span class="header-icon">
      <i class="{{ icon }}"></i>
    </span>
    <span class="header-title">{{ title }}</span>
    <ng-container *ngIf="contentTemplate"
                  [ngTemplateOutlet]="contentTemplate"
                  [ngTemplateOutletContext]="{ $implicit: true }"
    ></ng-container>
    <span class="toggle-expand" *ngIf="collapsible">
      <i *ngIf="collapsed" class="fa fa-caret-down"></i>
      <i *ngIf="!collapsed" class="fa fa-caret-up"></i>
    </span>
  </div>
</div>
