@import 'src/assets/scss/functions';

.indicator {
  padding: 1rem;
  margin-right: 2rem;
}

.compensate-margin {
  margin-top: -1rem;
}

.stats-title {
  margin-top: toRem(30);
  margin-bottom: 0;
}
