<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.isReady && state.data as itemData">

    <ng-container *ngIf="taskTabs$ | async as taskTabs">
      <alg-item-header [itemData]="itemData" *ngIf="!(fullFrameContent$ | async)"></alg-item-header>

      <alg-access-code-view
        *ngIf="showAccessCodeField$ | async"
        i18n-sectionLabel sectionLabel="Access to activity"
        i18n-buttonLabel="Button label for joining an item by (group) code" buttonLabel="Access"
        [itemData]="itemData"
        (groupJoined)="reloadItem()"
      ></alg-access-code-view>

      <alg-item-permissions
        *ngIf="watchedGroup$ | async as watchedGroup"
        [itemData]="itemData"
        [watchedGroup]="watchedGroup"
        (changed)="reloadItem()"
      ></alg-item-permissions>

      <nav
        class="alg-nav-tab"
        [style.display]="!(showProgressTab$ | async) && taskTabs.length <= 1 && !(itemData.item.permissions | allowsEditingAll) && !chapterUserProgressTab?.isActive && !chapterGroupProgressTab?.isActive && !historyTab?.isActive && !dependenciesTab.isActive && !parametersTab.isActive && !taskEditTab.isActive ? 'none' : 'flex'">
        <a
          class="alg-nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #contentTab="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored' }"
          [class.active]="contentTab.isActive"
          [hidden]="taskTabs.length > 1 || editChildrenTab.isActive"
          i18n
        >
          Content
        </a>
        <a
          class="alg-nav-tab-item"
          [routerLink]="'./edit-children'"
          routerLinkActive #editChildrenTab="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored' }"
          [class.active]="editChildrenTab.isActive"
          [hidden]="taskTabs.length > 1 || !editChildrenTab.isActive"
          i18n
        >
          Content
        </a>
        <ng-container *ngIf="taskTabs.length > 1">
          <a
            *ngFor="let tab of taskTabs"
            class="alg-nav-tab-item cursor-pointer"
            [routerLink]="'./'"
            [class.active]="contentTab.isActive && tab.view === taskView"
            (click)="setTaskTabActive(tab)"
          >
            {{ tab.name }}
          </a>
        </ng-container>
        <a
          [hidden]="(!editorUrl || !(itemData.item.permissions | allowsEditingAll)) && !taskEditTab.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./edit'"
          routerLinkActive #taskEditTab="routerLinkActive"
          [class.active]="taskEditTab?.isActive"
        >
          <span i18n>Edit</span>
        </a>

        <ng-container *ngIf="selectors$ | async as selectors">
          <a
            [hidden]="!(showProgressTab$ | async) && !chapterUserProgressTab.isActive"
            class="alg-nav-tab-item"
            [ngClass]="{'active': !!chapterGroupProgressTab.isActive, 'prev': !!chapterUserProgressTab?.isActive}"
            [routerLink]="'./progress/chapter'"
            routerLinkActive #chapterGroupProgressTab="routerLinkActive"
            *ngIf="selectors === 'withGroupProgress'"
            i18n
          >
            Stats
          </a>

          <a
            class="alg-nav-tab-item"
            [ngClass]="{'active': !!chapterUserProgressTab.isActive}"
            [routerLink]="'./progress/chapter-user-progress'"
            routerLinkActive #chapterUserProgressTab="routerLinkActive"
            [style.display]="((showProgressTab$ | async) && selectors === 'withUserProgress' || !!chapterUserProgressTab.isActive) ? 'flex' : 'none'"
            i18n
          >
            Stats
          </a>

          <a
            [hidden]="!(showProgressTab$ | async) && !historyTab.isActive"
            class="alg-nav-tab-item"
            [ngClass]="{'active': !!historyTab.isActive}"
            [routerLink]="'./progress/history'"
            routerLinkActive #historyTab="routerLinkActive"
            i18n
          >
            History
          </a>
        </ng-container>

        <a
          [hidden]="!(itemData.item.permissions | allowsEditingAll) && !dependenciesTab.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./dependencies'"
          routerLinkActive #dependenciesTab="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored' }"
          [class.active]="dependenciesTab.isActive"
        >
          <span i18n>Dependencies</span>
        </a>
        <a
          [hidden]="!(itemData.item.permissions | allowsEditingAll) && !parametersTab.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./parameters'"
          routerLinkActive #parametersTab="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="parametersTab.isActive"
        >
          <span i18n>Parameters</span>
        </a>
      </nav>
      <div
        class="content-container"
        #contentContainer
        [@threadOpenClose]="(threadOpened$ | async) ? 'opened' : 'closed'"
      >
        <ng-container *ngIf="contentTab.isActive || editChildrenTab.isActive || taskTabs.length > 0">
          <alg-error *ngIf="answerLoadingError$ | async as error; else noAnswerLoadingError">
            <ng-container *ngIf="!error.fallbackLink; else fallback" i18n>Unable to load the answer</ng-container>
            <ng-template #fallback>
              <ng-container i18n>
                Unable to load the answer, <a [routerLink]="error.fallbackLink" class="alg-link">back to the regular task page</a>.
              </ng-container>
            </ng-template>
            <p *ngIf="!error.isForbidden">{{ errorMessageContactUs }}</p>
          </alg-error>

          <ng-template #noAnswerLoadingError>
            <ng-container *ngrxLet="taskConfig$ as taskConfig">
              <div *ngIf="taskConfig && taskConfig.readOnly && contentTab.isActive" class="indicator">
                <alg-answer-author-indicator *ngIf="taskConfig.initialAnswer" [answer]="taskConfig.initialAnswer"></alg-answer-author-indicator>
              </div>
              <alg-item-content
                class="alg-flex-1"
                [hidden]="!contentTab.isActive && !editChildrenTab.isActive"
                [itemData]="itemData"
                [taskConfig]="taskConfig"
                [savingAnswer]="(savingAnswer$ | async) ?? false"
                [(taskView)]="taskView"
                [editModeEnabled]="editChildrenTab.isActive"
                (taskTabsChange)="setTaskTabs($event)"
                (scoreChange)="onScoreChange($event)"
                (skipSave)="skipBeforeUnload()"
                (refresh)="reloadItem()"
                (editorUrl)="editorUrl = $event"
                (fullFrameTask)="fullFrameContent$.next($event)"
              ></alg-item-content>
            </ng-container>
          </ng-template>

        </ng-container>

        <alg-item-task-edit
          *ngIf="taskEditTab?.isActive"
          [editorUrl]="editorUrl"
          (redirectToDefaultTab)="navigateToDefaultTab(itemData.route)"
        ></alg-item-task-edit>

        <ng-container *ngIf="!!historyTab?.isActive || !!chapterGroupProgressTab?.isActive || !!chapterUserProgressTab?.isActive">
          <ng-container *ngrxLet="isWatching$ as isWatching">
            <ng-container *ngIf="(!isWatching && (itemData.item.permissions | allowsViewingContent)) || (itemData.item.permissions | allowsWatchingResults) ; else unallowed">
              <div *ngIf="(savingAnswer$ | async) ?? false" class="save-answer-loader">
                <p class="save-answer-loader-message">
                  <span i18n>Saving answer before loading submission...</span>
                  <alg-loading size="medium"></alg-loading>
                  <p-button type="button" (click)="skipBeforeUnload()" i18n-label label="Skip"></p-button>
                </p>
              </div>

              <alg-item-log-view
                class="alg-flex-1"
                *ngIf="!!historyTab?.isActive"
                [itemData]="itemData"
              ></alg-item-log-view>

              <alg-chapter-group-progress
                class="alg-flex-1"
                *ngIf="!!chapterGroupProgressTab?.isActive"
                [itemData]="itemData"
              ></alg-chapter-group-progress>

              <alg-chapter-user-progress
                class="alg-flex-1"
                *ngIf="!!chapterUserProgressTab?.isActive"
                [itemData]="itemData"
              ></alg-chapter-user-progress>

            </ng-container>
            <ng-template #unallowed>
              <p class="not-allow-caption" *ngIf="isWatching" i18n>
                You are not allowed to view the progress of other users on this content.
              </p>
              <p class="not-allow-caption" *ngIf="!isWatching" i18n>
                You are not allowed to view this content.
              </p>
            </ng-template>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="dependenciesTab.isActive">
          <alg-item-dependencies [itemData]="itemData"></alg-item-dependencies>
        </ng-container>

        <ng-container *ngIf="parametersTab.isActive">
          <alg-item-edit-wrapper [itemData]="itemData"></alg-item-edit-wrapper>
        </ng-container>
      </div>
      <alg-thread-container [topCompensation]="contentContainerTop" *ngIf="showItemThreadWidget"></alg-thread-container>
    </ng-container>

  </ng-container>

  <alg-loading class="alg-flex-1" *ngIf="state.isFetching"></alg-loading>

  <ng-container *ngIf="state.isError">
    <p class="alg-error-message" *ngIf="state.error && ($any(state.error).status === 403 || $any(state.error).status === 404); else unknownError" i18n>
      This content does not exist or you are not allowed to view it.
    </p>
    <ng-template #unknownError><p class="alg-error-message" i18n>Error while loading the item.</p></ng-template>
    <p class="alg-error-message" [style.visibility]="(backToHome.isActive)?'hidden':'visible'">
      <span i18n>Go back to the </span>
      <a
        class="alg-link base-color"
        routerLink="/"
        [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
        routerLinkActive #backToHome="routerLinkActive"
        i18n
      >
        home page
      </a>
    </p>
  </ng-container>
</ng-container>

<p-dialog
  *ngIf="saveBeforeUnloadError$ | async"
  [visible]="true"
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  i18n-header header="Leave unsaved task"
>
  <p i18n>You do not appear to be connected to the Internet, if you leave this task you may loose your progress. Are you sure you want to continue?</p>
  <ng-template pTemplate="footer">
    <button
      pButton
      class="p-button-danger"
      i18n-label label="Loose progress and leave the task"
      (click)="skipBeforeUnload()"
    ></button>
    <button
      pButton
      i18n-label label="Retry"
      (click)="retryBeforeUnload()"
    ></button>
  </ng-template>
</p-dialog>
