<p-table
  #table
  class="alg-table"
  [ngClass]="tableStyle"
  [columns]="selectedColumns!"
  [value]="data!"
  [scrollable]="scrollWhenExpanded || scrollable"
  [selectionMode]="selectionMode!"
  [selection]="selection!"
  [dataKey]="dataKey!"
  [frozenWidth]="frozenWidth!"
  [sortMode]="sortMode"
  [multiSortMeta]="multiSortMeta"
  [customSort]="true"
  [loading]="loading"
  (selectionChange)="onSelectionChange($event)"
  (sortFunction)="sortFunction($event)"
  (onRowSelect)="onRowSelect()"
  (onRowUnselect)="onRowUnselect()"
  (onHeaderCheckboxToggle)="onHeaderCheckbox()"
  [tableStyle]="{'min-width': '599.98px'}"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="sorticon" let-number>
    <i class="ph-duotone" [ngClass]="{
      'ph-arrows-down-up': number === 0,
      'ph-sort-ascending': number === -1,
      'ph-sort-descending': number === 1
    }"></i>
  </ng-template>
  <!-- <ng-container *ngTemplateOutlet="headerTemplate; context: {$implicit: columns}"></ng-container> -->
  <ng-template *ngIf="frozenHeaderTemplate && frozenWidth && frozenWidth.length > 0" pTemplate="frozenheader">
    <ng-container [ngTemplateOutlet]="frozenHeaderTemplate"></ng-container>
  </ng-template>
  <ng-template *ngIf="frozenBodyTemplate && frozenWidth && frozenWidth.length > 0" pTemplate="frozenbody" let-rowIndex="rowIndex">
    <ng-container [ngTemplateOutlet]="frozenBodyTemplate" [ngTemplateOutletContext]="{ $implicit: rowIndex }"></ng-container>
  </ng-template>
  <ng-template *ngIf="headerTemplate" pTemplate="header" let-columns>
    <ng-container [ngTemplateOutlet]="headerTemplate" [ngTemplateOutletContext]="{ $implicit: columns }"></ng-container>
  </ng-template>
  <ng-template *ngIf="bodyTemplate" pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
    <ng-container
      [ngTemplateOutlet]="bodyTemplate"
      [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns, rowIndex: rowIndex, expanded: expanded }"
    ></ng-container>
  </ng-template>
  <ng-template *ngIf="footerTemplate" pTemplate="footer">
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </ng-template>
  <ng-template *ngIf="rowExpansionTemplate" pTemplate="rowexpansion" let-rowData>
    <ng-container [ngTemplateOutlet]="rowExpansionTemplate" [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns }">
    </ng-container>
  </ng-template>
  <ng-template *ngIf="summaryTemplate" pTemplate="summary">
    <ng-container [ngTemplateOutlet]="summaryTemplate" [ngTemplateOutletContext]="{ $implicit: table }"></ng-container>
  </ng-template>
  <ng-template *ngIf="emptymessageTemplate" pTemplate="emptymessage">
    <ng-container [ngTemplateOutlet]="emptymessageTemplate"></ng-container>
  </ng-template>
</p-table>
