@use 'src/assets/scss/functions';

:host {
  display: block;
  margin: 0 functions.toRem(-16);
}

.data-list-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-list-item {
  border-radius: functions.toRem(8);

  &:hover {
    background-color: var(--alg-children-item-hover-color);

    .item-link {
      border-color: transparent !important;
    }

    + .data-list-item {
      .item-link {
        border-color: transparent !important;
      }
    }
  }

  &:not(:first-child) {
    .item-link {
      border-top: functions.toRem(1) solid var(--alg-border-light-color);
    }
  }
}

.item-link {
  padding: 0 functions.toRem(16);
  display: flex;
  text-decoration: none;

  &.locked {
    .left-container, .right-container {
      opacity: .3;
    }
  }

  @media screen and (max-width: 599.98px) {
    padding: 0;
  }
}

.left-container {
  padding: functions.toRem(18) 0;
  display: flex;
  flex: 1;
}

.right-container {
  min-width: functions.toRem(32);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-number {
  color: var(--alg-primary-color);
  font-size: functions.toRem(20);
}

.item-title-section {
  margin-left: functions.toRem(11);
  text-decoration: none;
  flex: 1;
}

.item-title {
  color: var(--dark-text-color);
  font-size: functions.toRem(20);
  font-weight: 400;
}

.item-subtitle {
  margin-top: functions.toRem(10);
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
  font-weight: 400;
}

.item-icon {
  color: var(--alg-primary-color);
  font-size: functions.toRem(24);
}

.empty-content {
  margin-left: functions.toRem(10);
}
