@import 'src/colors.scss';
@import 'src/geometry.scss';
@import 'src/typography.scss';

:host {
  &.edit-children {
    .section-content {
      padding: 1rem 0 !important;
    }
  }
}

.section-container {
  padding-top: 2rem;
  border-bottom: 0.1rem solid var(--light-border-color);

  &.no-border {
    border-bottom: none;
  }

  &.associated-item {
    border-top: 0.1rem solid rgba(46, 94, 149, 0.2);
    background-color: transparent;
  }

  .section-header {
    @include section-header;

    .section-handler {
      @include section-handler(var(--base-color),var(--dark-color));

      // i {
      //   color: white;
      //   font-size: 1.2rem;
      // }
    }

    .section-title {
      @include h2-title
    }
  }

  .section-content {
    // padding: 1.25rem 2rem 3rem 5.8333rem;
    padding: 2rem 2rem 3rem 5.8333rem;
    color: var(--base-text-color);

    @media screen and (max-width: 479px) {
      padding: 2rem 2rem 3rem 2rem;
    }
  }
}
