@use 'src/assets/scss/functions';

.group-situation-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: functions.toRem(50);

  &.pointer {
    cursor: pointer;
  }

  &.success {
    background-color: var(--alg-message-success-color);
  }

  &.in-progress {
    background-color: var(--alg-observation-button-bg-color);
  }

  &.no-score {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.not-started {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .situation-check {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
