<p-progressSpinner *ngIf="state === 'loading'"></p-progressSpinner>

<div *ngIf="state === 'error'" class="error validation-text" i18n>Error while loading the group managers</div>

<ng-container *ngIf="state === 'ready'">
  <alg-section icon="fa fa-users" i18n-label label="Managers of this group">
    <alg-grid
      *ngIf="managers.length > 0; else noManagers"
      [data]="managers"
      sortMode="single"
      [showGear]="false"
      [scrollable]="true"
      class="slanted-grid"
    >
      <ng-template #headerTemplate let-columns>
        <tr style="border: none;">
          <th style="min-width: 160px;">
            <div class="slanted-header">
              <div class="slanted-header-content" i18n>
                Name
              </div>
            </div>
          </th>
          <th style="min-width: 110px;">
            <div class="slanted-header">
              <div class="slanted-header-content" i18n>
                Can Manage
              </div>
            </div>
          </th>
          <th style="width: 5rem;">
            <div class="slanted-header">
              <div class="slanted-header-content" i18n>
                Can grant group access
              </div>
            </div>
          </th>
          <th style="width: 5rem;">
            <div class="slanted-header">
              <div class="slanted-header-content" i18n>
                Can watch members
              </div>
            </div>
          </th>
          <th style="width: 110px;"></th>
      </tr>
      </ng-template>

      <ng-template
        #bodyTemplate
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td
            style="text-align: left;min-width: 160px;padding-left: 0.5rem;"
            tooltipPosition="top"
            tooltipStyleClass="tooltip-custom"
          >
            <a class="alg-link"
               [routerLink]="rowData.login ? [ '/', 'groups', 'users', rowData.id ] : [ '/', 'groups', 'by-id', rowData.id, 'details' ]"
            >
              {{ rowData.login ? (rowData | userCaption) : rowData.name }}
            </a>
          </td>
          <td style="min-width: 110px;">
            {{ rowData.canManageAsText }}
          </td>
          <td style="width: 5rem;">
            <span class="table-icon"
              [ngClass]="{
                locked: rowData.canGrantGroupAccess,
                unlocked: !rowData.canGrantGroupAccess
              }">
              <i *ngIf="!rowData.canGrantGroupAccess" class="fa fa-times"></i>
              <i *ngIf="rowData.canGrantGroupAccess" class="fa fa-check"></i>
            </span>
          </td>
          <td style="width: 5rem;">
            <span class="table-icon"
              [ngClass]="{
                locked: rowData.canWatchMembers,
                unlocked: !rowData.canWatchMembers
              }">
              <i *ngIf="!rowData.canWatchMembers" class="fa fa-times"></i>
              <i *ngIf="rowData.canWatchMembers" class="fa fa-check"></i>
            </span>
          </td>
          <td style="width: 110px;"></td>
        </tr>
      </ng-template>
    </alg-grid>

    <ng-template #noManagers>
      <div class="validation-text" i18n>
        This group has no dedicated managers.
      </div>
    </ng-template>
  </alg-section>
</ng-container>
