<div class="code-generator">
  <span class="code" [ngClass]="{'no-button': !showRefresh && !showRemove}">{{code}}</span>
  <span
    *ngIf="showRefresh"
    class="refresh"
    [ngClass]="{'no-remove': !showRemove}"
    (click)="refreshCode()"
    i18n-pTooltip pTooltip="Generate a new code and reset expiration"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    <i class="fa fa-redo"></i>
  </span>
  <span
    *ngIf="showRemove"
    class="remove"
    (click)="removeCode()"
    i18n-pTooltip pTooltip="Disable code access"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    <i class="fa fa-times "></i>
  </span>
</div>
