@import "src/colors.scss";

:host ::ng-deep .ui-tree {
  width: 100%;
  background-color: transparent !important;
  border: none;
  padding: 0;
}

:host ::ng-deep .ui-tree-container {
  font-family: "titillium";
  padding: 0 !important;
}

:host ::ng-deep .ui-tree-toggler {
  display: none !important;
}

:host ::ng-deep .ui-chkbox {
  display: none !important;
}

:host ::ng-deep .ui-treenode-label {
  width: 100%;
  color: #9d9d9d !important;
  padding: 0 !important;
}

:host ::ng-deep .ui-treenode {
  padding: 0 !important;
}

:host ::ng-deep .ui-treenode-content {
  border: none !important;
}

:host
  ::ng-deep
  .ui-tree
  .ui-tree-container
  .ui-treenode
  .ui-treenode-content:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .ui-treenode-icon {
  margin: 0 !important;
}

:host ::ng-deep .ui-treenode-children {
  border-left: 0.0833rem solid #9b9b9b;
  padding-left: 2.55rem !important;
}

:host ::ng-deep p-treenode:last-child > .ui-treenode > .ui-treenode-children {
  border-left: 0.0833rem solid transparent;
  padding-left: 2.5833rem !important;
}

:host
  ::ng-deep
  p-treenode:last-child
  > .ui-treenode
  > .ui-treenode-content
  .node-tree-item
  .node-item-branch
  .bottom-branch {
  border-left: none !important;
}

:host
  ::ng-deep
  p-treenode:last-child
  > .ui-treenode
  > .ui-treenode-content
  .node-tree-item
  .node-item-branch
  .top-branch {
  border-bottom-left-radius: 0.8333rem;
}

:host ::ng-deep .ui-treenode-content {

  &:focus {
    .node-tree-item .node-item-content {
      border-radius: 1.5rem;
      background-color: #fff;
    }
  }

  .node-tree-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3.3333rem;
    position: relative;
    cursor: pointer;

    &.expanded .folder-branch {
      position: relative;
    }

    &.folder .node-item-branch .top-branch {
      width: 2.3333rem;
    }

    .node-item-branch {
      display: flex;
      flex-direction: column;
      width: 2.75rem;
      min-height: 3.3333rem;
      z-index: 10;

      .top-branch {
        border-bottom: 0.0833rem solid #9b9b9b;
        border-left: 0.0833rem solid #9b9b9b;
        flex: 1;
      }

      .bottom-branch {
        border-left: 0.0833rem solid #9b9b9b;
        flex: 1;

        .mask-branch {
          position: absolute;
          border-right: 0.0833rem solid #9b9b9b;
          right: 0;
          height: 1.25rem;
          width: 0.1667rem;
          bottom: 0;
        }
      }
    }

    .node-select {
      width: 1.6667rem;
      height: 1.6667rem;
      display: flex;
      margin-right: 1.25rem;
      margin-left: 0.4167rem;
      align-items: center;
      justify-content: center;
      z-index: 11;
      color: #9b9b9b;
    }

    &.assoc {
      .node-item-content {
        &.connected {
          border-radius: unset;
          background-color: transparent;

          .node-label {
            background-color: #dbe9f9;
            color: $base-color;
            border-radius: 9rem;
          }
        }

        .node-icon {
          color: $base-color;
        }
      }

      &.checked {
        .node-item-content {
          border-radius: unset;
          background-color: transparent;

          .node-label {
            background-color: #dbe9f9;
            color: $base-color;
            border-radius: 9rem;
          }
        }
      }
    }

    &.checked .node-item-content {
      border-radius: 1.5rem;
      background-color: #fff;

      .go-to-page {
        width: 2rem;
        height: 2rem;
        margin-right: .8rem;
        border-radius: 1.6667rem;
        background-color: $base-color;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;

        i {
          margin-top:.1rem;
        }
      }

      .leaf.node-select {
        color: white;
        background-color: #9b9b9b;
        border-radius: 9rem;
      }
    }

    .node-item-content {
      right: 0;
      height: 3rem;
      line-height: 3rem;
      padding-left: 0.25rem;
      position: absolute;
      left: 1.25rem;
      display: flex;
      align-items: center;

      &.connected {
        .node-label .connect-link {
          color: $secondary-color;
          background-color: white;
          border-radius: 9rem;
        }
      }

      .node-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.1667rem;
      }

      .node-label {
        padding-left: 0.4167rem;
        flex: 1;
        display: flex;
        align-items: center;
        min-width: 0;
        font-size: 1.2rem;

        app-state-widget {
          margin-right: 0.8333rem;
        }

        &-title {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .connect-link {
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $base-color;
          background-color: transparent;
          // cursor: pointer;
        }

        .edit-icon {
          height: 100%;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $base-color;
          cursor: pointer;
        }
      }
    }
  }
}
