@use 'src/assets/scss/functions';

.progress-level-container {
  display: flex;
  align-items: center;

  &.warning {
    .progress-level-item-active {
      background-color: var(--alg-accent-dark-color);

      &:not(:first-child):before {
        background-color: var(--alg-accent-dark-color);
      }
    }
  }
}

.progress-level-item {
  display: flex;
  margin-right: functions.toRem(4);
  width: functions.toRem(8);
  height: functions.toRem(8);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.progress-level-item-active {
  position: relative;
  background-color: var(--alg-primary-color);

  &:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: functions.toRem(-1);
    left: functions.toRem(-5);
    width: functions.toRem(6);
    height: functions.toRem(2);
    background-color: var(--alg-primary-color);
  }
}
