<ng-container *ngIf="state$ | async as state">

  <ng-container *ngIf="state.data?.group as group">
    <div *ngIf="state.isFetching" class="block-ui"></div>
    <alg-group-header [groupData]="state.data"></alg-group-header>
<!--    <alg-pending-join-requests
        *ngIf="group.isCurrentUserManager && group.currentUserCanManage !== 'none'"
        [groupId]="group.id"
    ></alg-pending-join-requests>-->
    <alg-group-indicator
        class="group-indicator"
        *ngIf="group.currentUserManagership !== 'none' || group.currentUserMembership !== 'none'"
        [group]="group"
    >
    </alg-group-indicator>
    <!-- tabs -- if only the first tab is visible, do not show the tab bar -->
    <div [hidden]="!group.isCurrentUserManager && group.currentUserMembership === 'none' && !adminTab.isActive && !accessTab?.isActive && !compositionTab.isActive && !settingsTab.isActive">
      <div class="alg-nav-tab">
        <a
          class="alg-nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #overviewTab="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="overviewTab.isActive"
          i18n
        >
          Overview
        </a>
        <a
          [hidden]="!group.isCurrentUserManager && !compositionTab?.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./members'"
          routerLinkActive #compositionTab="routerLinkActive"
          [class.active]="compositionTab.isActive"
          i18n
        >
          Composition
        </a>
        <a
          [hidden]="!group.isCurrentUserManager && group.currentUserMembership === 'none' && !adminTab?.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./managers'"
          routerLinkActive #adminTab="routerLinkActive"
          [class.active]="adminTab.isActive"
          i18n
        >
          Managers
        </a>
        <a
          [hidden]="(hideAccessTab || !group.currentUserCanGrantGroupAccess) && !accessTab?.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./access'"
          routerLinkActive #accessTab="routerLinkActive"
          [class.active]="accessTab.isActive"
          i18n
        >
          Access
        </a>
        <a
          [hidden]="!group.canCurrentUserManageGroup && !settingsTab?.isActive"
          class="alg-nav-tab-item"
          [routerLink]="'./settings'"
          routerLinkActive #settingsTab="routerLinkActive"
          [class.active]="settingsTab.isActive"
          i18n
        >
          Settings
        </a>
      </div>
    </div>

    <div class="bg-white">
      <alg-group-overview
        *ngIf="overviewTab?.isActive || !overviewTab && group.currentUserManagership === 'none' && group.currentUserMembership === 'none'"
        [group]="group"
        (groupRefreshRequired)="onGroupRefreshRequired()"
        (leftGroup)="refreshNav()"
      ></alg-group-overview>
      <alg-group-composition *ngIf="!!compositionTab?.isActive" [groupData]="state.data" (groupRefreshRequired)="onGroupRefreshRequired()" (addedGroup)="refreshNav()" (removedGroup)="refreshNav()"></alg-group-composition>
      <alg-group-managers *ngIf="!!adminTab?.isActive" [groupData]="state.data"></alg-group-managers>
      <alg-group-access *ngIf="!!accessTab?.isActive" [group]="group"></alg-group-access>
      <alg-group-edit *ngIf="!!settingsTab?.isActive" #groupEdit></alg-group-edit>
    </div>

  </ng-container>

  <alg-loading *ngIf="state.isFetching && !state.data"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    [showRefreshButton]="$any(state.error).status !== 403"
    refreshButtonType="refresh"
    (refresh)="onGroupRefreshRequired()"
  >
    <ng-container *ngIf="$any(state.error).status === 403; else otherError;" i18n>
      You are not allowed to view this group page.
    </ng-container>
    <ng-template #otherError>
      <ng-container i18n>Error while loading the group info</ng-container>
    </ng-template>
  </alg-error>

</ng-container>
