@import "src/colors.scss";
@import "src/geometry.scss";

.dialog-header {
  display: flex;
  align-items: center;
  position: relative;

  .dialog-handler {
    @include section-handler($base-color,$dark-color);
  }

  .dialog-title {
    font-size: 2rem;
    color: $dark-text-color;
    margin-left: 1.25rem;
    font-weight: normal;
    flex: 1;
  }

  .dialog-close {
      @include dialog-close;
  }
}

:host ::ng-deep .mat-dialog-actions {
  justify-content: flex-end;

  app-button {
    margin-right: -2.4rem;
    margin-bottom: -2.2rem;
  }
}

:host ::ng-deep .mat-dialog-title {
  margin-left: -24px;
  margin-right: -24px;
  padding-bottom: 20px;
  border-bottom: $border-filet;
  font-family: "titillium", sans-serif;
}

:host ::ng-deep .dialog-container {
  max-height: 65vh;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &:hover {
    overflow: auto;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
  }
}
