@import "src/variables";
@import "src/geometry.scss";
@import "src/assets/scss/functions";

:host {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.content-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-pane-title {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.left-pane-title-text {
  font-size: toRem(16);
  color: var(--alg-black-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.neighbor-widget {
  display: block;
}

.breadcrumb {
  flex: 1;
}

.margin-right {
  margin-right: var(--alg-space-size-5);
}

.margin-left {
  margin-left: var(--alg-space-size-5);
}

.score-section {
  width: toRem(32);
}

.tab-bar {
  max-width: 100%;
  height: 100%
}

.left-pane {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.right-pane {
  display: flex;
  align-items: center;
  overflow: hidden;
}
