<alg-observation-bar *ngIf="!!(watchedGroup$ | async)"></alg-observation-bar>

<ng-container *ngIf="currentContent$ | async as currentContent">
  <div class="breadcrumb-bar" *ngIf="!fullFrameContent?.active && !scrolled">
    <alg-breadcrumb [contentBreadcrumb]="currentContent?.breadcrumbs"></alg-breadcrumb>
  </div>
  <div class="full-frame-content-top-bar" *ngIf="fullFrameContent?.active || scrolled">
    <div class="score-placeholder" *ngIf="currentContent.type === 'item'">
      <alg-score-ring
        *ngIf="$any(currentContent).details && $any(currentContent).details.bestScore !== undefined && $any(currentContent).details.currentScore !== undefined && $any(currentContent).details.validated !== undefined"
        [bestScore]="$any(currentContent).details.bestScore"
        [currentScore]="$any(currentContent).details.currentScore"
        [isValidated]="$any(currentContent).details.validated"
        [diameter]="34"
      ></alg-score-ring>
    </div>
    <div class="right-pane-title">
      <p *ngIf="currentContent && currentContent.title">{{ currentContent.title }}</p>
    </div>
    <button
      *ngIf="discussionState$ | async as discussion"
      class="p-button-raised p-button-rounded alg-round-button-icon top-bar-size large-icon-size"
      [ngClass]="{ 'active': discussion.visible, 'margin-right': !(navigationNeighbors$ | async) }"
      pButton
      type="button"
      icon="pi pi-comments"
      (click)="toggleThread()"
    ></button>
    <alg-neighbor-widget
      class="neighbor-widget"
      *ngIf="navigationNeighbors$ | async as navigationNeighbors"
      [navigationMode]="{
        parent: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.parent,
        left: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.previous,
        right: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.next
      }"
      (parent)="navigationNeighbors?.data?.parent?.navigateTo()"
      (left)="navigationNeighbors?.data?.previous?.navigateTo()"
      (right)="navigationNeighbors?.data?.next?.navigateTo()"
    ></alg-neighbor-widget>
  </div>
</ng-container>
