@import "src/variables";
@import "src/geometry.scss";
@import "src/assets/scss/functions";

:host {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.content-top-bar {
  display: flex;
  align-items: center;
}

.right-pane-title {
  overflow: hidden;
  flex: 1;
}

.right-pane-title-text {
  font-size: toRem(12);
  color: var(--base-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.neighbor-widget {
  display: block;
}

.breadcrumb {
  flex: 1;
}

.margin-right {
  margin-right: var(--alg-space-size-5);
}

.margin-left {
  margin-left: var(--alg-space-size-5);
}
