<app-section icon="fa fa-users" label="{{ forGroup ? 'Groups' : 'Current Composition' }}">
  <div class="table-container">
    <div *ngIf="!empty" class="selection-tool">
      <app-selection
        [items]="childrenPolicy"
        (change)="onChildrenPolicyChanged($event)"
      ></app-selection>
      <app-selection
        *ngIf="selectedPolicy"
        [items]="selItems"
        type="square"
      ></app-selection>
    </div>
    <app-grid
      *ngIf="!empty"
      [selectedColumns]="columns"
      [columns]="columns"
      [data]="gridData"
      sortMode="single"
      scrollWhenExpanded="true"
      [groupInfo]="grdata"
      (expandWholeWidth)="onExpandWidth($event)"
    >
      <ng-template #headerTemplate let-columns>
        <tr>
          <th style="width: 4rem;"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            <div class="header-container">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </div>
          </th>
          <th style="width: 4rem;"></th>
        </tr>
      </ng-template>
      <ng-template
        #bodyTemplate
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td style="width: 4rem;">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td style="width: 4rem; cursor: pointer;" (click)="onOpenDialog($event)">
            <span class="edit-icon">
              <i class="fa fa-edit"></i>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template #summaryTemplate let-table>
        <div style="text-align: left; display: flex; align-items: center;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span style="margin-left: 2.7rem; color: #9B9B9B; flex: 1;font-size: 1.2rem;">
            Select all
          </span>
          <div class="export-tools">
            <span class="notice">
              <span>Print notices/codes</span>
              <i class="fa fa-print"></i>
            </span>
            <span class="export">
              <span>Export</span>
              <i class="fa fa-file-alt"></i>
            </span>
            <span class="merge">
              <span>Merge</span>
              <i class="fa fa-paste"></i>
            </span>
            <span class="remove">
              <span>Remove</span>
              <i class="fa fa-trash-alt"></i>
            </span>
            <span class="move">
              <span>Move</span>
              <i class="fa fa-folder-open"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </app-grid>
    <div *ngIf="empty" class="empty-group">
      This group is empty, check below, the different ways to add users or sub-groups.
    </div>
  </div>
  <app-sub-section
    icon="fa fa-user-plus"
    label="Add {{groupTitle}}"
    tooltip="tooltip help"
  >
    <span class="tri-tag"></span>
    <div class="button-container">
      <ng-container *ngFor="let item of subgroup">
        <app-group-button
          [label]="item.label"
          [icon]="item.icon"
          [disabled]="item.disabled"
        ></app-group-button>
      </ng-container>
    </div>
  </app-sub-section>
  <app-sub-section
    *ngIf="!forGroup"
    icon="fa fa-calendar"
    label="Organize a session to constitute this group"
  >
    <div class="session-content">
      <p style="font-size: 1.2rem;">
        A session is an event focused on a specific activity, that takes place
        at a given time.
      </p>
      <div class="session-selectors">
        <div class="date-selector">
          <span class="label">Date</span>
          <app-date-picker></app-date-picker>
        </div>
        <div class="activity-selector">
          <span class="label">Activity</span>
          <app-activity-picker [trees]="trees"></app-activity-picker>
        </div>
      </div>
      <p style="font-size: 1.2rem;">
        All the participants to this session will be automatically added as
        memebers of this group ([group name]).
      </p>
      <app-button
        label="Organize"
        icon="fa fa-plus"
        class="ui-button-rounded"
      ></app-button>
    </div>
  </app-sub-section>
  <app-sub-section
    *ngIf="!forGroup"
    icon="fa fa-user-plus"
    label="Other ways to add new memebers to this group"
  >
    <app-switch-container
      label="Invitation code"
      checked="true"
      subtitle="Let users access this group using a password you send them."
    >
      <div class="invitation-code">
        <div class="code-validation">
          <div class="code-wrapper">
            <span class="label">Code</span>
            <app-code-token></app-code-token>
          </div>
          <div class="code-wrapper">
            <div class="label-with-error-message">
              <span class="label">Validity</span>
              <span *ngIf="activateStatus === 0" class="label orange">
                This code has been activated 15 minutes ago, it will be disabled in 15 minutes
              </span>
              <span *ngIf="activateStatus === 1" class="label green">This code has not yet been used</span>
              <span *ngIf="activateStatus === 2" class="label red">This code was used 15 minutes ago and is now disabled</span>
            </div>
            <app-time-picker [status]="activateStatus"></app-time-picker>
          </div>
          <div class="code-wrapper">
            <span class="label">Security</span>
            <app-code-token [refreshed]="false"></app-code-token>
          </div>
        </div>
        <div class="auto-create">
          <span class="comment">Automatically create user account ?</span>
          <app-switch mode="white"></app-switch>
        </div>
      </div>
    </app-switch-container>
    <app-switch-container
      label="Invite users"
      checked="true"
      subtitle="Add users name list, separated by commas."
    >
      <div class="invite-users">
        <app-textarea
          icon="show"
          placeholder="psuedo, psuedo..."
        ></app-textarea>
        <app-button label="Invite" class="ui-button-rounded" (click)="onInvite($event)"></app-button>
        <app-message *ngIf="showMsg" type="info" label="3 users invited successfully"></app-message>
        <app-message *ngIf="showMsg" type="error" label="2 users not found: Jean, Matthew"></app-message>
      </div>
    </app-switch-container>
    <app-switch-container
      label="Spontanewous requests"
      checked="true"
      subtitle="Can users ask you to join the group ?"
    >
      <div class="spon-req">
        <app-selection [items]="yesNo"></app-selection>
      </div>
    </app-switch-container>
    <app-switch-container
      label="Account creation"
      checked="true"
      subtitle="Create batch unique user accounts."
    >
      <div class="account-create">
        <app-sub-grid [data]="subgriddata">
          <ng-template #bodyTemplate let-rowData>
            <tr>
              <td
                *ngFor="let col of subgridcols; index as idx"
                [ngClass]="{ main: idx === 1 }"
              >
                {{ rowData[col] }}
              </td>
              <td>
                <span class="table-icon"><i class="fa fa-eye"></i></span>
                <span class="table-icon">
                  <i class="fa fa-trash-alt"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </app-sub-grid>
      </div>
      <div class="batch-button-container">
        <app-button icon="fa fa-plus" label="Create batch" class="ui-button-rounded" (click)="onCreateBatch($event)"></app-button>
      </div>
    </app-switch-container>
  </app-sub-section>
  <app-sub-section
    *ngIf="!forGroup"
    icon="fa fa-file-import"
    label="Import">
    <div class="import-csv">
      <span class="comment">Import members from a .csv file</span>
      <app-button
        label="Import"
        icon="fa fa-plus"
        class="ui-button-rounded"
      ></app-button>
    </div>
  </app-sub-section>
  <div style="margin-bottom: -3rem;"></div>
</app-section>
