@import 'src/colors.scss';

.tri-tag {
  position: absolute;
  top: -.8rem;
  left: 3rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: .8rem solid $light-color;
}

.alg-link {
  font-family: "titillium", sans-serif;
  text-decoration: none;

  color: $base-text-color;

  cursor: pointer;

  &:hover {
    color: $base-color;
  }

  &.disabled {
    cursor: auto;
    pointer-events: none;

    &:hover {
      color: initial;
    }
  }

  &.base-color {
    color: $base-color;
  }

  &.underline {
    text-decoration: underline;
  }

  &.dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
