@import 'src/assets/scss/functions';

:host {
  display: flex;
  align-items: center;
}

.separator {
  margin-right: .4rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.more {
  margin-right: .4rem;
}

.link {
  font-size: toRem(14);
}
