<ng-container
    *ngFor="let item of items | slice : 0 : (items || []).length > maxItemsDisplay ? maxItemsDisplay - 1 : maxItemsDisplay; let i = index; last as isLast;">
  <a
    class="alg-link base-color"
    [routerLink]="{ id: item.id, isUser: false } | groupLink"
  >
    <strong>{{ item.name }}</strong>
  </a>
  <span class="separator">
    <span *ngIf="(items || []).length > maxItemsDisplay && !isLast || (items || []).length === 1 || (items || []).length <= maxItemsDisplay && i < (items || []).length - 2">,</span>
    <span
      *ngIf="(items || []).length <= maxItemsDisplay && i >= (items || []).length - 2 && !isLast || (items || []).length > maxItemsDisplay && isLast"
      i18n
    >, and</span>
  </span>
  <span class="more" *ngIf="(items || []).length > maxItemsDisplay && isLast" i18n>
    {{ (items || []).length - maxItemsDisplay + 1 }} more
  </span>
</ng-container>
