@import "src/colors.scss";

.search-tools-wrapper {
  margin: 1rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: .1rem solid #5c5c5c;

  alg-grid-filter-bar {
    margin-left: -0.4167rem;
    display: block;
  }
}

.search-result {
  .items-found {
    height: 4.1667rem;
    display: flex;
    align-items: center;
    padding-left: 1.6667rem;

    .found-icon {
      border-radius: 9rem;
      width: 3.3333rem;
      height: 3.3333rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;
      background-color: #3b3b3b;
      color: $secondary-color;
      font-size: 1.2rem;
    }

    .found-label {
      color: white;
      font-size: 1.2rem;
    }
  }

  .items-list {
    display: flex;
    flex-direction: column;

    .node-item-content {
      padding: 0 0.25rem;
      display: block;
      border-bottom: 0.1667rem solid #505050;
      padding-right: 1.6667rem;
      position: relative;
      background-color: #535353;
      height: 4.1667rem;
      cursor: pointer;
    }

    .node-item-content .node-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.1667rem;
    }

    .node-select {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.25rem;
      margin-left: 0.4167rem;
      display: block;
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -1.25rem;
    }

    .node-select i {
      line-height: 2.5rem;
    }

    .node-select {
      color: #f5a623;
      z-index: 11;
    }

    .node-item-content .node-label {
      top: 0;
      bottom: 0;
      left: 4.1667rem;
      right: 0;
      position: absolute;
      display: block;
      padding-right: 1.6667rem;
      color: white;
    }

    .node-item-content .node-label .label-container {
      display: flex;
      margin-top: 1.25rem;
    }

    .node-item-content .node-label .node-state {
      margin-left: auto;
    }

    .node-item-content .node-label .node-label-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 1rem;
    }

    .node-item-content .node-label alg-skill-progress {
      position: absolute;
      left: 0;
      right: 1.25rem;
      bottom: 0;
    }
  }
}
