@use 'src/assets/scss/functions';

.controls-zone {
  display: flex;
  align-items: center;
}

.no-left-border {
  padding-left: functions.toRem(16);

  &:has(.lang-button) {
    padding-left: functions.toRem(6);
  }
}

.with-left-border {
  padding-left: functions.toRem(16);
  border-bottom-left-radius: functions.toRem(16);

  &:has(.lang-button) {
    padding-left: functions.toRem(6);
  }
}

.lang-button {
  margin-right: functions.toRem(6);
}

.controls-zone.rail {
  flex-direction: column;
  align-items: center;
  gap: functions.toRem(8);
  padding: functions.toRem(8) 0;

  &:has(.lang-button) {
    gap: functions.toRem(3);
  }

  .lang-button {
    margin-right: 0;
  }
}
