@import 'src/variables';
@import "src/geometry.scss";

:host {
  position: relative;
  display: block;
}

.toggle-gear {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: var(--dark-black-color);
  border-radius: $border-radius 1.5rem 1.5rem $border-radius;
}

.select-column {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.3333rem;
  background-color: #4a4a4a;
  color: white;
  border-radius: $border-radius;

  .header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-bottom: .1rem solid #424242;
    cursor: pointer;

    span {
      // padding: 0.4167rem;
      // font-size: 0rem;
      text-transform: uppercase;

      &:last-child {
        padding-left: 1rem;
        font-weight: 700;
      }

      &.fold-icon {
        font-size: 1.2rem;
        margin-left: 2rem;
      }
    }
  }

  .column-group {
    border-bottom: .1rem solid var(--light-border-color);

    p {
      // font-size: 1rem;
      text-transform: uppercase;
      padding: 0 2rem;
      color: #9b9b9b;
      font-weight: bold;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;

      li {
        display: flex;
        margin-bottom: 0.4167rem;
        cursor: pointer;

        span {
          flex: 1;
          // font-size: 1rem;
          color: #9b9b9b;

          &.checked {
            color: white;
          }
        }
      }
    }
  }
}

.show-all {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5833rem;
  height: 3rem;
  color: white;
  background-color: var(--dark-black-color);
  display: flex;
  align-items: center;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  cursor: pointer;

  .missing-title {
    margin-left: 0.4167rem;
    font-size: 1.2rem;
    margin-right: 0.4167rem;
  }

  .show-icon {
    display: flex;
    font-size: 1.6667rem;
    margin-left: 0.4167rem;
    align-items: center;
  }
}
