<p-table
  #table
  class="alg-table --grid"
  [ngClass]="tableStyle"
  [columns]="selectedColumns!"
  [value]="data!"
  [scrollable]="scrollWhenExpanded || scrollable"
  [selectionMode]="selectionMode!"
  [selection]="selection!"
  [dataKey]="dataKey!"
  [frozenWidth]="frozenWidth!"
  [sortMode]="sortMode"
  [multiSortMeta]="multiSortMeta"
  [customSort]="true"
  [loading]="loading"
  (selectionChange)="onSelectionChange($event)"
  (sortFunction)="sortFunction($event)"
  (onRowSelect)="onRowSelect()"
  (onRowUnselect)="onRowUnselect()"
  (onHeaderCheckboxToggle)="onHeaderCheckbox()"
>
  <!-- <ng-container *ngTemplateOutlet="headerTemplate; context: {$implicit: columns}"></ng-container> -->
  <ng-template *ngIf="frozenHeaderTemplate && frozenWidth && frozenWidth.length > 0" pTemplate="frozenheader">
    <ng-container [ngTemplateOutlet]="frozenHeaderTemplate"></ng-container>
  </ng-template>
  <ng-template *ngIf="frozenBodyTemplate && frozenWidth && frozenWidth.length > 0" pTemplate="frozenbody" let-rowIndex="rowIndex">
    <ng-container [ngTemplateOutlet]="frozenBodyTemplate" [ngTemplateOutletContext]="{ $implicit: rowIndex }"></ng-container>
  </ng-template>
  <ng-template *ngIf="headerTemplate" pTemplate="header" let-columns>
    <ng-container [ngTemplateOutlet]="headerTemplate" [ngTemplateOutletContext]="{ $implicit: columns }"></ng-container>
  </ng-template>
  <ng-template *ngIf="bodyTemplate" pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
    <ng-container
      [ngTemplateOutlet]="bodyTemplate"
      [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns, rowIndex: rowIndex, expanded: expanded }"
    ></ng-container>
  </ng-template>
  <ng-template *ngIf="footerTemplate" pTemplate="footer">
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </ng-template>
  <ng-template *ngIf="rowExpansionTemplate" pTemplate="rowexpansion" let-rowData>
    <ng-container [ngTemplateOutlet]="rowExpansionTemplate" [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns }">
    </ng-container>
  </ng-template>
  <ng-template *ngIf="summaryTemplate" pTemplate="summary">
    <ng-container [ngTemplateOutlet]="summaryTemplate" [ngTemplateOutletContext]="{ $implicit: table }"></ng-container>
  </ng-template>
  <ng-template *ngIf="emptymessageTemplate" pTemplate="emptymessage">
    <ng-container [ngTemplateOutlet]="emptymessageTemplate"></ng-container>
  </ng-template>
</p-table>
<span
  class="toggle-gear"
  (click)="showColumns()"
  *ngIf="!showColumnSelection && showGear"
>
  <i class="fa fa-cog"></i>
</span>
<div class="select-column" *ngIf="showColumnSelection && showGear">
  <div class="header" (click)="showColumns()">
    <span class="fold-icon">
      <i class="fa fa-caret-up"></i>
    </span>
    <span i18n>Customize</span>
  </div>
  <div class="column-group" *ngFor="let group of groupInfo">
    <p>{{group.name}}</p>
    <ul>
      <li *ngFor="let col of group.columns">
        <span [ngClass]="{ checked: selected[col.field] }" (click)="handleColumnChanges(col)">
          {{ col.header }}
        </span>
        <alg-switch
          [checked]="!!selected[col.field]"
          (change)="handleColumnChanges(col)"
        ></alg-switch>
      </li>
    </ul>
  </div>
</div>
<div class="show-all" *ngIf="showGear && (toShow > 0 || expand)" (click)="showAll()">
  <span class="missing-title" *ngIf="toShow > 0">{{ toShow }}</span>
  <span class="show-icon">
    <i *ngIf="!expand" class="fa fa-caret-right"></i>
    <i *ngIf="expand" class="fa fa-caret-left"></i>
  </span>
</div>
