<div class="container">
  <ng-container [ngSwitch]="group?.currentUserMembership">
    <div class="content" *ngSwitchCase="'direct'" i18n>
      You are a member of this group.
    </div>

    <div class="content" *ngSwitchCase="'descendant'" i18n>
      As a member of <alg-group-links class="links" [items]="group?.descendantsCurrentUserIsMemberOf"></alg-group-links>
      you are a member of this group.
    </div>
  </ng-container>

  <ng-container [ngSwitch]="group?.currentUserManagership">
    <div class="content" *ngSwitchCase="'direct'" i18n>
      You are a manager of this group.
    </div>

    <div class="content" *ngSwitchCase="'ancestor'" i18n>
      As a manager of <alg-group-links class="links" [items]="group?.ancestorsCurrentUserIsManagerOf"></alg-group-links>
      you can manage this group.
    </div>

    <div class="content" *ngSwitchCase="'descendant'" i18n>
      As a manager of <alg-group-links class="links" [items]="group?.descendantsCurrentUserIsManagerOf"></alg-group-links>
      you can view this group.
    </div>
  </ng-container>
</div>
