@import 'src/colors';
@import 'src/geometry';

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: var(--base-color);
  background-color: var(--section-color);
  border-radius: $border-radius;
  white-space: nowrap;
  overflow-x: scroll;
}

.content {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

.links {
  margin-left: .4rem;
}
