<ng-container *ngIf="groupWithPermissions">
  <ng-container *ngIf="groupWithPermissions.isCurrentUserManager; else noPermission">
    <alg-section icon="fa fa-users" i18n-label label="Current Composition">
      <alg-member-list [group]="group"></alg-member-list>
    </alg-section>
    <alg-add-sub-group (addGroup)="addGroup($event)"></alg-add-sub-group>
    <alg-group-join-by-code [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="groupWithPermissions.canCurrentUserManageMembers">
    </alg-group-join-by-code>

    <alg-group-invite-users [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="groupWithPermissions.canCurrentUserManageMembers">
    </alg-group-invite-users>
  </ng-container>
  <ng-template #noPermission>
    <alg-group-no-permission></alg-group-no-permission>
  </ng-template>
</ng-container>
