@import 'src/colors.scss';

:host ::ng-deep alg-section .p-datatable .p-datatable-tbody > tr > td {
  border-right: .1rem solid #f0f0f0;

  &:first-child {
    border: none;
  }
}

alg-grid {
  margin-right: -1.6667rem;
  margin-left: -3.3333rem;
}
