<ng-container *ngIf="group.current_user_is_manager; else noPermission">
  <alg-section icon="fa fa-users" label="Current Composition">
    <p>...</p>
  </alg-section>
  <alg-group-join-by-code [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="canCurrentUserManageMembers">
  </alg-group-join-by-code>

  <alg-group-invite-users [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="canCurrentUserManageMembers">
  </alg-group-invite-users>
</ng-container>
<ng-template #noPermission>
  <alg-group-no-permission></alg-group-no-permission>
</ng-template>
