# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 9-11

# Browsers that require ES5 output (not supported by Angular CLI)
not kaios > 0
not op_mini all

# Browsers outside Angular's browser support
not and_qq > 0
not and_uc > 0
not op_mob > 0
not android > 0
not opera > 0
not samsung > 0