@import 'src/colors.scss';

.state-container {
  width: 7.5rem;
  height: 1.9167rem;
  border-radius: 9rem;
  color: white;
  display: flex;
  font-size: 1rem;

  &.discovery {
    .state-icon {
      background-color: $dark-base-color;
    }

    .state-label {
      background-color: $base-color;
    }
  }

  &.practice {
    .state-icon {
      background-color: #C2459F;
    }

    .state-label {
      background-color: #E044B4;
    }
  }

  &.validation {
    .state-icon {
      background-color: #8AB262;
    }

    .state-label {
      background-color: #9ACC68;
    }
  }

  &.review {
    .state-icon {
      background-color: #D3932B;
    }

    .state-label {
      background-color: #F5A623;
    }
  }

  &.challenge {
    .state-icon {
      background-color: #4A4A4A;
    }

    .state-label {
      background-color: #4A4A4A;
    }
  }

  .state-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2.5rem;
    background-color: $dark-base-color;
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;

    &.disabled {
      background-color: #EFEFEF !important;
      color: #D8D8D8 !important;
    }
  }

  .state-label {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: $base-color;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    font-size: 0.8333rem;
    padding-left: 0.3333rem;

    &.disabled {
      background-color: #EFEFEF !important;
      color: #D8D8D8 !important;
    }
  }
}