:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.treeExpandable {
    flex-shrink: 0;
    width: var(--left-panel-width);
    min-width: var(--left-panel-width);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 599.98px) {
  :host.treeExpandable {
    width: 100%;
    min-width: 0;
  }
}
