@use 'src/assets/scss/breakpoints' as bp;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.tree-expandable {
    flex-shrink: 0;
    width: var(--left-panel-width);
    min-width: var(--left-panel-width);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: bp.$narrow-screen-max-width) {
  :host(.tree-expandable) {
    width: 100%;
    min-width: 0;
  }
}
