@import 'src/colors.scss';

.code-generator {
  display: flex;
  align-items: center;
  width: 11rem;
  height: 2.6667rem;
  border-radius: 0.4167rem;

  span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .code {
    background-color: $input-transparency-color;
    color: $dark-text-color;
    box-shadow: 0 0.0833rem #C9CFD7 inset;
    border-top-left-radius: 0.4167rem;
    border-bottom-left-radius: 0.4167rem;
    flex: 1;
    font-size: 1.25rem;

    &.no-refresh {
      border-top-right-radius: 0.4167rem;
      border-bottom-right-radius: 0.4167rem;
    }
  }

  .refresh {
    width: 2.6667rem;
    background-color: $base-color;
    color: white;
    border-top-right-radius: 0.4167rem;
    border-bottom-right-radius: 0.4167rem;
    cursor: pointer;
  }
}