<lib-section-paragraph
  icon="fa fa-users"
  label="You have {{ attempts.length }} attempts"
  [collapsible]="true"
  [data]="selectedAttempt"
  [remainOrigin]="false"
  (onCollapse)="onCollapseHeader($event)"
>
  <ng-template #headerTemplate let-data>
    <div style="flex: 1; flex-direction: row-reverse;display: flex; align-items: center;">
      <div style="width: 180px;">
        <lib-button
          icon="fa fa-flag-checkered"
          label="New attempt"
          class="ui-button-rounded ui-fit-parent"
          (onClick)="newAttempt($event)"
        ></lib-button>
      </div>
      <div *ngIf="showSelected && selectedAttemptID >= 0" class="collapsed-attempt-header">
        <div class="attempt-title">
          Attempt n&#176; {{data.ID}}
        </div>
        <div class="attempt-info">
          {{data.date | date:'d/MM/y h'}} - par {{data.author}}
        </div>
      </div>
    </div>
  </ng-template>
  <ul class="attempts-container">
    <li
      *ngFor="let item of attempts"
      class="attempt-item"
      [ngClass]="{ active: item.ID === selectedAttemptID }"
      (click)="selectAttempt(item.ID)"
    >
      <lib-score-ring
        [displayedScore]="item.progress.displayedScore"
        [currentScore]="item.progress.currentScore"
        [icons]="item.progress.isStarted === false ? 'flag-checkered' : ''"
        diameter="24"
        [isDark]="item.ID === selectedAttemptID"
      ></lib-score-ring>
      <span class="attempt-number">
        <b>Attempt n&#176; {{ item.number }}</b>
      </span>
      <span class="attempt-date">
        - {{ item.date | date: "d/MM/y h" }}h -
      </span>
      <span class="attempt-author">
        {{ item.author }}
      </span>
      <span class="attempt-language">
        {{ item.lang }}
      </span>
    </li>
  </ul>
</lib-section-paragraph>
