@import 'src/colors.scss';
@import 'src/geometry.scss';

.attempts-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0 -1.6667rem -1.25rem -5.8333rem;

  .attempt-item {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0.4167rem;
    color: $base-text-color;
    border-top: $border-filet;
    padding-left: 2rem;
    padding-right: 2rem;
    // font-size: 1.2rem;
    cursor: pointer;

    lib-score-ring {
      margin-right: 2rem;
    }

    .attempt-number {
      color: $base-color;
    }

    .attempt-author {
      flex: 1;
    }

    &.active {
      background-color: $base-color;
      color: white;

      .attempt-number {
        color: white;
      }
    }
  }
}

.collapsed-attempt-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1.25rem;

  .attempt-title {
    font-size: 2rem;
    color: $dark-text-color;
  }

  .attempt-info {
    font-size: 1.2rem;
    color: $base-text-color;
  }
}
