@use 'src/assets/scss/functions';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: functions.toRem(42);
  color: var(--alg-white-color);
  font-size: functions.toRem(16);
}

.footer {
  padding: functions.toRem(2) functions.toRem(8) functions.toRem(6) functions.toRem(8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button {
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  padding: 0 functions.toRem(6);
  margin-bottom: functions.toRem(12);

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: functions.toRem(-6);
      width: 100%;
      border-bottom: functions.toRem(1) solid rgba(0, 0, 0, .1);
    }
  }

  &:last-child {
    margin-bottom: functions.toRem(6);
  }
}

.menu-item-button {
  height: functions.toRem(42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .7rem;
  border-radius: functions.toRem(10);
  color: var(--alg-white-color);
  font-size: functions.toRem(12);
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(.active):not(.no-hover):hover:not(:disabled) {
    color: white;
    background-color: var(--alg-primary-dark-hover-color);
  }

  &:disabled {
    cursor: default;
    opacity: .5;
  }

  &.active {
    color: white;
    background-color: var(--alg-primary-dark-color);
  }
}

.menu-item-title {
  margin-right: functions.toRem(16);
}

.menu-item-icon {
  font-size: functions.toRem(16);
}

.note-icon {
  margin-left: functions.toRem(4);
}
