@import 'src/assets/scss/functions';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: toRem(42);
  color: var(--alg-white-color);
  font-size: toRem(16);
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: .7rem;
  margin: toRem(6) toRem(6) toRem(12) toRem(6);
  border-radius: toRem(10);
  color: var(--alg-white-color);
  font-size: toRem(12);
  font-weight: 500;
  text-transform: capitalize;

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: toRem(-6);
      width: 100%;
      border-bottom: toRem(1) solid rgba(0, 0, 0, .1);
    }
  }

  &:last-child {
    margin-bottom: toRem(6);
  }

  &:not(.active):not(.no-hover):hover {
    color: white;
    background-color: var(--alg-primary-dark-hover-color);
  }

  &.active {
    color: white;
    background-color: var(--alg-primary-dark-color);
  }
}

.menu-item-title {
  flex: 1;
  margin-right: toRem(16);
}

.menu-item-icon {
  font-size: toRem(16);
}
