<div class="header" i18n>
  Default access
  <span
    class="ph-duotone ph-info note-icon alg-white-color"
    i18n-pTooltip pTooltip="If you have the right, choose below how users will see this content within the chapter. Note that they will see it regardless if they have access to it in another chapter or have obtained rights that unlock it."
    tooltipPosition="top"
    tooltipStyleClass="alg-tooltip secondary"
  >
  </span>
</div>
<ul class="menu">
  <li class="menu-item">
    <button
      class="menu-item-button"
      type="button"
      [ngClass]="{'active': childData?.contentViewPropagation === 'none'}"
      (click)="onClick('none')"
    >
      <div class="menu-item-title" i18n>Locked and hidden</div>
      <div class="menu-item-icon">
        <i class="ph-duotone ph-eye-slash"></i>
      </div>
    </button>
  </li>
  <li class="menu-item">
    <button
      class="menu-item-button"
      type="button"
      [ngClass]="{ 'active': childData?.contentViewPropagation === 'as_info' }"
      [disabled]="!((childData?.permissions && (childData!.permissions! | allowsGrantingView)) || [ 'as_info', 'as_content' ].includes(childData?.contentViewPropagation || ''))"
      (click)="onClick('as_info')"
    >
      <div class="menu-item-title" i18n>Locked</div>
      <div class="menu-item-icon">
        <i class="ph-duotone ph-lock-simple"></i>
      </div>
    </button>
  </li>
  <li
    class="menu-item cursor-pointer"
  >
    <button
      class="menu-item-button"
      type="button"
      [ngClass]="{ 'active': childData?.contentViewPropagation === 'as_content' }"
      [disabled]="!((childData?.permissions && (childData!.permissions! | allowsGrantingContentView)) || childData?.contentViewPropagation === 'as_content')"
      (click)="onClick('as_content')"
    >
      <div class="menu-item-title" i18n>Open</div>
      <div class="menu-item-icon">
        <i class="ph-duotone ph-eye"></i>
      </div>
    </button>
  </li>
</ul>
<div class="footer">
  <button
    class="primary size-s width-full alg-white-color light-border with-hover-eff"
    alg-button
    (click)="openAdvancedConfigurationDialogEvent.emit()"
    i18n
  >
    Advanced configuration
  </button>
</div>
