@import 'src/assets/scss/functions';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: toRem(42);
  color: var(--alg-white-color);
  font-size: toRem(16);
}

.footer {
  padding: toRem(2) toRem(8) toRem(6) toRem(8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button {
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.menu-item {
  position: relative;
  padding: 0 toRem(6);
  margin-bottom: toRem(12);

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: toRem(-6);
      width: 100%;
      border-bottom: toRem(1) solid rgba(0, 0, 0, .1);
    }
  }

  &:last-child {
    margin-bottom: toRem(6);
  }
}

.menu-item-button {
  width: 100%;
  height: toRem(42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .7rem;
  border-radius: toRem(10);
  color: var(--alg-white-color);
  font-size: toRem(12);
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(.active):not(.no-hover):hover:not(:disabled) {
    color: white;
    background-color: var(--alg-primary-dark-hover-color);
  }

  &:disabled {
    cursor: default;
    opacity: .5;
  }

  &.active {
    color: white;
    background-color: var(--alg-primary-dark-color);
  }
}

.menu-item-title {
  margin-right: toRem(16);
}

.menu-item-icon {
  font-size: toRem(16);
}

.note-icon {
  margin-left: toRem(4);
}
