@if (state$ | async; as state) {
  @if (state.isReady && state.data; as itemData) {
    <ng-container *ngrxLet="isObserving$ as isObserving">
      <ng-container *ngrxLet="fullFrameContentDisplayed$ as fullFrameContentDisplayed">
        @if (!(fullFrameContent$ | async)) {
          <alg-item-header [itemData]="itemData"></alg-item-header>
        }
        @if (showAccessCodeField$ | async) {
          <div class="access-code-view">
            <alg-access-code-view
              i18n-sectionLabel sectionLabel="Access to activity"
              i18n-buttonLabel="Button label for joining an item by (group) code" buttonLabel="Access"
              [itemData]="itemData"
              (groupJoined)="reloadItem()"
            ></alg-access-code-view>
          </div>
        }
        @if (observedGroup$ | async; as observedGroup) {
          <alg-item-permissions
            class="item-permissions"
            [ngClass]="{ 'with-margin': fullFrameContentDisplayed, 'with-right-margin': !!(withLeftPaddingContentDisplayed$ | async) }"
            [itemData]="itemData"
            [observedGroup]="observedGroup"
            (changed)="reloadItem()"
          ></alg-item-permissions>
        }
        @if (!!(shouldDisplayTabBar$ | async) && !fullFrameContentDisplayed) {
          <alg-tab-bar class="tab-bar" />
        }
        <div
          class="content-container"
          [ngClass]="{
            'no-top-padding': itemData.item.type === 'Task' && !!currentTab?.isTaskTab,
            'side-padding': itemData.item.type === 'Task' && !currentTab?.isTaskTab && fullFrameContentDisplayed,
            'right-padding': itemData.item.type === 'Task' && !currentTab?.isTaskTab && !fullFrameContentDisplayed
          }"
          #contentContainer
          *ngrxLet="currentTab$ as currentTab"
          >
          @if (currentTab?.isTaskTab || itemContentComponent?.isTaskLoaded() || currentTab?.tag === 'alg-content' || currentTab?.tag === 'alg-children-edit') {
            @if (answerLoadingError$ | async; as error) {
              <alg-error>
                @if (!error.fallbackLink) {
                  <ng-container i18n>Unable to load the answer</ng-container>
                } @else {
                  <ng-container i18n>
                    Unable to load the answer, <a [routerLink]="error.fallbackLink" class="alg-link">back to the regular task page</a>.
                  </ng-container>
                }
                @if (!error.isForbidden) {
                  <p>{{ errorMessageContactUs }}</p>
                }
              </alg-error>
            } @else {
              <ng-container *ngrxLet="taskConfig$ as taskConfig">
                @if (taskConfig && taskConfig.readOnly && taskConfig.initialAnswer && currentTab && currentTab?.isTaskTab) {
                  <div
                    class="indicator"
                    [ngClass]="{ 'no-left-padding': !fullFrameContentDisplayed }"
                    >
                      <alg-answer-author-indicator
                        [answer]="taskConfig.initialAnswer"
                        [itemData]="itemData"
                      ></alg-answer-author-indicator>
                  </div>
                }
                <alg-item-content
                  class="alg-flex-1"
                  [style.display]="currentTab?.tag ==='alg-content' || currentTab?.tag ==='alg-children-edit' || currentTab?.isTaskTab ? 'flex' : 'none'"
                  [itemData]="itemData"
                  [taskConfig]="taskConfig"
                  [savingAnswer]="(savingAnswer$ | async) ?? false"
                  [taskView]="(currentTaskView$ | async) ?? undefined"
                  [editModeEnabled]="currentTab?.tag ==='alg-children-edit'"
                  (taskViewChange)="setTaskView($event)"
                  (taskTabsChange)="setTaskTabs($event)"
                  (scoreChange)="onScoreChange($event)"
                  (skipSave)="skipBeforeUnload()"
                  (refresh)="reloadItem()"
                  (editorUrl)="editorUrlChanged($event)"
                  (disablePlatformProgress)="disablePlatformProgressChanged($event)"
                  (fullFrameTask)="fullFrameContent$.next($event)"
                ></alg-item-content>
              </ng-container>
            }
          }
          @if (currentTab?.tag ==='alg-task-edit') {
            <alg-item-task-edit
              [editorUrl]="editorUrl"
              (redirectToDefaultTab)="navigateToDefaultTab(itemData.route)"
            ></alg-item-task-edit>
          }
          @if (currentTab && [ 'alg-log', 'alg-chapter-progress'].includes(currentTab.tag)) {
            @if ((!isObserving && (itemData.item.permissions | allowsViewingContent)) || (itemData.item.permissions | allowsWatchingResults) ) {
              @if ((savingAnswer$ | async) ?? false) {
                <div class="save-answer-loader">
                  <p class="save-answer-loader-message">
                    <span i18n>Saving answer before loading submission...</span>
                    <alg-loading size="medium"></alg-loading>
                    <button alg-button type="button" (click)="skipBeforeUnload()" i18n>Skip</button>
                  </p>
                </div>
              }
              @if (currentTab?.tag ==='alg-log') {
                <alg-item-log-view
                  class="alg-flex-1"
                  [itemData]="itemData"
                ></alg-item-log-view>
              }
              @if (currentTab?.tag === 'alg-chapter-progress') {
                @if (isObserving) {
                  <alg-chapter-group-progress
                    class="alg-flex-1"
                    [itemData]="itemData"
                  ></alg-chapter-group-progress>
                }
                @else {
                  <alg-chapter-user-progress
                    class="alg-flex-1"
                    [itemData]="itemData"
                  ></alg-chapter-user-progress>
                }
              }
            } @else {
              @if (isObserving) {
                <p class="not-allow-caption" i18n>
                You are not allowed to view the progress of other users on this content.
              </p>
              }
              @else {
                <p class="not-allow-caption" i18n>
                You are not allowed to view this content.
              </p>
              }
            }
          }
          @if (currentTab?.tag ==='alg-dependencies') {
            <alg-item-dependencies [itemData]="itemData"></alg-item-dependencies>
          }
          @if (currentTab?.tag ==='alg-parameters') {
            <alg-item-edit-wrapper [itemData]="itemData"></alg-item-edit-wrapper>
          }
          @if (currentTab?.tag ==='alg-extra-time') {
            <alg-item-extra-time [itemData]="itemData"></alg-item-extra-time>
          }
          @if (currentTab?.tag === 'alg-forum') {
            @if ((userProfile$ | async)?.tempUser || !showItemThreadWidget) {
              <alg-error
                class="alg-flex-1"
                i18n-message message="You are not allowed to view this content."
              ></alg-error>
            } @else {
              <alg-item-forum class="alg-flex-1" [itemData]="itemData!"></alg-item-forum>
            }
          }
        </div>
        @if (isThreadInline$ | async) {
          <div class="inline-thread-panel">
            <button
              class="inline-thread-close"
              type="button"
              icon="ph ph-x"
              alg-button-icon
              (click)="closeThread()"
            ></button>
            <alg-thread class="inline-thread"></alg-thread>
          </div>
        }
      </ng-container>
    </ng-container>
  }
  @if (state.isFetching) {
    <alg-loading class="alg-flex-1"></alg-loading>
  }
  @if (state.isError) {
    @if (state.error && ($any(state.error).status === 403 || $any(state.error).status === 404 || $any(state.error).name === 'NoSuchAliasError')) {
      <p class="alg-error-message" i18n>
      This content does not exist or you are not allowed to view it.
    </p>
    } @else {
      <p class="alg-error-message" i18n>Error while loading the item.</p>
    }
    <p class="alg-error-message" [style.visibility]="(backToHome.isActive)?'hidden':'visible'">
      <span i18n>Go back to the </span>
      <a
        class="alg-link base-color"
        routerLink="/"
        [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
        routerLinkActive #backToHome="routerLinkActive"
        i18n
        >
        home page
      </a>
    </p>
  }
}
