@use 'src/assets/scss/functions';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inline-thread-panel {
  position: fixed;
  top: functions.toRem(57);
  right: 0;
  width: var(--right-thread-width);
  height: calc(100% - functions.toRem(57));
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid var(--alg-light-color);
  background-color: var(--alg-white-color);
  overflow: hidden;
  z-index: 1;
}

.inline-thread-panel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--alg-border-color, #e0e0e0) 10%,
    var(--alg-border-color, #e0e0e0) 90%,
    transparent 100%
  );
}

.inline-thread-actions {
  position: absolute;
  top: functions.toRem(8);
  right: functions.toRem(8);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: functions.toRem(4);
}

.inline-thread-back {
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--alg-white-color);
}

.inline-thread {
  flex: 1;
  overflow: hidden;
  --thread-left-bubble-bg: #f5f5f5;
}

.content-container {
  padding-top: var(--alg-space-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  &.no-top-padding {
    padding-top: 0;
  }
  &.side-padding {
    padding-right: var(--alg-space-size-2);
    padding-left: var(--alg-space-size-2);
  }
  &.right-padding {
    padding-right: var(--alg-space-size-2);
  }
}

.indicator {
  padding: functions.toRem(16);

  &.no-left-padding {
    padding-left: 0;
  }
}

.stats-title {
  margin-top: functions.toRem(30);
  margin-bottom: 0;
}

.tab-bar {
  height: functions.toRem(33);
}

.item-permissions {
  margin-bottom: functions.toRem(16);

  &.with-margin {
    margin: var(--alg-space-size-5);
  }

  &.with-right-margin {
    margin-right: var(--alg-space-size-5);
  }
}

.access-code-view {
  margin-bottom: var(--alg-space-size-4);
}
