@use 'src/assets/scss/functions';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding-top: var(--alg-space-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  &.no-top-padding {
    padding-top: 0;
  }
  &.side-padding {
    padding-right: var(--alg-space-size-2);
    padding-left: var(--alg-space-size-2);
  }
  &.right-padding {
    padding-right: var(--alg-space-size-2);
  }
}

.indicator {
  padding: functions.toRem(16);

  &.no-left-padding {
    padding-left: 0;
  }
}

.stats-title {
  margin-top: functions.toRem(30);
  margin-bottom: 0;
}

.tab-bar {
  height: functions.toRem(33);
}

.item-permissions {
  margin-bottom: functions.toRem(16);

  &.with-margin {
    margin: var(--alg-space-size-5);
  }

  &.with-right-margin {
    margin-right: var(--alg-space-size-5);
  }
}

.access-code-view {
  margin-bottom: var(--alg-space-size-4);
}
