@import 'src/assets/scss/functions';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding-top: var(--alg-space-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  &.no-top-padding {
    padding-top: 0;
  }
  &.side-padding {
    padding-right: var(--alg-space-size-2);
    padding-left: var(--alg-space-size-2);
  }
  &.right-padding {
    padding-right: var(--alg-space-size-2);
  }
}

.indicator {
  padding: toRem(16);

  &.no-left-padding {
    padding-left: 0;
  }
}

.stats-title {
  margin-top: toRem(30);
  margin-bottom: 0;
}

.tab-bar {
  height: toRem(33);
}
