@import 'src/assets/scss/functions';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding-top: var(--alg-space-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.indicator {
  padding: 1rem;
  margin-right: 2rem;
}

.stats-title {
  margin-top: toRem(30);
  margin-bottom: 0;
}
