<alg-section i18n-label label="Associated Activity" icon="fa fa-book">

  <p-progressSpinner *ngIf="state === 'fetching'"></p-progressSpinner>

  <p *ngIf="state === 'error'" class="error-message">
    <i class="fa fa-exclamation-triangle"></i>
    <span i18n>Error while loading the root activity</span>
  </p>

  <ng-container *ngIf="state === 'ready'">
    <ng-container [ngSwitch]="rootActivity.type">

      <alg-add-content *ngSwitchCase="'no-activity'"
        [allowedTypesForNewContent]="allowedNewItemTypes"
        [searchFunction]="searchFunction"
        (contentAdded)="setRootActivity($event)"
      ></alg-add-content>

      <div class="activity" *ngSwitchCase="'new-activity'">
        <span class="activity-name">
          {{rootActivityData!.name}}
        </span>
        <span class="remove" (click)="onRemove()">
          <span i18n>Remove</span>
          <i class="fa fa-trash-alt"></i>
        </span>
      </div>

      <div class="activity" *ngSwitchCase="'existing-activity'">
        <span class="activity-name" [routerLink]="rootActivityData!.path">
          {{rootActivityData!.name}}
        </span>
        <span class="remove" (click)="onRemove()">
          <span i18n>Remove</span>
          <i class="fa fa-trash-alt"></i>
        </span>
      </div>

    </ng-container>
  </ng-container>
</alg-section>
