@import "src/colors.scss";

$nav-control-border: #5c5c5c;

.nav-header {
  position: relative;
}

.nav-control {
  color: white;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: .1rem solid $nav-control-border;
  position: relative;
  text-align: center;
  display: flex;
  align-items: flex-start;

  &.alt {
    background-color: $nav-bk-color;

    .nav-collapse {
      img {
        transform: rotate(360deg);
      }
    }

    .title-collapse {
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &.down {
        transform: rotate(180deg);
      }
    }
  }

  span {
    display: block;
    height: 3.75rem;
    line-height: 3.75rem;
  }

  .nav-collapse {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      transform: rotate(180deg);
    }
  }

  .platform-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .platform-name {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
