@import 'src/assets/scss/functions';

.container {
  position: relative;
  height: toRem(57);
  padding: 0 var(--alg-space-size-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.platform-name {
  color: var(--alg-primary-color);
  text-transform: uppercase;
  text-decoration: none;
  font-size: toRem(16);
}
