@import 'src/colors.scss';

.grading-request-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: -1.25rem -1.6667rem -1.25rem -5.8333rem;

  .request-item {
    display: flex;
    align-items: center;
    height: 3.3333rem;
    border-top: 0.0833rem solid $section-border-color;
    padding-left: 1.6667rem;
    padding-right: 5rem;
    font-size: 1rem;

    &-label {
      color: $base-text-color;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1;
    }

    &-view {
      width: 13.3333rem;
    }
  }
}