@import "src/colors.scss";

.reorder-handle {
  cursor: grab;
}

.main {
  flex: 1;
}

.type {
  color: var(--base-color);
}

.spacer {
  width: 2.9rem;
}

.score-weight-container {
  display: flex;
  justify-content: flex-end;
}

.score-weight {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-weight-label {
  margin-right: 1rem;
}

.propagation-state-wrapper {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
