@import 'src/colors.scss';
@import 'src/geometry.scss';

:host ::ng-deep .ui-table {

  .ui-table-tbody > tr > td.ui-editing-cell p-celleditor > * {
    width: 2.5rem;
  }

  .ui-chkbox {
    width: 1.0833rem;
    height: 1.0833rem;
    .ui-chkbox-box {
      background-color: #E5E5E5;
      box-shadow: 0 .1rem #BBB inset;
      width: 1.0833rem;
      height: 1.0833rem;
      border: none;
      position: relative;

      &:hover {
        background-color: #D0D0D0;
      }

      &.ui-state-active:not(.ui-state-disabled):hover {
        background-color: #D0D0D0;
      }

      .ui-chkbox-icon {
        overflow: visible;
        color: #505050;
        position: absolute;
        top: -0.5rem;
        left: -0.3333rem;
        font-size: 1.8333rem;
      }
    }
  }

  .ui-table-tbody > tr {
    background-color: #EFEFEF;
    display: flex;
    border-bottom: $border-filet;
    margin-bottom: 5px;
    border-radius: 1rem;
    height: 3rem;
  }

  .ui-table-tbody > tr:last-child {
    border: none;
  }

  .ui-table-tbody > tr:nth-child(even) {
    background-color: #EFEFEF;
  }

  .ui-table-tbody > tr > td {
    color: $base-text-color;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    p-tableCheckbox {
      display: flex;
      align-items: center;
    }

    .chapter-type-control {
      display: flex;
      align-items: center;

      .chapter-type {
        margin-top: -1px;
      }
    }

    &.ui-editable-column {
      display: flex;
      align-items: center;
      padding-left: 0.4167rem;
      padding-right: 0.4167rem;

      input:focus {
        outline: none;
      }
    }

    span.table-icon {
      margin-right: 1rem;
      color: $base-color;
      cursor: pointer;

      &.lock {
        color: $secondary-color;
      }
    }

    &.reorder-handle {
      cursor: grab;
    }

    &.main {
      flex: 1;
    }

    &.type {
      color: $base-color;
    }
  }

  .ui-table-tbody > tr.ui-state-highlight {
    background-color: #EFEFEF;
  }

  .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #EFEFEF;
  }

  .disabled {
    cursor: not-allowed;

    > * {
      color: #bbb;
      pointer-events: none;
    }
  }

  .ui-table-summary {
    background-color: transparent;
    border: none;
    padding-left: 0.4167rem;
    padding-right: 0;

    .summary-container {
      display: flex;
      align-items: center;

      .lock-drag {
        color: $base-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin-right: 1.43rem;
        font-size: 1.2rem;
      }

      .select-all {
        font-weight: bold;
        font-size: 1.2rem;
        flex: 1;
        text-align: left;
        margin-left: 2.1rem;
        color: #9b9b9b;
        cursor: pointer;
      }

      .export-tools {
        display: flex;
        align-items: center;
        color: $base-color;
        font-size: 1.2rem;

        span {
          margin-right: 1rem;
          cursor: pointer;

          span {
            margin-right: 1rem;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      p-tableHeaderCheckbox {
        display: flex;
        align-items: center;
      }
    }
  }
}
