<ng-container *ngIf="itemData">
  <alg-section [ngSwitch]="state" icon="fa fa-book" i18n-label label="Children">

    <ng-container *ngSwitchCase="'ready'">
      <div class="section-chapter-wrapper">

        <div class="score-weight">
          <b>Enable score weight</b>
          <alg-switch mode="white" [(ngModel)]="enableScoreWeight"></alg-switch>
        </div>

        <p-table
            class="alg-editable-table"
            *ngIf="data.length"
            [value]="data"
            [reorderableColumns]="true"
            [(selection)]="selectedRows"
            (onRowReorder)="orderChanged()">
          <ng-template pTemplate="body" let-rowData let-index="rowIndex">
            <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
              <td class="reorder-handle" [pReorderableRowHandle]="index">
                <i class="fa fa-sort" [pReorderableRowHandle]="index"></i>
              </td>
              <td><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
              <ng-container *ngIf="enableScoreWeight">
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                          class="score-weight-input"
                          pInputText
                          type="text"
                          [(ngModel)]="rowData.scoreWeight"
                          (ngModelChange)="onScoreWeightChange()"
                      >
                    </ng-template>
                    <ng-template pTemplate="output">
                      x{{ rowData.scoreWeight }}
                    </ng-template>
                  </p-cellEditor>
                </td>
              </ng-container>
              <td><span class="type">{{ rowData.type }}</span></td>
              <td><span class="main">{{ rowData.title }}</span></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="summary-container">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              <span class="select-all" (click)="onSelectAll()" i18n>Select all</span>
              <div class="export-tools" [ngClass]="{disabled: selectedRows.length === 0}">
                <span class="remove" (click)="onRemove()">
                  <span i18n>Remove selected</span>
                  <i class="fa fa-trash-alt"></i>
                </span>
              </div>
            </div>
          </ng-template>
        </p-table>

        <span *ngIf="!data.length" i18n>No children for this chapter.</span>

      </div>

      <alg-add-item [allowSkills]="itemData.item.type === 'Skill'" (contentAdded)="addChild($event)"></alg-add-item>

    </ng-container>

    <p-progressSpinner *ngSwitchCase="'loading'"></p-progressSpinner>

    <div *ngSwitchCase="'error'" i18n>Error</div>
  </alg-section>
</ng-container>
