<alg-section [ngSwitch]="state" icon="fa fa-book" label="Children">

  <ng-container *ngSwitchCase="'ready'">
    <div *ngIf="data.length" class="section-chapter-wrapper" >
      <p-table [value]="data" [reorderableColumns]="true">
        <ng-template pTemplate="body" let-rowData let-index="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="index">
            <td class="main">{{ rowData.title }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <span *ngIf="!data.length">No children for this chapter.</span>
  </ng-container>

  <p-progressSpinner *ngSwitchCase="'loading'"></p-progressSpinner>

  <div *ngSwitchCase="'error'">Error</div>

</alg-section>
