@import 'src/assets/scss/functions';

.invite-users, .button {
  margin-top: var(--alg-space-size-6);
}

.too-many-message {
  margin-top: var(--alg-space-size-6);
  margin-bottom: var(--alg-space-size-5);
}

.message-container {
  margin-top: var(--alg-space-size-5);
}
