<h2 class="alg-h2 alg-text-normal alg-base-title-space" i18n>Invite users</h2>
<span class="alg-text-secondary" i18n>Add users name list, separated by commas.</span>
<div class="invite-users">
  <alg-textarea
    [parentForm]="inviteForm"
    inputName="logins"
    i18n-placeholder placeholder="login_1, login_2..."
  ></alg-textarea>

  <alg-message *ngIf="state === 'too_many'" type="error" i18n-detail detail="You cannot invite more than 100 users at once"
    [closable]="false">
  </alg-message>

  <div class="button">
    <button
      class="size-l"
      (click)="onInviteClicked()"
      [disabled]="state !== 'ready'"
      alg-button
      i18n
    >Invite</button>
  </div>

  <alg-message
    *ngFor="let message of messages"
    [type]="message.type"
    [detail]="message.detail"
    summary={{message.summary}}
  ></alg-message>
</div>
