<ng-container *ngIf="sectionHeaderTemplate">
  <ng-container [ngTemplateOutlet]="sectionHeaderTemplate" [ngTemplateOutletContext]="{ $implicit: state }"></ng-container>
</ng-container>
<alg-error
  *ngIf="state === 'fetchingError'"
  class="dark"
  icon="fa fa-exclamation-triangle"
  i18n-message message="Error while loading the pending requests."
></alg-error>
<p class="no-pending-requests" *ngIf="state === 'ready' && requests.length === 0" i18n>
  No pending requests
</p>
<alg-grid
  [selectedColumns]="columns"
  [columns]="columns"
  [data]="requests"
  [(selection)]="selection"
  [loading]="state === 'fetching'"
  (sort)="onCustomSort($event)"
  *ngIf="state !== 'fetchingError'"
>
  <ng-template #headerTemplate let-columns>
    <tr>
      <th></th>
      @for(col of columns; track col.field) {
        @if(col.sortKey) {
          <th [pSortableColumn]="col.sortKey">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        }@else {
          <th>{{ col.header }}</th>
        }
      }
    </tr>
  </ng-template>
  <ng-template
    #bodyTemplate
    let-rowData
    let-columns="columns"
    let-rowIndex="rowIndex"
  >
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.field">
          <span *ngSwitchCase="'group.name'">
            {{ rowData.group.name }}
          </span>
          <ng-container *ngSwitchCase="'at'">
            {{ rowData.at | date: "d/MM/y" }}
          </ng-container>
          <div class="grid-user-info-field" *ngSwitchCase="'user.login'">
            <span>
              {{ rowData.user | userCaption }}
            </span>
            <span class="font-bold" *ngIf="rowData.user.grade">
              <em><span i18n>Grade: </span>{{ rowData.user.grade }}</em>
            </span>
          </div>
          <ng-container *ngSwitchCase="'group.type'">
            {{ rowData.group.type }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ rowData[col.field] }}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template #summaryTemplate let-table>
    <div class="alg-table-summary">
      <div class="alg-table-summary-left">
        <p-tableHeaderCheckbox class="alg-table-summary-checkbox"></p-tableHeaderCheckbox>
        <span class="alg-table-summary-select-all" (click)="onSelectAll()" i18n>
          Select all
        </span>
      </div>
      <div>
        <button
          class="alg-button primary small margin-right"
          pButton
          type="button"
          (click)="onAccept()"
          [disabled]="selection.length === 0 || this.state !== 'ready'"
          i18n-label label="Accept"
        ></button>
        <button
          class="alg-button basic small"
          pButton
          type="button"
          (click)="onReject()"
          [disabled]="selection.length === 0 || this.state !== 'ready'"
          i18n-label label="Reject"
        ></button>
      </div>
    </div>
  </ng-template>
</alg-grid>
