<alg-section-paragraph
  icon="fa fa-check"
  [label]="label"
  [collapsible]="true"
  [collapsed]="collapsed"
>

  <ng-template #headerTemplate *ngIf="sectionHeaderTemplate">
    <ng-container [ngTemplateOutlet]="sectionHeaderTemplate" [ngTemplateOutletContext]="{ $implicit: state }"></ng-container>
  </ng-template>

  <alg-error
    *ngIf="state === 'fetchingError'; else noFetchingError"
    class="dark"
    icon="fa fa-exclamation-triangle"
    i18n-message message="Error while loading the pending requests."
  ></alg-error>

  <ng-template #noFetchingError>
    <div class="pending-request-container" #noError>
      <alg-grid
        *ngIf="requests.length > 0"
        [selectedColumns]="columns"
        [columns]="columns"
        [data]="requests"
        [groupInfo]="panel"
        tableStyle="--pending-request"
        [(selection)]="selection"
        (sort)="onCustomSort($event)"
        [loading]="state !== 'ready'"
      >
        <ng-template #headerTemplate let-columns>
          <tr>
            <th></th>
            <ng-container *ngFor="let col of columns">
              <th
                [pSortableColumn]="col.field"
                [ngClass]="{'small-column' : ['at', 'group.name'].includes(col.field)}"
              >
                <div class="header-container">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </div>
              </th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template
          #bodyTemplate
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
              <ng-container [ngSwitch]="col.field">
                <span class="group-name" *ngSwitchCase="'group.name'">
                  {{ rowData.group.name }}
                </span>
                <ng-container *ngSwitchCase="'at'">
                  {{ rowData.at | date: "d/MM/y" }}
                </ng-container>
                <div class="grid-user-info-field" *ngSwitchCase="'user.login'">
                  <!-- <img
                    src="{{ rowData.user.image }}"
                    style="width: 7rem; height: 7rem;"
                  /> -->
                  <div class="user-info">
                    <span class="user-info-name">
                      {{ rowData.user | userCaption }}
                    </span>
                    <span class="user-info-activity" *ngIf="rowData.user.grade">
                      <em><span i18n>Grade: </span>{{ rowData.user.grade }}</em>
                    </span>
                    <!-- <div class="user-info-content">
                      {{ rowData.user.content }}
                    </div> -->
                  </div>
                </div>
                <ng-container *ngSwitchCase="'group.type'">
                  {{ rowData.group.type }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ rowData[col.field] }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template #summaryTemplate let-table>
          <div class="summary">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            <span class="select-all" (click)="onSelectAll()" i18n>
              Select all
            </span>
            <span class="filler"></span>
            <div class="summary-actions">
              <span [ngClass]="{disabled: selection.length === 0 || this.state !== 'ready'}" (click)="onAccept()">
                <span i18n>Accept</span>
              </span>
              <span [ngClass]="{disabled: selection.length === 0 || this.state !== 'ready'}" (click)="onReject()">
                <span i18n>Reject</span>
              </span>
            </div>
          </div>
        </ng-template>
      </alg-grid>
      <p class="no-pending-requests" *ngIf="requests.length === 0" i18n>
        No pending requests
      </p>
    </div>
  </ng-template>

</alg-section-paragraph>

<ng-template #loading>
  <alg-loading></alg-loading>
</ng-template>
