@use 'src/assets/scss/functions';

.field {
  display: flex;
}

.field-name {
  padding: functions.toRem(12) functions.toRem(12) functions.toRem(12) 0;
  float: left;
  width: 20%;
  margin-top: 6px;
}

.field-value {
  float: left;
  width: 80%;
  margin-top: 6px;
}

.remove-button-section {
  display: block;
  margin-top: var(--alg-space-size-4);
}

.datepicker-value {
  display: flex;
  align-items: center;
}

.datepicker {
  margin-left: var(--alg-space-size-4);
}

.approval-buttons {
  display: flex;
  justify-content: flex-end;
}
