<ng-container *ngIf="state$ | async as state">
  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    i18n-message message="Error while loading the group"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refreshGroup()"
  ></alg-error>

  <ng-container *ngIf="state.isReady">
    <form [formGroup]="groupForm" *ngIf="state.data.isCurrentUserManager && state.data.canCurrentUserManageGroup; else notAuthorized">
      <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>Group information</h2>
      <div class="field">
        <div class="field-name" i18n>
          Name
        </div>
        <div class="field-value">
          <alg-input [parentForm]="groupForm" name="name"></alg-input>
        </div>
      </div>
      <div class="field">
        <div class="field-name" i18n>
          Description
        </div>
        <div class="field-value">
          <alg-textarea [parentForm]="groupForm" inputName="description"></alg-textarea>
        </div>
      </div>
      <h2 class="alg-h2 alg-text-normal alg-base-title-space" i18n>Required approvals</h2>
      <alg-message-info icon="ph-duotone ph-info" i18n>
        If you enable some of the rules below, users joining the group will have to approve them first.
      </alg-message-info>
      <div class="field">
        <div class="field-name" i18n>
          Lock membership until a given date
        </div>
        <div class="field-value datepicker-value">
          <alg-switch
            data-testid="switch-require-lock-until-enabled"
            formControlName="requireLockMembershipApprovalUntilEnabled"
            (change)="onRequireLockMembershipApprovalUntilEnabledChange($event)"
          ></alg-switch>
          @if (!!groupForm.get('requireLockMembershipApprovalUntilEnabled')?.value) {
            <div class="datepicker">
              <alg-input-date
                formControlName="requireLockMembershipApprovalUntil"
                [minDate]="minLockMembershipApprovalUntilDate"
              ></alg-input-date>
            </div>
          }
        </div>
      </div>
      <div class="field">
        <div class="field-name" i18n>
          Managers can access member's personal information
        </div>
        <div class="field-value">
          <alg-selection formControlName="requirePersonalInfoAccessApproval" [items]="approvalOptions"></alg-selection>
        </div>
      </div>

      <alg-associated-item
        formControlName="rootActivity"
        contentType="activity"
      ></alg-associated-item>
      <alg-associated-item
        formControlName="rootSkill"
        contentType="skill"
      ></alg-associated-item>

      <alg-group-remove-button
        class="remove-button-section"
        [group]="state.data"
        (groupDeleted)="refreshNav()"
      ></alg-group-remove-button>
    </form>

    <alg-floating-save
      *ngIf="groupForm.dirty"
      [saving]="groupForm.disabled"
      (save)="save()"
      (cancel)="resetForm()"
    ></alg-floating-save>

    @if (showConfirmApprovalDialog | async; as dialog) {
      @if (dialog.opened) {
        <p-dialog [visible]="true" position="bottomright" [showHeader]="false">
          <p i18n>As you have strengthened approval conditions, all group members have to re-approve the new conditions</p>
          <div class="approval-buttons">
            <button
              class="alg-button basic small alg-button-margin-right"
              (click)="onConfirmApprovalDialogCancel()"
              pButton
              i18n
            >Cancel</button>
            <button
              class="alg-button basic small alg-button-margin-right"
              (click)="onConfirmApprovalDialogChange('empty')"
              pButton
              i18n
            >Remove all members</button>
            <button
              class="alg-button primary small"
              (click)="onConfirmApprovalDialogChange('reinvite')"
              pButton
              i18n
            >Remove and re-invite all members</button>
          </div>
        </p-dialog>
      }
    }

    <ng-template #notAuthorized>
      <alg-error i18n-message message="You do not have the permissions to edit this content."></alg-error>
    </ng-template>
  </ng-container>
</ng-container>
