@import "src/colors.scss";

.slider-wrapper {
  margin: 1rem 0;

  .percent-values {
    width: 100%;
    height: 2.0833rem;
    margin-top: 1rem;
    position: relative;

    .start-value, .end-value {
      position: absolute;
      top: 0;
      transform: translateX(-1.1667rem);
      border-radius: 9rem;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 2.9167rem;
      height: 2.0833rem;
      background-color: $dark-base-color;
      font-size: 1.2rem;
      color: white;
      line-height: 2.0833rem;
    }
  }
}

:host ::ng-deep .f-slider {

  &.ui-slider {
    background-color: #3b73b5;
    font-size: 1.2rem;

    &:not(.p-disabled) .ui-slider-handle:hover {
      border: 0.1667rem solid transparent;
    }

    .ui-slider-range {
      background-color: #f5a623;
    }

    .ui-slider-handle {
      background-color: $base-color;
      border: 0.1667rem solid transparent;
      width: auto;
      height: 1.6667rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      border-radius: 1rem;
      box-shadow: 0 .1rem $dark-base-color;

      &:focus {
        box-shadow: 0 .1rem $dark-base-color;
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f053\f054";
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}
