@import 'src/assets/scss/functions';

.container {
  display: flex;
  position: relative;
  padding: var(--alg-space-size-5);
  border-radius: toRem(10);
  color: #fff;
  font-size: toRem(12);
  font-weight: 500;
  line-height: toRem(16);
  letter-spacing: toRem(0.4);
  background-color: var(--alg-primary-color);
  max-width: toRem(230);

  &.top {
    margin-bottom: toRem(10);
    justify-content: center;

    &:after {
      position: absolute;
      bottom: toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: toRem(8);
      border-style: solid;
      border-color: var(--alg-primary-color) transparent transparent transparent;
    }
  }

  &.bottom {
    margin-top: toRem(10);
    justify-content: center;

    &:after {
      position: absolute;
      top: toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: toRem(8);
      border-style: solid;
      border-color: transparent transparent var(--alg-primary-color) transparent;
    }
  }

  &.left {
    margin-right: toRem(10);
    align-items: center;

    &:after {
      position: absolute;
      right: toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: toRem(8);
      border-style: solid;
      border-color: transparent transparent transparent var(--alg-primary-color) ;
    }
  }

  &.right {
    margin-left: toRem(10);
    align-items: center;

    &:after {
      position: absolute;
      left: toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: toRem(8);
      border-style: solid;
      border-color: transparent var(--alg-primary-color) transparent transparent;
    }
  }

  &.no-text-wrap {
    max-width: none;

    .container {
      text-wrap: nowrap;
    }
  }

  &.observation-mode {
    min-width: toRem(280);
  }

  &.secondary {
    background-color: var(--alg-secondary-color);

    &.top {
      &:after {
        border-top-color: var(--alg-secondary-color);
      }
    }

    &.bottom {
      &:after {
        border-bottom-color: var(--alg-secondary-color);
      }
    }

    &.left {
      &:after {
        border-left-color: var(--alg-secondary-color);
      }
    }

    &.right {
      &:after {
        border-right-color: var(--alg-secondary-color);
      }
    }
  }
}
