@import 'src/assets/scss/functions';

.container {
  padding: var(--alg-space-size-5);
}

.value-section {
  display: flex;
  align-items: center;
  margin-bottom: var(--alg-space-size-6);
}

.label {
  margin-right: toRem(4);
  font-size: toRem(14);
  color: var(--alg-secondary-color);
}

.value {
  font-size: toRem(14);
}

.icon {
  margin-right: toRem(4);
  font-size: toRem(18);
  color: var(--alg-secondary-color);
}

.score-section, .button-section, .view-answer-section {
  display: flex;
  justify-content: center;
  margin-top: var(--alg-space-size-6);
}

.not-started {
  min-width: toRem(140);
  display: flex;
  justify-content: center;
  font-size: toRem(14);
}
