<div class="task-header-container">
  <div
    *ngIf="!editing"
    class="task-header"
    [ngClass]="{ folded: isFolded, unfolded: !isFolded }"
  >
    <app-score-ring
      *ngIf="isStarted && activityORSkill"
      [displayedScore]="progress.displayedScore"
      [currentScore]="progress.currentScore"
      [ngStyle]="{ opacity: isScrolled ? 0 : 1 }"
    ></app-score-ring>
    <div *ngIf="!isStarted" class="task-user-image">
      <img src="assets/images/_messi.jpg" width="50px" height="50px" />
    </div>
    <div class="task-title" [ngClass]="{skill: activityORSkill}">
      <p [ngStyle]="{ opacity: isScrolled ? 0 : 1 }">{{ title }}</p>
      <span *ngIf="activityORSkill">Subtitle for the task</span>
    </div>
    <div *ngIf="!isStarted; then cordBlock; else userBlock"></div>
    <ng-template #cordBlock>
      <app-button
        *ngIf="!isCoordinator"
        icon="pi pi-check"
        label="Become coordinator"
        class="ui-button-rounded ui-button-success"
        (onClick)="onCoordEvent($event)"
      ></app-button>
      <app-button
        *ngIf="isCoordinator"
        icon="pi pi-check"
        label="You are coordinator"
        class="ui-button-rounded"
        (onClick)="onCoordEvent($event)"
      ></app-button>
    </ng-template>
    <ng-template #userBlock>
      <div *ngIf="isCollapsed" class="user-info">
        <span class="user-avatar">
          <img src="assets/images/Male.svg" width="32px" height="32px" />
        </span>
        <span class="user-id">CyrilK89</span>
      </div>
      <span
        class="clock-icon"
        [ngClass]="{ finished: isFinished }"
        [ngStyle]="{ opacity: isScrolled ? 0 : 1 }"
      >
        <i class="fa fa-clock"></i>
      </span>
      <span
        class="remaining-time"
        [ngClass]="{ finished: isFinished }"
        [ngStyle]="{ opacity: isScrolled ? 0 : 1 }"
      >
        00:03:10
      </span>
    </ng-template>
  </div>

  <div *ngIf="editing" class="task-header edit">
    <app-input
      mode="light"
      type="large"
      placeholder="Course title"
      [value]="title"
    ></app-input>
    <app-input mode="light" placeholder="Course subtitle"></app-input>
    <div class="links">
      <div class="category">
        <span class="parent-link">
          <i class="fa fa-link"></i>
        </span>
        <span class="parent-item">{{ parents.join(", ") }}</span>
      </div>
      <div class="actions">
        <span class="export">
          <span>Duplicate</span>
          <i class="fa fa-paste"></i>
        </span>
        <span class="print">
          <span>Move</span>
          <i class="fa fa-folder-open"></i>
        </span>
        <span class="remove">
          <span>Remove</span>
          <i class="fa fa-trash-alt"></i>
        </span>
      </div>
    </div>
  </div>

  <app-skill-progress
    *ngIf="!activityORSkill"
    [displayedScore]="progress.displayedScore"
    [currentScore]="progress.currentScore"
  ></app-skill-progress>

  <ng-container *ngIf="ID === 38">
    <app-access-code-view></app-access-code-view>
  </ng-container>

  <ng-container *ngIf="ID === 39" >
    <app-section-paragraph icon="fa fa-book" label="Before you start...">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <app-button icon="fa fa-flag-checkered" label="Start" class="ui-button-rounded" style="margin-top: 20px;"></app-button>
      </div>
    </app-section-paragraph>
    <app-section-paragraph icon="fa fa-book" label="Start by a notice ...">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <app-button icon="fa fa-print" label="Print a notice" class="ui-button-rounded" style="margin-top: 20px;"></app-button>
      </div>
    </app-section-paragraph>
  </ng-container>

  <ng-container *ngIf="ID === 40">
    <app-section-paragraph icon="fa fa-users" label="You chose The indesctructibles" [collapsible]="true" [hasBorder]="true">
      <div class="team-view-container">
        <app-sub-grid [data]="teamdata">
          <ng-template #bodyTemplate let-rowData>
            <tr>
              <td>
                <img class="team-user-image" src="{{ rowData.image }}" width="25px" height="25px">
              </td>
              <td style="flex: 2;"> {{ rowData.col2 }} </td>
              <td style="flex: 1;"> {{ rowData.col3 }} </td>
              <td style="flex: 1; text-align: right;"> {{ rowData.col4 }} </td>
            </tr>
          </ng-template>
        </app-sub-grid>
        <div class="tool-container">
          <app-button icon="fa fa-pencil-alt" label="edit team" class="ui-button-rounded ui-fit-parent"></app-button>
        </div>
      </div>
    </app-section-paragraph>
    <app-section-paragraph icon="fa fa-times" label="Your team can't participate to this challenge" theme="danger">
      <div class="checklist-container">
        <span class="checklist-container-title">To access this challenge your team must:</span>
        <ul class="checklist">
          <li class="checklist-item">
            <span class="checklist-item-icon" [ngClass]="{danger: !preq.team.validated}">
              <i *ngIf="preq.team.validated" class="fa fa-check"></i>
              <i *ngIf="!preq.team.validated" class="fa fa-times"></i>
            </span>
            <span class="checklist-item-label">
              Your team should contain from {{preq.team.min}} to {{preq.team.max}} members
            </span>
          </li>
          <li class="checklist-item">
            <span class="checklist-item-icon" [ngClass]="{danger: !preq.member.validated}">
              <i *ngIf="preq.member.validated" class="fa fa-check"></i>
              <i *ngIf="!preq.member.validated" class="fa fa-times"></i>
            </span>
            <span class="checklist-item-label">
              {{preq.member.label}}
            </span>
          </li>
          <li class="checklist-item">
            <span class="checklist-item-icon" [ngClass]="{danger: !preq.scores.validated}">
              <i *ngIf="preq.scores.validated" class="fa fa-check"></i>
              <i *ngIf="!preq.scores.validated" class="fa fa-times"></i>
            </span>
            <span class="checklist-item-label">
              Validate these prequisities:
            </span>
          </li>
          <li *ngFor="let item of preq.scores.req" class="checklist-item checklist-score">
            <span class="checklist-item-icon" [ngClass]="{danger: !item.validated}">
              <i *ngIf="item.validated" class="fa fa-check"></i>
              <i *ngIf="!item.validated" class="fa fa-times"></i>
            </span>
            <span class="checklist-item-label">
              {{item.label}}
            </span>
            <app-skill-progress *ngIf="item.type === 'progress'" color="#E5CDD4" type="thick-horizontal" [displayedScore]="item.progress.displayedScore" [currentScore]="item.progress.currentScore"></app-skill-progress>
            <app-score-ring *ngIf="item.type === 'score'" [displayedScore]="item.progress.displayedScore" [currentScore]="item.progress.currentScore" diameter="32"></app-score-ring>
          </li>
          <li class="checklist-item">
            <span class="checklist-item-icon danger">
              <i *ngIf="!preq.validated" class="fa fa-lock"></i>
            </span>
            <span class="checklist-item-label danger">
              Validate items you don't have access to yet
            </span>
          </li>
        </ul>
      </div>
    </app-section-paragraph>
  </ng-container>

  <ng-container *ngIf="ID === 41">
    <app-attempts-view [attempts]="attempts"></app-attempts-view>
  </ng-container>
</div>
