@import "src/colors.scss";

:host {
  background-color: $base-bk-color;
}

.task-header-container {
  display: flex;
  flex-direction: column;
  // margin-bottom: 0.8333rem;
  margin-right: 2rem;
  min-height: 11.7rem;

  .task-header {
    // padding-top: 1.6667rem;
    display: flex;
    align-items: center;
    // background-color: $base-bk-color;
    // padding-bottom: 0.8333rem;
    min-height: 11.7rem;

    &.edit {
      flex-direction: column;
      align-items: unset;

      app-input {
        width: 100%;
        margin-bottom: 0.8333rem;
      }

      .links {
        display: flex;
        align-items: center;

        .category {
          display: flex;
          align-items: center;
          flex: 1;

          .parent-link {
            color: $base-color;
          }

          .parent-item {
            margin-left: 0.8333rem;
            color: $base-text-color;
            font-size: 1.2rem;
          }
        }

        .actions {
          display: flex;
          align-items: center;
          color: $base-color;
          font-size: 1.2rem;

          span {
            margin-right: 0.8333rem;
            cursor: pointer;

            span {
              margin-right: 0.8333rem;
            }
          }
        }
      }
    }

    &.small {
      height: 3.5833rem;
    }

    .task-user-image {
      border-radius: 9rem;
      background-color: white;
      margin-right: 1.5rem;

      img {
        border-radius: 9rem;
      }
    }

    .task-title {
      // margin-left: 0;
      margin-right: 0.8333rem;
      flex: 1;
      min-width: 0;

      &.skill {

      }

      p {
        font-size: 2.5rem;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: -.4rem;
      }
      span {
        color: $base-text-color;
        font-size: 1.6rem;
      }
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-right: 0.4167rem;

      span {
        display: block;

        &.user-avatar {
          position: relative;
        }

        &.user-id {
          color: $base-color;
          font-size: 1.6667rem;
          font-weight: bold;
        }
      }
    }

    .clock-icon {
      color: $dark-text-color;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 0.4167rem;

      &.finished {
        color: $light-text-color;
      }
    }

    .remaining-time {
      color: $dark-text-color;
      font-size: 2rem;
      font-weight: bold;

      &.finished {
        color: $light-text-color;
      }
    }
  }

  .team-count {
    margin-left: 1.6667rem;
    font-size: 1.6667rem;
    color: $dark-text-color;
  }

  .team-view-container {
    display: flex;
    align-items: center;

    app-sub-grid {
      flex: 3;
    }

    .tool-container {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      app-button {
        width: 13.3333rem;
      }
    }
  }

  .checklist-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: $base-text-color;

    &-title {
      font-weight: bold;
      padding-left: 0.8333rem;
    }

    .checklist {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        padding-top: 0.4167rem;
        padding-bottom: 0.4167rem;

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $base-color;
          height: 1.6667rem;
          width: 2.0833rem;

          &.danger {
            color: $section-danger-handle-color;
          }
        }

        &-label {
          flex: 1;

          &.danger {
            color: $section-danger-handle-color;
            font-weight: bold;
          }
        }

        &.checklist-score {
          border-bottom: 0.0833rem solid #E8D1D8;
          margin-left: 1.6667rem;
          min-height: 2.9167rem;

          &:last-child {
            border-bottom: 0.0833rem solid transparent;
          }

          app-skill-progress {
            width: 13.3333rem;
          }
        }
      }
    }
  }
}
