@import 'src/colors.scss';

.grid-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.4167rem;
  position: relative;

  .grid-filter-button {
    display: flex;
    align-items: center;
    color: white;
    height: 1.8333rem;
    font-size: 1rem;
    background-color: $base-color;
    border-radius: 0.8333rem;
    padding-left: 0.8333rem;
    padding-right: 0.4167rem;
    cursor: pointer;

    &.open {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
    
    &-icon {
      padding-right: 0.4167rem;
    }

    &-label {
      margin-right: 0.4167rem;
    }

    &-action {
      font-size: 0.8333rem;
      display: flex;
      align-items: center;

      .close-icon {
        margin-right: 0.4167rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.3333rem;
        height: 1.3333rem;
      }
    }
  }

  &-menu {
    width: 27.5rem;
    height: auto;
    padding: 1.25rem;
    color: white;
    background-color: $base-color;
    border-radius: 0.5rem;
    border-top-left-radius: unset;
    position: absolute;
    left: 0;
    top: 1.8333rem;
    z-index: 100;

    &-list {
      display: flex;

      &-label {
        font-size: 1rem;
        color: white;
        margin-right: 1.25rem;
      }
    }

    &-date-range {
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        margin: 0.4167rem;

        &-label {
          flex: 1;
        }
      }
    }

    &-activity {
      display: flex;
      flex-direction: column;

      &-label {
        font-size: 1rem;
        margin-top: 0.4167rem;
        margin-bottom: 0.4167rem;
      }
    }
  }
}