<div class="grid-filter" (clickOutside)="hideMenu($event)">
  <div class="grid-filter-button" [ngClass]="{open: menuOpened}">
    <span class="grid-filter-button-icon" (click)="toggleMenu($event)">
      <i class="{{icon}}"></i>
    </span>
    <span class="grid-filter-button-label" (click)="toggleMenu($event)">
      <ng-container *ngIf="mode === 'activity'">
        <ng-container *ngIf="selectedStatus === 2">
          Score : {{ranges[0]}} - {{ranges[1]}} %
        </ng-container>
        <ng-container *ngIf="selectedStatus === 0">Score : Locked</ng-container>
        <ng-container *ngIf="selectedStatus === 1">Score : Not Started</ng-container>
      </ng-container>
      <ng-container *ngIf="mode === 'dates'">
        From {{dateRanges[0] | date: 'd/MM/y'}} to {{dateRanges[1] | date: 'd/MM/y'}}
      </ng-container>
      <ng-container *ngIf="mode === 'basic'">
        {{label}}
      </ng-container>
      <ng-container *ngIf="mode === 'list'">
        {{label}}
      </ng-container>
    </span>
    <div class="grid-filter-button-action">
      <span *ngIf="type === 'standard'" class="close-icon" (click)="closeFilter($event)">
        <i class="fa fa-times"></i>
      </span>
      <app-switch *ngIf="type === 'default'" mode="dark-circular"></app-switch>
    </div>
  </div>
  <div *ngIf="menuOpened" class="grid-filter-menu">
    <div class="space"></div>
    <div *ngIf="mode === 'basic'">
      {{text}}
    </div>
    <div *ngIf="mode === 'list'" class="grid-filter-menu-list">
      <span class="grid-filter-menu-list-label">
        Select in the list
      </span>
      <app-listbox [items]="list" (onChange)="listItemSelected($event)"></app-listbox>
    </div>
    <div *ngIf="mode === 'dates'" class="grid-filter-menu-date-range">
      <div class="grid-filter-menu-date-range-item">
        <span class="grid-filter-menu-date-range-item-label">From</span>
        <app-date-picker-simple [date]="dateRanges[0]" (onChange)="dateChanged($event, 0)"></app-date-picker-simple>
      </div>
      <div class="grid-filter-menu-date-range-item">
        <span class="grid-filter-menu-date-range-item-label">Until</span>
        <app-date-picker-simple [date]="dateRanges[1]" (onChange)="dateChanged($event, 1)"></app-date-picker-simple>
      </div>
    </div>
    <div *ngIf="mode === 'activity'" class="grid-filter-menu-activity">
      <span class="grid-filter-menu-activity-label">Users in group [group name] for whom the activity is:</span>
      <app-selection [items]="status" mode="dark" (onChange)="changeStatus($event)"></app-selection>
      <span class="grid-filter-menu-activity-label" *ngIf="selectedStatus === 2">
        <b>Score range</b>
      </span>
      <app-slider [ranges]="ranges" *ngIf="selectedStatus === 2"></app-slider>
    </div>
  </div>
</div>
