@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: functions.toRem(48) functions.toRem(24);
}

.placeholder-icon {
  font-size: functions.toRem(48);
  color: var(--alg-secondary-color, #616f82);
  opacity: 0.5;
  margin-bottom: functions.toRem(16);

  &.active {
    color: var(--alg-primary-color, #4a6fa5);
    opacity: 1;
  }
}

.placeholder-text {
  color: var(--alg-secondary-color, #616f82);
  font-size: functions.toRem(15);
  max-width: functions.toRem(400);
  line-height: 1.5;
  margin: 0;
}

.placeholder-action {
  margin-top: functions.toRem(16);
}
