@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: inherit;
  background: var(--alg-white-color);
  border-radius: functions.toRem(8);
}

.container {
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: (calc(var(--alg-space-size-6) + functions.toRem(4))) (calc(var(--alg-space-size-6) + functions.toRem(4))) (calc(var(--alg-space-size-6) + functions.toRem(4))) var(--alg-space-size-5);
  border-bottom: 1px solid var(--alg-border-color);
}

.title {
  margin: 0;
  font-size: functions.toRem(18);
  font-weight: 600;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

.body {
  padding: var(--alg-space-size-5) var(--alg-space-size-5);
  overflow: scroll;
  box-sizing: border-box;
}

.footer {
  padding: (calc(var(--alg-space-size-6) + functions.toRem(4))) var(--alg-space-size-5);
  border-top: 1px solid var(--alg-border-color);
}
