<div class="presentation-item-container">
  <div class="presentation-item-image">
    <div
      class="image"
      [ngStyle]="{
        'background-image': 'url(assets/images/' + data.image + ')'
      }"
    ></div>
  </div>
  <div class="presentation-item-content">
    <span class="presentation-lock-key">
      <i *ngIf="data.key" class="fa fa-lock"></i>
      <i *ngIf="!data.key" class="fa fa-key"></i>
    </span>
    <div class="presentation-item-title">
      <div class="presentation-item-chapter-title">
        Chapter {{data.ID}} : {{ data.title }}
      </div>
      <div class="presentation-item-chapter-desc">
        Lorem ipsum
      </div>
    </div>
    <div class="presentation-bottom-row">
      <app-state-widget
        [icon]="data.category.icon"
        [type]="data.category.type"
      ></app-state-widget>
      <span *ngIf="data.weight >= 0" class="weight-view">
        {{ data.weight }} x
      </span>
      <app-score-ring
        [displayedScore]="data.progress.displayedScore"
        [currentScore]="data.progress.currentScore"
        diameter="24"
      ></app-score-ring>
    </div>
  </div>
</div>
