@import 'src/colors.scss';

.modify-section {
  display: flex;
  border-bottom: 0.0833rem solid $light-border-color;
  padding: 1rem 2rem;

  .section-comment {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $base-text-color;
  }
}
