<div class="widget" *ngIf="state$ | async as state">
  <div class="widget-loading" *ngIf="state.isFetching">Loading...</div>
  <div class="widget-error" *ngIf="state.isError">Error!</div>
  <div class="no-events" *ngIf="state.isReady && state.data.length === 0; else eventsBlock">
    There are currently no events
  </div>
  <ng-template #eventsBlock>
    <div class="widget-body">
      <div class="widget-scroll" #messagesScroll>
        <ng-container *ngIf="{ userCache: userCache$ | async, canCurrentUserLoadAnswers: canCurrentUserLoadAnswers$ | async, itemRoute: itemRoute$ | async } as threadMetadata">
          <alg-thread-message
            class="thread-message"
            [event]="event"
            [userCache]="threadMetadata.userCache ?? []"
            [canCurrentUserLoadAnswers]="threadMetadata.canCurrentUserLoadAnswers ?? false"
            [itemRoute]="threadMetadata.itemRoute ?? undefined"
            *ngFor="let event of state.data"
          ></alg-thread-message>
        </ng-container>
        <div class="footer-panel" *ngrxLet="threadStatus$ as threadStatus">
          <form class="send-form" [formGroup]="form" (ngSubmit)="sendMessage()">
            <textarea
              class="textarea"
              placeholder="Send a message..."
              pInputTextarea
              formControlName="messageToSend"
              [rows]="1"
              [autoResize]="true"
              (keydown.enter)="$event.preventDefault(); sendMessage()"
            ></textarea>
            <button
              class="alg-button-icon primary-color rounded send-button"
              type="submit"
              icon="pi pi-send"
              pButton
              [disabled]="!form.get('messageToSend')?.value?.trim() || !threadStatus?.data?.open"
            ></button>
          </form>
          <div class="thread-status">
            <div class="thread-status-caption" >
              <ng-container *ngIf="threadStatus?.data?.open">
                <span i18n>This thread is open</span>
              </ng-container>
              <ng-container *ngIf="threadStatus?.data?.open === false">
                <span i18n>This thread is closed</span>
              </ng-container>
              <ng-container *ngIf="threadStatus?.isFetching">
                <span i18n>Loading thread status...</span>
              </ng-container>
              <ng-container *ngIf="threadStatus?.isError">
                <span i18n>Error while loading thread info</span>
              </ng-container>
              <ng-container *ngIf="threadStatus === undefined">
                <span i18n>Could not load thread</span>
              </ng-container>
            </div>
            <div
              *ngrxLet="!!threadStatus && !!threadStatus.data && ((threadStatus.data.open && threadStatus.data.canClose) || (!threadStatus.data.open && threadStatus.data.canOpen)) as canSwitch"
              [pTooltip]="threadStatusTooltip"
              [tooltipDisabled]="canSwitch"
              tooltipPosition="top"
              tooltipStyleClass="alg-tooltip"
            >
              <button
                class="alg-button primary small"
                [disabled]="!canSwitch"
                pButton
                (click)="changeThreadStatus()"
                *ngIf="threadStatus && threadStatus.data"
              >
              <span *ngIf="threadStatus.data.open; else openThreadCaption" i18n>Close this thread</span>
              <ng-template #openThreadCaption>
                <span i18n>Open this thread</span>
              </ng-template>
              </button>
            </div>
            <ng-template #threadStatusTooltip>
              <span *ngIf="threadStatus?.data?.open; else notOpenedTooltipCaption" i18n>
                Only the user of the thread can close it.
              </span>
              <ng-template #notOpenedTooltipCaption>
                <span i18n>You are not allowed to open this thread.</span>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

