<div class="widget" *ngIf="state$ | async as state">
  <div class="widget-loading" *ngIf="state.isFetching">Loading...</div>
  <div class="widget-error" *ngIf="state.isError">Error!</div>
  <div class="no-events" *ngIf="state.isReady && state.data.length === 0; else eventsBlock">
    There are currently no events
  </div>
  <ng-template #eventsBlock>
    <div class="widget-body">
      <div class="widget-scroll" #messagesScroll>
        <ng-container *ngIf="{ userCache: userCache$ | async, canCurrentUserLoadAnswers: canCurrentUserLoadAnswers$ | async, itemRoute: itemRoute$ | async } as threadMetadata">
          <alg-thread-message
            class="thread-message"
            [event]="event"
            [userCache]="threadMetadata.userCache ?? []"
            [canCurrentUserLoadAnswers]="threadMetadata.canCurrentUserLoadAnswers ?? false"
            [itemRoute]="threadMetadata.itemRoute ?? undefined"
            *ngFor="let event of state.data"
          ></alg-thread-message>
        </ng-container>
        <div class="footer-panel" *ngrxLet="isThreadStatusOpened$; let isThreadStatusOpened">
          <form class="send-form" [formGroup]="form" (ngSubmit)="sendMessage()">
            <textarea
              class="textarea"
              placeholder="Send a message..."
              pInputTextarea
              formControlName="messageToSend"
              [rows]="1"
              [autoResize]="true"
              (keydown.enter)="$event.preventDefault(); sendMessage()"
            ></textarea>
            <button
              class="alg-button-icon primary-color rounded send-button"
              type="submit"
              icon="pi pi-send"
              pButton
              [disabled]="!form.get('messageToSend')?.value?.trim() || !isThreadStatusOpened"
            ></button>
          </form>
          <div class="thread-status">
            <div class="thread-status-caption">
              <ng-container *ngIf="isThreadStatusOpened === true">
                <span i18n>This thread is open</span>
              </ng-container>
              <ng-container *ngIf="isThreadStatusOpened === false">
                <span i18n>This thread is closed</span>
              </ng-container>
            </div>
            <ng-container *ngrxLet="isCurrentUserThreadParticipant$; let isCurrentUserThreadParticipant">
              <ng-container *ngrxLet="allowToOpenThreadState$; let allowToOpenThreadState">
                <div
                  *ngIf="isThreadStatusOpened !== undefined"
                  [pTooltip]="threadStatusTooltip"
                  [tooltipDisabled]="allowToOpenThreadState.isFetching || (isThreadStatusOpened && isCurrentUserThreadParticipant) || (!isThreadStatusOpened && !!allowToOpenThreadState.data)"
                  tooltipPosition="top"
                  tooltipStyleClass="alg-tooltip"
                >
                  <button
                    class="alg-button primary small"
                    [disabled]="allowToOpenThreadState.isFetching || (isThreadStatusOpened && !isCurrentUserThreadParticipant) || (!isThreadStatusOpened && !allowToOpenThreadState.data)"
                    pButton
                    (click)="changeThreadStatus()"
                  >
                    <span *ngIf="isThreadStatusOpened; else openThreadCaption" i18n>Close this thread</span>
                    <ng-template #openThreadCaption>
                      <span i18n>Open this thread</span>
                    </ng-template>
                  </button>
                </div>
                <ng-template #threadStatusTooltip>
                  <span *ngIf="isThreadStatusOpened; else notOpenedTooltipCaption" i18n>
                    Only the user of the thread can close it.
                  </span>
                  <ng-template #notOpenedTooltipCaption>
                    <span i18n>You are not allowed to open this thread.</span>
                  </ng-template>
                </ng-template>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

