@import 'src/colors.scss';
@import 'src/geometry.scss';

.table-container {
  padding-bottom: 1.6667rem;
  position: relative;

  .empty-group {
    text-align: center;
    font-style: italic;
    margin-bottom: 2.5rem;
    margin-top: 1.6667rem;
  }

  .selection-tool {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: $base-bk-color;

    max-width: 58rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    app-selection:first-child {
      margin: 0.8333rem;
    }
  }

  .tri-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 0.9167rem solid transparent;
    border-right: 0.9167rem solid transparent;
    border-bottom: 1.4167rem solid #ECF3FC;
  }
}

app-sub-section {
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.session-selectors {
  display: flex;
  align-items: center;

  span.label {
    font-size: 1rem;
    font-weight: bold;
    color: #7C7C7C;
    margin-right: 1.6667rem;
  }

  .date-selector {
    display: flex;
    align-items: center;
    margin-right: 1.6667rem;

  }

  .activity-selector {
    display: flex;
    align-items: center;

    .dialog-content {
      display: flex;
      flex-direction: column;

      .tree-content {
        padding-right: 1.6667rem;
        margin-bottom: 1.6667rem;
      }

      app-button {
        align-self: flex-end;
      }
    }
  }
}

.session-content {
  display: flex;
  flex-direction: column;

  app-button {
    align-self: center;
  }
}

span.comment {
  font-size: 1rem;
  margin-bottom: 0.4167rem;
}

.invitation-code {
  display: flex;
  flex-direction: column;

  span.comment {
    font-size: 1rem;
  }

  .auto-create {
    display: flex;
    margin-top: 0.8333rem;

    span {
      flex: 1;
      color: $nav-bk-color;
      font-weight: bold;
    }
  }

  .code-validation {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;

    span.label {
      color: $nav-bk-color;
      font-weight: bold;
      margin-right: 1.25rem;
      font-size: 1rem;
      flex: 1;

      &.orange {
        color: #F5A623;
      }

      &.green {
        color: #9ACC68;
      }

      &.red {
        color: #FF001F;
      }
    }

    .code-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
    }
  }
}

.invite-users {
  display: flex;
  flex-direction: column;
  margin-top: 0.8333rem;

  app-textarea {
    width: 100%;
  }

  app-button {
    margin-top: 0.8333rem;
    align-self: flex-end;

    ::ng-deep p-button button {
      width: 11.6667rem;
    }
  }
}

.spon-req {
  margin-top: 0.8333rem;
}

.import-csv {
  display: flex;
  align-items: center;

  span.comment {
    flex: 1;
  }

  app-button {
    ::ng-deep p-button button {
      width: 25.8333rem;
    }
  }
}

.edit-icon {
  color: $base-color;
}

.batch-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem;
}
