<ng-container *ngIf="state$ | async as state">
  <div class="spinner" *ngIf="state.isFetching && !state.data">
    <alg-loading size="medium"></alg-loading>
  </div>

  <alg-error
    *ngIf="state.isError"
    i18n-message message="Error while loading the user progress"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.data">
    <div class="refresh-button">
      <button class="alg-button basic" pButton icon="ph-duotone ph-arrows-clockwise" (click)="refresh()">
        Refresh
      </button>
    </div>
    <p-table
      class="alg-table"
      [columns]="columns"
      [value]="state.data"
      [loading]="state.isFetching"
      [tableStyle]="{'min-width': '599.98px'}"
      responsiveLayout="scroll"
      *ngrxLet="watchedGroup$; let watchedGroup"
    >
      <ng-template pTemplate="header" let-rowData let-columns>
        <tr *ngIf="rowData.length > 0">
          <ng-container *ngFor="let col of columns">
            <th>
              {{ col.header }}
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
      >
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'title'">
                <ng-container *ngIf="itemData && itemData.currentResult?.attemptId as parentAttemptId">
                  <div>
                    <a
                      class="alg-link"
                      [ngClass]="{ 'disabled font-bold text-black': rowData.id === itemData.item.id }"
                      [routerLink]="{
                        id: rowData.id,
                        contentType: rowData | contentTypeFromItem,
                        path: itemData.route.path.concat([ itemData.item.id ]),
                        parentAttemptId: parentAttemptId
                      } | url : [ 'progress', 'chapter-user-progress' ]"
                    >
                      {{ rowData.title }}
                    </a>
                  </div>
                  <ng-container *ngIf="rowData.type === 'Task'">
                    <a
                      class="alg-link item-title-link"
                      [routerLink]="{
                        id: rowData.id,
                        contentType: rowData | contentTypeFromItem,
                        path: itemData.item.id === rowData.id ? itemData.route.path : itemData.route.path.concat([ itemData.item.id ]),
                        parentAttemptId: parentAttemptId,
                        answer: {
                          best: true, participantId: watchedGroup ? watchedGroup.route.id : undefined
                        }
                      } | url"
                      *ngIf="rowData.submissions > 0 && (!watchedGroup || (watchedGroup.route.isUser && (rowData.currentUserPermissions | allowsWatchingAnswers)))"
                    >
                      {{ (!!watchedGroup ? 'watchingGroup' : '') | i18nSelect : {
                        watchingGroup: 'View the best answer',
                        other: 'Reload the best answer'
                      } }}
                    </a>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'latestActivityAt'">
                <ng-container *ngIf="rowData.latestActivityAt; else notStarted">
                  {{ rowData.latestActivityAt | date:'short' }}
                </ng-container>
                <ng-template #notStarted>
                  <span i18n>Not started</span>
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="'hintsRequested'">
                {{ rowData.hintsRequested }}
              </ng-container>
              <ng-container *ngSwitchCase="'timeSpent'">
                <ng-container *ngIf="rowData.latestActivityAt">
                  {{ rowData.timeSpent | duration }}
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'submissions'">
                <ng-container *ngIf="!['Chapter', 'Skill'].includes(rowData.type) && rowData.latestActivityAt">
                  {{ rowData.submissions }}
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'score'">
                <div class="score-ring" *ngIf="!rowData.noScore && rowData.latestActivityAt">
                  <alg-score-ring [currentScore]="rowData.score"></alg-score-ring>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ rowData[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <span i18n>There is no progress to report for this group/user.</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</ng-container>
