@import 'src/assets/scss/functions';

:host {
  display: block;
  padding: var(--alg-space-size-4) 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: toRem(13);
}

.score-ring {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title-link {
  display: inline-block;
  margin-top: toRem(5);
}
