<ng-container *ngIf="state$ | async as state">
  <div class="spinner" *ngIf="state.isFetching && !state.data">
    <alg-loading size="medium"></alg-loading>
  </div>

  <alg-error
    *ngIf="state.isError"
    i18n-message message="Error while loading the user progress"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>

  <div *ngIf="state.data">
    <p-table
      class="alg-table chapter-user-progress"
      [columns]="columns"
      [value]="state.data"
      [loading]="state.isFetching"
      [tableStyle]="{'min-width': '479px'}"
      responsiveLayout="scroll"
      *ngrxLet="watchedGroup$; let watchedGroup"
    >
      <ng-template pTemplate="header" let-rowData let-columns>
        <tr>
          <th [colSpan]="columns.length">
            <div class="header-container header-refresh">
              <p-button icon="pi pi-refresh" (click)="refresh()"></p-button>
            </div>
          </th>
        </tr>
        <tr *ngIf="rowData.length > 0">
          <ng-container *ngFor="let col of columns">
            <th>
              <div class="header-container">
                {{ col.header }}
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
      >
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'title'">
                <div class="title" *ngIf="itemData && itemData.currentResult?.attemptId as parentAttemptId">
                  <a
                    class="alg-link"
                    [ngClass]="{'disabled': rowData.id === itemData.item.id}"
                    [routerLink]="rowData | rawItemRoute | withPath : itemData.route.path.concat([ itemData.item.id ]) | withParentAttempt : parentAttemptId | url : [ 'progress', 'chapter-user-progress' ]"
                  >
                    {{ rowData.title }}
                  </a>

                  <ng-container *ngIf="rowData.type === 'Task'">
                    <a
                      pButton
                      class="alg-button p-button-rounded p-small-button p-button-outlined load-answer-button"
                      [label]="(!!watchedGroup ? 'watchingGroup' : '') | i18nSelect : {
                        watchingGroup: 'View the best answer',
                        other: 'Reload the best answer'
                      }"
                      [routerLink]="rowData | rawItemRoute | withPath : itemData.route.path : (itemData.item.id === rowData.id ? undefined : itemData.item.id) | withParentAttempt : parentAttemptId | url : itemData.item.id === rowData.id ? [] : [ 'progress', 'chapter-user-progress' ]"
                      *ngIf="!watchedGroup || (rowData.currentUserPermissions | allowsWatchingAnswers)"
                    ></a>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'latestActivityAt'">
                <ng-container *ngIf="rowData.latestActivityAt; else notStarted">
                  {{ rowData.latestActivityAt | date:'short' }}
                </ng-container>
                <ng-template #notStarted>
                  <span i18n>Not started</span>
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="'timeSpent'">
                <ng-container *ngIf="rowData.latestActivityAt">
                  {{ rowData.timeSpent | duration }}
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'submissions'">
                <ng-container *ngIf="!['Chapter', 'Skill'].includes(rowData.type) && rowData.latestActivityAt">
                  {{ rowData.submissions }}
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'score'">
                <div class="score-ring" *ngIf="rowData.latestActivityAt">
                  <alg-score-ring [diameter]="42" [currentScore]="rowData.score"></alg-score-ring>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ rowData[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <span i18n>There is no progress to report for this group/user.</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
