<div *ngIf="processing" class="block-ui"></div>
<alg-section-paragraph
  icon="fa fa-user-plus"
  i18n-label label="Let user join using a code"
  [collapsible]="true"
>
  <div class="invitation-code">
    <span class="content-title" i18n>Let users access this group using a password you send them.</span>

    <div class="code-state" *ngIf="codeInfo">
      <span class="label" *ngIf="codeInfo.hasCodeNotSet" i18n>There is currently no code set.</span>
      <span class="label" *ngIf="codeInfo.hasCodeUnused" i18n>This code has not been used yet (or usage resetted).</span>
      <span class="label" *ngIf="codeInfo.hasUnexpiringCode" i18n>This code can be used multiple times without expiring.</span>
      <ng-container *ngIf="codeInfo.hasCodeInUse && codeInfo.durationSinceFirstCodeUse && codeInfo.durationBeforeCodeExpiration">
        <span class="label green" i18n *ngIf="codeInfo.durationSinceFirstCodeUse.ms > 0; else disabledUntil">
          This code has been activated {{ codeInfo.durationSinceFirstCodeUse | toMin | number:'1.0-0' }} minutes ago,
          it will be disabled in {{ codeInfo.durationBeforeCodeExpiration | toMin | number:'1.0-0' }} minutes.
        </span>
        <ng-template #disabledUntil>
          <span class="label green" i18n>This code will be disabled in {{ codeInfo.durationBeforeCodeExpiration | toMin | number:'1.0-0' }} minutes.</span>
        </ng-template>
      </ng-container>
      <span class="label red" *ngIf="!codeInfo.hasCodeNotSet && codeInfo.hasCodeExpired" i18n>
        This code has expired on {{ codeInfo.codeExpiration | date:'medium' }}
      </span>
      <p-button
        i18n-label label="Generate a code"
        icon="fa fa-plus"
        styleClass="alg-button p-button-rounded"
        (onClick)="generateNewCode()"
        [disabled]="processing"
        *ngIf="codeInfo.hasCodeNotSet"
      ></p-button>
    </div>

    <div class="code-info" *ngIf="group && group.code">
      <div class="code-show">
        <span class="label" i18n>Code</span>
        <alg-code-token
          [code]="group.code"
          [showRefresh]="true"
          [showRemove]="true"
          (refresh)="generateNewCode()"
          (remove)="removeCode()"
        ></alg-code-token>
      </div>
      <div class="validity-selector">
        <span class="label" i18n>Validity</span>
        <alg-selection
          [items]="codeLifetimeOptions"
          [selected]="selectedCodeLifetimeOption"
          (change)="changeCodeLifetime($event)"
        ></alg-selection>

        <div class="duration-form-group" *ngIf="selectedCodeLifetimeOption === customCodeLifetimeOption">
          <alg-duration
            class="alg-duration"
            ngDefaultControl
            layout="DHM"
            [(ngModel)]="codeLifetimeControlValue"
            #control="ngModel"
            required
          ></alg-duration>
          <p-button
            icon="fa fa-check"
            styleClass="alg-button submit-duration-button"
            (onClick)="codeLifetimeControlValue && submitCodeLifetime(codeLifetimeControlValue.ms)"
            [disabled]="processing || !codeLifetimeControlValue || !control.dirty || codeLifetimeControlValue.ms === group.codeLifetime?.ms"
            [pTooltip]="durationTooltip"
            tooltipPosition="right"
            tooltipEvent="hover"
          ></p-button>
        </div>
      </div>
    </div>

  </div>

</alg-section-paragraph>
