<ng-container *ngIf="state$ | async as state">
  <alg-group-progress-grid
    *ngIf="state.isReady"
    [itemData]="itemData"
    [group]="state.data"
  >
  </alg-group-progress-grid>

  <div class="spinner" *ngIf="state.isFetching">
    <alg-loading size="medium"></alg-loading>
  </div>

  <alg-error
    *ngIf="state.isError"
    i18n-message message="Error while loading the group progress"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refresh()"
  ></alg-error>

</ng-container>


