@import 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.validation-text {
  color: var(--base-color);
  font-size: 1.6rem;
  text-align: center;
}

.table-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-locked {
  color: var(--notify-error-color);
}

.icon-unlocked {
  color: var(--alg-success-color);
}

.alg-table-footer {
  padding-right: 0;
}

.alg-table-footer-checkbox {
  margin-left: toRem(2);
}
