@let group = groupData.group;

@if (state$ | async; as state) {
  @if (state.isFetching && !state.data) {
    <alg-loading class="alg-flex-1"></alg-loading>
  }
  @if (state.isError) {
    <alg-error
      class="alg-flex-1"
      i18n-message message="Error while loading the group managers"
      [showRefreshButton]="true"
      (refresh)="fetchData()"
    ></alg-error>
  }
  @if (state.data; as managers) {
    <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>Managers of this group</h2>
    @if (managers.length > 0) {
      <alg-grid
        tableStyle="slanted"
        [loading]="removalInProgress || state.isFetching"
        [data]="managers"
        [(selection)]="selection"
        sortMode="single"
        [scrollable]="false"
        dataKey="id"
        >
        <ng-template #headerTemplate let-columns>
          <tr style="border: none; height: 100%">
            @if (group.currentUserCanManage === 'memberships_and_group') {
              <th class="alg-table-selection-col"></th>
            }
            <th style="min-width: 160px">
              <div class="alg-table-slanted-header">
                <div class="alg-table-slanted-header-content" i18n>
                Name
              </div>
              </div>
            </th>
            <th style="min-width: 110px;">
              <div class="alg-table-slanted-header">
                <div class="alg-table-slanted-header-content" i18n>
                Can Manage
              </div>
              </div>
            </th>
            <th style="width: 5rem; max-width: 5rem;">
              <div class="alg-table-slanted-header">
                <div class="alg-table-slanted-header-content" i18n>
                Can grant group access
              </div>
              </div>
            </th>
            <th style="width: 5rem; max-width: 5rem;">
              <div class="alg-table-slanted-header">
                <div class="alg-table-slanted-header-content" i18n>
                Can watch members
              </div>
              </div>
            </th>
            <th style="width: 11rem; max-width: 11rem;"></th>
          </tr>
        </ng-template>
        <ng-template
          #bodyTemplate
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
          >
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            @if (group.currentUserCanManage === 'memberships_and_group') {
              <td class="alg-table-selection-col">
                <div class="alg-table-selection-width">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </div>
              </td>
            }
            <td
              style="text-align: left; min-width: 160px; padding-left: 0.5rem; justify-content: left"
              tooltipPosition="top"
              tooltipStyleClass="tooltip-custom"
              >
              <a class="alg-link"
                [routerLink]="rowData | groupLink"
                >
                {{ rowData.login ? (rowData | userCaption) : rowData.name }}
              </a>
            </td>
            <td style="min-width: 110px;">
              {{ rowData.canManageAsText }}
            </td>
            <td style="width: 5rem; max-width: 5rem;">
              <div
                class="table-icon"
                [ngClass]="{ 'icon-unlocked': rowData.canGrantGroupAccess, 'icon-locked': !rowData.canGrantGroupAccess }"
                >
                @if (!rowData.canGrantGroupAccess) {
                  <i class="ph-bold ph-x"></i>
                }
                @if (rowData.canGrantGroupAccess) {
                  <i class="ph-bold ph-check"></i>
                }
              </div>
            </td>
            <td style="width: 5rem; max-width: 5rem;">
              <span
                class="table-icon"
                [ngClass]="{ 'icon-unlocked': rowData.canWatchMembers, 'icon-locked': !rowData.canWatchMembers }"
                >
                @if (!rowData.canWatchMembers) {
                  <i class="ph-bold ph-x"></i>
                }
                @if (rowData.canWatchMembers) {
                  <i class="ph-bold ph-check"></i>
                }
              </span>
            </td>
            <td style="width: 11rem; max-width: 11rem;">
              @if (group.currentUserCanManage === 'memberships_and_group') {
                <button
                  alg-button-icon
                  type="button"
                  icon="pi pi-pencil"
                  class="size-xs"
                  (click)="openPermissionsEditDialog(rowData)"
                ></button>
              }
            </td>
          </tr>
        </ng-template>
        <ng-template #footerTemplate>
          @if (datapager.canLoadMore$ | async) {
            <tr>
              <td [colSpan]="6">
                <div class="text-center">
                  <button
                    alg-button
                    class="size-s stroke"
                    icon="ph-duotone ph-arrow-circle-down"
                    (click)="fetchMoreData()"
                    [disabled]="state.isFetching"
                    i18n
                  >Load more</button>
                </div>
              </td>
            </tr>
          }
        </ng-template>
        @if (group.currentUserCanManage === 'memberships_and_group') {
          <ng-template #summaryTemplate>
            <div class="alg-table-summary slanted">
              <div class="alg-table-summary-left">
                <p-tableHeaderCheckbox class="alg-table-summary-checkbox"></p-tableHeaderCheckbox>
                <span class="alg-table-summary-select-all" (click)="onSelectAll(managers)" i18n>
              Select all
            </span>
              </div>
              <button
                class="size-s"
                alg-button-icon
                type="button"
                icon="ph-duotone ph-trash"
                (click)="onRemove($event)"
                [disabled]="removalInProgress || !state.isReady || selection.length === 0"
              ></button>
            </div>
          </ng-template>
        }
      </alg-grid>
    } @else {
      <div class="validation-text" i18n>
        This group has no dedicated managers.
      </div>
    }
    @if (group.currentUserCanManage === 'memberships_and_group') {
      <alg-group-manager-add
        [groupData]="groupData"
        [managers]="managers"
        (added)="onAdded()"
      ></alg-group-manager-add>
    }
  }
  <alg-manager-permission-dialog
    [visible]="isPermissionsEditDialogOpened"
    [group]="group"
    [manager]="dialogManager"
    (close)="closePermissionsEditDialog($event)"
  ></alg-manager-permission-dialog>
}
