@import 'src/variables';

:host {
  display: flex;
  flex-direction: column;
}

.add-manager-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: var(--light-color);
  margin: 2rem -1.6667rem -3rem -5.8333rem;
  position: relative;

  .tri-tag {
    left: 2.5rem;
  }
}

.error {
  padding: 1rem;
}

.validation-text {
  color: var(--base-color);
  font-size: 1.6rem;
  text-align: center;
}

.table-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-locked {
  color: var(--notify-error-color);
}

.icon-unlocked {
  color: var(--alg-success-color);
}
