@import 'src/colors.scss';
@import 'src/geometry.scss';

.mat-tab-group {
  font-family: inherit;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  .mat-tab-label-container {
    .mat-ink-bar {
      display: none;
    }

    .mat-tab-labels {
      // background-color: white;
      border-radius: $border-radius;
      .mat-tab-label {
        // background-color: $base-bk-color;
        @include main-tabs;

        &.mat-tab-label-active {
          @include main-tab-active;
        }
        &.mat-tab-label-active + .mat-tab-label {
          border-bottom-left-radius: .1rem;
        }
        &.mat-tab-label-before-active {
          border-bottom-right-radius: .1rem;
        }
        .mat-tab-label-content {
          i {
            margin-right: 1.25rem;
          }
        }
      }
    }
  }
}

:host ::ng-deep .mat-tab-body-wrapper {
  .mat-tab-body {
    border-radius: $border-radius 0 0 $border-radius;

     &:first-child {
       border-radius: 0 0 0 $border-radius;
     }

     &.mat-tab-body-active {
       background-color: white;
     }

    .selection-tool {
      display: flex;
      flex-direction: column;
      border-radius: $border-radius;
      background-color: $base-bk-color;

      max-width: 58rem;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;

      app-selection {

        &:first-child {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

        .selection-container {
          border-top: solid .1rem $dark-transparency-color;
            max-width: 100%;

            .square {
              height: 7rem;

              li {
                flex-direction: column;
                border-right: 0.1rem solid $dark-transparency-color;

                &:last-child {
                  border-right: none;
                  border-radius: 0 0 $border-radius 0;
                }
                &:first-child {
                  border-radius: 0 0 0 $border-radius;
                }
              }
            }
        }

      }

    }

    .section-chapter-wrapper {
      padding-bottom: 2rem;
      position: relative;

      .tri-tag {
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 0.9167rem solid transparent;
        border-right: 0.9167rem solid transparent;
        border-bottom: 1.4167rem solid #ECF3FC;
      }
    }

    .add-content-wrapper {
      display: flex;
      align-items: center;

      span.label {
        font-style: italic;
        margin-left: 1.6667rem;
        margin-right: 2rem;
      }

      app-input, app-activity-picker {
        flex: 1;
      }

      .dialog-content {
        display: flex;
        flex-direction: column;

        .tree-content {
          padding-right: 1.6667rem;
          margin-bottom: 1.6667rem;
        }

        app-button {
          align-self: flex-end;
        }
      }
    }

    .desc-image {
      padding: 1.6667rem;
      width: 100%;
      .image {
        width: 100%;
        height: 41.6667rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .validation-text {
      padding-left: 5.8333rem;
      color: $base-color;
      font-size: 1.6rem;
      margin: 2rem 0;
    }
    .validation-text+* {
      margin-top: 0;
      padding-top: 0 !important;
    }

    .data-list-container {
      list-style: none;
      padding-left: 0;
      color: $dark-text-color;

      &.activity {
        padding: 1.6667rem;

        li {
          display: flex;
          align-items: center;
          border-bottom: none;
          padding: 0;

          .activity-progress {
            width: 4.1667rem;
          }

          .activity-content {
            display: flex;
            align-items: center;
            flex: 1;
            box-sizing: border-box;
            height: 4rem;
            border-bottom: .1rem solid $light-border-color;

            &.locked {
              color: $light-text-color;
            }

            .activity-weight {
              margin-right: 2rem;
              width: 3.3333rem;
            }

            .activity-title {
              flex: 1;
            }

            .activity-status {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 2rem;
            }
          }
        }
      }

      &.sub-skill {
        li {
          margin-left: -3.3333rem;
          border-bottom: none;
          display: flex;
          align-items: center;

          .skill-icon {
            width: 2.9167rem;
          }

          .skill-content {
            display: flex;
            flex: 1;
            padding: 0.5833rem 0;
            border-bottom: .1rem solid $light-border-color;
          }
        }
      }

      li {
        display: flex;
        border-bottom: .1rem solid $light-border-color;
        padding: 0.5833rem 0;

        &:last-child {
          border-bottom: none;
        }

        .skill-icon {
          margin-right: 0.4167rem;
        }

        .skill-title {
          flex: 1;
        }
      }
    }

    .other-info {
      display: flex;

      app-sub-section {
        margin-left: 0;
        margin-right: 0;
        flex: 1;
      }
    }

    .other-list-container {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin: 0;

      li {
        position: relative;
        height: 4rem;
        line-height: 4rem;

        span.skill-title {
          // margin-bottom: 0.4167rem;
        }

        app-skill-progress {
          position: absolute;
          bottom: 0;
          left:0;
        }

      }
    }

    app-log-view-grid {
      margin-top: 2.5rem;
      margin-left: -3.3333rem;
      display: block;
    }

    app-grid {
      margin-top: 2.5rem;
    }

    .slanted-grid {

      &.compact-mode {
        .group-situation-data {
          height: 3.5833rem;
          background-color: $secondary-color;
        }
      }

      tr > th {
        border-left: none;
        border-right: none;
        height: 12.5rem;
        transform: skewX(-45deg);
        transform-origin: 0 100%;
        position: relative;
        background-color: #F8F8F8;
        min-width: 3.3333rem;

        .slanted-header {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          transform: translate(50%, 50%) skewX(45deg) rotate(-45deg);
          transform-origin: 0 50%;
          text-align: left;
          padding-left: 3rem;
          color: #8C8C8C;
          overflow: visible;
          font-size: 1.2rem;

          &-content {
            width: 15rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &:nth-child(odd) {
          background-color: white;
        }
      }

      tr > td {
        background-color: #F8F8F8;
        padding: 0;

        &:nth-child(odd) {
          background-color: white;
        }
      }

      &.unfreeze {
        .ui-table-unfrozen-view {
          position: relative;
          width: 100% !important;

          tr > th {
            background-color: #F8F8F8;

            &:nth-child(even) {
              background-color: white;
            }

            &:first-child {
              background-color: white;
            }
          }

          tr > td {
            background-color: #F8F8F8;

            &:nth-child(even) {
              background-color: white;
            }

            &:first-child {
              background-color: white;
            }
          }
        }
        .ui-table-frozen-view {
          display: none;
        }
      }

      .group-situation-data {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        height: 6rem;
        border-right: $border-filet;
        cursor: pointer;

        &.cross {
          background-color: #F9C6CD;
        }

        &.success {
          background-color: #9ACC68;
        }

        &.in-progress {
          background-color: $secondary-color;
        }

        &.not-started {
          background-color: #F1F1F1;
        }

        &.no-score {
          background-color: white;
        }

        &-compact {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3.3333rem;
          cursor: pointer;
        }

        .situation-top {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, .1);
          height: 2rem;
          color: rgba(0,0,0,.4);

          & > span {
            font-size: .9rem;
            font-weight: 700;
            margin-right: .5rem;

            &.time-spent {
              // flex: 1;
            }

            i {
              margin-right: 0.1667rem;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .situation-bottom {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          padding: 0.4167rem;


          .situation-lock {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6667rem;
            color: $nav-bk-color;

            &.open {
              color: #C6C6C6;
            }
          }

          .situation-check {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6667rem;
            color: white;
          }

          app-skill-progress {
            transform: rotate(180deg);
          }

          .progress-value {
            margin-left: 1rem;

            &.check {
              font-weight: bold;
              color: #9ACC68;
            }
          }

          & > span {
            color: rgba(0,0,0,.4);

            &.activity-date {
              margin-left: 1rem;
              font-size: .9rem;
              font-weight: bold;
            }
          }
        }
      }

    }

    .table-icon {
      display: inline-block;
      color: $base-color;
      font-size: 1.2rem;
      cursor: pointer;
      width: 1.6667rem;
      height: 1.6667rem;
      margin-right: 0.4167rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .activity-illustration-container {
      display: flex;

      app-image-upload {
        flex: 1;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .score-validation-container {
      display: flex;
      flex-direction: column;

      .score-validation-input {
        display: flex;

        app-dropdown {
          flex: 1;
        }

        app-input {
          width: 21rem;
          margin-left: 1.25rem;
        }
      }

      .score-weight-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &-label {
          flex: 1;
          font-size: 1.2rem;
          color: #8D8D8D;
        }
      }
    }
  }
}

:host ::ng-deep .slanted-grid .ui-table .ui-table-tbody > tr > td {
  border-bottom: none;
}
