<mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">
  <ng-container *ngIf="!editing">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-book"></i>
        Content
      </ng-template>
      <ng-template matTabContent>
        <div class="desc-image">
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url(assets/images/' + image + ')'
            }"
          ></div>
          <!-- <img src="assets/images/{{image}}" width="100%"> -->
        </div>
        <app-section label="Description" icon="fa fa-book" hideBorder="true">
          {{ desc }}
        </app-section>
        <p class="validation-text" *ngIf="activityORSkill">
          To validate this chapter, {{ validText }}
        </p>
        <ul *ngIf="activityORSkill" class="data-list-container activity">
          <ng-container *ngFor="let item of data.children; index as ln">
            <li>
              <span class="activity-progress">
                <app-score-ring
                  *ngIf="!item.isLocked"
                  diameter="30"
                  [displayedScore]="item.progress.displayedScore"
                  [currentScore]="item.progress.currentScore"
                ></app-score-ring>
              </span>
              <span
                class="activity-content"
                [ngClass]="{ locked: item.isLocked }"
              >
                <span
                  class="activity-weight"
                  *ngIf="enableScoreWeight"
                  pTooltip="Weight of this item, when computing the score of the chapter"
                  tooltipPosition="top"
                  tooltipStyleClass="tooltip-custom"
                >
                  <ng-container *ngIf="item.weight"
                    >x {{ item.weight }}</ng-container
                  >
                </span>
                <span class="activity-title"
                  >{{ ln + 1 }}. {{ item.title }}</span
                >
                <span
                  *ngIf="item.isLocked || item.hasKey"
                  class="activity-status"
                >
                  <i *ngIf="item.isLocked" class="fa fa-lock"></i>
                  <i
                    *ngIf="!item.isLocked && item.hasKey"
                    class="fa fa-key"
                  ></i>
                </span>
                <app-state-widget
                  [type]="item.category.type"
                  [icon]="item.category.icon"
                ></app-state-widget>
              </span>
            </li>
          </ng-container>
        </ul>
        <app-section
          *ngIf="!activityORSkill && data && data.children"
          label="Sub-skills"
          icon="fa fa-graduation-cap"
          hideBorder="true"
        >
          <ul class="data-list-container sub-skill">
            <ng-container *ngFor="let item of data.children">
              <li>
                <span class="skill-icon">
                  <i
                    *ngIf="item.icon === 'progress'"
                    class="fa fa-thumbs-up"
                  ></i>
                  <i
                    *ngIf="item.icon === 'regress'"
                    class="fa fa-thumbs-down"
                  ></i>
                  <i *ngIf="item.icon === 'stagnant'" class="fa fa-moon"></i>
                </span>
                <div class="skill-content">
                  <span class="skill-title">
                    {{ item.title }}
                  </span>
                  <app-skill-progress
                    style="width: 25%;"
                    type="thick-horizontal"
                    [displayedScore]="item.progress.displayedScore"
                    [currentScore]="item.progress.currentScore"
                  ></app-skill-progress>
                </div>
              </li>
            </ng-container>
          </ul>
        </app-section>
        <app-section
          *ngIf="!activityORSkill && parentSkills.length > 0"
          label="Parent skills"
          icon="fa fa-link"
          hideBorder="true"
        >
          <ul class="data-list-container">
            <ng-container *ngFor="let item of parentSkills">
              <li>
                <span class="skill-title">
                  {{ item.title }}
                </span>
                <app-skill-progress
                  style="width: 25%;"
                  type="thick-horizontal"
                  [displayedScore]="item.progress.displayedScore"
                  [currentScore]="item.progress.currentScore"
                ></app-skill-progress>
              </li>
            </ng-container>
          </ul>
        </app-section>
        <div *ngIf="!activityORSkill" class="other-info">
          <app-sub-section icon="fa fa-code-branch" label="Prequisites">
            <ul class="other-list-container">
              <ng-container *ngFor="let item of preqs">
                <li>
                  <span class="skill-title">
                    {{ item.title }}
                  </span>
                  <app-skill-progress
                    style="width: 100%;"
                    type="thin-horizontal"
                    [displayedScore]="item.progress.displayedScore"
                    [currentScore]="item.progress.currentScore"
                  ></app-skill-progress>
                </li>
              </ng-container>
            </ul>
          </app-sub-section>
          <app-sub-section icon="fa fa-folder-open" label="Parent skills">
            <ul class="other-list-container">
              <ng-container *ngFor="let item of preqs">
                <li>
                  <span class="skill-title">
                    {{ item.title }}
                  </span>
                  <app-skill-progress
                    style="width: 100%;"
                    type="thin-horizontal"
                    [displayedScore]="item.progress.displayedScore"
                    [currentScore]="item.progress.currentScore"
                  ></app-skill-progress>
                </li>
              </ng-container>
            </ul>
          </app-sub-section>
        </div>
        <ng-container *ngIf="data.ID === 42">
          <app-sessions
            *ngIf="activityORSkill"
            [sessions]="sessionData"
            [filters]="sessionFilters"
            [filterTypes]="filterChoice"
          ></app-sessions>
        </ng-container>
        <ng-container *ngIf="data.ID === 43">
          <app-mosaics [data]="mosaicData"></app-mosaics>
        </ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-chart-line"></i>
        <ng-container *ngIf="activityORSkill">Participation</ng-container>
        <ng-container *ngIf="!activityORSkill">Progress</ng-container>
      </ng-template>
      <ng-template matTabContent>
        <ng-container>
          <app-section
            icon="fa fa-graduation-cap"
            [label]="
              currentUser.type === 'user' ? 'User situation' : 'Group Situation'
            "
          >
            <div class="selection-tool">
              <app-selection
                [items]="situationTypes"
                (onChange)="viewTypeChanged($event)"
              ></app-selection>
              <app-selection
                *ngIf="selectedView === 1"
                [items]="groupTypes"
                type="square"
              ></app-selection>
            </div>
            <app-grid-filter-bar>
              <app-select
                [items]="filterChoice"
                [opened]="false"
                width="120"
                style="margin: 5px;"
              ></app-select>
              <ng-container *ngFor="let filter of gridFilters">
                <app-grid-filter
                  [icon]="filter.icon"
                  [label]="filter.label"
                  [type]="filter.type"
                  [mode]="filter.mode"
                  [text]="filter.text"
                  [ranges]="filter.ranges"
                  [dateRanges]="filter.dateRanges"
                  [list]="filter.list"
                  (onClose)="removeFilter(filter.ID)"
                ></app-grid-filter>
              </ng-container>
            </app-grid-filter-bar>

            <!-- Log View -->
            <ng-container *ngIf="selectedView === 0">
              <app-log-view-grid
                [data]="logviewdata"
                [cols]="logviewcols"
                [groupInfo]="logviewgroupinfo"
                [type]="currentUser.type"
              ></app-log-view-grid>
            </ng-container>
            <!-- Chapter View -->
            <ng-container *ngIf="selectedView === 1">
              <ng-container *ngIf="currentUser.type === 'user'">
                <app-grid
                  [selectedColumns]="chapterviewcols"
                  [columns]="chapterviewcols"
                  [data]="chapterviewdata"
                  [groupInfo]="chapterviewgroupinfo"
                  sortMode="single"
                  dataKey="title"
                  (expandWholeWidth)="onExpandWidth($event)"
                >
                  <ng-template #headerTemplate let-columns>
                    <tr>
                      <th
                        style="width: 50px;border-right: 1px solid transparent;"
                      ></th>
                      <th
                        *ngFor="let col of columns"
                        [pSortableColumn]="col.field"
                      >
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 70px;"></th>
                    </tr>
                  </ng-template>
                  <ng-template
                    #rowExpansionTemplate
                    let-rowData
                    let-columns="columns"
                  >
                    <tr>
                      <td></td>
                      <td colspan="6">
                        {{ rowData.title }}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template
                    #bodyTemplate
                    let-rowData
                    let-expanded="expanded"
                    let-columns="columns"
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      [pSelectableRow]="rowData"
                      [pSelectableRowIndex]="rowIndex"
                    >
                      <td>
                        <app-score-ring
                          *ngIf="rowData.progress"
                          [displayedScore]="rowData.progress.displayedScore"
                          [currentScore]="rowData.progress.currentScore"
                          diameter="32"
                        ></app-score-ring>
                      </td>
                      <td *ngFor="let col of columns">
                        <ng-container [ngSwitch]="col.field">
                          <ng-container *ngSwitchCase="'last_activity'">
                            <ng-container
                              *ngIf="
                                rowData.last_activity;
                                then last_activity_existing;
                                else last_activity_none
                              "
                            ></ng-container>
                            <ng-template #last_activity_existing>{{
                              rowData.last_activity | date: "d/MM/y"
                            }}</ng-template>
                            <ng-template #last_activity_none>-</ng-template>
                          </ng-container>
                          <ng-container *ngSwitchCase="'time_spent'">
                            <ng-container
                              *ngIf="
                                rowData.time_spent;
                                then time_spent_existing;
                                else time_spent_none
                              "
                            ></ng-container>
                            <ng-template #time_spent_existing
                              >{{ rowData.time_spent }} min</ng-template
                            >
                            <ng-template #time_spent_none>-</ng-template>
                          </ng-container>
                          <ng-container *ngSwitchDefault>{{
                            rowData[col.field]
                          }}</ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <span class="table-icon" [pRowToggler]="rowData">
                          <i *ngIf="expanded" class="fa fa-times"></i>
                          <i *ngIf="!expanded" class="fa fa-align-left"></i>
                        </span>
                        <span class="table-icon">
                          <i class="fa fa-puzzle-piece"></i>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                </app-grid>
              </ng-container>
              <ng-container *ngIf="currentUser.type === 'group'">
                <app-grid
                  [selectedColumns]="gcvc"
                  [columns]="gcvc"
                  [data]="gcvd"
                  sortMode="single"
                  [showGear]="false"
                  [scrollable]="true"
                  class="slanted-grid"
                  [ngClass]="{ unfreeze: !freeze, 'compact-mode': compactMode }"
                  [frozenWidth]="freeze ? '160px' : null"
                >
                  <ng-template #colgroupTemplate let-columns>
                    <colgroup>
                      <col
                        *ngFor="let col of columns"
                        [ngStyle]="{ 'width.px': columnWidth }"
                      />
                    </colgroup>
                  </ng-template>
                  <ng-template *ngIf="freeze" #frozenHeaderTemplate>
                    <tr>
                      <th
                        style="background-color: transparent;min-width: 160px;transform: none;"
                      >
                        <app-grid-gear
                          [freeze]="freeze"
                          [compactMode]="compactMode"
                          (compactChange)="onModeChange($event)"
                          (frozenChange)="onFrozenChange($event)"
                          (asRowChange)="onSwapColRow($event)"
                          (showDescChange)="onShowDescription($event)"
                        ></app-grid-gear>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template *ngIf="freeze" #frozenBodyTemplate let-rowIndex>
                    <tr>
                      <td>
                        {{ gcvr[rowIndex] }}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template #headerTemplate let-columns>
                    <tr style="border: none;">
                      <th
                        style="min-width: 160px;transform: none;width: 159px;"
                        *ngIf="!freeze"
                      >
                        <app-grid-gear
                          [freeze]="freeze"
                          [compactMode]="compactMode"
                          (compactChange)="onModeChange($event)"
                          (frozenChange)="onFrozenChange($event)"
                          (asRowChange)="onSwapColRow($event)"
                          (showDescChange)="onShowDescription($event)"
                        ></app-grid-gear>
                      </th>
                      <th *ngIf="asRow && showDesc" style="width: 300px;">
                        <div class="slanted-header">
                          <div class="slanted-header-content">
                            Description
                          </div>
                        </div>
                      </th>
                      <th
                        *ngFor="let col of columns"
                        [ngStyle]="{
                          'min-width.px': columnWidth,
                          'width.px': columnWidth
                        }"
                      >
                        <div class="slanted-header">
                          <div class="slanted-header-content">
                            {{ col }}
                          </div>
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    #bodyTemplate
                    let-rowData
                    let-columns="columns"
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td *ngIf="!freeze" style="width: 160px;">
                        {{ gcvr[rowIndex] }}
                      </td>
                      <td *ngIf="asRow && showDesc" style="width: 300px;">
                        Lorem Ipsum
                      </td>
                      <td
                        *ngFor="
                          let col of columns;
                          index as idx;
                          let menuName = rowIndex
                        "
                        [matMenuTriggerFor]="menuName"
                        [ngStyle]="{ 'width.px': columnWidth }"
                      >
                        <mat-menu
                          #menuName="matMenu"
                          yPosition="above"
                          class="grid-td-menu"
                        >
                          <div class="content">
                            <ng-container
                              *ngIf="!rowData[idx].progress.isValidated"
                            >
                              <span>
                                Give access?
                              </span>
                              <span>
                                <i class="fa fa-check"></i>
                                <span>Yes</span>
                              </span>
                              <span>
                                <i class="fa fa-times"></i>
                                <span>No</span>
                              </span>
                              <span>
                                <i class="fa fa-cog"></i>
                                <span>Custom</span>
                              </span>
                            </ng-container>
                            <ng-container
                              *ngIf="rowData[idx].progress.isValidated"
                            >
                              <span>
                                <i class="fa fa-clock"></i>
                                <span class="menu-label">Time spent</span>
                                <span class="menu-value">
                                  <ng-container
                                    *ngIf="rowData[idx].time_spent < 60"
                                    >{{
                                      rowData[idx].time_spent
                                    }}
                                    min</ng-container
                                  >
                                  <ng-container
                                    *ngIf="
                                      rowData[idx].time_spent >= 60 &&
                                      rowData[idx].time_spent < 1440
                                    "
                                    >{{
                                      rowData[idx].time_spent / 60
                                        | number: "1.0-0"
                                    }}
                                    hours</ng-container
                                  >
                                  <ng-container
                                    *ngIf="
                                      rowData[idx].time_spent >= 1440 &&
                                      rowData[idx].time_spent < 144000
                                    "
                                    >{{
                                      rowData[idx].time_spent / 1440
                                        | number: "1.0-0"
                                    }}
                                    days</ng-container
                                  >
                                  <ng-container
                                    *ngIf="rowData[idx].time_spent >= 144000"
                                    >{{
                                      rowData[idx].time_spent / 1440 / 30
                                        | number: "1.0-0"
                                    }}
                                    months</ng-container
                                  >
                                </span>
                              </span>
                              <span>
                                <i class="fa fa-question-circle"></i>
                                <span class="menu-label">Asked questions</span>
                                <span class="menu-value">{{
                                  rowData[idx].hints
                                }}</span>
                              </span>
                              <span>
                                <i class="fa fa-lightbulb"></i>
                                <span class="menu-label">Clues</span>
                                <span class="menu-value">{{
                                  rowData[idx].clues
                                }}</span>
                              </span>
                              <span>
                                <i class="fa fa-flag-checkered"></i>
                                <span class="menu-label">Attempts</span>
                                <span class="menu-value">{{
                                  rowData[idx].attempts
                                }}</span>
                              </span>
                              <span class="score">
                                <app-score-ring
                                  [isDark]="true"
                                  [displayedScore]="
                                    rowData[idx].progress.displayedScore
                                  "
                                  [currentScore]="
                                    rowData[idx].progress.currentScore
                                  "
                                  diameter="32"
                                ></app-score-ring>
                                <span>{{
                                  rowData[idx].last_activity | date: "d/MM/y"
                                }}</span>
                              </span>
                              <span class="clickable">
                                <i class="fa fa-caret-down"></i>
                                <span>UNOFFICIAL</span>
                              </span>
                              <span class="clickable">
                                <i class="fa fa-check"></i>
                                <span>VALIDATION</span>
                              </span>
                              <span class="clickable">
                                <i class="fa fa-list"></i>
                                <span>HISTORIQUE</span>
                              </span>
                            </ng-container>
                          </div>
                          <span class="indicator"></span>
                        </mat-menu>
                        <div
                          class="group-situation-data"
                          [ngStyle]="{ 'min-width.px': columnWidth }"
                        >
                          <div
                            class="situation-top"
                            *ngIf="!compactMode && activityORSkill"
                          >
                            <span class="time-spent">
                              <i class="fa fa-clock"></i>
                              <span>
                                <ng-container
                                  *ngIf="rowData[idx].time_spent < 60"
                                  >{{
                                    rowData[idx].time_spent
                                  }}
                                  min</ng-container
                                >
                                <ng-container
                                  *ngIf="
                                    rowData[idx].time_spent >= 60 &&
                                    rowData[idx].time_spent < 1440
                                  "
                                  >{{
                                    rowData[idx].time_spent / 60
                                      | number: "1.0-0"
                                  }}
                                  hours</ng-container
                                >
                                <ng-container
                                  *ngIf="
                                    rowData[idx].time_spent >= 1440 &&
                                    rowData[idx].time_spent < 144000
                                  "
                                  >{{
                                    rowData[idx].time_spent / 1440
                                      | number: "1.0-0"
                                  }}
                                  days</ng-container
                                >
                                <ng-container
                                  *ngIf="rowData[idx].time_spent >= 144000"
                                  >{{
                                    rowData[idx].time_spent / 1440 / 30
                                      | number: "1.0-0"
                                  }}
                                  months</ng-container
                                >
                              </span>
                            </span>
                            <span class="hints">
                              <i class="fa fa-question-circle"></i>
                              <span>{{ rowData[idx].hints }}</span>
                            </span>
                            <span class="clues">
                              <i class="fa fa-lightbulb"></i>
                              <span>{{ rowData[idx].clues }}</span>
                            </span>
                            <span class="attempts">
                              <i class="fa fa-flag-checkered"></i>
                              <span>{{ rowData[idx].attempts }}</span>
                            </span>
                          </div>
                          <div class="situation-bottom">
                            <app-score-ring
                              *ngIf="
                                rowData[idx].progress.isValidated &&
                                rowData[idx].progress.isStarted &&
                                activityORSkill
                              "
                              [displayedScore]="
                                rowData[idx].progress.displayedScore
                              "
                              [currentScore]="
                                rowData[idx].progress.currentScore
                              "
                              diameter="32"
                            ></app-score-ring>
                            <span
                              class="situation-lock open"
                              *ngIf="
                                rowData[idx].progress.isValidated &&
                                !rowData[idx].progress.isStarted &&
                                activityORSkill
                              "
                            >
                              <i class="fa fa-lock-open"></i>
                            </span>
                            <span
                              class="situation-lock"
                              *ngIf="
                                !rowData[idx].progress.isValidated &&
                                activityORSkill
                              "
                            >
                              <i class="fa fa-lock"></i>
                            </span>
                            <span
                              class="activity-date"
                              *ngIf="
                                !compactMode &&
                                rowData[idx].progress.isValidated &&
                                rowData[idx].progress.isStarted &&
                                activityORSkill
                              "
                              >{{
                                rowData[idx].last_activity | date: "d/MM/y"
                              }}</span
                            >
                            <app-skill-progress
                              *ngIf="!activityORSkill"
                              style="height: 30px;"
                              type="vertical"
                              [displayedScore]="
                                rowData[idx].progress.displayedScore
                              "
                              [currentScore]="
                                rowData[idx].progress.currentScore
                              "
                            ></app-skill-progress>
                            <span
                              class="progress-value"
                              *ngIf="!activityORSkill"
                              [ngClass]="{
                                check: rowData[idx].progress.currentScore >= 100
                              }"
                            >
                              <ng-container
                                *ngIf="
                                  rowData[idx].progress.currentScore >= 100
                                "
                              >
                                <i class="fa fa-check"></i>
                              </ng-container>
                              <ng-container
                                *ngIf="
                                  rowData[idx].progress.currentScore > 0 &&
                                  rowData[idx].progress.currentScore < 100
                                "
                              >
                                {{ rowData[idx].progress.currentScore }}
                              </ng-container>
                              <ng-container
                                *ngIf="rowData[idx].progress.currentScore == 0"
                              >
                                <i class="fa fa-hourglass-half"></i>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </app-grid>
              </ng-container>
            </ng-container>
          </app-section>
        </ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-comment"></i>
        Discussions
      </ng-template>
      <ng-template matTabContent> </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-link"></i>
        <ng-container *ngIf="activityORSkill">Related skills</ng-container>
        <ng-container *ngIf="!activityORSkill">Related activities</ng-container>
      </ng-template>
      <ng-template matTabContent> </ng-template>
    </mat-tab>
  </ng-container>
  <ng-container *ngIf="editing">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-book"></i>
        Content
      </ng-template>
      <ng-template matTabContent>
        <app-section label="Description" icon="fa fa-book">
          <app-textarea
            placeholder="Type your description..."
            [value]="desc"
          ></app-textarea>
        </app-section>
        <app-section label="Score / Validation" icon="fa fa-book">
          <div class="score-validation-container">
            <div class="score-validation-input">
              <app-dropdown
                [items]="validationType"
                placeholder="Select a type..."
                (onChange)="validationChanged($event)"
              ></app-dropdown>
              <app-input
                *ngIf="validationN"
                placeholder="Number of problems..."
              ></app-input>
            </div>
            <div class="score-weight-container">
              <span class="score-weight-container-label"
                ><b>Enable score weights</b></span
              >
              <app-switch
                mode="white"
                (onChange)="toggleScoreWeight($event)"
              ></app-switch>
            </div>
          </div>
        </app-section>
        <app-section label="Chapter" icon="fa fa-book">
          <div class="section-chapter-wrapper">
            <app-chapter-grid
              [data]="chapterdata"
              [cols]="chaptercols"
              [scoreWeight]="enableScoreWeight"
            ></app-chapter-grid>
            <span class="tri-tag"></span>
          </div>
          <app-sub-section icon="fa fa-sign-in-alt" label="Add a content" [close]="showNewContent" (onClose)="onCancelEdit($event)">
            <div class="add-content-wrapper">
              <app-input placeholder="New content ..." [value]="contentValue" (onChange)="onAddContent($event, 'contents')"></app-input>
              <span class="label">or</span>
              <app-activity-picker [trees]="trees"></app-activity-picker>
            </div>
            <app-new-content id="contents" *ngIf="showNewContent" [data]="contentTypes"></app-new-content>
          </app-sub-section>
        </app-section>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-cog"></i>
        Settings
      </ng-template>
      <ng-template matTabContent>
        <app-edit-mode [trees]="trees"></app-edit-mode>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>
