<div class="page-nav">
  <alg-watch-button *ngIf="allowWatching && showNewStartWatchButton"></alg-watch-button>
  <!-- We need to keep this code for support watching group on user page, as content of user page is not UserInfo yet -->
  <span
    *ngIf="allowWatching && !showNewStartWatchButton"
    class="round-icon-action-button"
    [ngClass]="isWatched ? 'watched' : 'watch'"
    (click)="isWatched ? stopWatch.emit() : watch.emit($event)"
  >
    <i class="fa fa-eye"></i>
  </span>
  <span *ngIf="allowFullScreen" class="top-bar-expand">
    <i class="fa fa-expand-arrows-alt"></i>
  </span>
  <alg-neighbor-widget
    class="navigator"
    [ngClass]="{ 'margin-left': allowWatching || allowFullScreen }"
    [navigationMode]="navigationMode"
    (parent)="parent.emit()"
    (left)="left.emit()"
    (right)="right.emit()"
  ></alg-neighbor-widget>
</div>

