<div class="page-nav">
  <span
    *ngIf="allowWatching"
    class="round-icon-action-button"
    [ngClass]="isWatched ? 'watched' : 'watch'"
    (click)="isWatched ? stopWatch.emit() : watch.emit($event)"
  >
    <i class="fa fa-eye"></i>
  </span>
  <span *ngIf="allowFullScreen" class="top-bar-expand">
    <i class="fa fa-expand-arrows-alt"></i>
  </span>
  <span class="navigator" *ngIf="navigationMode">
    <span class="p-buttonset">
      <button pButton type="button" icon="fa fa-arrow-up" (click)="parent.emit()" *ngIf="navigationMode.parent"></button>
      <button pButton type="button" icon="fa fa-chevron-left" (click)="left.emit()" [disabled]="!navigationMode.left"></button>
      <button pButton type="button" icon="fa fa-chevron-right" (click)="right.emit()" [disabled]="!navigationMode.right"></button>
    </span>
  </span>
</div>

