<div class="page-nav">
  <span
      *ngIf="allowWatching && !(isCurrentGroupWatched$ | async)"
      class="round-icon-action-button watch"
      (click)="onStartWatchClick($event)"
  >
    <i class="fa fa-eye"></i>
  </span>
  <span *ngIf="allowWatching && (isCurrentGroupWatched$ | async)" class="round-icon-action-button watched" (click)="stopWatch.emit()">
    <i class="fa fa-eye"></i>
  </span>
  <span *ngIf="!allowFullScreen && allowEditing" class="round-icon-action-button" (click)="edit.emit()">
    <i class="fa fa-pencil-alt"></i>
  </span>
  <span *ngIf="allowFullScreen" class="top-bar-expand">
    <i class="fa fa-expand-arrows-alt"></i>
  </span>
  <!--<span *ngIf="navigationMode === 'nextAndPrev'" class="navigator">
    <i class="fa fa-chevron-left"></i>
    <i class="fa fa-chevron-right"></i>
  </span>
  <span *ngIf="navigationMode === 'parent'" class="top-bar-menu">
    <i class="fa fa-th-large"></i>
  </span>-->
</div>

<p-overlayPanel
    #op
    [style]="{ width: '450px', marginTop: overlayPanelMarginTop ? '48px' : null }"
    appendTo="body"
>
  <ng-template pTemplate>
    <ng-container *ngIf="state$ | async as state">
      <div class="spinner-container" *ngIf="state.isFetching">
        <p-progressSpinner [style]="{width: '24px', height: '24px'}"></p-progressSpinner>
      </div>
      <div *ngIf="state.isError" i18n>Error while loading the activities</div>
      <div *ngIf="state.isReady && state.data.length === 0" i18n>
        There are no activities
      </div>
      <p-table
          class="alg-table --overlay-panel"
          [value]="state.data"
          *ngIf="state.isReady && state.data.length > 0"
      >
        <ng-template pTemplate="body" let-item>
          <tr>
            <td><span class="activity-name">{{ item.groupName }}</span></td>
            <td><a class="alg-link" [routerLink]="item | itemLink">{{ item.title }}</a></td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </ng-template>
</p-overlayPanel>

