@import 'src/variables';

.page-nav {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: var(--base-color);
    justify-content: center;
    color: white;
    cursor: pointer;

    &.watched {
      background-color: var(--secondary-color);
    }
  }
}

.round-icon-action-button {
  width: 3rem;
  border-radius: 1.5rem;
  margin-right: .5rem;
  margin-left: 1rem;

  &.watch {
    color: var(--base-color);
    background-color: #fff;
    border: 1px solid var(--light-border-color);
  }
}

.top-bar-expand {
  border-left: .1rem solid #E0E1E5;
  color: var(--base-color);
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
