@import "src/colors.scss";

.controls-zone {
  background-color: $nav-bk-color;
  height: 3.75rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.no-left-border {
  padding-left: -0.5rem;
}
.with-left-border {
  padding-left: 1rem;
  border-bottom-left-radius: 1rem;
}

:host ::ng-deep .login-button {
  background-color: transparent;
  border: none;
  margin-bottom: 0.3rem;

  &:hover {
    background-color: rgba(white, 0.1);
  }
}
