<div class="controls-zone" [ngClass]="drawLeftBorder ? 'with-left-border' : 'no-left-border'" *ngrxLet="session$ as session">
  <ng-container
    *ngIf="session && !session.tempUser; then authenticated else notAuthenticated"
  ></ng-container>

  <ng-template #authenticated>
    <alg-top-right-menu></alg-top-right-menu>
  </ng-template>

  <ng-template #notAuthenticated>
    <alg-language-picker class="lang-button" *ngIf="languages.length > 1"></alg-language-picker>
    <button
      class="alg-button-icon primary-color no-bg"
      icon="ph ph-power"
      (click)="login()"
      pButton
    ></button>
  </ng-template>
</div>
