@use 'src/assets/scss/functions';

:host {
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 functions.toRem(16);
  height: functions.toRem(32);
  border-radius: functions.toRem(20);
  background-color: var(--alg-observation-button-bg-color);

  &.only-icon-mode {
    .left-icon {
      margin-right: functions.toRem(6);
    }

    @media screen and (max-width: 599.98px) {
      padding: 0 functions.toRem(8);
    }
  }
}

.left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.title {
  margin: 0 functions.toRem(16);
  font-size: functions.toRem(12);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
