@import 'src/assets/scss/functions';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 toRem(16);
  height: toRem(32);
  border-radius: toRem(20);
  background-color: var(--alg-observation-button-bg-color);

  &.only-icon-mode {
    .left-icon {
      margin-right: toRem(6);
    }

    @media screen and (max-width: 599.98px) {
      padding: 0 toRem(8);
    }
  }
}

.left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0 toRem(16);
  font-size: toRem(12);
}
