@use 'src/variables';
@use "src/geometry.scss";

.captions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--alg-accent-dark-color);
}

.caption {
  flex: 1;
  margin-right: var(--alg-space-size-3);
  text-align: right;
}
