<ng-container *ngIf="state$ | async as state">
  <alg-loading class="alg-flex-1" size="medium" *ngIf="state.isFetching && !state.data"></alg-loading>
  <alg-error
    *ngIf="state.isError"
    class="alg-flex-1"
    [class.dark]="$any(state).error.status !== 403"
    [icon]="$any(state).error.status !== 403 ? 'ph-duotone ph-warning-circle' : undefined"
    [showRefreshButton]="$any(state).error.status !== 403"
    (refresh)="refresh()"
  >
    <span i18n *ngIf="$any(state).error.status === 403; else unknownError">
      You are not allowed to see activities of this user.
    </span>
    <ng-template #unknownError>
      <span i18n>Unable to load the recent activity</span>
    </ng-template>
  </alg-error>

  <ng-container *ngIf="state.data">
    <div class="refresh-button">
      <button class="stroke size-s" alg-button icon="ph-duotone ph-arrows-clockwise" (click)="refresh()" i18n>
        Refresh
      </button>
    </div>

    <div class="alg-table-page-wrapper">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="state.data">
          <ng-container cdkColumnDef="action">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Action</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              <div class="item-title-section">
                <div class="item-title-section-left">
                  <alg-score-ring
                    [currentScore]="rowData.score"
                    [diameter]="32"
                    *ngIf="rowData.score; else iconSection"
                  ></alg-score-ring>
                  <ng-template #iconSection>
                    <i class="item-icon {{ rowData.activityType | logActivityTypeIcon }}"></i>
                  </ng-template>
                </div>
                <div class="item-title">
                  <p class="item-title-caption">{{ rowData.activityType | logActionDisplay }}</p>
                  <a
                    class="alg-link"
                    [routerLink]="rowData.item | itemRoute: $any({ answer: { id: rowData.answerId } }) | url"
                    *ngIf="rowData.allowToViewAnswer && [ 'submission', 'saved_answer' ].includes(rowData.activityType) && rowData.answerId"
                  >
                    View answer
                  </a>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="content">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Content</th>
            <td
              class="alg-table-td"
              cdk-cell
              *cdkCellDef="let rowData"
              [algShowOverlay]="op"
              (overlayOpenEvent)="itemId.set(rowData.item.id)"
              (overlayCloseEvent)="itemId.set(undefined)"
              #overlay="algShowOverlay"
            >
              <a
                class="alg-link"
                [ngClass]="{'disabled': !rowData.item}"
                [routerLink]="rowData.item | itemRoute | url"
                algShowOverlayHoverTarget
              >
                {{ rowData.item.string.title }}
              </a>
              <ng-template #op>
                <alg-path-suggestion [itemId]="itemId()" (resize)="overlay.updatePosition()"></alg-path-suggestion>
              </ng-template>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="user">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>User</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              @if (rowData.user) {
                <a class="alg-link" [routerLink]="rowData.user | groupLink">{{ rowData.user | userCaption }}</a>
              } @else {
                {{ rowData.participant.name }}
              }
            </td>
          </ng-container>

          <ng-container cdkColumnDef="time">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Time</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
              {{ rowData.at | date:'short' }}
            </td>
          </ng-container>

          @if (state.data.length > 0) {
            <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
          }
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              <span i18n>There is no progress to report for this group/user.</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    @if (datapager.canLoadMore$ | async) {
      <div class="alg-table-load-more">
        <button
          alg-button
          class="size-s stroke"
          icon="ph-duotone ph-arrow-circle-down"
          (click)="fetchMoreRows()"
          [disabled]="state.isFetching || state.isError"
          i18n
        >Load more</button>
      </div>
    }
  </ng-container>
</ng-container>
