<ng-container *ngIf="state$ | async as state">
  <alg-loading class="alg-flex-1" size="medium" *ngIf="state.isFetching && !state.data"></alg-loading>
  <alg-error
    *ngIf="state.isError"
    class="alg-flex-1"
    [class.dark]="$any(state).error.status !== 403"
    [icon]="$any(state).error.status !== 403 ? 'ph-duotone ph-warning-circle' : undefined"
    [showRefreshButton]="$any(state).error.status !== 403"
    (refresh)="refresh()"
  >
    <span i18n *ngIf="$any(state).error.status === 403; else unknownError">
      You are not allowed to see activities of this user.
    </span>
    <ng-template #unknownError>
      <span i18n>Unable to load the recent activity</span>
    </ng-template>
  </alg-error>

  <ng-container *ngIf="state.data">
    <div class="refresh-button">
      <button class="alg-button basic" pButton icon="ph-duotone ph-arrows-clockwise" (click)="refresh()">
        Refresh
      </button>
    </div>
    <p-table
      class="alg-table"
      [value]="state.data"
      [loading]="state.isFetching"
      [tableStyle]="{'min-width': '599.98px'}"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header" let-rowData>
        <tr *ngIf="state.data.length > 0">
          <th i18n>Action</th>
          <th i18n>Content</th>
          <th i18n *ngIf="this.showUserColumn">User</th>
          <th i18n>Time</th>
        </tr>
      </ng-template>

      <ng-template
          pTemplate="body"
          let-rowData
          let-index="rowIndex"
      >
        <tr>
          <td>
            <div class="item-title-section">
              <div class="item-title-section-left">
                <alg-score-ring
                  [currentScore]="rowData.score"
                  [diameter]="32"
                  *ngIf="rowData.score; else iconSection"
                ></alg-score-ring>
                <ng-template #iconSection>
                  <i class="ph-duotone item-icon" [ngClass]="{
                    'ph-flag-checkered': rowData.activityType === 'result_started',
                    'ph-floppy-disk-back': rowData.activityType === 'saved_answer' || rowData.activityType === 'current_answer'
                  }"></i>
                </ng-template>
              </div>
              <div class="item-title">
                <p class="item-title-caption">{{ rowData.activityType | logActionDisplay }}</p>
                <a
                  class="alg-link"
                  [routerLink]="rowData.item | itemRoute: { answer: { id: rowData.answerId } } | url"
                  *ngIf="rowData.allowToViewAnswer && [ 'submission', 'saved_answer' ].includes(rowData.activityType) && rowData.answerId"
                >
                  View answer
                </a>
              </div>
            </div>
          </td>
          <td (mouseleave)="onMouseLeave($event)">
            <a
              class="alg-link"
              [ngClass]="{'disabled': !rowData.item}"
              [routerLink]="rowData.item | itemRoute | url"
              (mouseenter)="onMouseEnter($event, rowData.item.id, index)"
              #contentRef
            >
              {{ rowData.item.string.title }}
            </a>
          </td>
          <td *ngIf="this.showUserColumn">
            <a class="alg-link" [routerLink]="rowData.user | groupLink">{{ rowData.user | userCaption }}</a>
          </td>
          <td>{{ rowData.at | date:'short' }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td>
            <span i18n>There is no progress to report for this group/user.</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr *ngIf="datapager.canLoadMore$ | async">
          <td [attr.colspan]="this.showUserColumn ? 4 : 3">
            <div class="text-center">
              <button
                pButton
                class="alg-button basic"
                icon="ph-duotone ph-arrow-circle-down"
                i18n-label label="Load more"
                (click)="fetchMoreRows()"
                [disabled]="state.isFetching || state.isError"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</ng-container>

<p-overlayPanel
    styleClass="alg-path-suggestion-overlay"
    #op
>
  <ng-container *ngIf="op.overlayVisible">
    <alg-path-suggestion [itemId]="(showOverlay$ | async)?.itemId" (mouseleave)="closeOverlay()"></alg-path-suggestion>
  </ng-container>
</p-overlayPanel>
