<ng-container *ngIf="itemData && itemData.item.type === 'Chapter'">
  <div class="selection-center">
    <alg-selection (change)="onViewChanged($event)" [items]="viewItems" [selected]="viewSelected"></alg-selection>
  </div>

  <div class="chapter-view">
    <alg-item-log-view
      *ngIf="viewItems[viewSelected].value === 'log'"
      [itemData]="itemData"
    ></alg-item-log-view>

    <alg-item-chapter-view
      *ngIf="viewItems[viewSelected].value === 'chapter'"
      [itemData]="itemData"
      [session]="session"
    ></alg-item-chapter-view>
  </div>
</ng-container>
