<ng-container *ngIf="itemData">
  <div class="selection-center" *ngIf="!hideSelection">
    <nav class="tab-rounded">
      <a class="tab-rounded-item"
         [ngClass]="{'active': historyTab.isActive, 'prev': chapterGroupProgressTab?.isActive || chapterUserProgressTab?.isActive}"
         [routerLink]="'./progress/history'"
         routerLinkActive #historyTab="routerLinkActive"
         i18n
      >
        History
      </a>

      <a class="tab-rounded-item"
         [ngClass]="{'active': chapterGroupProgressTab.isActive, 'prev': chapterUserProgressTab?.isActive}"
         [routerLink]="'./progress/chapter'"
         routerLinkActive #chapterGroupProgressTab="routerLinkActive"
         *ngIf="!showChapterUserProgress"
         i18n
      >
        Chapter view
      </a>

      <a class="tab-rounded-item"
         [ngClass]="{'active': chapterUserProgressTab?.isActive}"
         [routerLink]="'./progress/chapter-user-progress'"
         routerLinkActive #chapterUserProgressTab="routerLinkActive"
         *ngIf="showChapterUserProgress"
         i18n
      >
        Chapter view
      </a>
    </nav>
  </div>

  <div>
    <alg-item-log-view
      *ngIf="historyTab?.isActive || !historyTab"
      [itemData]="itemData"
      [isWatchedGroup]="!!watchedGroup"
    ></alg-item-log-view>

    <div class="chapter-group-progress">
      <alg-chapter-group-progress
        *ngIf="chapterGroupProgressTab?.isActive"
        [itemData]="itemData"
      ></alg-chapter-group-progress>
    </div>

    <alg-chapter-user-progress
        *ngIf="chapterUserProgressTab?.isActive"
    ></alg-chapter-user-progress>
  </div>
</ng-container>
