@import 'src/colors.scss';
@import 'src/geometry.scss';

.selection-center {
  display: flex;
  flex-direction: column;

  width: 56rem;
  max-width: 56rem;

  margin-left: auto;
  margin-right: auto;

  app-selection:first-child {
    margin: 1rem;
  }
}

.item-chapter-view {
  margin-top: 1rem;
}
