<ng-container *ngIf="itemData">
  <div class="selection-center" *ngIf="!hideSelection">
    <alg-selection (change)="onViewChanged($event)" [items]="viewItems" [selected]="viewSelectedIndex"></alg-selection>
  </div>

  <div>
    <alg-item-log-view
      *ngIf="viewSelected?.value === 'log'"
      [itemData]="itemData"
      [logColumns]="logColumns"
    ></alg-item-log-view>

    <alg-item-chapter-view
      *ngIf="viewSelected?.value === 'chapter'"
      [itemData]="itemData"
    ></alg-item-chapter-view>

    <alg-chapter-user-progress
        *ngIf="viewSelected?.value === 'chapter-user-progress'"
    ></alg-chapter-user-progress>
  </div>
</ng-container>
