<p-tree [value]="data">
  <!-- Folder elements template -->
  <ng-template let-node pTemplate="folder">
    <span class="node-tree-item folder" [ngClass]="{'expanded': node.expanded, 'checked': node.checked}">
      <span class="node-item-branch">
        <span *ngIf="!node.root" class="top-branch"></span>
        <span class="bottom-branch folder-branch">
          <span *ngIf="node.expanded" class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content">
        <span (click)="nodeExpand($event, node)" class="node-select">
          <i *ngIf="!node.expanded && !node.checked" class="pi pi-folder" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}"></i>
          <i *ngIf="node.expanded && !node.checked" class="pi pi-folder-open" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}"></i>
          <i *ngIf="!node.expanded && node.checked" class="pi pi-folder" style="color: white;" [ngStyle]="{'fontSize.rem': node.root ? 2: 1.4}"></i>
          <i *ngIf="node.expanded && node.checked" class="pi pi-folder-open" style="color: white;" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}"></i>
        </span>
        <span (click)="nodeCheck($event, node)" class="node-label" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}">{{
          node.title
        }}</span>
      </span>
    </span>
  </ng-template>
  <!-- Leaf elements template -->
  <ng-template let-node pTemplate="leaf">
    <span class="node-tree-item" [ngClass]="{'checked': node.checked}">
      <span class="node-item-branch" [ngStyle]="{'width.rem': node.checked ? 2.75 : 2.9167}">
        <span class="top-branch"></span>
        <span class="bottom-branch"></span>
      </span>
      <span class="node-item-content">
        <span (click)="nodeExpand($event, node)" class="node-select">
          <i *ngIf="node.checked" class="pi pi-check" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}"></i>
          <i *ngIf="!node.checked" class="pi pi-circle-on" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}"></i>
        </span>
        <span (click)="nodeCheck($event, node)" class="node-label" [ngStyle]="{'fontSize.rem': node.root ? 2 : 1.4}">{{
          node.title
        }}</span>
      </span>
    </span>
  </ng-template>
</p-tree>
