:host ::ng-deep .ui-tree {
  width: 100%;
  background-color: transparent !important;
  border: none;
  padding: 0;
}

:host ::ng-deep .ui-tree-container {
  padding: 0 !important;
}

:host ::ng-deep .ui-tree-toggler {
  display: none !important;
}

:host ::ng-deep .ui-chkbox {
  display: none !important;
}

:host ::ng-deep .ui-treenode-label {
  width: 100%;
  color: #9d9d9d !important;
  padding: 0 !important;
}

:host ::ng-deep .ui-treenode {
  padding: 0 !important;
}

:host ::ng-deep .ui-treenode-content {
  border: none !important;
}

:host ::ng-deep .ui-treenode-content:focus {
  outline: none;
}

:host ::ng-deep .ui-treenode-icon {
  margin: 0 !important;
}

:host ::ng-deep .ui-treenode-children {
  border-left: 0.0833rem solid #4A90E2;
  padding-left: 3rem !important;
}

:host ::ng-deep p-treenode:last-child > .ui-treenode > .ui-treenode-children {
  border-left: 0.0833rem solid transparent;
  padding-left: 3rem !important;
}

:host ::ng-deep
  p-treenode:last-child >
  .ui-treenode >
  .ui-treenode-content
  .node-tree-item
  .node-item-branch .bottom-branch {
    border-left: none !important;
}

:host ::ng-deep
  p-treenode:last-child >
  .ui-treenode >
  .ui-treenode-content
  .node-tree-item
  .node-item-branch .top-branch {
    border-bottom-left-radius: 0.8333rem;
}

:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {
  box-shadow: none;
}

.node-tree-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3.3333rem;
  position: relative;
  cursor: pointer;

  &.expanded .folder-branch {
    position: relative;
  }

  &.folder .node-item-branch .top-branch {
    width: 2.3333rem;
  }

  &.checked {
    .node-item-content {
      border-radius: 9rem !important;
      background-color: #dbe9f9 !important;
    }

    .node-select {
      border-radius: 50%;
      background-color: #4a90e2;
      color: white;
    }
  }
  
  .node-item-branch {
    display: flex;
    flex-direction: column;
    width: 3.1667rem;
    min-height: 3.3333rem;
    z-index: 10;

    .top-branch {
      border-bottom: 0.0833rem solid #4A90E2; 
      border-left: 0.0833rem solid #4A90E2; 
      flex: 1;
    }

    .bottom-branch {
      border-left: 0.0833rem solid #4A90E2; 
      flex: 1;

      .mask-branch {
        position: absolute;
        border-right: 0.0833rem solid #4A90E2;
        right: 0;
        height: 1.25rem;
        width: 0.1667rem;
        bottom: 0;
      }
    }
  }

  .node-item-content {
    right: 0;
    height: 2.1667rem;
    padding: 0.0833rem 0.25rem;
    position: absolute;
    left: 2.0833rem;
    display: flex;
    align-items: center;
    
    .node-label {
      flex: 1;
      font-size: 1.2rem;
    }
  }

  .node-select {
    width: 1.6667rem;
    height: 1.6667rem;
    display: flex;
    margin-right: 1.25rem;
    align-items: center;
    justify-content: center;
    z-index: 11;
    color: #4a90e2;
  }
}