@use 'src/assets/scss/functions';

.title {
  margin-top: functions.toRem(38);
  margin-bottom: 0;
}

.form-item-view {
  display: flex;
  align-items: center;
  margin: functions.toRem(16) 0;
}

.form-item-label {
  width: 30%;
  display: block;
  font-size: functions.toRem(16);
  color: var(--alg-form-item-label);
}

.form-item-control {
  margin-left: functions.toRem(16);
  flex: 1;

  &.another-input {
    display: flex;
    align-items: center;

    .first-child {
      margin-right: 2rem;

      &.stretch {
        flex: 1;
      }
    }

    .date-pickers {
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      .date-label {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.form-item-duration {
  margin: functions.toRem(16) 0;
}

.input-wrapper-duration {
  height: functions.toRem(78);
}

.form-item-datepicker {
  margin: functions.toRem(16) 0;
  height: functions.toRem(62);
}

.delete-button {
  padding: 1rem 0;
}

.date-note {
  margin: var(--alg-space-size-6) 0 0 0;
}
