@import 'src/assets/scss/functions';

.container {
  padding: 0 toRem(12);
  height: toRem(40);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--alg-accent-color);
  border-radius: toRem(8);
}

.message-icon {
  margin: 0 toRem(10) 0 0;
  color: var(--alg-accent-dark-color);
  font-size: toRem(17);
}

.message-text {
  color: var(--alg-secondary-color);
  font-size: toRem(14);
}
