@import 'src/colors.scss';

.input-wrapper {
  display: flex;
  border-radius: 0.4167rem;
  height: 2.6667rem;
  position: relative;

  &.large {
    height: 3.75rem;

    input {
      font-size: 2.6667rem;
      font-weight: 300;
      padding-left: 3.75rem;
      line-height: 3.75rem;
    }

    .icon {
      left: 1.4167rem;
    }
  }

  &.light {
    input {
      background-color: white;
    }
  }

  .icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    margin-top: -.5em;
    font-size: 1.2rem;
    height: 1rem;
    line-height: 1rem;
    color: $base-text-color;
  }

  input {
    width: 100%;
    display: flex;
    background-color: #D3DBE7;
    border: none;
    box-shadow: 0 0.0833rem #C9CFD7 inset;
    border-radius: 0.4167rem;
    padding-left: 2.5rem;
    font-size: 1.3333rem;
    line-height: 2.6667rem;
    color: $base-text-color;

    &.has-button {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
      color: $base-text-color;
      font-size: 1.2rem;
    }
  }
    
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8333rem;
    color: white;
    background-color: $base-color;
    border-top-right-radius: 0.4167rem;
    border-bottom-right-radius: 0.4167rem;
    cursor: pointer;
  }

}