@use 'src/assets/scss/functions';

.permission-indicator-section {
  margin: functions.toRem(16);
}

.note-caption {
  font-size: 1rem;
}

:host {
  background-color: var(--alg-observation-button-bg-color);
  border-radius: functions.toRem(8);
}

.header {
  padding: 0 functions.toRem(16);
  height: functions.toRem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header-title {
  flex: 1;
  color: #545454;
}

.header-icon {
  margin-right: functions.toRem(8);
  color: var(--alg-accent-dark-color);
  font-size: functions.toRem(16);
}

.header-arrow-icon {
  color: var(--alg-accent-dark-color);
  font-size: functions.toRem(16);
}

.content {
  border-top: functions.toRem(1) solid rgba(0, 0, 0, 0.1);
  border-bottom: functions.toRem(1) solid rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 0 functions.toRem(16);
  height: functions.toRem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-caption {
  flex: 1;
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
  font-style: italic;
}

.give-access-button {
  display: inline-flex;
  align-items: center;
}

.no-access {
  margin: functions.toRem(16);
}

.can-view-container {
  display: flex;
}

.grant-access-button {
  margin-left: var(--alg-space-size-6);
}
