<div class="section-container" [ngClass]="theme">
  <alg-section-header
    class="header"
    [title]="header"
    [icon]="icon"
    [theme]="theme"
    [styleClass]="{ disabled: disabled, 'cursor-pointer': collapsible }"
    (click)="onCollapse()"
  >
    <ng-template #content>
      <div class="content">
        <p-tag
          [class]="messageClass"
          *ngIf="!(collapsed && collapsible) && errorMessage"
          styleClass="mr-2"
          [severity]="severity"
          [value]="errorMessage"
        ></p-tag>
        <div class="template alg-flex-1" *ngIf="contentTemplate && collapsed && collapsible">
          <ng-container
            [ngTemplateOutlet]="contentTemplate"
            [ngTemplateOutletContext]="{ $implicit: true }"
          ></ng-container>
        </div>
        <span class="toggle-expand" *ngIf="collapsible">
          <i *ngIf="collapsed" class="ph-bold ph-caret-down"></i>
          <i *ngIf="!collapsed" class="ph-bold ph-caret-up"></i>
        </span>
      </div>
    </ng-template>
  </alg-section-header>

  <ng-container
    *ngIf="contentTemplate && (!collapsed || !collapsible)"
    [ngTemplateOutlet]="contentTemplate"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>
</div>
