<div class="section-container" [ngClass]="theme">
  <alg-section-header
    class="header"
    [caption]="header"
    [icon]="icon"
    [theme]="theme"
    [styleClass]="{ disabled: disabled, 'cursor-pointer': collapsible }"
    (click)="onCollapse()"
  >
    <ng-template #content>
      <div class="content">
        @if (!(collapsed && collapsible) && errorMessage) {
          <div class="alg-tag mr-2 {{ messageStyleClass }}">
            {{ errorMessage }}
          </div>
        }
        @if (contentTemplate && collapsed && collapsible) {
          <div class="template alg-flex-1">
            <ng-container
              [ngTemplateOutlet]="contentTemplate"
              [ngTemplateOutletContext]="{ $implicit: true }"
            ></ng-container>
          </div>
        }
        @if (collapsible) {
          <span class="toggle-expand">
            @if (collapsed) {
              <i class="ph-bold ph-caret-down"></i>
            }
            @if (!collapsed) {
              <i class="ph-bold ph-caret-up"></i>
            }
          </span>
        }
      </div>
    </ng-template>
  </alg-section-header>

  @if (contentTemplate && (!collapsed || !collapsible)) {
    <ng-container
      [ngTemplateOutlet]="contentTemplate"
      [ngTemplateOutletContext]="{ $implicit: false }"
    ></ng-container>
  }
</div>
