<p-overlayPanel #panel appendTo="body" styleClass="user-progress-overlay-panel" hideTransitionOptions="0s">
  <ng-template pTemplate>
    <div class="user-progress-info">
      <div class="content validated">
        <ng-container *ngIf="progress && (progress.timeSpent > 0 || progress.score > 0); else notStarted">
          <span>
            <i class="fa fa-clock"></i>
            <span class="menu-label" i18n>Time spent</span>
            <span class="menu-value">{{ progress.timeSpent | duration }}</span>
          </span>
          <span class="score">
            <alg-score-ring
              [isDark]="true"
              [currentScore]="progress.score"
              [diameter]="32"
              *ngIf="!progress.validated"
            ></alg-score-ring>
            <span class="situation-check" *ngIf="progress.validated">
              <i class="fa fa-check"></i>
            </span>
          </span>
        </ng-container>
        <ng-template #notStarted>
          <span class="not-started" i18n="In progress matrix, explanation when cell is empty">Not started</span>
        </ng-template>
        <span
          *ngIf="canEditPermissions"
          class="clickable"
          (click)="editPermissions.emit()"
          >
          <i class="fa fa-lock"></i>
          <span i18n>ACCESS</span>
        </span>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
