@import 'src/colors.scss';
@import 'src/geometry.scss';

.user-progress-info {
  background-color: transparent;
  box-shadow: none;
  min-height: unset !important;

  .content {
    background-color: var(--base-color);
    color: white;
    width: 100%;
    border-radius: $border-radius;
    padding: 0.4167rem;
    box-shadow: 0 0.1667rem 0.3333rem -.1rem rgba(0, 0, 0, .2), 0 0.3333rem 0.4167rem 0 rgba(0, 0, 0, .14), 0 .1rem 1rem 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;

    &.validated {
      background-color: var(--dark-base-color);
    }

    & > span {
      display: flex;
      align-items: center;
      padding: 0.4167rem;
      font-size: 1.2rem;

      &:last-child {
        border-bottom: none;
      }

      &.score {
        border-top: .1rem solid #295485;
        justify-content: center;
        border-bottom: none;

        alg-score-ring {
          color: white;
          margin-right: 1rem;
        }
      }

      &.clickable {
        height: 2.9167rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: .1rem solid #295485;
        background-color: var(--base-color);
        margin-left: -0.4167rem;
        margin-right: -0.4167rem;
        padding-left: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #295485;
        }

        &:last-child {
          margin-bottom: -0.4167rem;
          border-bottom: none;
        }

        i {
          margin-right: 1rem;
        }
      }

      span.menu-label {
        flex: 1;
      }

      span.menu-value {
        margin-left: 1rem;
      }

      i {
        margin-right: 0.4167rem;
        width: 1.6667rem;
      }
    }
  }
}

.not-started {
  min-width: 10rem;
  justify-content: center;
  padding-bottom: 1rem !important;
}

.situation-check {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
