<div class="section-chapter-wrapper">
  <div class="score-weight-container">
    <div class="score-weight">
      <span class="score-weight-label alg-base-text-color" i18n>Enable score weight</span>
      <alg-switch
        data-testid="enable-score-weight"
        [(ngModel)]="scoreWeightEnabled"
        (ngModelChange)="onEnableScoreWeightChange($event)"
      ></alg-switch>
    </div>
  </div>

  @if (data.length > 0) {
    <div class="alg-table-horizontal-scroll">
      <table
        class="alg-table-v2 editable"
        cdk-table
        [dataSource]="data"
        cdkDropList
        (cdkDropListDropped)="orderChanged($event)"
        [cdkDropListData]="data"
        [multiTemplateDataRows]="true"
      >
        <ng-container cdkColumnDef="reorder">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td reorder-handle" cdk-cell *cdkCellDef="let rowData">
            <i class="ph-duotone ph-arrows-down-up"></i>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="checkbox">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
            @let isSelected = !!(selectedRows | findInArray: rowData);
            <input type="checkbox" [checked]="isSelected" (change)="onSelect(rowData)" />
          </td>
        </ng-container>

        <ng-container cdkColumnDef="editScore">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
            <alg-input-number
              data-testid="edit-score-weight"
              [style.width.rem]="3"
              inputStyleClass="size-s"
              [(ngModel)]="rowData.scoreWeight"
              (keyup)="onScoreWeightChange()"
              [min]="0"
              [max]="100"
            ></alg-input-number>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="type">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData;">
            {{ rowData.type }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="title">
          <th class="alg-table-th alg-flex-1" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td alg-flex-1" cdk-cell *cdkCellDef="let rowData">
            @if (itemData && itemData.currentResult?.attemptId; as attemptId) {
              <a
                class="main alg-link"
                [ngClass]="{'disabled': !rowData.id}"
                [routerLink]="rowData | itemRoute: { path: itemData.route.path.concat([ itemData.item.id ]) } |
                with: (rowData.result?.attemptId ? { attemptId : rowData.result.attemptId } : { parentAttemptId: attemptId }) |
                url: ['edit-children']"
              >
                {{ rowData.title }}
              </a>
            }
          </td>
        </ng-container>

        <ng-container cdkColumnDef="invisible">
          <th class="alg-table-th alg-flex-1" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td alg-flex-1" cdk-cell *cdkCellDef="let rowData">
            <ng-container i18n>Non-visible content</ng-container> ({{ rowData.id }})
          </td>
        </ng-container>

        <ng-container cdkColumnDef="edit">
          <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef></th>
          <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
            <button
              class="size-s"
              type="button"
              icon="{{
                rowData.contentViewPropagation === 'as_content' ? 'ph-duotone ph-eye' : rowData.contentViewPropagation === 'as_info'
                ? 'ph-duotone ph-lock-simple' : rowData.contentViewPropagation === 'none' ? 'ph-duotone ph-eye-slash' : ''
              }}"
            (click)="openPropagationEditMenu(rowData)"
            alg-button-icon
            [cdkMenuTriggerFor]="menu"
            [cdkMenuPosition]="propagationEditMenuPositions()"
          ></button>
          </td>
        </ng-container>

        <tr
          class="alg-table-body-tr"
          cdk-row
          *cdkRowDef="let row; columns: displayedFullColumns(); when: whenItemVisible"
          cdkDrag
          cdkDragPreviewContainer="parent"
          cdkDragPreviewClass="alg-table-drag-preview"
          [cdkDragData]="row"
        ></tr>

        <tr
          class="alg-table-body-tr"
          cdk-row
          *cdkRowDef="let row; columns: displayedWithInvisibleColumns(); when: whenItemInvisible"
          cdkDrag
          cdkDragPreviewContainer="parent"
          cdkDragPreviewClass="alg-table-drag-preview"
          [cdkDragData]="row"
        ></tr>
      </table>
    </div>

    <div class="alg-table-footer">
      <div class="alg-table-footer-left">
        <label for="select-all-checkbox">
          <input
            type="checkbox"
            class="alg-table-footer-checkbox"
            id="select-all-checkbox"
            (change)="onSelectAll()"
            [checked]="data.length === selectedRows.length"
          />
          <span class="alg-table-footer-select-all" i18n>
            Select all
          </span>
        </label>
      </div>
      <button
        class="size-s"
        type="button"
        icon="ph-duotone ph-trash"
        (click)="onRemove()"
        [disabled]="selectedRows.length === 0"
        alg-button-icon
      ></button>
    </div>
  } @else {
    <alg-empty-content
      class="empty-content"
      icon="ph-duotone ph-folder-simple-minus"
      i18n-message message="No children for this chapter."
    ></alg-empty-content>
  }
</div>

<div class="add-item-container">
  <alg-add-item
    [type]="type"
    [addedItemIds]="addedItemIds"
    (contentAdded)="addChild($event)"
  ></alg-add-item>
</div>

<ng-template #menu>
  @if (propagationEditItemIdx !== undefined) {
    @let childData = data[propagationEditItemIdx];
    @if (childData) {
      <div class="menu" cdkMenu>
        <alg-propagation-edit-menu
          [childData]="childData"
          (clickEvent)="onContentViewPropagationChanged($event, propagationEditItemIdx)"
          (openAdvancedConfigurationDialogEvent)="openAdvancedPermPropagationConfigurationDialog(childData, propagationEditItemIdx)"
        ></alg-propagation-edit-menu>
      </div>
    }
  }
</ng-template>
