@import 'src/assets/scss/functions';

.section-chapter-wrapper {
  padding: 0;
}

.add-item-container {
  margin-top: toRem(16);
}

.reorder-handle {
  cursor: grab;
}

.main {
  flex: 1;
  font-size: toRem(16);
}

.type {
  color: var(--alg-secondary-color);
  font-size: toRem(16);
}

.score-weight-container {
  display: flex;
  justify-content: flex-end;
}

.score-weight {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-weight-label {
  margin-right: 1rem;
}
