@use 'src/assets/scss/functions';

.section-chapter-wrapper {
  padding: 0;
}

.add-item-container {
  margin-top: functions.toRem(16);
}

.reorder-handle {
  cursor: grab;
}

.main {
  flex: 1;
  font-size: functions.toRem(16);
}

.type {
  color: var(--alg-secondary-color);
  font-size: functions.toRem(16);
}

.score-weight-container {
  display: flex;
  justify-content: flex-end;
}

.score-weight {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-weight-label {
  margin-right: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--alg-primary-color);
  border-radius: functions.toRem(10);
  border: none;
  overflow: hidden;
  box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
}
