@import 'src/colors.scss';

.form-item-view {
  display: flex;
  align-items: center;
  margin: 15px;

  .form-item-label {
    display: block;
    font-size: 12px;
    width: 250px;
    color: $dark-text-color;
    font-weight: bold;
  }

  .form-item-control {
    flex: 1;

    &.another-input {
      display: flex;
      align-items: center;

      .first-child {
        margin-right: 20px;

        &.stretch {
          flex: 1;
        }
      }

      .date-pickers {
        display: flex;
        align-items: center;
        font-size: 12px;

        .date-label {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}