<alg-section-paragraph icon="fa fa-user-plus" label="Invite users" [collapsible]="true">
  <span class="content-title">Add users name list, separated by commas.</span>
  <div class="invite-users">
    <alg-textarea icon="show" placeholder="pseudo, pseudo..." (valueChange)="changeText($event)">
    </alg-textarea>

    <div *ngIf="!processing">

      <alg-message *ngIf="tooManyLogins" type="error" detail="You cannot invite more than 100 users at once"
        [closable]="false">
      </alg-message>

      <alg-button label="Invite" class="ui-button-rounded" (click)="invite()" [disabled]="!canClick || processing">
      </alg-button>

      <alg-message *ngFor="let message of messages" [type]="message.type" [detail]="message.detail"
        summary={{message.summary}}></alg-message>
    </div>
    <p-progressSpinner *ngIf="processing"></p-progressSpinner>

  </div>
</alg-section-paragraph>
