:host {
  display: block;
  width: 50vw;
}

.spinner-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &, &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    background: var(--base-text-color);
    opacity: 0.25;
  }
}

.message {
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: var(--alg-space-size-5) 0 var(--alg-space-size-6);
}

.action-button {
  margin-bottom: var(--alg-space-size-6);
}
