<div class="control-container">
  <span class="label" i18n>From:</span>
  <alg-input-date class="control"
    [ngModel]="canEnterFrom()"
    (ngModelChange)="onCanEnterFromChange($event)"
    data-testid="can-enter-from-control"
    #canEnterFromRef
   />
</div>
<div class="control-container">
  <span class="label" i18n>Until:</span>
  <alg-input-date class="control"
    [ngModel]="canEnterUntil()"
    (ngModelChange)="onCanEnterUntilChange($event)"
    data-testid="can-enter-until-control"
    #canEnterUntilRef
   />
</div>
@if (control()?.invalid) {
  <alg-input-error [control]="control()!" />
} @else {
  <p class="alg-text-small note" i18n>
    The time is entered in your own timezone ({{ currentDate() | date: 'zzzz' }})
  </p>
}
