@use 'src/assets/scss/functions';

.control-container {
  display: flex;
  align-items: center;
  margin-top: var(--alg-space-size-6);
}

.label {
  width: functions.toRem(50);
  font-size: functions.toRem(14);
}

.control {
  margin-left: var(--alg-space-size-6);
}

.note {
  margin: var(--alg-space-size-6) 0;
}
