<div
  class="yourself-header"
  [ngClass]="{ folded: isFolded, unfolded: !isFolded }"
>
  <div class="user-image">
    <img src="assets/images/_messi.jpg" style="width: 7.5rem; height: 7.5rem;"/>
  </div>
  <div class="user-info">
    <div [ngStyle]="{ opacity: isScrolled ? 0 : 1 }">
      <span class="user-name">Cyril KITSCH</span>
      <span class="make-public">Make public</span>
      <app-switch mode="white"></app-switch>
    </div>
    <span class="user-type">
      <i class="fa fa-user"></i>
      <span>Student graduated in 2019</span>
    </span>
    <span class="user-site">
      <i class="fa fa-external-link-alt"></i>
      <a href="www.cyrik.com">www.cyrilk.com</a>
    </span>
    <span class="user-location">
      <i class="fa fa-map-marker-alt"></i>
      <span>France</span>
    </span>
  </div>
  <div class="certificates">
    <app-button
      label="Certificates"
      icon="fa fa-medal"
      class="ui-button-success ui-button-rounded"
    ></app-button>
  </div>
</div>
