@import 'src/colors.scss';
@import 'src/geometry.scss';

:host {

  .loader {
    width:100%;
    display: flex;
    justify-content: center;
  }

  .empty-message {
    font-style: italic;
    text-align: center;
    font-size: medium;
  }

  .slanted-grid {

    font-family: 'titillium', sans-serif;

    tr  {
      border: none;

      > th {
        border:none;
        height: 12.5rem;
        transform: skewX(-45deg);
        transform-origin: 0 100%;
        position: relative;
        background-color: #F8F8F8;
        min-width: 3.3333rem;

        .slanted-header {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          transform: translate(50%, 50%) skewX(45deg) rotate(-45deg);
          transform-origin: 0 50%;
          text-align: left;
          padding-left: 3rem;
          color: #8C8C8C;
          overflow: visible;
          font-size: 1.2rem;

          &-content {
            padding-right: 10px;
            width: 15rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &:nth-child(odd) {
          background-color: white;
        }

        &:not(:last-child) {
          border-bottom: .1rem solid #C8C8C8;
        }

        &.empty {
          min-width: 160px;
          transform: none;

          &.first {
            width: 159px;
          }

          &.last {
            width: 130px;
            background-color: transparent;
          }
        }
      }

      > td {
        background-color: white;

        border: none;
        padding: 0;
        &.users {
          color: #787878;
          height: 4rem;
          max-height: 4rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1.2rem;
          width: 13.3333rem;
        }

        &:not(:first-child) {
          border-left: .1rem solid #C8C8C8;
          border-right: .1rem solid#C8C8C8  ;
        }
      }
    }
  }
}

.user-progress-info {
  background-color: transparent;
  box-shadow: none;
  min-height: unset !important;

  .content {
    background-color: $base-color;
    color: white;
    width: 100%;
    border-radius: $border-radius;
    padding: 0.4167rem;
    box-shadow: 0 0.1667rem 0.3333rem -.1rem rgba(0, 0, 0, .2), 0 0.3333rem 0.4167rem 0 rgba(0, 0, 0, .14), 0 .1rem 1rem 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;

    &.validated {
      background-color: $dark-base-color;
    }

    & > span {
      display: flex;
      align-items: center;
      padding: 0.4167rem;
      font-size: 1.2rem;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &.score {
        border-top: .1rem solid #295485;
        justify-content: center;
        border-bottom: none;

        alg-score-ring {
          color: white;
          margin-right: 1rem;
        }
      }

      &.clickable {
        height: 2.9167rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: .1rem solid #295485;
        background-color: $base-color;
        margin-left: -0.4167rem;
        margin-right: -0.4167rem;
        padding-left: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #295485;
        }

        &:last-child {
          margin-bottom: -0.4167rem;
          border-bottom: none;
        }

        i {
          margin-right: 1rem;
        }
      }

      span.menu-label {
        flex: 1;
      }

      span.menu-value {
        margin-left: 1rem;
      }

      i {
        margin-right: 0.4167rem;
        width: 1.6667rem;
      }
    }
  }
}
