<alg-composition-filter
  [defaultValue]="defaultFilter"
  (change)="onFilterChange($event)"
></alg-composition-filter>

<p *ngIf="state === 'error';else noError" class="error-message">
  <i class="fa fa-exclamation-triangle"></i>
  Error while loading the data
</p>

<ng-template #noError>

  <div class="loader" *ngIf="state === 'fetching' && data.rows.length === 0">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <ng-container *ngIf="state === 'ready' && data.rows.length === 0" [ngSwitch]="data.type">
    <p class="empty-message" *ngSwitchCase="'Users'">This group has no users</p>
    <p class="empty-message" *ngSwitchCase="'Teams'">This group has no teams</p>
    <p class="empty-message" *ngSwitchCase="'Groups'">This group has no sub-groups</p>
  </ng-container>

  <p-table #table
    *ngIf="data.rows.length > 0"
    [columns]="data.items"
    [value]="data.rows"
    class="slanted-grid"
    [loading]="state === 'fetching'"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="empty first"></th>
        <th *ngFor="let col of data.items">
          <div class="slanted-header">
            <div class="slanted-header-content" pTooltip="{{ col.title }}" tooltipPosition="top" [showDelay]="100">
              {{ col.title }}
            </div>
          </div>
        </th>
        <th class="empty last"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-row
      let-columns="columns"
    >
      <tr>
        <td class="users" pTooltip="{{ row.header }}" tooltipPosition="left" [showDelay]="100">
          {{ row.header }}
        </td>
        <td *ngFor="let col of columns; let colIndex = index">
          <ng-container *ngIf="row.data[colIndex]">
            <alg-user-progress
              [userProgress]="row.data[colIndex]"
              [canAccess]="data.can_access"
              (permEditionRequested)="onAccessPermissions(row.header, row.id, col.id)"
            ></alg-user-progress>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <alg-permissions-edit-dialog
    [visible]="dialog === 'opened'"
    [title]="dialogTitle"
    [targetType]="currentFilter"
    [permissions]="dialogPermissions"
    (close)="onDialogClose($event)"
  ></alg-permissions-edit-dialog>
</ng-template>
