@import 'src/colors.scss';

:host {
  display: block;
}

.content-type-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  max-width: 150px;
  margin: 0 auto;

  .item-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85px;
      height: 85px;
      background-color: $base-color;
      color: white;
      border-radius: 85px;
      font-size: 40px;
    }
  }

  .item-title {
    font-size: 14px;
    font-weight: bold;
    color: $dark-text-color;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .item-description {
    font-size: 12px;
    color: $base-text-color;
    text-align: center;
    flex: 1;
    overflow: hidden;
  }

  &:hover {
    background-color: $base-color;
    .item-image-wrapper {
      span {
        background-color: white;
        color: $base-color;
      }
    }

    .item-title {
      color: white;
    }

    .item-description {
      color: white;
    }
  }
}