@import 'src/colors.scss';

:host {
  display: block;
}

.content-type-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18.75rem;
  padding: 0.8333rem;
  background-color: transparent;
  cursor: pointer;
  max-width: 12.5rem;
  margin: 0 auto;

  .item-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.0833rem;
      height: 7.0833rem;
      background-color: $base-color;
      color: white;
      border-radius: 7.0833rem;
      font-size: 3.3333rem;
    }
  }

  .item-title {
    font-size: 1.1667rem;
    font-weight: bold;
    color: $dark-text-color;
    margin-bottom: 0.8333rem;
    margin-top: 0.8333rem;
  }

  .item-description {
    font-size: 1.2rem;
    color: $base-text-color;
    text-align: center;
    flex: 1;
    overflow: hidden;
  }

  &:hover {
    background-color: $base-color;
    .item-image-wrapper {
      span {
        background-color: white;
        color: $base-color;
      }
    }

    .item-title {
      color: white;
    }

    .item-description {
      color: white;
    }
  }
}