@use 'src/assets/scss/functions';

:host {
  position: fixed;
  bottom: var(--alg-space-size-5);
  right: var(--alg-space-size-5);
  z-index: 900;
  display: flex;
  align-items: center;
}

.save {
  margin-right: functions.toRem(4);
}

.button {
  margin-left: var(--alg-space-size-6);
}
