<app-task-header
  [isScrolled]="scrolled"
  [isFolded]="folded"
  [isStarted]="isStarted"
  [isCollapsed]="collapsed"
  [title]="taskdata.title"
  [editing]="editing"
  [parents]="parents"
></app-task-header>
<div>
  <app-task-tab
    [activityORSkill]="activityORSkill"
    [editing]="editing"
    [data]="taskdata"
    [parentSkills]="parentSkills"
    image="france.jpg"
    desc="It won't be a bigger problem to find one video game lover in your neighbor.
    Since the introduction of Virtual Game, it has been achieving great heights
    so far as its popularity and technological advancement are concerned. The
    history of video game is as intersting as a fairy tale."
    (expandWholeWidth)="collapsed = $event"
    ></app-task-tab
  >
</div>
<!-- <p>Task works</p> -->