:host {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list-item-left {
  display: flex;
  align-items: center;
}

.activity-progress {
  margin-right: var(--alg-space-size-5);
}

.lock-icon {
  margin-left: var(--alg-space-size-5);
  color: var(--alg-primary-color);
}
