@import "../../../../variables";
@import "src/geometry";

.tree-header {
  background-color: var(--nav-bg-color);
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: .1rem solid var(--nav-border-secondary-color);
  cursor: pointer;

  .tree-header-handle {
    display: flex;
    height: 3.5rem;
    width: 5rem;
    margin-right: 1rem;
    background-color: var(--nav-bg-handle-color);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: white;
    align-items: center;
    font-size: 1.5rem;

    i:first-child {
      margin-right: 1rem;
      margin-left: .5rem;
      color: rgb(255, 255, 255, .6);
    }

    .icon-folder {
      padding-right: 1rem;
      height: 2.1rem;
    }
  }

  .tree-header-mygroups {
    display: flex;
    height: 3.5rem;
    margin-right: 1rem;
    background-color: var(--nav-bg-secondary-color);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: white;
    align-items: center;
    font-size: 1.5rem;

    i:first-child {
      margin-right: 1rem;
      margin-left: .5rem;
    }
  }

  .tree-header-title {
    font-size: 1.6rem;
    letter-spacing: .01em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    @extend .line-clamp-2;
  }
}

.tree-header.selected-header {
  background-color: var(--base-bk-color);

  .tree-header-title {
    color: var(--nav-bg-secondary-color);
  }
}

:host i .fa {
  font-size: 1.2rem;
}
