
<div class="tree-header" *ngIf="data && data.parent" (click)="navigateToParent()">
  <span class="tree-header-handle">
    <i class="fa fa-chevron-left"></i>
    <div class="icon-folder"><img src="/assets/images/tree-folder.svg" alt=""></div>
  </span>
  <span class="tree-header-title">{{ data.parent.title }}</span>
</div>

<p-tree [value]="nodes" i18n-emptyMessage emptyMessage="There is no content to display">

  <!-- "chapter" type -->
  <ng-template let-node pTemplate="chapter">
    <span
      class="node-tree-item folder"
      [ngClass]="{ expanded: node.expanded, locked: node.locked, current: node.data && node.data.current }"
    >
      <span class="node-item-branch">
        <span class="top-branch">
          <span class="mask-branch"></span>
        </span>
        <span class="bottom-branch folder-branch">
          <span class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content" [ngClass]="{ unlocked: !node.locked }" (click)="selectNode(node)">
        <span class="node-select">
          <alg-score-ring
            *ngIf="node.data.element.currentScore >= 0; else folderNoScore"
            [currentScore]="node.data.element.currentScore"
            [bestScore]="node.data.element.bestScore"
            [isValidated]="node.data.element.validated"
            [diameter]="30"
            [forTree]="true"
            [isDark]="true"
            [icon]="node.expanded ? 'folder-open' : 'folder'"
          ></alg-score-ring>
          <ng-template #folderNoScore>
            <i class="fa" [ngClass]="{ 'fa-folder': !node.expanded, 'fa-folder-open': node.expanded }" style="font-size: 1.2rem;"></i>
          </ng-template>
        </span>
        <span class="node-label">
          <span class="label-container">
            <span class="node-label-title" [ngClass]="{ locked: node.locked }">
              {{ node.label }}
              <span *ngIf="node.data.element.groupName">(via group "{{ node.data.element.groupName }}")</span>
            </span>
            <span class="node-state" *ngIf="node.data.status === 'loading'">
              <p-progressSpinner [style]="{ width: '3rem', height: '3rem', 'margin-top': '-0.5rem' }"></p-progressSpinner>
            </span>
            <span class="node-state" *ngIf="node.data.status === 'error'">
              <i class="fa fa-exclamation-triangle" style="font-size: 1.2rem;"></i>
            </span>
          </span>
        </span>
      </span>
    </span>
  </ng-template>

  <!-- "skill-folder" type -->
  <ng-template let-node pTemplate="skill-folder">
    <span class="node-tree-item folder" [ngClass]="{ expanded: node.expanded, current: node.checked, locked: node.locked }">
      <span class="node-item-branch">
        <span class="top-branch">
          <span class="mask-branch"></span>
        </span>
        <span class="bottom-branch folder-branch">
          <span class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content" [ngClass]="{ unlocked: !node.locked }" (click)="selectNode(node)">
        <span class="node-select">
          <i class="fa" [ngClass]="{ 'fa-folder': !node.expanded, 'fa-folder-open': node.expanded }" style="font-size: 1.2rem;"></i>
        </span>
        <span class="node-label">
          <span class="label-container">
            <span class="node-label-title" [ngClass]="{ locked: node.locked }">
              {{ node.label }}
              <span *ngIf="node.data.element.groupName">(via group "{{ node.data.element.groupName }}")</span>
            </span>
            <span class="node-state" *ngIf="node.data.status === 'loading'">
              <p-progressSpinner [style]="{ width: '3rem', height: '3rem', 'margin-top': '-0.5rem' }"></p-progressSpinner>
            </span>
            <span class="node-state" *ngIf="node.data.status === 'error'">
              <i class="fa fa-exclamation-triangle" style="font-size: 1.2rem;"></i>
            </span>
            <span class="node-state" *ngIf="node.locked">
              <i class="fa fa-lock" style="font-size: 1.2rem;"></i>
            </span>
          </span>
          <alg-skill-progress
            *ngIf="elementType === 'skill' && node.data.element.currentScore >= 0"
            [bestScore]="node.data.element.bestScore"
            [currentScore]="node.data.element.currentScore"
            [type]="'thin-horizontal'"
          ></alg-skill-progress>
        </span>
      </span>
    </span>
  </ng-template>

  <!-- "group-folder" type -->
  <ng-template let-node pTemplate="group-folder">
    <span class="node-tree-item folder" [ngClass]="{ expanded: node.expanded, current: node.checked, locked: node.locked }">
      <span class="node-item-branch">
        <span class="top-branch">
          <span class="mask-branch"></span>
        </span>
        <span class="bottom-branch folder-branch">
          <span class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content" (click)="selectNode(node)">
        <span class="node-select">
          <i class="fa fa-users" style="font-size: 1.2rem;"></i>
        </span>
        <span class="node-label">
          <span class="label-container">
            <span class="node-label-title">
              {{ node.label }}
            </span>
            <span class="node-state" *ngIf="node.data.status === 'loading'">
              <p-progressSpinner [style]="{ width: '3rem', height: '3rem', 'margin-top': '-0.5rem' }"></p-progressSpinner>
            </span>
            <span class="node-state" *ngIf="node.data.status === 'error'">
              <i class="fa fa-exclamation-triangle" style="font-size: 1.2rem;"></i>
            </span>
          </span>
        </span>
      </span>
    </span>
  </ng-template>

  <!-- 'task-course' type -->
  <ng-template let-node pTemplate="task-course">
    <span class="node-tree-item" [ngClass]="{ current: node.checked, locked: node.locked }" >
      <span class="node-item-branch">
        <span class="top-branch">
          <span class="mask-branch"></span>
        </span>
        <span class="bottom-branch">
          <span class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content" (click)="selectNode(node)">
        <span class="node-select">
          <alg-score-ring
            *ngIf="node.data.element.currentScore >= 0; else leafNoScore"
            [currentScore]="node.data.element.currentScore"
            [bestScore]="node.data.element.bestScore"
            [isValidated]="node.data.element.validated"
            [diameter]="30"
            [forTree]="true"
            [isDark]="true"
          ></alg-score-ring>
          <ng-template #leafNoScore>
            <i class="pi" [class.pi-circle-on]="!node.checked" style="font-size: 0.6rem;"></i>
            <i class="pi" [class.pi-check]="node.checked" style="font-size: 1.2rem;"></i>
          </ng-template>
        </span>
        <span class="node-label">
          <span class="label-container">
            <span class="node-label-title">
              {{ node.data.element.title }}
            </span>
          </span>
        </span>

      </span>
    </span>
  </ng-template>

</p-tree>
