<ng-container *ngIf="group">
  <p>
    <ng-container *ngIf="group.isMembershipLocked; else allow" i18n>
      You are currently not allowed to leave this group.
    </ng-container>
    <ng-template #allow>
      <ng-container i18n>
        You can freely leave this group. Note that you may lose access to content if this group was granting some permissions to its members.
      </ng-container>
    </ng-template>
  </p>

  <div class="button">
    <button
      class="alg-button primary"
      icon="fa fa-times"
      i18n-label label="Leave this group"
      (click)="leaveGroup()"
      [disabled]="group.isMembershipLocked"
      pButton
    ></button>
  </div>
</ng-container>
