<p-progressSpinner *ngIf="state === 'fetching'  && data.rowData.length == 0"></p-progressSpinner>

<p *ngIf="state === 'error'">Error while loading the group members</p>

<alg-group-composition-filter (change)="onPolicyChange($event)" [defaultValue]="currentPolicy"></alg-group-composition-filter>

<p-table
  [columns]="data.columns"
  [value]="data.rowData"
  [customSort]="true"
  sortMode="multiple"
  [lazy]="true"
  (onLazyLoad)="onCustomSort($event)"
  [loading]="state === 'fetching' && data.rowData.length > 0"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of data.columns">
        <th [pSortableColumn]="col.field" *ngIf="col.sortable">
          <div class="header-container">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </div>
        </th>
        <th *ngIf="!col.sortable">
          <div class="header-container">
            {{ col.header }}
          </div>
        </th>
      </ng-container>
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
  >
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'user.login'">
          {{ rowData.user | user }}
        </ng-container>
        <ng-container *ngIf="col.field === 'member_since'">
          {{ rowData.memberSince | date }}
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <p>This group is empty, check below, the different ways to add users or sub-groups.</p>
  </ng-template>
</p-table>
