<p-progressSpinner *ngIf="state === 'loading' && members.length == 0"></p-progressSpinner>

<p *ngIf="state === 'error'">Error while loading the group members</p>

<alg-grid #grid
  [data]="members"
  [showGear]="false"
  (sort)="onCustomSort($event)"
  [loading]="state === 'loading' && members.length > 0"
>
  <ng-template #headerTemplate let-columns>
    <tr>
      <th pSortableColumn="user.login">
        <div class="header-container">
          Name
          <p-sortIcon field="user.login"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="member_since">
        <div class="header-container">
          Member Since
          <p-sortIcon field="member_since"></p-sortIcon>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template
    #bodyTemplate
    let-member
  >
    <tr class="p-selectable-row">
      <td>
        {{ member.user | user }}
      </td>
      <td>
        {{ member.memberSince | date }}
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessageTemplate>
    <p>This group is empty, check below, the different ways to add users or sub-groups.</p>
  </ng-template>
</alg-grid>
