<alg-group-composition-filter #compositionFilter (change)="onFilterChange($event)" [defaultValue]="defaultFilter"></alg-group-composition-filter>
<ng-container *ngIf="rows$ | async as state">

  <alg-error
    *ngIf="state.isError; else noError"
    class="error dark"
    i18n-message message="Error while loading the group members"
    icon="fa fa-exclamation-triangle"
    [showRefreshButton]="true"
    (refresh)="fetchRows()"
  ></alg-error>

  <ng-template #noError>
    <p-table #table
      class="alg-table --member-list"
      [columns]="columns"
      [value]="state?.data ?? []"
      [customSort]="true"
      sortMode="multiple"
      (sortFunction)="onCustomSort($event)"
      [loading]="(removalInProgress$ | async) || state.isFetching"
      [(selection)]="selection"
      selectionMode="multiple"
      dataKey="id"
      [tableStyle]="{'min-width': '599.98px'}"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="state.data && state.data.length > 0">
          <th class="thin" *ngIf="groupData?.group?.currentUserCanManage !== 'none'"></th>
          <ng-container *ngFor="let col of columns">
            <th [pSortableColumn]="col.field" *ngIf="col.sortable">
              <div class="header-container">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
            <th *ngIf="!col.sortable">
              <div class="header-container">
                {{ col.header }}
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
      >
        <tr>
          <td class="thin" *ngIf="groupData?.group?.currentUserCanManage !== 'none'">
            <p-tableCheckbox class="p-chkbox" [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'user.login'">
                <ng-container *ngIf="rowData.user">
                  <a
                    class="alg-link"
                    [routerLink]="rowData.route | groupLink"
                  >
                    {{ rowData.user | userCaption }}
                  </a>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'name'">
                <a
                  class="alg-link"
                  [routerLink]="rowData.route | groupLink"
                >
                  {{ rowData.name }}
                </a>
              </ng-container>
              <ng-container *ngSwitchCase="'member_since'">
                <ng-container *ngIf="rowData.memberSince">
                  {{ rowData.memberSince | date:'short' }}
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ rowData[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer">
        <tr *ngIf="datapager.canLoadMore$ | async">
          <td colspan="3">
            <div class="text-center">
              <button
                pButton
                class="p-button-rounded"
                i18n-label label="Load more"
                (click)="fetchMoreRows()"
                [disabled]="state.isFetching"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <p class="empty-message" i18n>This list is empty. Check below the different ways to add members or sub-groups.</p>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" *ngIf="groupData?.group?.currentUserCanManage !== 'none'">
        <div class="summary">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span class="select-all" (click)="onSelectAll(state.data ?? [])" i18n>
            Select all
          </span>
          <span class="filler"></span>
          <div class="summary-actions">
              <span (click)="onRemove($event)" [class.disabled]="(removalInProgress$ | async) || !state.isReady || selection.length === 0">
              <span i18n>{{ currentFilter.type === 'users' ? 'Remove': 'Remove from group' }}</span>
              <i class="fa fa-trash-alt"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </p-table>
  </ng-template>
</ng-container>
