<alg-group-composition-filter #compositionFilter (change)="onFilterChange($event)" [defaultValue]="defaultFilter"></alg-group-composition-filter>

<p *ngIf="state === 'error';else noError" class="alg-error-message">
  <i class="fa fa-exclamation-triangle"></i>
  <span i18n>Error while loading the group members</span>
</p>

<ng-template #noError>
  <p-table #table
    class="alg-table --member-list"
    [columns]="data.columns"
    [value]="data.rowData"
    [customSort]="true"
    sortMode="multiple"
    (sortFunction)="onCustomSort($event)"
    [loading]="(removalInProgress$ | async) || state === 'fetching'"
    [(selection)]="selection"
    selectionMode="multiple"
    dataKey="id"
  >
    <ng-template pTemplate="header" let-columns>
      <tr *ngIf="data.rowData.length > 0">
        <th class="thin" *ngIf="currentFilter.type === 'users'"></th>
        <ng-container *ngFor="let col of data.columns">
          <th [pSortableColumn]="col.field" *ngIf="col.sortable">
            <div class="header-container">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </div>
          </th>
          <th *ngIf="!col.sortable">
            <div class="header-container">
              {{ col.header }}
            </div>
          </th>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
    >
      <tr>
        <td class="thin" *ngIf="currentFilter.type === 'users'">
          <p-tableCheckbox class="p-chkbox" [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'user.login'">
              <a
                  class="alg-link"
                  [routerLink]="[ '/', 'groups', 'users', rowData.id ]"
                  >
                {{ rowData.user | user }}
              </a>
            </ng-container>
            <ng-container *ngSwitchCase="'name'">
              <a
                  class="alg-link"
                  [routerLink]="[ '/', 'groups', 'by-id', rowData.id, 'details' ]"
                  >
                {{ rowData.name }}
              </a>
            </ng-container>
            <ng-container *ngSwitchCase="'member_since'">
              {{ rowData.memberSince | date:'short' }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ rowData[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          <p class="empty-message" i18n>This list is empty. Check below the different ways to add members or sub-groups.</p>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="summary" *ngIf="currentFilter.type === 'users'">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        <span class="select-all" (click)="onSelectAll()" i18n>
          Select all
        </span>
        <span class="filler"></span>
        <div class="summary-actions">
            <span (click)="onRemove()" [class.disabled]="(removalInProgress$ | async) || state !== 'ready' || selection.length === 0">
            <span i18n>Remove</span>
            <i class="fa fa-trash-alt"></i>
          </span>
        </div>
      </div>
    </ng-template>
  </p-table>
</ng-template>
