@import "src/colors.scss";
@import "src/geometry.scss";

:host {
  position: relative;
  display: block;

  ::ng-deep {

    .p-datatable-footer {
      background-color: transparent;
      margin-bottom: 0rem;
    }
  }
}
