@import 'src/colors.scss';

.state-container {
  width: 9rem;
  height: 2rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: .9rem;

  &.undefined {
    .state-icon {
      background-color: var(--dark-base-color);
    }

    .state-label {
      background-color: var(--base-color);
    }
  }

  &.discovery {
    .state-icon {
      background-color: #C2459F;
    }

    .state-label {
      background-color: #E044B4;
    }
  }

  &.application {
    .state-icon {
      background-color: #D3932B;
    }

    .state-label {
      background-color: #F5A623;
    }
  }

  &.validation {
    .state-icon {
      background-color: #8AB262;
    }

    .state-label {
      background-color: #9ACC68;
    }
  }

  &.challenge {
    .state-icon {
      background-color: #4A4A4A;
    }

    .state-label {
      background-color: #4A4A4A;
    }
  }

  .state-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3rem;
    line-height: 100%;
    background-color: var(--dark-base-color);
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;

    &.disabled {
      background-color: #EFEFEF !important;
      color: #D8D8D8 !important;
    }
  }

  .state-label {
    flex: 1;
    display: block;
    background-color: var(--base-color);
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 0.5rem;
    line-height: 1.9rem;

    &.disabled {
      background-color: #EFEFEF !important;
      color: #D8D8D8 !important;
    }
  }
}
