@use 'src/assets/scss/functions';

:host {
  position: fixed;
  bottom: functions.toRem(16);
  left: functions.toRem(16);
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.message {
  position: relative;
  display: flex;
  width: functions.toRem(348);
  padding: functions.toRem(16);
  background-color: var(--alg-white-color);
  border-radius: functions.toRem(10);
  border: functions.toRem(2) solid var(--alg-black-color);

  &:not(:first-child) {
    margin-bottom: functions.toRem(16);
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      filter: brightness(0.97);
    }
  }

  &.success {
    border: functions.toRem(2) solid var(--toast-success-border);
    background-color: var(--toast-success-bg);

    .message-icon {
      color: var(--toast-success-icon);
    }
  }
  &.info {
    border: functions.toRem(2) solid var(--toast-info-border);
    background-color: var(--toast-info-bg);

    .message-icon {
      color: var(--toast-info-icon);
    }
  }
  &.warn {
    border: functions.toRem(2) solid var(--toast-warning-border);
    background-color: var(--toast-warning-bg);

    .message-icon {
      color: var(--toast-warning-icon);
    }
  }
  &.error {
    border: functions.toRem(2) solid var(--toast-error-border);
    background-color: var(--toast-error-bg);

    .message-icon {
      color: var(--toast-error-icon);
    }
  }
}

.message-icon-container {
  margin-right: functions.toRem(16);
}

.message-icon {
  font-size: functions.toRem(24);
  color: var(--alg-black-color);
}

.close-button-container {
  position: absolute;
  top: functions.toRem(4);
  right: functions.toRem(4);
}

.message-text {
  margin-top: functions.toRem(6);
  font-size: functions.toRem(14);
}
