:host {
  display: flex;
  // width: 100%;
  // height: 100%;
}

.ring-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  .ring-icon {
    position: absolute;
    left: 0;
    top: -.1rem;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "titillium";
  }
}
