<p-dialog
  [visible]="true"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  styleClass="alg-permissions-edit-dialog"
>
  <p-header>
    <div class="dialog-header">
      <span class="dialog-title" i18n>Personal info</span>
      <button
        type="button"
        class="alg-button-icon rounded primary-color stroke regular-size"
        icon="ph-bold ph-x"
        (click)="onCancel()"
        pButton
      ></button>
    </div>
  </p-header>

  <div class="dialog-container">
    <div class="dialog-content">
      @if (form && groupInfo) {
        <form [formGroup]="form">
          @if (form.get('agreeWithPersonalInfoView')) {
            <alg-switch-field formControlName="agreeWithPersonalInfoView">
              <ng-template #label>
                <span i18n>
                  The managers of this group will be able to
                  {{ groupInfo.requirePersonalInfoAccessApproval | i18nSelect : {
                    view: 'view',
                    edit: 'edit'
                  } }}
                  the personal info (firstname, lastname, email, grade, ...) you entered in your profile
                </span>
              </ng-template>
            </alg-switch-field>
          }
          @if (form.get('agreeWithLockMembership')) {
            <alg-switch-field class="switch-field" formControlName="agreeWithLockMembership">
              <ng-template #label>
                <span i18n>
                  You will not be able to leave this group until: {{ groupInfo.requireLockMembershipApprovalUntil | date: 'short' }}
                </span>
              </ng-template>
            </alg-switch-field>
          }
        </form>
      }
    </div>
  </div>

  <p-footer>
    <div class="footer">
      <button
        class="alg-button basic small button"
        icon="ph-bold ph-x"
        i18n-label label="Cancel"
        (click)="onCancel()"
        pButton
      ></button>
      <button
        class="alg-button primary small button"
        icon="ph-bold ph-check"
        i18n-label label="Approe"
        (click)="onAccept()"
        [disabled]="form.invalid"
        pButton
      ></button>
    </div>
  </p-footer>
</p-dialog>
