@use 'src/assets/scss/functions';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: var(--alg-white-color);
  border-radius: functions.toRem(8);
  padding: var(--alg-space-size-3);
}

.close-wrapper {
  position: absolute;
  top: functions.toRem(10);
  right: functions.toRem(10);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  color: var(--alg-message-error-color);
  font-size: functions.toRem(84);
}

.title {
  padding: 0 var(--alg-space-size-5);
  margin-top: var(--alg-space-size-5);
  text-align: center;
}

