@import 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: var(--alg-white-color);
  border-radius: toRem(8);
  padding: calc(var(--alg-space-size-6) + toRem(4)) calc(var(--alg-space-size-6) + toRem(4)) var(--alg-space-size-4);
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  color: var(--alg-message-error-color);
  font-size: toRem(84);
}

.title {
  padding: 0 var(--alg-space-size-5);
  margin-top: var(--alg-space-size-5);
  text-align: center;
}

.body {
  padding: 0 var(--alg-space-size-5);
}

