@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.operation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: functions.toRem(13);
}

.item-title-section {
  display: flex;
  align-items: center;
}

.item-title-section-left {
  margin-right: functions.toRem(20);
  width: functions.toRem(34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  color: var(--alg-primary-color);
  font-size: functions.toRem(32);
}

.item-title-caption {
  margin: 0;
}

.item-title-link {
  display: inline-block;
  margin-top: functions.toRem(5);
}
