<p i18n>In this tab, you will find a list of all your past activity for this content. For exercises, you may reload your previous submissions.</p>

@if (state$ | async; as state) {
  @if (state.isFetching && !state.data) {
    <alg-loading class="alg-flex-1" size="medium"></alg-loading>
  }
  @if (state.isError) {
    <alg-error
      class="alg-flex-1"
      icon="ph-duotone ph-warning-circle"
      i18n-message message="Unable to load the recent activity"
      [showRefreshButton]="true"
      (refresh)="refresh()"
    ></alg-error>
  }
  @if (state.data) {
    <div class="operation-buttons">
      <div>
        @if (itemData && itemData.currentResult?.attemptId; as parentAttemptId) {
          @if (itemData && itemData.item.type === 'Task') {
            <a class="size-s stroke" alg-button icon="ph-duotone ph-arrows-clockwise"
              [routerLink]="itemData.route | with: {
                  parentAttemptId,
                  answer: { best: { id: observedGroupId ? observedGroupId : undefined }}
                } | url"
              *ngrxLet="observedGroupId$; let observedGroupId"
            >
              {(!!observedGroupId ? 'isObserving' : ''), select,
                isObserving: {View the best answer}
                other {Reload the best answer}
              }
            </a>
          }
        }
      </div>
      <button class="size-s stroke" alg-button icon="ph-duotone ph-arrows-clockwise" (click)="refresh()" i18n>
        Refresh
      </button>
    </div>
    @let isObserving = isObserving$ | async;
    <div class="alg-table-page-wrapper">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="state.data">
          @for (column of columns(); track column.field) {
            <ng-container [cdkColumnDef]="column.field">
              <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef>{{ column.header }}</th>
              <td class="alg-table-td" cdk-cell *cdkCellDef="let rowData">
                @switch (column.field) {
                  @case ('activityType') {
                    <div class="item-title-section">
                      <div class="item-title-section-left">
                        @if (rowData.score) {
                          <alg-score-ring
                            [currentScore]="rowData.score"
                          ></alg-score-ring>
                        } @else {
                          <i class="item-icon {{ rowData.activityType | logActivityTypeIcon }}"></i>
                        }
                      </div>
                      <div class="item-title">
                        <p class="item-title-caption">{{ rowData.activityType | logActionDisplay }}</p>
                        @if (itemData && rowData.answerId) {
                          @let path = rowData.item.id === itemData.item.id ? itemData.route.path : undefined;
                          @let attemptId = rowData.item.id === itemData.item.id ? itemData.route.attemptId : undefined;
                          @let parentAttemptId = rowData.item.id === itemData.item.id ? itemData.route.parentAttemptId : undefined;
                          @let route = rowData.item | itemRoute: { path, attemptId, parentAttemptId };
                          @if (!isObserving) {
                            <a
                              class="alg-link item-title-link"
                              [routerLink]="route | url: []"
                              [algLoadAnswerAsCurrent]="rowData.answerId"
                              i18n
                            >
                              Reload answer
                            </a>
                          } @else if (isObserving && !!rowData.canWatchAnswer) {
                            <a
                              class="alg-link item-title-link"
                              [routerLink]="route | with: { answer: { id: rowData.answerId } } | url: ['task', 'editor']"
                              i18n
                            >
                              View answer
                            </a>
                          }
                        }
                      </div>
                    </div>
                  }
                  @case ('item.string.title') {
                    <a class="alg-link" [ngClass]="{'disabled': !rowData.item}" [routerLink]="rowData.item | itemRoute | url">
                      {{ rowData.item.string.title }}
                    </a>
                  }
                  @case ('item.user') {
                    @if (rowData.user) {
                      <a class="alg-link" [routerLink]="{ id: rowData.user.id, isUser: true } | groupLink">{{ rowData.user | userCaption }}</a>
                    } @else {
                      {{ rowData.participant.name }}
                    }
                  }
                  @case ('at') {
                    <alg-relative-time [value]="rowData.at"></alg-relative-time>
                  }
                  @default {
                    {{ rowData[column.field] }}
                  }
                }
              </td>
            </ng-container>
          }
          <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              <span i18n>There is no progress to report for this item.</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    @if (datapager.canLoadMore$ | async) {
      <div class="alg-table-load-more">
        <button
          alg-button
          (click)="fetchMoreRows()"
          [disabled]="state.isFetching || state.isError"
          i18n
        >Load more</button>
      </div>
    }
  }
}
