@import '../../../../variables';

.spinner-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &, &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    background: var(--base-text-color);
    opacity: 0.25;
  }
}

.actions > * {
  display: inline-block;
  margin: 0.4167rem 0;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
