@import 'src/colors.scss';

.editor-bar-wrapper {
  height: 3.75rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1667rem;
  background-color: $base-color;
  padding-left: 1.6667rem;
  padding-right: 1.6667rem;

  span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4167rem;
    margin-right: 0.4167rem;
    border-radius: 9rem;

    &.edit-icon {
      margin-left: 0;
    }

    &.edit-title {
      flex: 1;
      font-size: 1.2rem;
    }

    &.edit-translate {
      background-color: #3B73B4;
      height: 2.0833rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
    }

    &.edit-redo {
      background-color: #3B73B4;
      width: 2.0833rem;
      height: 2.0833rem;
      cursor: pointer;
    }

    &.edit-save {
      background-color: #B8E986;
      width: 2.3333rem;
      height: 2.3333rem;
      cursor: pointer;
    }

    &.edit-cancel {
      cursor: pointer;
      width: 2.3333rem;
      height: 2.3333rem;
    }
  }

}