<div class="section-container" [ngClass]="theme">
  <div class="section-header" [ngClass]="{'show-cursor': collapsible}" (click)="toggleContent()">
    <div class="section-handler">
      <i class="{{icon}}" *ngIf="icon && (!data || !data.ID)"></i>
      <div class="score-container" *ngIf="data && data.ID">
        <alg-score-ring
          [currentScore]="data.progress.currentScore"
          [icon]="data.progress.isStarted === false ? 'flag-checkered' : ''"
          [bestScore]="data.progress.bestScore" [diameter]="24"
        ></alg-score-ring>
      </div>
    </div>
    <div class="section-header-content" [ngClass]="{'show-border': hasBorder && !collapsed}">
      <span *ngIf="remainOrigin || !collapsed || !data.ID" class="section-title">
        <ng-container *ngIf="label; else labelSection">{{ label }}</ng-container>
        <ng-template #labelSection><ng-content select="[label-section]"></ng-content></ng-template>
      </span>
      <div class="additional-content" *ngIf="headerTemplate">
        <ng-container [ngTemplateOutlet]="headerTemplate" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
      </div>
      <span *ngIf="collapsible" class="toggle-content">
        <img [ngClass]="{down: collapsed}" src="images/collapse.svg">
      </span>
    </div>
  </div>
  <div *ngIf="!(collapsible && collapsed)" class="section-content">
    <ng-content></ng-content>
  </div>
</div>
