<div class="section-container" [ngClass]="theme">
  <div class="section-header" [ngClass]="{'show-cursor': collapsible}" (click)="toggleContent()">
    <div class="section-handler">
      @if (icon && (!data || !data.ID)) {
        <i class="{{icon}}"></i>
      }
      @if (data && data.ID) {
        <div class="score-container">
          <alg-score-ring
            [currentScore]="data.progress.currentScore"
            [icon]="data.progress.isStarted === false ? 'flag-checkered' : ''"
            [bestScore]="data.progress.bestScore" [diameter]="24"
          ></alg-score-ring>
        </div>
      }
    </div>
    <div class="section-header-content" [ngClass]="{'show-border': hasBorder && !collapsed}">
      @if (remainOrigin || !collapsed || !data.ID) {
        <span class="section-title">
          @if (label) {
            {{ label }}
          } @else {
            <ng-content select="[label-section]"></ng-content>
          }
        </span>
      }
      @if (headerTemplate) {
        <div class="additional-content">
          <ng-container [ngTemplateOutlet]="headerTemplate" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
        </div>
      }
      @if (collapsible) {
        <span class="toggle-content">
          <img [ngClass]="{down: collapsed}" src="images/collapse.svg">
        </span>
      }
    </div>
  </div>
  @if (!(collapsible && collapsed)) {
    <div class="section-content">
      <ng-content></ng-content>
    </div>
  }
</div>
