@import 'src/variables';

.group-header-container {
  padding: var(--alg-space-size-3) 0;
  display: flex;
  flex-direction: column;
}

.group-header {
  display: flex;
  align-items: center;
}

.group-title-container {
  margin-right: var(--alg-space-size-5);
  flex: 1;
}

.group-title {
  margin: 0;
}
