<div class="group-header-container">
  <div class="group-header unfolded">
    <div class="user-info">
      <div class="user-name">
        <span>{{ groupData?.group?.name }}</span>
      </div>
    </div>
    <alg-page-navigator
      *ngIf="!!groupWithManagement"
      [allowEditing]="groupWithManagement.isCurrentUserManager"
      [allowWatching]="!!groupWithManagement.currentUserCanWatchMembers"
      [isWatched]="!!(isCurrentGroupWatched$ | async)"
      [allowFullScreen]="false"
      (edit)="onEditButtonClicked()"
      (watch)="onStartWatchButtonClicked($event)"
      (stopWatch)="onStopWatchButtonClicked()"
    ></alg-page-navigator>
  </div>
</div>

<p-overlayPanel
    #op
    [style]="{ width: '450px' }"
    appendTo="body"
>
  <alg-suggestion-of-activities *ngIf="op.overlayVisible"></alg-suggestion-of-activities>
</p-overlayPanel>
