<div class="group-header-container">
  <div class="group-header unfolded">
    <div class="user-info">
      <div class="user-name">
        <span>{{ group?.name }}</span>
      </div>
    </div>
    <alg-page-navigator
      *ngIf="!!groupWithManagement"
      [allowEditing]="groupWithManagement.isCurrentUserManager"
      [allowWatching]="!!groupWithManagement.currentUserCanWatchMembers"
      [isWatched]="!!(isCurrentGroupWatched$ | async)"
      [allowFullScreen]="false"
      navigationMode="nextAndPrev"
      (edit)="onEditButtonClicked()"
      (watch)="onStartWatchButtonClicked()"
      (stopWatch)="onStopWatchButtonClicked()"
    ></alg-page-navigator>
  </div>
</div>
