@use 'src/assets/scss/functions';

:host {
  overflow: visible;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep .ng-scroll-content {
  overflow: visible !important;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: functions.toRem(1);
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  }

  &.for-header {
    height: 100%;

    &:after {
      content: none;
    }

    .tabs-item {
      margin: 0 functions.toRem(7.5) functions.toRem(3) functions.toRem(7.5) !important;

      &:first-child {
        margin-left: 0 !important;
      }

      &:last-child {
        margin-right: 0 !important;
      }

      &.alg-task-tab {
        .tabs-item-link {
          height: functions.toRem(24);
          padding: 0 functions.toRem(18);
          font-size: functions.toRem(12);
        }
      }
    }

    .tabs-item-link {
      padding-bottom: 0 !important;
      font-size: functions.toRem(12);
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.tabs-item {
  position: relative;
  z-index: 1;
  margin: 0 functions.toRem(16) !important;

  &.alg-tab-bar-active {
    .tabs-item-link {
      color: var(--alg-primary-color) !important;
      opacity: 1 !important;
      border-bottom: functions.toRem(3) solid var(--alg-primary-color) !important;
    }
  }

  &.alg-task-tab {
    margin-bottom: functions.toRem(5) !important;

    .tabs-item-link {
      opacity: 1;
      height: functions.toRem(32);
      padding: 0 functions.toRem(18);
      font-size: functions.toRem(16);
      border-radius: functions.toRem(20);
      border: functions.toRem(1) solid var(--alg-light-color, #e0e0e0);
      background-color: var(--alg-white-color, #ffffff);
      color: var(--alg-secondary-color, #4a4a4a) !important;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
    }

    &.alg-tab-bar-active {
      .tabs-item-link {
        background-color: var(--alg-primary-color, #3d5af0);
        border-color: var(--alg-primary-color, #3d5af0);
        color: var(--alg-white-color, #ffffff) !important;
      }
    }
  }

  &:first-child {
    margin-left: 0 !important;
  }

  &:last-child {
    margin-right: 0 !important;
  }
}

.tabs-item-link {
  display: inline-block;
  padding-bottom: functions.toRem(10);
  border-bottom: functions.toRem(3) solid transparent;
  z-index: 1;
  color: var(--alg-secondary-color) !important;
  font-size: functions.toRem(16);
  font-weight: 300;
  text-decoration: none;
  opacity: .5;
}

.prev-button {
  position: absolute;
  left: 0;
  z-index: 2;
}

.next-button {
  position: absolute;
  right: 0;
  z-index: 1;
}
