@import 'src/colors.scss';

.new-content-container {
  display: flex;
  flex-wrap: wrap;

  app-new-content-type {
    display: block;
    margin: 1rem;
    flex: 1 0 calc(25% - 1.6667rem);
  }
}

@media screen and (min-width: 1220px) {
  .new-content-container {
    app-new-content-type {
      max-width: calc(25% - 1.6667rem);
    }
  }
}

@media screen and (min-width: 1040px) and (max-width: 1220px) {
  .new-content-container {
    app-new-content-type {
      flex: 1 0 calc(33.33% - 1.6667rem);
      max-width: calc(33.33% - 1.6667rem);
    }
  }
}

@media screen and (min-width: 860px) and (max-width: 1040px) {
  .new-content-container {
    app-new-content-type {
      flex: 1 0 calc(50% - 1.6667rem);
      max-width: calc(50% - 1.6667rem);
    }
  }
}

@media screen and (max-width: 860px) {
  .new-content-container {
    app-new-content-type {
      flex: 1 0 calc(100% - 1.6667rem);
      max-width: calc(100% - 1.6667rem);
    }
  }
}

