@import 'src/colors.scss';
@import 'src/geometry.scss';

.back-to-discuss {
  display: flex;
  padding: 1.25rem 2.0833rem;
  position: relative;
  align-items: center;
  height: 4.1667rem;
  border-bottom: .1rem solid #F0F0F0;

  .back-icon {
    color: $base-text-color;
    display: flex;
    width: 2.0833rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  .back-label-wrapper {
    flex: 1;
    .back-label {
      color: $base-color;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.0833rem;
    height: 100%;
    color: $base-color;
    cursor: pointer;
  }
}

:host .thread-list-container {
  margin-left: -5.8333rem;
  margin-right: -1.6667rem;
  position: relative;
  padding-bottom: 1rem;

  .thread-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
    &-item {
      padding: 1rem 2.3rem;
      border-bottom: .1rem solid #F0F0F0;
      display: flex;
      color: $dark-text-color;
      font-size: 1.2rem;
      min-height: 4.1667rem;

      app-button {
        ::ng-deep .ui-button {
          height: 2rem;
        }
      }

      &.creator {
        border-left: 0.4167rem solid $base-color;

        .message-item {

          .user-info .item-id {
            border-radius: 9rem;
            background-color: $base-color;
            color: white;
          }

          .message-content {
            background-color: #0000000A;
            box-shadow: 0 1px #0000000A inset;
            border-radius: $border-radius;
          }
        }
      }

      .message-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        .user-info {
          display: flex;
          align-items: center;
          min-height: 4.1667rem;

          .item-id {
            display: flex;
            align-items: center;
            padding: 0.4167rem 1rem;
            color: $dark-text-color;
            height: 2rem;
            margin-left: -1rem;

            .message-icon {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .user-id {
              margin-left: 1.6667rem;
              font-weight: bold;
              line-height: 2rem;
            }
          }

          .item-date {
            color: $base-text-color;
            flex: 1;
            justify-content: flex-end;
          }
        }

        .user-message {
          display: flex;
          align-items: flex-start;

          .user-image {
            display: flex;
            justify-content: center;
            width: 12.5rem;

            img {
              border-radius: 9rem;
            }
          }

          .message-content-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;

            .message-content {
              margin-bottom: 1rem;
            }
          }
        }
      }
      
      .item-icon {
        margin-right: 2rem;
        width: 2.0833rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item-grade {
        color: #9CCD6B;
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      .item-title {
        flex: 1;
        font-weight: bold;
        display: flex;
        align-items: center;

        .item-grading {
          margin-left: 0.4167rem;
          color: $base-color;
        }

        &.answer {
          color: $base-color;
          cursor: pointer;
        }
      }

      .item-date {
        color: $base-text-color;
        margin-left: 1rem;
        display: flex;
        align-items: center;
      }

      &:last-child {
        border-bottom: none;
      }
    }

  }

  .tri-tag {
    position: absolute;
    border-left: 0.9167rem solid transparent;
    border-right: 0.9167rem solid transparent;
    border-bottom: 1.4167rem solid $light-color;
    left: 1.6667rem;
    bottom: 0;
  }
}

.sub-section-unwrapper {
  margin-top: -2rem;
  margin-right: 11.25rem;

  .comment-desc {
    margin-top: 0;
  }

  .new-comment {
    display: flex;
    flex-direction: column;

    .comment-editor-container {
      margin-bottom: 1rem;
      display: flex;
      align-items: flex-start;

      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3.3333rem;

        img {
          border-radius: 9rem;
        }

        .user-name {
          font-weight: bold;
          font-size: 1.2rem;
          color: $dark-text-color;
          margin-top: 0.4167rem;
        }
      }

      editor {
        flex: 1;
      }
    }

    .comment-buttons {
      display: flex;
      justify-content: flex-end;

      app-button:first-child {
        margin-right: 1rem;
      }
    }
  }
}

:host ::ng-deep .tox {
  &.tox-tinymce {
    border-radius: 0.6667rem !important;
    border: none;
    height: 20rem;
  }

  .tox-edit-area__iframe {
    background-color: $input-transparency-color !important;
  }
}