@import "src/colors.scss";

.dialog-header {
  display: flex;
  align-items: center;

  .dialog-handler {
    display: flex;
    background-color: $base-color;
    border-left: 0.25rem solid $dark-color;
    width: 4.5833rem;
    height: 2.5rem;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.8333rem;

    i {
      color: white;
      font-size: 1.2rem;
    }
  }

  .dialog-title {
    font-size: 2rem;
    color: $dark-text-color;
    margin-left: 1.25rem;
    font-weight: normal;
    flex: 1;
  }

  .dialog-close {
    width: 2.0833rem;
    color: $base-color;
    cursor: pointer;
    font-size: 1.2rem;
  }
}

:host ::ng-deep .mat-dialog-actions {
}

:host ::ng-deep .mat-dialog-title {
  margin-left: -24px;
  margin-right: -24px;
  padding-bottom: 20px;
  border-bottom: 0.0833rem solid $light-border-color;
}

:host ::ng-deep .dialog-content {
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  margin-left: -24px;
  margin-right: -24px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 0.8333rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }

  .join-group-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 5.3333rem;
    padding-right: 3.6667rem;
    position: relative;

    .description {
      color: $base-text-color;
      font-size: 1.2rem;
    }

    .group-administrators {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 2.0833rem;

      .admin-label {
        font-style: italic;
        font-size: 1.2rem;
        color: $base-text-color;
        margin-right: 0.8333rem;
      }

      .group-administrator {
        display: flex;
        align-items: center;
        margin: 0 0.4167rem;
        font-size: 1.2rem;

        .user-icon {
          margin-right: 0.4167rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $base-color;
        }
        
        .user-name {
          color: $base-text-color;
          margin: 0.4167rem;
        }
      }
    }

    .tri-tag {
      position: absolute;
      left: 1.6667rem;
      bottom: 0;
      border-left: 0.9167rem solid transparent;
      border-right: 0.9167rem solid transparent;
      border-bottom: 1.4167rem solid #DFE7F4;
    }
  }

  .administrator-config-container {
    background-color: #DFE7F4;

  }

  .feedback {
    display: flex;
    flex-direction: column;
    margin: 1.6667rem 5.3333rem;

    .feedback-label {
      font-size: 1.2rem;
      color: $base-text-color;
    }
  }

  .form-item-view {
    display: flex;
    align-items: center;
    margin: 0.4167rem;

    &.switch {
      .form-item-label {
        width: auto;
        flex: 1;
      }

      .form-item-control {
        flex: unset;
      }
    }
  
    .form-item-label {
      display: block;
      font-size: 1.2rem;
      width: 13.3333rem;
      color: #5C5C5C;
      font-weight: bold;

      &.danger {
        color: $section-danger-handle-color;
      }
    }
  
    .form-item-control {
      flex: 1;
    }
  }

  .join-group-button {
    display: flex;
    margin-top: 0.8333rem;
    justify-content: center;
  }
}
