<alg-section-paragraph
  icon="fa fa-check"
  label="Pending requests"
  [collapsible]="true"
  [collapsed]="collapsed"
>
  <ng-template #headerTemplate>
    <div
      *ngIf="showSwitch"
      class="group-switch"
      [ngClass]="{'all-disabled': state === 'fetching'}">
      <alg-selection (change)="onSubgroupSwitch($event)" [items]="subgroupSwitchItems"></alg-selection>
    </div>
  </ng-template>


  <p *ngIf="state === 'error';else noError" class="error-message">
    <i class="fa fa-exclamation-triangle"></i>
    Error while loading the pending requests.
  </p>

  <ng-template #noError>
    <div class="pending-request-container" #noError>
      <alg-grid
        *ngIf="requests.length > 0"
        [selectedColumns]="columns"
        [columns]="columns"
        [data]="requests"
        [groupInfo]="panel"
        [(selection)]="selection"
        (sort)="onCustomSort($event)"
        [loading]="state !== 'ready'"
      >
        <ng-template #headerTemplate let-columns>
          <tr>
            <th></th>
            <ng-container *ngFor="let col of columns">
              <th
                [pSortableColumn]="col.field"
                [ngClass]="{'small-column' : ['at', 'group.name'].includes(col.field)}"
              >
                <div class="header-container">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </div>
              </th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template
          #bodyTemplate
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
              <ng-container *ngIf="col.field === 'group.name'" >
                <span class="group-name">
                  {{ rowData.group.name }}
                </span>
              </ng-container>
              <ng-container *ngIf="col.field === 'at'">
                {{ rowData.at | date: "d/MM/y" }}
              </ng-container>
              <ng-container *ngIf="col.field === 'user.login'">
                <div class="grid-user-info-field">
                  <!-- <img
                    src="{{ rowData.user.image }}"
                    style="width: 7rem; height: 7rem;"
                  /> -->
                  <div class="user-info">
                    <span class="user-info-name">
                      {{ rowData.user | user }}
                    </span>
                    <span class="user-info-activity" *ngIf="rowData.user.grade">
                      <em>Grade: {{ rowData.user.grade }}</em>
                    </span>
                    <!-- <div class="user-info-content">
                      {{ rowData.user.content }}
                    </div> -->
                  </div>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template #summaryTemplate let-table>
          <div class="summary">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            <span class="select-all" (click)="onSelectAll()">
              Select all
            </span>
            <span class="filler"></span>
            <div class="req-tools">
              <span class="accept" [ngClass]="{disabled: selection.length === 0}" (click)="onAccept()">
                <span>Accept</span>
                <p-progressSpinner *ngIf="state === 'accepting'"></p-progressSpinner>
                <i class="fa fa-check" *ngIf="state === 'ready'"></i>
              </span>
              <span class="reject" [ngClass]="{disabled: selection.length === 0}" (click)="onReject()">
                <span>Reject</span>
                <p-progressSpinner *ngIf="state === 'rejecting'"></p-progressSpinner>
                <i class="fa fa-times" *ngIf="state === 'ready'"></i>
              </span>
            </div>
          </div>
        </ng-template>
      </alg-grid>
      <p class="no-pending-requests" *ngIf="requests.length === 0">
        No pending requests
      </p>
    </div>
  </ng-template>

</alg-section-paragraph>
