<alg-section-paragraph
  icon="fa fa-check"
  label="Pending requests"
  [collapsible]="true"
  [collapsed]="collapsed"
>
  <ng-template #headerTemplate>
    <div
      *ngIf="showSwitch"
      style="flex: 1; flex-direction: row-reverse;display: flex;"
      [ngClass]="{'all-disabled': status === 'loading'}">
      <alg-selection (change)="onSubgroupSwitch($event)" [items]="subgroupSwitchItems" style="width: 25rem;"></alg-selection>
    </div>
  </ng-template>

  <div class="pending-request-container" *ngIf="status !== 'loading'; else loading" [ngSwitch]="status">
    <alg-grid
      *ngSwitchCase="'loaded'"
      [selectedColumns]="columns"
      [columns]="columns"
      [data]="requests"
      [groupInfo]="panel"
      [(selection)]="selection"
      (sort)="onCustomSort($event)"
    >
      <ng-template #headerTemplate let-columns>
        <tr>
          <th style="width: 3.3333rem; background-color: #d3dbe7;"></th>
          <ng-container *ngFor="let col of columns">
            <th
              [pSortableColumn]="col.field"
              [ngClass]="{'small-column' : ['at', 'group.name'].includes(col.field)}"
              style="background-color: #d3dbe7;"
            >
              <div class="header-container">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template
        #bodyTemplate
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td style="width: 3.3333rem;">
            <p-tableCheckbox [value]="rowData" [disabled]="ongoingActivity !== Activity.None"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'group.name'" >
              <span style="white-space: initial;">
                {{ rowData.group.name }}
              </span>
            </ng-container>
            <ng-container *ngIf="col.field === 'at'">
              {{ rowData.at | date: "d/MM/y" }}
            </ng-container>
            <ng-container *ngIf="col.field === 'user.login'">
              <div class="grid-user-info-field">
                <!-- <img
                  src="{{ rowData.user.image }}"
                  style="width: 7rem; height: 7rem;"
                /> -->
                <div class="user-info">
                  <span class="user-info-name">
                    <ng-container *ngIf="!rowData.user.first_name && !rowData.user.last_name; else fullInfo">
                      {{ rowData.user.login }}
                    </ng-container>
                    <ng-template #fullInfo>
                      {{ rowData.user.first_name || "" }} {{ rowData.user.last_name || "" }}
                      ({{ rowData.user.login }})
                    </ng-template>
                  </span>
                  <span class="user-info-activity" *ngIf="rowData.user.grade">
                    <em>Grade: {{ rowData.user.grade }}</em>
                  </span>
                  <!-- <div class="user-info-content">
                    {{ rowData.user.content }}
                  </div> -->
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template #summaryTemplate let-table>
        <div style="text-align: left; display: flex; align-items: center;">
          <p-tableHeaderCheckbox [disabled]="ongoingActivity !== Activity.None"></p-tableHeaderCheckbox>
          <span
            style="
              margin-left: 2.1rem;
              color: #9b9b9b;
              font-size: 1.2rem;
              cursor: pointer;
            "
            [ngClass]="{disabled: ongoingActivity !== Activity.None}"
            (click)="onSelectAll()"
          >
            Select all
          </span>
          <span style="flex: 1;"></span>
          <div class="req-tools">
            <span class="accept" [ngClass]="{disabled: selection.length === 0 || ongoingActivity !== Activity.None}" (click)="onAcceptOrReject(Action.Accept)">
              <span>Accept</span>
              <i class="fa fa-check" *ngIf="ongoingActivity !== Activity.Accepting; else loading"></i>
            </span>
            <span class="reject" [ngClass]="{disabled: selection.length === 0 || ongoingActivity !== Activity.None}" (click)="onAcceptOrReject(Action.Reject)">
              <span>Reject</span>
              <i class="fa fa-times" *ngIf="ongoingActivity !== Activity.Rejecting; else loading"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </alg-grid>
    <div *ngSwitchCase="'empty'">
      No request
    </div>
    <div *ngSwitchDefault>
      Error
    </div>
  </div>
</alg-section-paragraph>

<p-toast></p-toast>
<ng-template #loading>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
