<div class="task-header-container" *ngIf="itemData">
  <div class="task-header">
    <div class="task-score-ring" *ngIf="itemData.item.type !== 'Skill'">
      <ng-container *ngIf="itemData.item.permissions | allowsViewingContent; else lock">
        <alg-score-ring
          *ngIf="itemData.currentResult"
          [bestScore]="itemData.item.bestScore"
          [currentScore]="itemData.currentResult.score"
          [isValidated]="itemData.currentResult.validated"
          [diameter]="70"
        ></alg-score-ring>
      </ng-container>
      <ng-template #lock>
        <span class="lock-icon">
            <i class="fa fa-lock"></i>
        </span>
      </ng-template>
    </div>
    <alg-skill-progress
      *ngIf="itemData.item.type === 'Skill' && itemData.currentResult"
      [bestScore]="itemData.item.bestScore"
      [currentScore]="itemData.currentResult.score"
    ></alg-skill-progress>
    <div class="task-title">
      <p>{{itemData.item.string.title}}</p>
      <span *ngIf="itemData.item.string.subtitle">{{itemData.item.string.subtitle}}</span>
    </div>
    <alg-page-navigator
      *ngIf="navigationNeighbors$ | async as navigationNeighbors"
      [allowEditing]="false"
      [allowFullScreen]="false"
      [navigationMode]="{
        parent: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.parent,
        left: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.previous,
        right: !!navigationNeighbors?.isReady && !!navigationNeighbors?.data?.next
      }"
      (parent)="navigationNeighbors?.data?.parent?.navigateTo()"
      (left)="navigationNeighbors?.data?.previous?.navigateTo()"
      (right)="navigationNeighbors?.data?.next?.navigateTo()"
      (edit)="onEditButtonClicked()"
    ></alg-page-navigator>
  </div>
</div>
