@import 'src/assets/scss/functions';

.error-message, .error-refresh-button, .error-note {
  text-align: center;
}

.error-refresh-button {
  margin: var(--alg-space-size-6) 0;
}

.error-note {
  margin-bottom: 0;
  font-size: toRem(14);
}
