<ng-container *ngIf="itemData$ | async as state">

  <ng-container *ngIf="state.isReady && state.data as itemData">

    <ng-container *ngIf="taskTabs$ | async as taskTabs">
      <alg-item-header [itemData]="itemData" *ngIf="!(fullFrameContent$ | async)?.active"></alg-item-header>

      <alg-access-code-view
        *ngIf="showAccessCodeField$ | async"
        i18n-sectionLabel sectionLabel="Access to activity"
        i18n-buttonLabel buttonLabel="Access"
        [itemData]="itemData"
        (groupJoined)="reloadItem()"
      ></alg-access-code-view>

      <alg-item-permissions
        *ngIf="watchedGroup$ | async as watchedGroup"
        [itemData]="itemData"
        [watchedGroup]="watchedGroup"
      ></alg-item-permissions>

      <nav class="nav-tab" [hidden]="!(showProgressTab$ | async) && taskTabs.length <= 1">
        <a
          class="nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #contentTab="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [class.active]="contentTab.isActive"
          [hidden]="taskTabs.length > 1"
          i18n
        >
          Content
        </a>
        <ng-container *ngIf="taskTabs.length > 1">
          <a
            *ngFor="let tab of taskTabs"
            class="nav-tab-item cursor-pointer"
            [routerLink]="'./'"
            [class.active]="contentTab.isActive && tab.view === taskView"
            (click)="setTaskTabActive(tab)"
          >
            {{ tab.name }}
          </a>
        </ng-container>
        <a
          *ngIf="(showProgressTab$ | async) && (!(watchedGroup$ | async) || itemData.item.permissions.canWatch !== 'none' || !contentTab.isActive)"
          class="nav-tab-item"
          [routerLink]="'./progress'"
          routerLinkActive #progressTab="routerLinkActive"
          [class.active]="progressTab?.isActive"
        >
          <i class="fa fa-chart-line"></i>
          &nbsp;
          <span i18n>Progress</span>
        </a>
      </nav>
      <div class="bg-white" [ngClass]="{ 'compensate-margin':  !(showProgressTab$ | async) && taskTabs.length <= 1 }">
        <alg-error
          *ngIf="unknownError"
          i18n-message message="An unknown error occurred. If this problem persists, please contact us."
        ></alg-error>

        <ng-container *ngIf="contentTab.isActive || taskTabs.length > 0">
          <alg-error *ngIf="answerFallbackLink$ | async as fallbackLink">
            <ng-container *ngIf="(taskReadOnly$ | async); else fallback" i18n>Unable to load the answer</ng-container>
            <ng-template #fallback>
              <ng-container i18n>
                Unable to load the answer, <a [routerLink]="fallbackLink" class="alg-link">load your most recent answer</a>
              </ng-container>
            </ng-template>
          </alg-error>

          <ng-container *ngIf="taskConfig$ | async as taskConfig">
            <div *ngIf="taskConfig.readOnly && contentTab.isActive" class="indicator">
              <alg-answer-author-indicator *ngIf="formerAnswer$ | async as answer" [answer]="answer"></alg-answer-author-indicator>
            </div>
            <alg-item-content
              [hidden]="!contentTab.isActive"
              [itemData]="itemData"
              [taskConfig]="taskConfig"
              [savingAnswer]="(savingAnswer$ | async) ?? false"
              [(taskView)]="taskView"
              (taskTabsChange)="setTaskTabs($event)"
              (scoreChange)="patchStateWithScore($event)"
              (skipSave)="skipBeforeUnload()"
            ></alg-item-content>
          </ng-container>
        </ng-container>
        <alg-item-progress
          *ngIf="progressTab?.isActive || !!(watchedGroup$ | async) && !contentTab.isActive"
          [itemData]="itemData"
          [isTaskReadOnly]="(taskReadOnly$ | async) ?? false"
          [savingAnswer]="(savingAnswer$ | async) ?? false"
          (skipSave)="skipBeforeUnload()"
        ></alg-item-progress>
      </div>
    </ng-container>

  </ng-container>

</ng-container>

<p-dialog
  *ngIf="saveBeforeUnloadError$ | async"
  [visible]="true"
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  i18n-header header="Leave unsaved task"
>
  <p i18n>You do not appear to be connected to the Internet, if you leave this task you may loose your progress. Are you sure you want to continue?</p>
  <ng-template pTemplate="footer">
    <button
      pButton
      class="p-button-danger"
      i18n-label label="Loose progress and leave the task"
      (click)="skipBeforeUnload()"
    ></button>
    <button
      pButton
      i18n-label label="Retry"
      (click)="retryBeforeUnload()"
    ></button>
  </ng-template>
</p-dialog>
