<ng-container *ngIf="itemLoadingState$ | async as state">

  <ng-container *ngIf="state.isReady && state.data as itemData">

    <alg-item-header [itemData]="itemData" *ngIf="!(fullFrameContent$ | async)"></alg-item-header>

    <alg-access-code-view
        *ngIf="itemData.showAccessCodeField"
        i18n-sectionLabel sectionLabel="Access to activity"
        i18n-buttonLabel buttonLabel="Access"
        [itemData]="itemData"
        (groupJoined)="reloadItem()"
    ></alg-access-code-view>

    <nav class="nav-tab">
      <a
        class="nav-tab-item"
        [routerLink]="'./'"
        routerLinkActive #contentTab="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [class.active]="contentTab.isActive" i18n
        [hidden]="contentTab.isActive && taskTabs.length > 0"
      >
        Content
      </a>
      <ng-container *ngIf="contentTab.isActive && taskTabs.length > 0">
        <a
          *ngFor="let tab of taskTabs"
          class="nav-tab-item cursor-pointer"
          [class.active]="contentTab.isActive && tab.active"
          (click)="tab.setActive()"
        >
          {{ tab.name }}
        </a>
      </ng-container>
      <a
        *ngIf="!(watchedGroup$ | async) || itemData.item.permissions.canWatch !== 'none' || !contentTab.isActive"
        class="nav-tab-item"
        [routerLink]="'./progress'"
        routerLinkActive #progressTab="routerLinkActive"
        [class.active]="progressTab?.isActive"
      >
        <i class="fa fa-chart-line"></i>
        &nbsp;
        <span i18n>Progress</span>
      </a>
    </nav>
    <div class="bg-white">
      <alg-item-content *ngIf="contentTab.isActive" [itemData]="itemData" (tabs)="taskTabs = $event"></alg-item-content>
      <alg-item-progress
        *ngIf="progressTab?.isActive || !!(watchedGroup$ | async) && !contentTab.isActive"
        [itemData]="itemData"
      ></alg-item-progress>
    </div>

  </ng-container>

</ng-container>
