<ng-container *ngIf="itemLoadingstate$ | async as state">

  <ng-container *ngIf="state.isReady && state.data as itemData">

    <alg-item-header [itemData]="itemData"></alg-item-header>

    <alg-access-code-view
        *ngIf="itemData.showAccessCodeField"
        i18n-sectionLabel sectionLabel="Access to activity"
        i18n-buttonLabel buttonLabel="Access"
        [itemData]="itemData"
        (groupJoined)="reloadItem()"
    ></alg-access-code-view>

    <nav mat-tab-nav-bar>
      <a mat-tab-link
        [routerLink]="'./'"
        routerLinkActive #contentTab="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="contentTab.isActive" i18n>
        Content
      </a>
      <a mat-tab-link
        [routerLink]="'./progress'"
        routerLinkActive #progressTab="routerLinkActive"
        [active]="progressTab.isActive">
        <i class="fa fa-chart-line"></i>
        &nbsp;
        <span i18n>Progress</span>
      </a>
    </nav>
    <div class="bg-white">
      <alg-item-content *ngIf="contentTab.isActive" [itemData]="itemData"></alg-item-content>
      <alg-item-progress *ngIf="progressTab.isActive" [itemData]="itemData"></alg-item-progress>
    </div>

  </ng-container>

</ng-container>
