@import 'src/colors';

.wrapper {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.25rem;
  font-size: 1.6rem;
}

.message {
  color: $base-color;
  font-size: 1.6rem;
  text-align: center;
}

.retry {

}
