@import 'src/assets/scss/functions';

:host {
  &.light {
    .message {
      color: var(--base-bk-color);
    }

    .retry {
      color: var(--base-bk-color);
    }

    .icon {
      color: var(--base-bk-color);
    }
  }

  &.dark {
    .message {
      color: var(--base-text-color);
    }

    .retry {
      color: var(--base-text-color);
    }

    .icon {
      color: var(--base-text-color);
    }
  }

  &.warning {
    .message {
      color: var(--notify-error-color);
    }

    .icon {
      color: var(--notify-error-color);
    }
  }

  &.small {
    .message {
      font-size: 1.2rem;
    }
  }
}

.wrapper {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: toRem(96);
  color: var(--alg-primary-color);
}

.message {
  margin-top: toRem(12);
  color: var(--alg-secondary-color);
  font-size: toRem(16);
  text-align: center;
}

.refresh-button {
  margin-top: toRem(12);
  font-size: toRem(16);
}
