@import 'src/colors';

:host {
  &.light {
    .message {
      color: $base-bk-color;
    }

    .retry {
      color: $base-bk-color;
    }
  }

  &.dark {
    .message {
      color: $base-text-color;
    }

    .retry {
      color: $base-text-color;
    }
  }
}

.wrapper {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.25rem;
  font-size: 1.6rem;
}

.message {
  color: $base-color;
  font-size: 1.6rem;
  text-align: center;
}

.retry {

}

.refresh-button {
  margin-left: 0.5rem;
}
