@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: var(--alg-space-size-5) var(--alg-space-size-5) var(--alg-space-size-6);
}

.search-header {
  display: flex;
  align-items: center;
  gap: var(--alg-space-size-4);
}

.close-button {
  flex-shrink: 0;
}
