<lib-section-paragraph
  icon="fa fa-users"
  label="You have 6 grading requests"
  [collapsible]="true"
>
  <ng-template #headerTemplate>
    <div style="flex: 1; flex-direction: row-reverse;display: flex;">
      <div style="width: 13.3333rem;">
        <lib-button
          icon="fa fa-glasses"
          label="view submissions"
          class="ui-button-rounded ui-fit-parent ui-medium-button"
        ></lib-button>
      </div>
    </div>
  </ng-template>
  <ul class="grading-request-container">
    <li *ngFor="let item of data" class="request-item">
      <span class="request-item-label">
        <b>{{ item.user }}</b> is waiting for a grading on
        <b>{{ item.subject }}</b>
      </span>
      <div class="request-item-view">
        <lib-button
          icon="fa fa-glasses"
          label="view"
          class="ui-button-rounded ui-fit-parent ui-small-button"
        ></lib-button>
      </div>
    </li>
  </ul>
</lib-section-paragraph>
