@use 'src/assets/scss/functions';

.alg-button {
  border: none;
  text-decoration: none;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }

  &.basic {
    &.p-button {
      &:not([icon]) {
        padding: 0 functions.toRem(15);
        border-radius: functions.toRem(20);
      }

      &[icon] {
        padding: 0 functions.toRem(7) 0 functions.toRem(15);
        border-radius: functions.toRem(12);
      }

      flex-direction: row-reverse;
      color: var(--alg-secondary-color);
      font-size: functions.toRem(12);
      border: functions.toRem(1) solid var(--alg-light-color);
      background: none;
      height: functions.toRem(24);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-primary-color);
      font-size: functions.toRem(16);
    }

    &:hover {
      background: var(--alg-light-color);
    }
  }

  &.primary {
    &.p-button {
      padding: 0 functions.toRem(18);
      flex-direction: row-reverse;
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
      text-decoration: none;
      border-radius: functions.toRem(20);
      background: var(--alg-primary-color);
      height: functions.toRem(40);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
    }
  }

  &.success {
    &.p-button {
      padding: 0 functions.toRem(18);
      flex-direction: row-reverse;
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
      text-decoration: none;
      border-radius: functions.toRem(20);
      background: var(--alg-success-btn-color);
      height: functions.toRem(40);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
    }
  }

  &.secondary {
    &.p-button {
      padding: 0 functions.toRem(18);
      flex-direction: row-reverse;
      color: var(--alg-secondary-color);
      font-size: functions.toRem(16);
      text-decoration: none;
      border-radius: functions.toRem(20);
      border: functions.toRem(1) solid var(--alg-border-color);
      background: var(--alg-white-color);
      height: functions.toRem(40);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-secondary-color);
      font-size: functions.toRem(16);
    }
  }

  &.danger {
    &.p-button {
      padding: 0 functions.toRem(18);
      flex-direction: row-reverse;
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
      text-decoration: none;
      border-radius: functions.toRem(20);
      background: var(--danger-color);
      height: functions.toRem(40);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-white-color);
      font-size: functions.toRem(16);
    }
  }

  &.warning {
    &.p-button {
      padding: 0 functions.toRem(18);
      flex-direction: row-reverse;
      color: var(--alg-accent-dark-color);
      font-size: functions.toRem(16);
      text-decoration: none;
      border-radius: functions.toRem(20);
      border: functions.toRem(1) solid var(--alg-accent-dark-color);
      background: transparent;
      height: functions.toRem(40);
    }

    .p-button-icon {
      margin-left: functions.toRem(7);
      color: var(--alg-accent-dark-color);
      font-size: functions.toRem(16);
    }

    &:hover {
      &.p-button {
        color: var(--alg-accent-dark-hover-color);
        border-color: var(--alg-accent-dark-hover-color);
      }
      .p-button-icon {
        color: var(--alg-accent-dark-hover-color);
      }
    }
  }

  &.small {
    &.p-button {
      height: functions.toRem(32);
      font-size: functions.toRem(12);
      font-weight: 500;
      border-radius: functions.toRem(32) !important;
    }
  }

  &.mini {
    &.p-button {
      padding: functions.toRem(8);
      height: functions.toRem(20);
      font-size: functions.toRem(12);
      font-weight: 500;
    }
  }

  &.grant-access-button {
    &.p-button {
      padding: 0 functions.toRem(8);
      height: functions.toRem(24);
      font-size: functions.toRem(12);
      font-weight: 500;
      border-radius: functions.toRem(24) !important;
    }
  }

  &.light-border {
    border: functions.toRem(1) solid var(--alg-white-color);

    &:hover {
      border: functions.toRem(1) solid var(--alg-white-color) !important;
    }
  }

  &.left-menu {
    &.p-button {
      font-size: functions.toRem(16);
      flex-direction: row;
      border-color: rgba(0, 0, 0, 0.05);
      background: none !important;
      height: functions.toRem(40);
      border-radius: functions.toRem(20) !important;
      justify-content: center;
    }

    .p-button-icon {
      padding: 0;
      margin-right: functions.toRem(7.5);
      font-size: functions.toRem(24);
      color: var(--alg-primary-color);
    }

    &[icon] {
      padding: 0 functions.toRem(7) !important;
    }

    &.left-menu-selected {
      &.p-button {
        border-color: var(--primary-color);
      }
    }
  }

  &.only-caption {
    &.p-button {
      padding: 0;
      color: var(--alg-secondary-color);
      background: none;
    }

    &.edit-permissions {
      font-size: functions.toRem(12);
      color: var(--alg-accent-dark-color);
    }
  }
}
