@use 'src/assets/scss/functions';

.alg-top-right-triangle {
  &:after {
    position: absolute;
    top: functions.toRem(-20);
    right: functions.toRem(10);
    width: 0;
    height: 0;
    content: '';
    border-width: functions.toRem(10);
    border-style: solid;
    border-color: transparent transparent var(--alg-primary-color) transparent;
  }

  &.grey {
    &:after {
      border-color: transparent transparent var(--alg-border-color) transparent;
    }
  }
}

.alg-bottom-right-triangle {
  &:after {
    position: absolute;
    bottom: functions.toRem(-20);
    right: functions.toRem(10);
    width: 0;
    height: 0;
    content: '';
    border-width: functions.toRem(10);
    border-style: solid;
    border-color: var(--alg-primary-color) transparent transparent transparent;
  }

  &.grey {
    &:after {
      border-color: var(--alg-border-color) transparent transparent transparent;
    }
  }
}

.alg-top-center-triangle {
  &:after {
    position: absolute;
    top: functions.toRem(-20);
    margin-left: functions.toRem(-10);
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    border-width: functions.toRem(10);
    border-style: solid;
    border-color: transparent transparent var(--alg-primary-color) transparent;
  }

  &.grey {
    &:after {
      border-color: transparent transparent var(--alg-border-color) transparent;
    }
  }
}

.alg-bottom-center-triangle {
  &:after {
    position: absolute;
    bottom: functions.toRem(-20);
    margin-left: functions.toRem(-10);
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    border-width: functions.toRem(10);
    border-style: solid;
    border-color: var(--alg-primary-color) transparent transparent transparent;
  }

  &.grey {
    &:after {
      border-color: var(--alg-border-color) transparent transparent transparent;
    }
  }
}

.alg-left-center-triangle {
  &:after {
    position: absolute;
    right: functions.toRem(-20);
    margin-top: functions.toRem(-10);
    top: 50%;
    width: 0;
    height: 0;
    content: '';
    border-width: functions.toRem(10);
    border-style: solid;
    border-color: transparent transparent transparent var(--alg-primary-color);
  }

  &.grey {
    &:after {
      border-color: transparent transparent transparent var(--alg-border-color);
    }
  }
}

.alg-path-suggestion-overlay {
  min-width: 30rem;
  max-width: 50rem;
  background-color: var(--alg-primary-color);
  border-radius: functions.toRem(10);
  border: none;
  z-index: 2;

  @media screen and (max-width: 1100px) {
    max-width: 100vw;
  }
}
