@import 'src/colors';
@import 'src/geometry';

.alg-propagation-edit-menu {
  background: $base-color;

  &:before, &:after {
    display: none;
  }

  &.p-overlaypanel {
    margin-top: 0;

    border-radius: $border-radius;
  }

  .p-overlaypanel-content {
    padding: 2px;
  }
}
