@import 'src/colors';
@import 'src/geometry';

.alg-propagation-edit-menu {
  background: $base-color;

  &:before {
    border-bottom-color: $base-color;
  }

  &.p-overlaypanel-flipped {
    &:after {
      border-top-color: $base-color;
    }
  }

  &.p-overlaypanel {
    border-radius: $border-radius;
  }

  .p-overlaypanel-content {
    padding: 2px;
  }
}
