@use 'src/assets/scss/functions';

.alg-rounded-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: functions.toRem(32);
  height: functions.toRem(32);
  background-color: #EEEEEE;
  border-radius: 50%;
  color: var(--alg-secondary-color);
}
