@import 'src/assets/scss/functions';

.alg-tab-menu {
  &.for-header {
    height: 100%;

    .p-tabmenu-nav-container, .p-tabmenu-nav-content, .p-tabmenu-nav {
      height: 100%;
    }

    .p-tabmenu-nav {
      &:after {
        content: none;
      }
    }

    .p-menuitem-link {
      margin: 0 toRem(7.5) !important;
      padding-bottom: 0 !important;

      .p-menuitem-text {
        font-size: toRem(12);
      }
    }
  }

  .p-tabmenu-nav {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: toRem(1);
      background: rgb(255,255,255);
      background: -moz-linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
      background: linear-gradient(90deg, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    }
  }

  .p-tabmenuitem {
    margin-right: 0 !important;

    &:first-child {
      .p-menuitem-link {
        margin-left: 0 !important;
      }
    }

    &:last-child {
      .p-menuitem-link {
        margin-right: 0 !important;
      }
    }
  }

  .p-menuitem-link {
    margin: 0 toRem(16) !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: toRem(8);
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: toRem(3) solid transparent !important;
    position: relative;
    z-index: 1;
    background: transparent !important;
    border-radius: 0 !important;

    &:active, &:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    .p-menuitem-text {
      color: var(--alg-secondary-color) !important;
      font-size: toRem(16);
      font-weight: 300 !important;
      text-decoration: none;
      opacity: .5;
    }
  }

  .p-tabmenu-nav-btn {
    &.p-link {
      background: var(--alg-white-color);
      color: var(--alg-primary-color);
    }
  }

  .alg-tab-bar-active {
    .p-menuitem-link {
      border-bottom: toRem(3) solid var(--alg-primary-color) !important;

      .p-menuitem-text {
        color: var(--alg-primary-color) !important;
        opacity: 1 !important;
      }
    }
  }
}
