@use 'src/assets/scss/functions';

.alg-table-v2 {
  width: 100%;
  min-width: 599.98px;
  border-spacing: 0;

  .alg-table-th {
    padding: functions.toRem(13) functions.toRem(19);
    color: var(--alg-secondary-color);
    font-size: functions.toRem(16);
    font-weight: 400;
    text-align: left;
    opacity: .5;
  }

  .alg-table-td {
    padding: 0 functions.toRem(19);
    color: var(--alg-secondary-color);
    font-size: functions.toRem(16);
    border: none;
    height: functions.toRem(56);

    &:first-child {
      border-radius: functions.toRem(10) 0 0 functions.toRem(10);
    }

    &:last-child {
      border-radius: 0 functions.toRem(10) functions.toRem(10) 0;
    }

    &.empty-td {
      border-radius: functions.toRem(10) !important;
    }

    &.reorder-handle {
      padding-right: 0 !important;
    }
  }

  .alg-table-body-tr {
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .04);
    }
  }

  &.editable {
    width: 100%;

    .alg-table-body-tr {
      display: flex;
      border-radius: functions.toRem(12);
      margin-bottom: functions.toRem(4);
      height: 3rem;
      background-color: rgba(0, 0, 0, 0.04);
    }

    .alg-table-td {
      padding: 0 functions.toRem(13);
      color: var(--alg-secondary-color);
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      font-size: functions.toRem(16);
      height: auto;
    }
  }
}

.alg-table-page-wrapper {
  margin: 0 functions.toRem(-18);
}

.alg-table-horizontal-scroll {
  overflow-x: scroll;
}

.alg-table-load-more {
  padding: functions.toRem(10);
  text-align: center;
}

.alg-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: functions.toRem(13) functions.toRem(14);
}

.alg-table-footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.editable {
    margin-left: functions.toRem(24);
  }
}

.alg-table-footer-checkbox {
  margin-left: functions.toRem(32);
}

.alg-table-footer-select-all {
  margin-left: functions.toRem(16);
  font-size: functions.toRem(14);
}

.alg-table-drag-preview {
  padding: 0 functions.toRem(13);
  color: var(--alg-secondary-color);
  border-radius: functions.toRem(10);
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: functions.toRem(16);
  height: auto;
  box-shadow: 0 functions.toRem(5) functions.toRem(5) functions.toRem(-3) rgba(0, 0, 0, 0.2),
  0 functions.toRem(8) functions.toRem(10) functions.toRem(1) rgba(0, 0, 0, 0.14),
  0 functions.toRem(3) functions.toRem(14) functions.toRem(2) rgba(0, 0, 0, 0.12);
}
