@import 'src/assets/scss/functions';

.alg-table {
  .p-datatable-thead > tr > th {
    padding: toRem(13) toRem(19);
    color: var(--alg-secondary-color);
    opacity: .5;
    font-size: toRem(12);
    font-weight: 400;
    border: none;
    background: none;
  }

  .p-datatable-tbody > tr {
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, .04);
    }

    td {
      padding: 0 toRem(19);
      color: var(--alg-secondary-color);
      font-size: toRem(12);
      border: none;
      height: toRem(56);

      &:first-child {
        border-radius: toRem(10) 0 0 toRem(10);
      }

      &:last-child {
        border-radius: 0 toRem(10) toRem(10) 0;
      }
    }
  }
}
