@use 'src/assets/scss/functions';

.alg-tag {
  display: flex;
  align-items: center;
  padding: functions.toRem(4) functions.toRem(6);

  border-radius: functions.toRem(4);
  background-color: var(--alg-message-info-color);
  color: var(--alg-white-color);
  font-size: functions.toRem(12);
  font-weight: 700;

  &.success {
    background-color: var(--alg-message-success-color);
  }
  &.warning {
    background-color: var(--alg-accent-dark-color);
  }
  &.danger {
    background-color: var(--alg-message-error-color);
  }
}
