@use 'src/assets/scss/functions';

.alg-tooltip-container {
  display: flex;
  position: relative;
  padding: var(--alg-space-size-5);
  border-radius: functions.toRem(10);
  color: #fff;
  font-size: functions.toRem(12);
  font-weight: 500;
  line-height: functions.toRem(16);
  letter-spacing: functions.toRem(0.4);
  background-color: var(--alg-primary-color);
  max-width: functions.toRem(230);

  &.secondary {
    background-color: var(--alg-secondary-color);
  }

  &.no-text-wrap {
    max-width: none;
    text-wrap: nowrap;
  }

  &.observation-mode {
    min-width: functions.toRem(280);
  }
}

.alg-tooltip-top {
  .alg-tooltip-container {
    margin-bottom: functions.toRem(10);
    justify-content: center;

    &:after {
      position: absolute;
      bottom: functions.toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: functions.toRem(8);
      border-style: solid;
      border-color: var(--alg-primary-color) transparent transparent transparent;
    }

    &.secondary {
      &:after {
        border-top-color: var(--alg-secondary-color);
      }
    }
  }
}

.alg-tooltip-bottom {
  .alg-tooltip-container {
    margin-top: functions.toRem(10);
    justify-content: center;

    &:after {
      position: absolute;
      top: functions.toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: functions.toRem(8);
      border-style: solid;
      border-color: transparent transparent var(--alg-primary-color) transparent;
    }

    &.secondary {
      &:after {
        border-bottom-color: var(--alg-secondary-color);
      }
    }
  }
}

.alg-tooltip-left {
  .alg-tooltip-container {
    margin-right: functions.toRem(10);
    align-items: center;

    &:after {
      position: absolute;
      right: functions.toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: functions.toRem(8);
      border-style: solid;
      border-color: transparent transparent transparent var(--alg-primary-color);
    }

    &.secondary {
      &:after {
        border-left-color: var(--alg-secondary-color);
      }
    }
  }
}

.alg-tooltip-right {
  .alg-tooltip-container {
    margin-left: functions.toRem(10);
    align-items: center;

    &:after {
      position: absolute;
      left: functions.toRem(-16);
      width: 0;
      height: 0;
      content: '';
      border-width: functions.toRem(8);
      border-style: solid;
      border-color: transparent var(--alg-primary-color) transparent transparent;
    }

    &.secondary {
      &:after {
        border-right-color: var(--alg-secondary-color);
      }
    }
  }
}
