<alg-modal i18n-modalTitle modalTitle="Permission propagation configuration" (closeEvent)="dialogRef.close()" [showFooter]="false">
  <div class="dialog-container">
    <p class="description">
      @let item = data().item;
      @let childTitle = data().childTitle;
      <ng-container i18n>
        Configure how user permissions propagate between this chapter ("{{ item.title }}") and its content
      </ng-container>
      @if (childTitle) {
        ("{{ childTitle }}")
      } @else {
        <ng-container i18n>Non-visible content ("{{ item.id }}")</ng-container>
      }.
      <ng-container i18n>
        Actual permissions may be higher if the user has access through other means
        (e.g., another chapter or group membership). Some settings may be locked if you lack the necessary
        permissions on the content.
      </ng-container>
    </p>
    <alg-propagation-advanced-configuration-form
      [giverPermissions]="data().permissions"
      [itemPropagations]="data().itemPropagations"
      (closeEvent)="dialogRef.close($event)"
    ></alg-propagation-advanced-configuration-form>
  </div>
</alg-modal>
