@import 'src/assets/scss/functions';

:host {
  display: block;
  width: 47.5rem;
  max-height: 65vh;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 0;
}
