@import 'src/colors.scss';

:host {
  max-width: 100%;
}

.breadcrumb-container {
  position: relative;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    padding-left: 1.25rem;
    display: flex;

    li {
      display: flex;
      margin: 0 .25em;
      color: var(--base-text-color);
      align-items: center;
      height: 3.75rem;
      overflow: hidden;
      min-width: 0;
      border-top: 0.25rem solid transparent;

      text-overflow: ellipsis;
      white-space: nowrap;

      &.routable {
        cursor: pointer;
      }

      &.active {
        border-top: 0.25rem solid var(--base-color);
        color: var(--base-color);
        &.separator {
          border-top: 0.25rem solid transparent;

          i.fa-arrow-right {
            color: var(--base-color);
          }
        }
      }

      &.separator {
        i.fa-arrow-right {
          color: var(--base-color);
        }
      }

      &.home {
        color: var(--base-color);
        margin-right: 1rem;
      }

      span {
        padding: 0 0.4167rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        &.label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 0;
          flex: 1;
        }

        &.attempt-badge {
          background-color: var(--base-color);
          color: white;
          height: 2rem;
          line-height: 1.9rem;
          text-align: center;
          font-weight: 700;
          padding: 0 .7rem;
        }
      }
    }
  }
}
