@import 'src/colors.scss';
@import 'src/geometry.scss';

.data-list-container {
  list-style: none;
  padding-left: 0;
  color: var(--dark-text-color);

  &.sub-skill {
    li {
      margin-left: -3.3333rem;
      border-bottom: none;
      display: flex;
      align-items: center;

      .skill-icon {
        width: 2.9167rem;
      }

      .skill-content {
        display: flex;
        flex: 1;
        padding: 0.5833rem 0;
        border-bottom: .1rem solid var(--light-border-color);
        cursor: pointer;

        &.locked {
          color: var(--light-text-color);
          cursor: default;
        }

        .skill-title {
          flex: 1;
        }

        .skill-icon {
          margin-right: 0.4167rem;
        }

        .skill-status {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 2rem;
        }
      }
    }
  }
}
