<ng-container *ngIf="state$ | async as state">
  <div class="section-title alg-h2" i18n>
    Parent skills
  </div>

  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    i18n-message message="Error while loading the skill parents"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.isReady && state.data as parents">
    <alg-item-children-list
      class="no-padding"
      type="skill"
      i18n-emptyMessage emptyMessage="This skill does not have parent skills."
      [children]="parents"
      [routeParams]="{ parentAttemptId: attemptId, path: itemData.route.path | slice :0 : -1 }"
      *ngIf="itemData && itemData.currentResult?.attemptId as attemptId"
    ></alg-item-children-list>
  </ng-container>
</ng-container>
