@use 'src/assets/scss/functions';

.user-container {
  display: flex;
  align-items: center;
}

.user-login {
  font-size: functions.toRem(12);
  margin-right: functions.toRem(10);
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--alg-white-color, #fff);
  border: functions.toRem(1) solid var(--alg-border-light-color, rgba(0, 0, 0, 0.1));
  border-radius: functions.toRem(8);
  box-shadow: 0 functions.toRem(4) functions.toRem(12) rgba(0, 0, 0, 0.12);
  overflow: hidden;

  &.for-mobile {
    .menu-item-link, .menu-item-button {
      padding-top: functions.toRem(8);
      padding-bottom: functions.toRem(8);
    }
  }
}

.menu-header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--alg-background-light-color, #f5f5f5);
  color: var(--alg-secondary-color, #616F82);
  font-size: functions.toRem(12);
  padding: functions.toRem(8) functions.toRem(12);
  border-bottom: functions.toRem(1) solid var(--alg-border-light-color, rgba(0, 0, 0, 0.1));
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  display: flex;

  &:last-child {
    border-top: functions.toRem(1) solid var(--alg-border-light-color, rgba(0, 0, 0, 0.1));
  }
}

.menu-item-label, .menu-item-icon {
  font-size: functions.toRem(14);
}

.menu-item-link, .menu-item-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: var(--alg-black-color, #1D2227);
  margin: 0;
  border-radius: 0;
  padding: functions.toRem(8) functions.toRem(12);
  flex: 1;
  font-size: functions.toRem(14);
  font-weight: 500;

  &:hover {
    background-color: var(--alg-background-light-color, #f5f5f5);
  }

  &:focus-visible {
    background-color: var(--alg-background-light-color, #f5f5f5);
    outline: functions.toRem(2) solid var(--alg-primary-color, #0f61ff);
    outline-offset: functions.toRem(1);
  }
}

.menu-item-link {
  text-decoration: none;
}

.menu-item-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-item-icon {
  margin: 0 functions.toRem(8) 0 0;
  color: var(--alg-black-color, #1D2227) !important;
  font-weight: 400;
  font-size: functions.toRem(16);
}
