@use 'src/assets/scss/functions';

.user-container {
  display: flex;
  align-items: center;
}

.user-login {
  font-size: functions.toRem(12);
  margin-right: functions.toRem(10);
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--alg-primary-color);
  border-radius: functions.toRem(10);
  border: none;
  overflow: hidden;
  box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);

  &.for-mobile {
    .menu-item {
      justify-content: space-between;
    }

    .menu-item-link, .menu-item-button {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      height: functions.toRem(40);
      border-radius: 0;
      justify-content: space-between;
    }
  }
}

.menu-header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--alg-primary-dark-color);
  color: var(--alg-white-color);
  font-size: functions.toRem(12);
  padding: functions.toRem(14);
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  display: flex;
  justify-content: flex-end;

  &:not(:last-child) {
    border-bottom: functions.toRem(1) solid var(--alg-border-light-color);
  }
}

.menu-item-label, .menu-item-icon {
  font-size: functions.toRem(12);
}

.menu-item-link, .menu-item-button {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--alg-white-color);
  margin: var(--alg-space-size-6);
  border-radius: functions.toRem(10);
  padding: functions.toRem(14);
  flex: 1;

  &:hover {
    background-color: var(--alg-primary-dark-color);
  };
}

.menu-item-link {
  text-decoration: none;
}

.menu-item-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-item-icon {
  margin: 0 0 0 var(--alg-space-size-6);
  color: var(--alg-white-color) !important;
  font-weight: 400;
  font-size: functions.toRem(16);
}
