<div>
  <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>
    Information ({{ form.getRawValue().languageTag }})
  </h2>
  <div class="field" data-testid="item-strings-title">
    <div class="field-name">
      <label i18n>Item title</label>
    </div>
    <div class="field-value">
      <alg-input [parentForm]="form" name="title"></alg-input>
    </div>
  </div>
  <div class="field" data-testid="item-strings-subtitle">
    <div class="field-name">
      <label i18n>Item subtitle</label>
    </div>
    <div class="field-value">
      <alg-input [parentForm]="form" name="subtitle"></alg-input>
    </div>
  </div>
  @if (showDescription()) {
    <div class="field" data-testid="item-strings-description">
      <div class="field-name">
        <label i18n>Description</label>
      </div>
      <div class="field-value">
        <alg-item-edit-content
          class="item-edit-content"
          [parentForm]="form"
        >
        </alg-item-edit-content>
      </div>
    </div>
  }
</div>
