<div class="item-display" *ngIf="state$ | async as state">
  <ng-container *ngIf="tabs$ | async as tabs">
    <nav *ngIf="tabs.length > 1" class="nav-tab">
      <a class="nav-tab-item cursor-pointer" *ngFor="let tab of tabs" (click)="setActiveTab(tab)" [class.active]="tab.view === (activeTabView$ | async)">
        {{tab.name}}
      </a>
    </nav>
  </ng-container>
  <div *ngIf="state.isError" class="errors">
    <alg-error i18n-message message="Unable to load the task"></alg-error>
    <ng-container *ngIf="['all', 'all_with_grant'].includes(canEdit)">
      <alg-error
        *ngIf="initError$ | async"
        i18n-message message="It usually occurs when task url is invalid, if the task url is valid and the problem persists, please contact us."
      ></alg-error>

      <alg-error
        *ngIf="urlError$ | async as urlError"
        message="{{ urlError.message }}"
      ></alg-error>

      <alg-error
        *ngIf="taskError$ | async as error"
        i18n-message message="An unknown error occurred: “{{ error.message }}”. If this problem persists, please contact us."
      ></alg-error>
    </ng-container>
  </div>
  <div class="iframe-container" [style.height.px]="iframeHeight$ | async" *ngIf="!state.isError">
    <iframe *ngIf="iframeSrc$ | async as iframeSrc" [style.height.px]="iframeHeight$ | async" #iframe [src]="iframeSrc"></iframe>
    <div *ngIf="state.isFetching" class="loading">
      <alg-loading></alg-loading>
    </div>
  </div>
</div>
