<div class="item-display" *ngIf="state$ | async as state">
  <div *ngIf="(state.isError || (metadataError$ | async)) && !showTaskAnyway" class="errors">
    <ng-template #defaultErrorMessage>
      <alg-error
        i18n-message message="Unable to load the task"
      ></alg-error>
    </ng-template>

    <ng-container *ngIf="editingPermission | allowsEditingAll; else defaultErrorMessage">
      <alg-error
        *ngIf="initError$ | async; else urlError"
        i18n-message message="It usually occurs when task url is invalid. If the task url is valid and the problem persists, please contact us."
      ></alg-error>

      <ng-template #urlError>
        <alg-error
          *ngIf="urlError$ | async as error; else metadataError"
          message="{{ error.message }}"
        ></alg-error>
      </ng-template>

      <ng-template #metadataError>
        <alg-error
        *ngIf="metadataError$ | async; else unknownError"
        i18n-message message="Error while requesting task metadata"
      ></alg-error>
      </ng-template>

      <ng-template #unknownError>
        <alg-error
          *ngIf="unknownError$ | async"
          [message]="errorMessage"
        ></alg-error>
      </ng-template>

    </ng-container>

    <div class="error-buttons">
      <p-button
        class="error-button"
        styleClass="alg-button"
        i18n-label label="Show task anyway (for debugging)"
        (click)="showTaskAnyway = true"
      ></p-button>
      <p-button
        class="error-button"
        styleClass="alg-button"
        i18n-label label="Retry"
        (click)="refresh.emit()"
      ></p-button>
    </div>
  </div>
  <div
    class="iframe-container"
    [style.display]="(state.isError || (metadataError$ | async)) && !showTaskAnyway ? 'none' : 'block'"
    [algFullHeightContent]="true"
  >
    <div class="saving-answer" *ngIf="savingAnswer">
      <p class="saving-answer-message">
        <span i18n>Saving answer...</span>
        <alg-loading size="medium"></alg-loading>
        <p-button type="button" (click)="skipSave.emit()" i18n-label label="Skip"></p-button>
      </p>
    </div>
    <iframe
      *ngIf="iframeSrc$ | async as iframeSrc"
      [style.height]="(state.isReady || showTaskAnyway) ? (iframeHeight$ | async) : undefined"
      [src]="iframeSrc"
      #iframe
      [algFullHeightContent]="!!(metadata$ | async)?.autoHeight && (state.isReady || showTaskAnyway)"
      allowfullscreen
    ></iframe>

    <alg-task-loader
      *ngIf="state.isFetching"
      i18n-label label="Loading the task"
      i18n-delayedLabel delayedLabel="The task is taking an unexpected long time to load... please wait..."
    ></alg-task-loader>
  </div>
</div>
