@import 'src/colors.scss';

.table-icon {
  color: $base-color;
}

.section-for-sub {
  position: relative;

  app-grid {
    margin-left: -4.1667rem;
    margin-right: -1.6667rem;
  }
}

.ask-for-help {
  margin-left: -5.8333rem;
  margin-right: -1.6667rem;
  margin-bottom: -1.6667rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECF3FC;
  position: relative;

  .tri-tag {
    position: absolute;
    top: -1.4167rem;
    left: 1.6667rem;
    border-left: 0.9167rem solid transparent;
    border-right: 0.9167rem solid transparent;
    border-bottom: 1.4167rem solid #ECF3FC;
  }
}