<h1 class="alg-h1 alg-base-title-primary-space">
  Buttons
</h1>

<p>The styles applies for <strong>a</strong>, <strong>button</strong> tags</p>

<div>
  <h5 class="alg-h5 alg-base-title-space">Regular</h5>
  <div>
    <button class="size-s alg-button-margin-right" alg-button>Approve</button>
    <button class="alg-button-margin-right" alg-button>Approve</button>
    <button class="size-l" alg-button>Approve</button>
  </div>

  <h5 class="alg-h5 alg-base-title-space">Regular with icons</h5>
  <div>
    <button class="size-s alg-button-margin-right" alg-button icon="ph-bold ph-check">Approve</button>
    <button class="alg-button-margin-right" alg-button icon="ph-bold ph-check">Approve</button>
    <button class="size-l" alg-button icon="ph-bold ph-check">Approve</button>
  </div>

  <h5 class="alg-h5 alg-base-title-space">Stroke</h5>
  <div>
    <button class="size-s stroke alg-button-margin-right" alg-button>Cancel</button>
    <button class="stroke alg-button-margin-right" alg-button>Cancel</button>
    <button class="size-l stroke" alg-button>Cancel</button>
  </div>

  <h5 class="alg-h5 alg-base-title-space">Stroke with icons</h5>
  <div>
    <button class="size-s stroke alg-button-margin-right" alg-button icon="ph-duotone ph-arrows-clockwise">Refresh</button>
    <button class="stroke alg-button-margin-right" alg-button icon="ph ph-x">Cancel</button>
    <button class="size-l stroke" alg-button icon="ph ph-x">Cancel</button>
  </div>
</div>

<h2 class="alg-h2 alg-base-title-space">
  Icon Buttons
</h2>
<div>
  <h5 class="alg-h5 alg-base-title-space">Regular</h5>
  <div>
    <button class="size-s alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="size-l" alg-button-icon icon="ph ph-presentation"></button>
  </div>
  <h5 class="alg-h5 alg-base-title-space">Stroke</h5>
  <div>
    <button class="size-s stroke alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="stroke alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="size-l stroke" alg-button-icon icon="ph ph-presentation"></button>
  </div>
  <h5 class="alg-h5 alg-base-title-space">With background</h5>
  <div>
    <button class="size-s with-bg alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="with-bg alg-button-margin-right" alg-button-icon icon="ph ph-presentation"></button>
    <button class="size-l with-bg" alg-button-icon icon="ph ph-presentation"></button>
  </div>
</div>

<h2 class="alg-h2 alg-base-title-space">
  Specific Buttons
</h2>
<div>
  <button class="stroke size-s alg-button-margin-right" alg-button icon="ph-duotone ph-arrow-circle-down">Load more</button>
  <button class="success alg-button-margin-right" alg-button icon="ph-bold ph-check">Save</button>
  <button class="danger alg-button-margin-right" alg-button icon="ph-bold ph-check">Delete</button>
  <button class="only-caption" alg-button>Only caption</button>
</div>

<h2 class="alg-h2 alg-base-title-space">
  Specific Icon Buttons
</h2>
<div>
  <button class="size-l primary no-bg alg-button-margin-right" alg-button-icon icon="ph-duotone ph-user-circle"></button>
  <button class="primary no-bg alg-button-margin-right" alg-button-icon icon="ph ph-list"></button>
  <button class="size-s primary no-bg tab-arrow alg-button-margin-right" alg-button-icon icon="ph-bold ph-caret-up"></button>
  <button class="size-s primary no-bg tab-arrow tab-next alg-button-margin-right" alg-button-icon icon="ph-bold ph-caret-right"></button>
  <button class="size-l primary stroke alg-button-margin-right" alg-button-icon icon="ph-bold ph-check"></button>
  <button class="size-s primary" alg-button-icon icon="ph ph-arrow-left"></button>
</div>
