@if (isObserving()) {
  <!-- Observed group requests (no title) -->
  <alg-thread-table
    [state]="observedGroupThreadsState()"
    [showUserColumn]="!isObservingAUser()"
    [itemData]="itemData()"
    [visibleThreadId]="visibleThreadId()"
    emptyMessageType="observed"
    (refresh)="refreshObservedGroupThreads()"
    (showThread)="showThreadPanel($event.id, $event.item)"
    (hideThread)="hideThreadPanel()"
  />
} @else {
  <!-- My help requests section -->
  <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>My help requests</h2>
  <alg-thread-table
    [state]="myThreadsState()"
    [showUserColumn]="false"
    [itemData]="itemData()"
    [visibleThreadId]="visibleThreadId()"
    emptyMessageType="mine"
    (refresh)="refreshMyThreads()"
    (showThread)="showThreadPanel($event.id, $event.item)"
    (hideThread)="hideThreadPanel()"
  />

  <!-- Other users' requests section -->
  <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>Other users' requests</h2>
  <alg-thread-table
    [state]="othersThreadsState()"
    [showUserColumn]="true"
    [itemData]="itemData()"
    [visibleThreadId]="visibleThreadId()"
    emptyMessageType="others"
    (refresh)="refreshOthersThreads()"
    (showThread)="showThreadPanel($event.id, $event.item)"
    (hideThread)="hideThreadPanel()"
  />
}
