<p-dialog
  [(visible)]="!!visible"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  styleClass="alg-permissions-edit-dialog"
  *ngIf="userCaption"
>
  <p-header>
    <div class="dialog-header">
      <span class="dialog-title" i18n>{{ group?.name }}: manager access given to {{ userCaption }}</span>
      <button
        type="button"
        class="alg-button-icon rounded primary-color stroke regular-size"
        icon="ph-bold ph-x"
        (click)="onClose()"
        pButton
      ></button>
    </div>
  </p-header>

  <div class="dialog-container">
    <div class="dialog-content">
      <p class="dialog-description" i18n>
        This panel lets you select what you allow the selected user or group of users to do on the current group and its descendants.
      </p>

      <form [formGroup]="form">
        <alg-collapsible-section
          [collapsible]="false"
          i18n-header header="Management level"
          icon="ph-duotone ph-user-gear"
        >
          <ng-template #content let-collapsed>
            <alg-progress-select
              formControlName="canManage"
              [values]="managementLevelValues"
              [collapsed]="collapsed"
            >
              <ng-template #description>
                <span i18n>The permissions that the user(s) has on this group</span>
              </ng-template>
            </alg-progress-select>
          </ng-template>
        </alg-collapsible-section>

        <alg-collapsible-section
          [collapsible]="false"
          i18n-header header="Can grant access"
          icon="ph-duotone ph-key"
        >
          <ng-template #content let-collapsed>
            <alg-switch-field [collapsed]="collapsed" formControlName="canGrantGroupAccess">
              <ng-template #label>
                <span i18n>
                  User(s) can give and revoke members access to some content
                </span>
              </ng-template>
            </alg-switch-field>
          </ng-template>
        </alg-collapsible-section>

        <alg-collapsible-section
          [collapsible]="false"
          i18n-header header="Can watch members"
          icon="ph-duotone ph-binoculars"
        >
          <ng-template #content let-collapsed>
            <alg-switch-field [collapsed]="collapsed" formControlName="canWatchMembers">
              <ng-template #label>
                <span i18n>
                User(s) can watch the members' activity on some content
                </span>
              </ng-template>
            </alg-switch-field>
          </ng-template>
        </alg-collapsible-section>
      </form>
    </div>
  </div>

  <p-footer>
    <div class="footer">
      <alg-loading *ngIf="isUpdating; else buttonsSection"></alg-loading>
      <ng-template #buttonsSection>
        <button
          class="alg-button basic small button"
          icon="ph-bold ph-x"
          i18n-label label="Cancel"
          (click)="onClose()"
          pButton
        ></button>
        <button
          class="alg-button primary small button"
          icon="ph-bold ph-check"
          i18n-label label="Proceed"
          (click)="onAccept()"
          [disabled]="!form.dirty"
          pButton
        ></button>
      </ng-template>
    </div>
  </p-footer>
</p-dialog>
