@import 'src/assets/scss/functions';

.footer {
  display: flex;
  justify-content: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  align-items: center;
  position: relative;
}

.dialog-title {
  font-size: toRem(20);
  flex: 1;
}

.error-message {
  margin-right: .3rem;
}

.dialog-description {
  margin-top: 0;
}
