
<div class="pick-list-wrapper" (clickOutside)="onClickOutside($event)"
(keydown)="onKeyDown($event)" tabindex="10">
  <div class="pick-list-container" *ngFor="let listItem of list.lists">
    <span>{{ listItem.title }}</span>
    <ul
      class="list-group"
      droppable
      [ngStyle]="{ border: listItem.border }"
      (onDrop)="onItemDrop($event, listItem)"
    >
      <ng-container *ngFor="let item of list.items">
        <li
          draggable
          *ngIf="item.list === listItem.ID"
          [dragData]="{ data: item, _id: list['_id'] }"
          class="list-group-item"
          [ngStyle]="{ 'background-color': listItem.color }"
          [ngClass]="{active: item.ID === activeID, selected: item.ID === selectedID}"
          (click)="onListItemSelect($event, item, list['_id'])"
        >
          <i class="pi pi-ellipsis-v" style="font-size: 20px"></i>
          <span>{{ item.title }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
