@import "src/colors.scss";

.list-group {
  list-style: none;
  padding-left: 0;
  border-radius: 0.3333rem;
  min-height: 3.3333rem;

  li.list-group-item {
    background-color: $base-color;
    min-height: 3rem;
    padding: 1rem 0.4167rem;
    margin: 0.6667rem;
    border: none;
    color: #fff;
    border-radius: 0.3333rem;
    display: flex;
    flex-direction: row;

    &.active {
      box-shadow: 0.1667rem 0.1667rem 0.6667rem $dark-color;
    }

    &.selected {
      box-shadow: 0.1667rem 0.1667rem 0.6667rem $dark-color inset;
    }

    span {
      font-size: 1.1667rem;
      padding-top: 0.1667rem;
      padding-left: 0.4167rem;
    }
  }
}

.pick-list-container {
  margin: 1rem;
  flex: 1;
}

.pick-list-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  &:focus {
    outline: none;
  }
}
