<div *ngIf="collapsed" class="header-content">
  <alg-progress-level [maximum]="values.length" [value]="selected + 1" theme="revert"></alg-progress-level>
  <span class="selected-progress-level">{{ values[selected]?.label }}</span>
</div>

<div *ngIf="!collapsed" class="progress-select-body">
  <div class="progress-select-item">
    <div class="progress-control">
      <span *ngIf="values.length > 0" class="progress-branch" [ngClass]="{active: selected >= 0}"></span>
    </div>
    <div class="progress-desc header-comment">
      <ng-container *ngIf="descriptionTemplate" [ngTemplateOutlet]="descriptionTemplate" [ngTemplateOutletContext]="{ $implicit: value }"></ng-container>
    </div>
  </div>
  <div *ngFor="let item of values; let idx = index;" class="progress-select-item">
    <div class="progress-control">
      <span class="progress-point" [ngClass]="{active: idx < selected + 1, last: idx + 1 == selected + 1}" (click)="onSet(item.value)">
        <i *ngIf="type === 'checksWithLock' && idx < selected" class="fa fa-check"></i>
        <i
          *ngIf="idx === selected"
          class="fa"
          [ngClass]="{'fa-lock-open': type === 'checksWithLock', 'fa-check': type === 'simple'}"
        ></i>
      </span>
      <span *ngIf="idx + 1 < values.length" class="progress-branch" [ngClass]="{active: idx < selected}"></span>
    </div>
    <div class="progress-desc">
      <div class="progress-desc-name" [ngClass]="{active: idx < selected + 1}" (click)="onSet(item.value)">{{ item.label }}</div>
      <div class="progress-desc-comment">{{ item.comment }}</div>
    </div>
    <div *ngIf="item.disabled" class="gray-overlay"></div>
  </div>
</div>
