<div class="wrapper" [ngClass]="{ 'only-icon-mode': onlyIcon }" *ngIf="watchedGroup$ | async as watchedGroup">
  <div class="left-section alg-flex-1">
    <i class="left-icon alg-secondary-color ph-duotone ph-eye"></i>
    <span class="title" *ngIf="!onlyIcon">
      <ng-container *ngIf="caption; else watchedGroupName">
        <span class="alg-secondary-color">{{ caption }}</span>
      </ng-container>
      <ng-template #watchedGroupName>
        <ng-container *ngIf="watchedGroup.name">
          <a
            class="link alg-link hover-underline"
            [routerLink]="watchedGroup.route | groupLink"
          >
            {{ caption || watchedGroup.name }}
          </a>
        </ng-container>
      </ng-template>
    </span>
  </div>
  <button pButton type="button" icon="ph ph-x" class="alg-button-icon secondary-color no-bg" (click)="onCancelClick()"></button>
</div>
