@import 'src/colors.scss';
@import 'src/geometry.scss';

$notify-color: #F5A623;

:host {
  display: block;
}

.notification-wrapper {
  display: flex;
  position: relative;
  height: 3.3333rem;
  width: 100%;
  border-radius: $border-radius;
  color: white;
  background-color: $notify-color;

  .notification-indicator {
    position: absolute;
    right: 3.75rem;
    top: -0.3333rem;
    width: 1rem;
    border-left: 0.4167rem solid transparent;
    border-right: 0.4167rem solid transparent;
    border-bottom: 0.3333rem solid $notify-color;
  }

  .notification-icon {
    min-width: 3.3333rem;
    height: 3.3333rem;
    background-color: #D3932B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .notification-text {
    display: block;
    line-height: 3.3333rem;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
