<ng-container *ngIf="state$ | async as state">
  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    i18n-message message="Error while loading content"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.isReady && state.data as data">
    <alg-section i18n-label label="Sub-skills" icon="fa fa-graduation-cap">
      <alg-item-children-list
        type="skill"
        [children]="data.skills"
        (clickEvent)="click($event)"
      ></alg-item-children-list>
    </alg-section>

    <alg-section i18n-label label="Activities to learn or reinforce this skill" icon="fa fa-graduation-cap">
      <alg-item-children-list
        [children]="data.activities"
        (clickEvent)="click($event)"
      ></alg-item-children-list>
    </alg-section>
  </ng-container>
</ng-container>
