<p-progressSpinner *ngIf="state === 'loading'"></p-progressSpinner>

<p *ngIf="state === 'error'">Error while loading the group managers</p>

<ng-container *ngIf="state === 'ready'">
  <alg-section
  label="Sub-skills"
  icon="fa fa-graduation-cap"
  >
    <ul class="data-list-container sub-skill">
      <li *ngFor="let item of children">
        <div
          class="skill-content"
          (click)="click(item)"
          [ngClass]="{ locked: item.isLocked }"
        >
          <span class="skill-title">
            {{ item.string.title }}
          </span>
          <span *ngIf="item.isLocked" class="skill-status">
            <i *ngIf="item.isLocked" class="fa fa-lock"></i>
          </span>
          <alg-skill-progress
            *ngIf="item.result"
            style="width: 25%;"
            type="thick-horizontal"
            [bestScore]="item.bestScore"
            [currentScore]="item.result.score"
          ></alg-skill-progress>
        </div>
      </li>
    </ul>
  </alg-section>
</ng-container>
