<alg-section i18n-label label="Sub-skills" icon="fa fa-graduation-cap">

  <p-progressSpinner *ngIf="state === 'loading'"></p-progressSpinner>

  <p *ngIf="state === 'error'" i18n>Error while loading content</p>

  <p *ngIf="state === 'ready' && children.length === 0" i18n>This skill does not have subskills.</p>

  <ul *ngIf="state === 'ready' && children.length > 0" class="data-list-container sub-skill">
    <li *ngFor="let item of children">
      <div
        class="skill-content"
        (click)="click(item)"
        [ngClass]="{ locked: item.isLocked }"
      >
        <a class="skill-title alg-link clickable">
          {{ item.string.title }}
        </a>
        <span *ngIf="item.isLocked" class="skill-status">
          <i *ngIf="item.isLocked" class="fa fa-lock"></i>
        </span>
        <alg-skill-progress
          *ngIf="item.result"
          style="width: 25%;"
          type="thick-horizontal"
          [bestScore]="item.bestScore"
          [currentScore]="item.result.score"
        ></alg-skill-progress>
      </div>
    </li>
  </ul>

</alg-section>
