<app-section-paragraph
  *ngIf="requests.length"
  icon="fa fa-check"
  label="Pending requests"
  [collapsible]="true"
>
  <ng-template #headerTemplate>
    <div style="flex: 1; flex-direction: row-reverse; display: flex;">
      <!-- <app-selection
        [items]="groupSwitch"
        style="width: 25rem;"
      ></app-selection> -->
    </div>
  </ng-template>
  <div class="pending-request-container">
    <app-grid
      [selectedColumns]="columns"
      [columns]="columns"
      [data]="requests"
      [groupInfo]="panel"
      [multiSortMeta]="multiSortMeta"
      (onSort)="onCustomSort($event)"
      (expandWholeWidth)="onExpandWidth($event)"
    >
      <ng-template #headerTemplate let-columns>
        <tr>
          <th style="width: 3.3333rem; background-color: #d3dbe7;"></th>
          <ng-container *ngFor="let col of columns">
            <th
              *ngIf="col.field === 'at'"
              [pSortableColumn]="col.field"
              style="width: 13.3333rem; background-color: #d3dbe7;"
            >
              <div class="header-container">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
            <th
              *ngIf="col.field === 'member_id'"
              [pSortableColumn]="col.field"
              style="width: 5rem; background-color: #d3dbe7;"
            >
              <div class="header-container">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
            <th
              *ngIf="col.field === 'joining_user.login'"
              [pSortableColumn]="col.field"
              style="background-color: #d3dbe7;"
            >
              <div class="header-container">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template
        #bodyTemplate
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td style="width: 3.3333rem;">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'member_id'">
              {{ rowData.member_id }}
            </ng-container>
            <ng-container *ngIf="col.field === 'at'">
              {{ rowData.at | date: "MM/d/y" }}
            </ng-container>
            <ng-container *ngIf="col.field === 'joining_user.login'">
              <div class="grid-user-info-field">
                <!-- <img
                  src="{{ rowData.user.image }}"
                  style="width: 7rem; height: 7rem;"
                /> -->
                <div class="user-info">
                  <span class="user-info-name">{{ rowData[col.field] }}</span>
                  <span class="user-info-activity" *ngIf="rowData.grade"
                    ><em>Grade: {{ rowData.grade }}</em></span
                  >
                  <!-- <div class="user-info-content">
                    {{ rowData.user.content }}
                  </div> -->
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template #summaryTemplate let-table>
        <div style="text-align: left; display: flex; align-items: center;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span
            style="
              margin-left: 2.1rem;
              color: #9b9b9b;
              flex: 1;
              font-size: 1.2rem;
            "
          >
            Select all
          </span>
          <div class="req-tools">
            <span class="accept" (click)="onClickAccept($event)">
              <span>Accept</span>
              <i class="fa fa-check"></i>
            </span>
            <span class="reject" (click)="onClickReject($event)">
              <span>Reject</span>
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </app-grid>
  </div>
</app-section-paragraph>
