@import "src/colors.scss";

.dialog-header {
  display: flex;
  align-items: center;

  .dialog-handler {
    display: block;
    background-color: $base-color;
    border-left: 0.25rem solid $dark-color;
    width: 4.5833rem;
    height: 2.5rem;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    position: relative;

    i {
      color: white;
      position: absolute;
      right: 0.8333rem;
      font-size: 1.2rem;
      top: 0.5833rem;
    }
  }

  .dialog-title {
    font-size: 2rem;
    color: $dark-text-color;
    margin-left: 1.25rem;
    font-weight: normal;
    flex: 1;
  }

  .dialog-close {
    width: 2.0833rem;
    color: $base-color;
    cursor: pointer;
    font-size: 1.2rem;
  }
}

:host ::ng-deep .mat-dialog-actions {
  justify-content: center;
}

:host ::ng-deep .mat-dialog-title {
  margin-left: -24px;
  margin-right: -24px;
  padding-bottom: 20px;
  border-bottom: 0.0833rem solid $light-border-color;
}

:host ::ng-deep .dialog-content {
  max-height: 65vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 3.3333rem;
  padding-right: 1.6667rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &:hover {
    overflow: auto;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 0.8333rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
  }

  .button-wrapper {
    display: flex;
    padding-bottom: 1.6667rem;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 0.0833rem solid #F0F0F0;
    
    app-button {
      flex: 1;
      margin-right: 0.8333rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .user-status-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.6667rem;
    font-size: 1.2rem;
    border-bottom: 0.0833rem solid #F0F0F0;

    .user-status-info {
      font-weight: bold;
      margin-bottom: 1.6667rem;
      color: $dark-text-color
    }

    .user-status-comment {
      font-style: italic;
      color: $base-text-color;
    }
  }

  .user-details-wrapper {
    display: flex;
    flex-direction: column;

    .form-item-view {
      display: flex;
      align-items: center;
      margin: 0.4167rem;
    
      .form-item-label {
        display: block;
        font-size: 1.2rem;
        width: 20.8333rem;
        color: $dark-text-color;
        font-weight: bold;
      }
    
      .form-item-control {
        flex: 1;
      }
    }
  }
}
