@use 'src/assets/scss/functions';

:host {
  position: relative;
  display: inline-block;
  width: functions.toRem(48);
  height: functions.toRem(24);

  &.small-switch {
    width: functions.toRem(32);
    height: functions.toRem(18);

    .slider {
      border-radius: functions.toRem(18);

      &:before {
        height: functions.toRem(14);
        width: functions.toRem(14);
        left: functions.toRem(2);
        bottom: functions.toRem(2);
      }

      &:not(input:checked + &) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(functions.toRem(14));
      -ms-transform: translateX(functions.toRem(14));
      transform: translateX(functions.toRem(14));
    }

    .slider.round {
      border-radius: functions.toRem(18);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input-element {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--alg-switch-input-bg);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: functions.toRem(24);

  &:before {
    position: absolute;
    content: "";
    height: functions.toRem(18);
    width: functions.toRem(18);
    left: functions.toRem(4);
    bottom: functions.toRem(3);
    background-color: var(--alg-white-color);
    -webkit-transition: .2s;
    transition: .2s;
  }
}

input:checked + .slider {
  background-color: var(--alg-primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 functions.toRem(2) var(--alg-primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(functions.toRem(22));
  -ms-transform: translateX(functions.toRem(22));
  transform: translateX(functions.toRem(22));
}

/* Rounded sliders */
.slider.round {
  border-radius: functions.toRem(24);
}

.slider {
  &:before {
    border-radius: 50%;
  }
}
