@import 'src/colors.scss';

.search-input-wrapper {
  border-radius: 9rem;
  height: 2.5rem;
  position: relative;
  margin: 0.4167rem;

  .search-input {
    background-color: $base-color;
    padding-right: 3.3333rem;
    border-radius: 9rem;
    border: none;
    padding-left: 0.8333rem;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.3333rem;

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    color: white;
    width: 3.3333rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6667rem;
    cursor: pointer;
  }
}