@import "src/colors.scss";
$group-border-color: #e8eaeb;

@mixin anonym_group($size, $font-size) {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  background-color: $secondary-color;
  border-radius: 9rem;

  i {
    font-size: $font-size;
    color: white;
  }
}

:host ::ng-deep .group-content {
  color: $base-text-color;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;

  &:focus {
    outline: none;
  }

  %group-div {
    border-top: .1rem solid $group-border-color;
    padding: 0 1.5rem 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
    height: 5rem;
  }

  .group-show-activity {
    @extend %group-div;
    // padding: 1.25rem 1.6667rem;
    background-color: $base-bk-color;
    // padding-right: 0;

    &-label {
      flex: 1;
    }
  }

  .anonym-group {
    @include anonym_group(3rem, 2rem);
    margin-right: 1rem;
    z-index: 2;
  }

  .group-self {
    @extend %group-div;
    background-color: $base-bk-color;
  }

  .group-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    position: absolute;
    left: 3rem;
    padding-left: 3rem;
    width: calc(100% - 3rem);
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    // z-index: 1;

    &.selected {
      background-color: white;
      border-top-right-radius: 9rem;
      border-bottom-right-radius: 9rem;
    }

  }

  .group-list {
    background-color: $base-bk-color;
    border-top: .1rem solid $group-border-color;
    %trans-bk-accordion {
      background-color: transparent !important;
      border: none !important;
      outline: .1rem solid transparent;
      color: $base-text-color !important;
      position: relative;
    }

    .p-accordion-tab {
      margin-bottom: 0px !important;
    }

    .p-accordion-header {
      margin-bottom: 0;

      a {
        @extend %trans-bk-accordion;
        padding-left: 2rem;

        &[aria-expanded="true"] {
          padding-bottom: 0;
        }

        .p-accordion-toggle-icon {
          position: absolute;
          right: 1rem;
          top: 1.5rem;
          color: $base-text-color !important;
          z-index: 2;
          font-size: 1.5rem;
          cursor: pointer;
        }

        &:focus {
          box-shadow: none;
        }
      }

      &.p-state-active {
        @extend %trans-bk-accordion;
      }

      .p-accordion-header-text {
        text-transform: uppercase;
      }

      p-header {
        display: flex;
        align-items: center;
      }
    }

    .p-toggleable-content {
      border-bottom: .1rem solid $group-border-color;

      .p-accordion-content {
        background-color: transparent;
        border: .1rem solid transparent;
        padding: {
          left: 3.2rem;
          top: 0;
          right: 0;
        }
      }
    }
  }
}
