<div class="group-content">
  <!-- <div class="group-show-activity">
    <span class="group-show-activity-label">
      Show groups that participate to that activity
    </span>
    <alg-switch mode="white"></alg-switch>
  </div> -->
  <div class="group-self">
    <span class="anonym-group">
      <img src="assets/images/Male.svg" style="width: 3.3333rem; height: 3.3333rem;" />
    </span>
    <span class="group-subtitle" routerLink="groups/me" routerLinkActive="selected">Yourself</span>
  </div>
  <div class="group-list">
    <p-accordion [multiple]="true" (onOpen)="onTabOpen($event)">
      <p-accordionTab [ngSwitch]="managedGroups">
        <p-header>
          <span class="anonym-group">
            <img src="assets/images/Group - Managed.svg" style="width: 3.3333rem; height: 3.3333rem;" />
          </span>
          <span class="group-subtitle" (click)="goToGroupManaged()">Groups you manage</span>
        </p-header>
        <p-progressSpinner *ngSwitchCase="'loading'" [style]="{width: '3.3333rem', height: '3.3333rem'}"></p-progressSpinner>
        <p *ngSwitchCase="'error'">Unable to load the group list</p>
        <alg-group-nav-tree *ngSwitchDefault [groups]="$any(managedGroups)"><!--any better sol than $any is welcome!--></alg-group-nav-tree>
      </p-accordionTab>
      <p-accordionTab [ngSwitch]="joinedGroups">
        <p-header>
          <span class="anonym-group">
            <img src="assets/images/Group - Joined.svg" style="width: 3.3333rem; height: 3.3333rem;" />
          </span>
          <span class="group-subtitle">Groups You Joined</span>
        </p-header>
        <p-progressSpinner *ngSwitchCase="'loading'" [style]="{width: '3.3333rem', height: '3.3333rem'}"></p-progressSpinner>
        <p *ngSwitchCase="'error'">Unable to load the group list</p>
        <alg-group-nav-tree *ngSwitchDefault [groups]="$any(joinedGroups)"><!--any better sol than $any is welcome!--></alg-group-nav-tree>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<!-- [data]="items.groups.join"
(nodeChange)="onNodeChange($event, 'memberships')"
(titleChange)="onTitleChange($event)" -->
