<div class="group-content">
  <!-- <div class="group-show-activity">
    <span class="group-show-activity-label">
      Show groups that participate to that activity
    </span>
    <alg-switch mode="white"></alg-switch>
  </div> -->
  <!-- <div class="group-self" (click)="onSelectYourself($event, 0)">
    <span class="anonym-group">
      <img src="assets/images/Male.svg" style="width: 3.3333rem; height: 3.3333rem;" />
    </span>
    <span class="group-subtitle" [ngClass]="{'selected': selectedGroup == 0 ? true : false}">Yourself</span>
  </div> -->
  <div class="group-list">
    <p-accordion [multiple]="true" (onOpen)="onTabOpen($event)">
      <!-- <p-accordionTab [selected]="manageShow">
        <p-header>
          <span class="anonym-group">
            <img src="assets/images/Group - Managed.svg" style="width: 3.3333rem; height: 3.3333rem;" />
          </span>
          <span class="group-subtitle" [ngClass]="{'selected': selectedGroup == 1 ? true : false}">Groups you
            manage</span>
        </p-header>
        <alg-group-nav-tree [data]="items.groups.manage" inGroup="true"
          (nodeChange)="onNodeChange($event, 'managed')" (titleChange)="onTitleChange($event)">
        </alg-group-navigation-tree>
      </p-accordionTab> -->
      <p-accordionTab>
        <p-header>
          <span class="anonym-group">
            <img src="assets/images/Group - Joined.svg" style="width: 3.3333rem; height: 3.3333rem;" />
          </span>
          <span class="group-subtitle">Groups You Joined</span>
        </p-header>
        <p-progressSpinner *ngIf="joinedGroupLoading" [style]="{width: '3.3333rem', height: '3.3333rem'}"></p-progressSpinner>
        <alg-group-nav-tree *ngIf="!joinedGroupLoading && joinedGroups.length !== 0" [groups]="joinedGroups"></alg-group-nav-tree>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<!-- [data]="items.groups.join"
(nodeChange)="onNodeChange($event, 'memberships')"
(titleChange)="onTitleChange($event)" -->
