@import 'src/assets/fonts/source-sans-pro/stylesheet';

[data-theme=coursera-pt] {
  --font-family: "Source Sans Pro", Arial, sans-serif;
  --base-color: #0056D2;
  --dark-color: #053B89;
  --nav-bg-color: #0056D2;
}
