@use '../../../../assets/scss/functions';

:host {
  display: block;
  width: 50vw;
}

.button {
  margin-right: var(--alg-space-size-6);
}

.description {
  margin: 0;
}

.form {
  margin-top: functions.toRem(16);
}

.switch-field {
  display: block;
  margin-top: var(--alg-space-size-5);
}

.footer-container {
  display: flex;
  justify-content: center;
}
