@import '../../../../assets/scss/functions';

.footer {
  display: flex;
  justify-content: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  align-items: center;
  position: relative;
}

.dialog-title {
  font-size: toRem(20);
  flex: 1;
}

.description {
  margin: 0;
}

.form {
  margin-top: toRem(16);
}

.error-message {
  margin-right: .3rem;
}

.switch-field {
  display: block;
  margin-top: var(--alg-space-size-5);
}
