@import "src/colors.scss";

.select-value {
  border-radius: 9rem;
  background-color: $base-color;
  display: flex;
  align-items: center;
  height: 1.8333rem;
  width: 6.25rem;
  padding: 0 0.8333rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;

  .select-label {
    flex: 1;
  }

  .dropdown-icon {
    margin-right: 0;
  }
}

.select-dropdown-wrapper {
  z-index: 1;
  position: relative;
  width: 6.25rem;
  height: 1.8333rem;

  .select-dropdown {
    list-style: none;
    padding-left: 0;
    margin: 0;
    background-color: $base-color;
    border-radius: 1rem;
    width: 100%;
    position: absolute;
    top: 0;

    li {
      padding: 0.4167rem 0.8333rem;
      color: white;
      border-bottom: 0.0833rem solid #6ea6e7;
      cursor: pointer;
      height: 1.8333rem;
      font-size: 1rem;
      line-height: 1rem;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .dropdown-icon {
    position: absolute;
    right: 0.8333rem;
    top: 0.3333rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}
