@import 'src/colors.scss';

.section-container {
  margin-top: 2.5rem;
  border-bottom: 0.0833rem solid $light-border-color;

  &.no-border {
    border-bottom: none;
  }
  
  .section-header {
    display: flex;
    align-items: center;

    .section-handler {
      display: flex;
      background-color: $base-color;
      border-left: 0.25rem solid $dark-color;
      width: 4.5833rem;
      height: 2.5rem;
      border-top-right-radius: 9rem;
      border-bottom-right-radius: 9rem;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      padding-right: 0.8333rem;

      i {
        color: white;
        font-size: 1.1667rem;
      }
    }

    .section-title {
      font-size: 2rem;
      color: $dark-text-color;
      margin-left: 1.25rem;
    }
  }
  
  .section-content {
    padding: 1.25rem 1.6667rem 1.25rem 5.8333rem;
    color: $base-text-color;
  }
}
