@import 'src/colors.scss';

.section-container {
  margin-top: 3rem;
  border-bottom: 0.1rem solid $light-border-color;

  &.no-border {
    border-bottom: none;
  }

  .section-header {
    display: flex;
    align-items: center;

    .section-handler {
      display: flex;
      background-color: $base-color;
      border-left: .3rem solid $dark-color;
      width: 5rem;
      height: 3rem;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;

      i {
        color: white;
        font-size: 1.2rem;
      }
    }

    .section-title {
      font-size: 2rem;
      color: $dark-text-color;
      margin-left: 1.25rem;
    }
  }

  .section-content {
    padding: 1.25rem 1.6667rem 5rem 5.8333rem;
    color: $base-text-color;
  }
}
