<div class="container">
  <button
    alg-button
    type="button"
    class="danger size-l"
    (click)="onDeleteItem()"
    [disabled]="!canDeleteState().data || deletionInProgress()"
    i18n
  >Delete this item</button>
  @if (!isOwner()) {
    <span class="message" i18n>Only owner can delete items</span>
  }
  @else if (canDeleteState().isFetching || deletionInProgress()) {
    <alg-loading size="small"></alg-loading>
  }
  @else if (canDeleteState().isError) {
    <alg-error
        class="warning small"
        i18n-message message="Error while loading the item info"
        [showRefreshButton]="true"
        refreshButtonType="refresh"
        (refresh)="refresh()"
      ></alg-error>
  }
  @else if ((itemData().item | isAChapter) && !canDeleteState().data) {
    <span class="message" i18n>Only empty chapters can be deleted.</span>
  }
  @else if ((itemData().item | isASkill) && !canDeleteState().data) {
    <span class="message" i18n>Only empty skills can be deleted.</span>
  }
</div>
