<div
  class="message-container"
  [ngClass]="{
    'left': !userInfo?.isThreadParticipant && event.label === 'message',
    'right': userInfo?.isThreadParticipant && event.label === 'message',
    'highlighted': userInfo?.isCurrentUser && event.label === 'message',
    'full-width transparent': ['result_started', 'submission'].includes(event.label)
  }"
>
  <div class="message">
    <div class="name" *ngIf="!userInfo?.isCurrentUser && event.label === 'message'">
      <strong>{{ userInfo?.name }}</strong>
    </div>
    <div class="bubble">
      <ng-container *ngIf="event.label === 'message'">
        <div
          class="message-event"
          [innerHTML]="event.data.content | allowDisplayCodeSnippet : userInfo?.isCurrentUser && event.label === 'message' ? 'light' : 'dark'"
        ></div>
      </ng-container>
      <ng-container *ngIf="['result_started', 'submission'].includes(event.label)">
        <div class="classical-event">
          <span *ngIf="userInfo?.isCurrentUser; else notCurrentUser" i18n>
            You
          </span>
          <ng-template #notCurrentUser>
            <span *ngIf="userInfo?.isThreadParticipant; else anotherUser" i18n>
              The user
            </span>
          </ng-template>
          <ng-template #anotherUser>
            <span>
              {{ userInfo?.name }}
            </span>
          </ng-template>
          <span *ngIf="event.label === 'result_started'" i18n>started the activity</span>
          <ng-container *ngIf="event.label === 'submission'">
            <span i18n>submitted a solution</span>
            <span class="scored-text" *ngIf="event.data.score !== undefined" i18n>
              which scored <strong>{{ event.data.score }}</strong>
            </span>.
            <ng-container *ngIf="canCurrentUserLoadAnswers && itemRoute">
              <div>
                <a class="alg-link white-color hover-underline" [routerLink]="itemRoute | withAnswer: { id: event.data.answerId } | url" i18n>
                  <strong>Load this submission</strong>
                </a>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="date">{{ event.time | date : 'short' }}</div>
      </ng-container>
    </div>
    <div class="date" *ngIf="event.label === 'message'" i18n>Sent at {{ event.time | date : 'short' }}</div>
  </div>
</div>
