.message-container {
  display: flex;

  &.left {
    justify-content: left;

    .bubble {
      color: #fff;
      border-radius: .3rem 1.5rem 1.5rem 1.5rem;
      background-color: #79adea;
    }
  }

  &.right {
    justify-content: right;

    .bubble {
      border-radius: 1.5rem .3rem 1.5rem 1.5rem;
    }
    .date {
      text-align: right;
    }
  }

  &.full-width {
    .message {
      width: 100%;
      text-align: center;
    }
    .date {
      text-align: center;
    }
  }

  &.transparent {
    .bubble {
      color: #fff;
      background-color: transparent;
      border: .1rem solid #79adea;
      border-radius: 1.2rem;
    }
  }
}

.name {
  margin-bottom: .2rem;
}

.bubble {
  padding: .4rem 1rem;
  color: var(--base-text-color);
  background-color: #fff;
  border-radius: 1.5rem;
}

.scored-text {
  margin-left: .2rem;
}

.date {
  font-size: .9rem;
  font-weight: 300;
  opacity: .9;
}

.classical-event {
  font-size: 1rem;
}

.message-event {
  font-size: 1.1rem;
}
