<div class="neighbor-widget" *ngIf="navigationMode">
  <div class="neighbor-widget-button" @buttonAnimation *ngIf="navigationMode.parent">
    <button
      alg-button-icon
      type="button"
      icon="ph-bold ph-caret-up"
      class="size-s no-bg nav-arrow"
      (click)="parent.emit()"
    ></button>
  </div>
  <div class="neighbor-widget-button">
    <button
      alg-button-icon
      type="button"
      icon="ph-bold ph-caret-left"
      class="size-s no-bg nav-arrow"
      (click)="left.emit()"
      [disabled]="!navigationMode.left"
    ></button>
  </div>
  <div class="neighbor-widget-button">
    <button
      alg-button-icon
      type="button"
      icon="ph-bold ph-caret-right"
      class="size-s no-bg nav-arrow"
      data-testid="nav-to-next"
      (click)="right.emit()"
      [disabled]="!navigationMode.right"
    ></button>
  </div>
</div>
