@import 'src/assets/scss/functions';

.neighbor-widget {
  display: flex;
  align-items: center;
  height: 100%;
}

.neighbor-widget-button {
  display: flex;
  align-items: center;
  height: 100%;

  &:not(:last-child) {
    &:after {
      content: '|';
      color: var(--alg-border-light-color);

      @media screen and (max-width: 599.98px) {
        margin: 0 toRem(2);
      }
    }
  }
}

.right-margin {
  margin-right: var(--alg-space-size-6);
}
.left-margin {
  margin-left: var(--alg-space-size-6);
}
