@use 'src/assets/scss/functions';

.neighbor-widget {
  display: flex;
  align-items: center;
  height: 100%;
}

.neighbor-widget-button {
  display: flex;
  align-items: center;
  height: 100%;

  &:not(:last-child) {
    &:not(.no-separator) {
      &:after {
        content: '|';
        color: var(--alg-border-light-color);

        @media screen and (max-width: 599.98px) {
          margin: 0 functions.toRem(2);
        }
      }
    }
  }
}

.right-margin {
  margin-right: functions.toRem(12);
}
.left-margin {
  margin-left: functions.toRem(12);
}
