@import 'src/assets/scss/functions';
@import 'src/geometry.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: var(--alg-space-size-4) 0;
}

.validation-text {
  color: var(--base-color);
  font-size: 1.6rem;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

.validation-text+* {
  margin-top: 0;
  padding-top: 0 !important;
}

.grid-container {
  display: flex;
  flex-flow: wrap;

  &.full-frame {
    .grid-item {
      width: 50%;

      @media screen and (min-width: 599.98px) {
        width: 33.3%;
      }
      @media screen and (min-width: 800px) {
        width: 25%;
      }
      @media screen and (min-width: 980px) {
        width: 20%;
      }
      @media screen and (min-width: 1200px) {
        width: 16.6%;
      }
    }
  }
}

.grid-item {
  width: 50%;
  padding: .5rem;

  @media screen and (min-width: 980px) {
    width: 33.3%;
  }
  @media screen and (min-width: 1230px) {
    width: 33.3%;
  }
  @media screen and (min-width: 1400px) {
    width: 25%;
  }
}

.grid-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: toRem(248);
  border: toRem(1) solid #DEDEDE;
  border-radius: toRem(10);
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 toRem(6) toRem(11) 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 toRem(6) toRem(11) 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 toRem(6) toRem(11) 0 rgba(0,0,0,0.1);
}

.grid-card-text-section {
  padding: toRem(15);
}

.grid-card-title {
  color: #545454;
  font-size: toRem(16);
  font-weight: 700;
}

.grid-card-description {
  margin-top: toRem(10);
  color: var(--alg-secondary-color);
  font-size: toRem(12);
}

.grid-card-image-section {
  position: relative;
  max-width: 100%;
  background-color: var(--dark-transparency-color);
  flex: 40%;
}

.grid-card-image {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-card-lock-status {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 0 1rem;
  z-index: 2;
}

.grid-card-lock-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 1;
}

.grid-card-lock-status-icon {
  color: #f8b42c;
  font-size: 1rem;
}

.grid-card-activity-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: toRem(10);
  right: toRem(10);
  width: toRem(18);
  height: toRem(18);
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}
