<p-progressSpinner *ngIf="state === 'loading'"></p-progressSpinner>

<p *ngIf="state === 'error'">Error while loading the group managers</p>

<ng-container *ngIf="state !== 'loading' && state !== 'error'">
  <br>
  <p class="validation-text" *ngIf="state === 'ready-missing-validation'">
    To validate this chapter, solve at least all tasks with Validation type
  </p>
  <p class="validation-text" *ngIf="state === 'empty'">
    This chapter has no content visible to you, so you can't validate it for now.
  </p>

  <ul class="data-list-container activity" *ngIf="state !== 'empty'">
    <li *ngFor="let item of children; index as ln">
      <span class="activity-progress">
        <alg-score-ring
          *ngIf="!item.isLocked && item.result"
          [diameter]="30"
          [currentScore]="item.result.score"
          [isValidated]="item.result.validated"
          [bestScore]="item.bestScore"
        ></alg-score-ring>
      </span>
      <span
        class="activity-content"
        (click)="click(item)"
        [ngClass]="{ locked: item.isLocked }"
      >
        <span class="activity-title">
          {{ ln + 1 }}. {{ item.string.title }}
        </span>
        <span *ngIf="item.isLocked" class="activity-status">
          <i *ngIf="item.isLocked" class="fa fa-lock"></i>
        </span>
        <alg-state-widget
          [type]="item.category"
        ></alg-state-widget>
      </span>
    </li>
  </ul>

</ng-container>
