<ng-container *ngIf="state$ | async as state">
  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    i18n-message message="Error while loading this chapter's children"
    [showRefreshButton]="true"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.isReady && state.data as data">
    <p class="validation-text" *ngIf="data.missingValidation" i18n>
      To validate this chapter, solve at least all tasks with Validation type
    </p>
    <p class="validation-text" *ngIf="data.children.length === 0" i18n>
      This chapter has no content visible to you, so you can't validate it for now.
    </p>

    <ng-container *ngIf="itemData && itemData.item.childrenLayout === 'Grid'; else listSection">
      <div
        class="grid-container"
        [ngClass]="{ 'full-frame': (fullFrame$ | async)?.active }"
        *ngIf="data.children.length > 0"
      >
        <div class="grid-item" *ngFor="let item of data.children; let i = index">
          <a class="grid-card"
            [routerLink]="{
              id: item.id,
              contentType: item | contentTypeFromItem,
              path: itemData.route.path.concat([ itemData.item.id ])
            } | withAttempt: (item.result && item.result.attemptId ? {
              attemptId : item.result.attemptId
            } : { parentAttemptId: attemptId }) | url"
            *ngIf="itemData && itemData.currentResult?.attemptId as attemptId"
          >
            <div class="grid-card-title text-dots">{{ i + 1 }}. {{ item.string.title }}</div>
            <div class="grid-card-image-section">
              <ng-container *ngIf="item.isLocked">
                <div class="grid-card-lock-status">
                  <i class="grid-card-lock-status-icon fa fa-lock"></i>
                </div>
                <div class="grid-card-lock-bg"></div>
              </ng-container>
              <div
                class="grid-card-image"
                [style.background-image]="'url(' + item.string.imageUrl + ')'"
                *ngIf="item.string.imageUrl; else defaultImage"
              ></div>
              <ng-template #defaultImage>
                <div class="grid-card-image grid-card-image-default-bg"></div>
              </ng-template>
            </div>
            <div class="grid-card-footer">
              <div></div>
              <div class="grid-card-activity-progress">
                <alg-score-ring
                  *ngIf="!item.noScore && ((!item.watchedGroup && item.result) || (item.watchedGroup && item.watchedGroup.avgScore !== undefined))"
                  [diameter]="30"
                  [currentScore]="(item.watchedGroup ? item.watchedGroup.avgScore : item.result?.score) ?? 0"
                  [isValidated]="(item.watchedGroup ? item.watchedGroup.allValidated : item.result?.validated) ?? false"
                  [bestScore]="item.watchedGroup ? (item.watchedGroup.avgScore ?? 0) : item.bestScore"
                ></alg-score-ring>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #listSection>
      <alg-item-children-list
        [itemData]="itemData"
        [children]="data.children"
        [showStateWidget]="true"
      ></alg-item-children-list>
    </ng-template>

  </ng-container>
</ng-container>
