@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.watching-warning {
  margin: functions.toRem(16);
}

.scroll-wrapper {
  position: relative;
}

.scroll-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
