@use 'src/assets/scss/functions';

.form {
  display: flex;
  justify-content: start;
  align-items: center;
}

.button {
  margin-left: functions.toRem(4);
}

.extra-time-input {
  display: inline;
}
