@import 'src/assets/scss/functions';

.title {
  margin: toRem(6) 0 toRem(16) 0;
}

.error {
  padding: 1rem 0;
}

.field {
  display: flex;
  align-items: center;

  .field-name {
    float: left;
    width: 30%;
    margin-top: 0;
  }

  .field-value {
    float: left;
    width: 80%;
    margin-top: 6px;
  }
}

.item-edit-content {
  display: block;
  margin-top: toRem(38);
}
