@import 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: toRem(20);
  overflow: hidden;
  background-color: var(--alg-light-color);
}

.tabs-item {
  position: relative;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: toRem(40);
  color: var(--alg-secondary-color);
  cursor: pointer;

  &.active {
    color: var(--alg-light-color);
    font-weight: 500;
    background-color: var(--alg-primary-color);
    border-radius: toRem(20);
  }

  &:not(.active, .next, :first-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: toRem(1);
    height: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  }
}
