@use 'src/assets/scss/functions';

:host {
  position: relative;
  display: block;
}

.success {
  color: var(--alg-success-color) !important;
}

.failure {
  color: var(--alg-failure-color) !important;
}

.duration-form-group {
  display: flex;
  align-items: center;
  margin-top: var(--alg-space-size-6);
}

.button-section {
  margin-left: var(--alg-space-size-6);
}

.field {
  margin: var(--alg-space-size-5) 0;
  display: flex;
  align-items: center;

  &.align-top {
    align-items: flex-start;
  }
}

.field-name {
  width: 30%;
  margin-top: 0;
  color: var(--alg-form-item-label);

  &.field-validity {
    height: functions.toRem(40);
    display: flex;
    align-items: center;
  }
}

.field-value {
  width: 70%;
  margin-left: functions.toRem(16);
}
