@import 'src/colors.scss';

.form-item-view {
  display: flex;
  align-items: center;
  margin: 1.25rem;

  .form-item-label {
    display: block;
    font-size: 1.2rem;
    color: $dark-text-color;
    font-weight: bold;
    flex: 1;

    &.left-control {
      flex: unset;
      margin-right: 2.0833rem;
    }
  }

  .form-item-control {
    display: flex;
    flex-direction: row-reverse;
    width: 29.1667rem;

    &.left-control {
      flex-direction: row;
    }

    .stretch {
      flex: 1;
    }

    &.another-input {
      display: flex;
      align-items: center;

      .first-child {
        margin-right: 2rem;
      }

      .date-pickers {
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        .date-label {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

.pick-list-header {
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}

.pick-list-error {
  margin-left: 1rem;
  color: #FF001F;
}