@use 'src/assets/scss/functions';

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: var(--alg-secondary-color);
  background-color: var(--alg-light-bg-color);
  border-radius: var(--border-radius);
  height: functions.toRem(48);
}

.content, .content-text {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

.content {
  justify-content: space-between;
}

.content-left {
  display: flex;
  align-items: center;
}

.score-ring {
  margin-right: functions.toRem(8);
}

.button {
  margin-right: functions.toRem(6);
}

.links, .score {
  margin: 0 .4rem;
  color: var(--base-color);
  &:hover {
    color: var(--base-color-hover);
  }
}

.description {
  font-size: functions.toRem(14);
}
