<ng-container *ngrxLet="{ currentUserId: currentUserId$, isObserving: isObserving$ } as info">
  @if (answer$ | async; as answer) {
    @if (author$ | async; as author) {
      <div class="container">
        @if (author.isFetching && !author.data) {
          <alg-loading class="no-padding" size="small"></alg-loading>
        }
        @if (author.isError) {
          <alg-error i18n-message message="Error while fetching author info"></alg-error>
        }
        @if (author.isReady && author.data; as author) {
          <div class="content">
            <div class="content-left">
              @if (answer.score || answer.score === 0) {
                <alg-score-ring
                  class="score-ring"
                  [currentScore]="answer.score"
                  [diameter]="32"
                ></alg-score-ring>
              }
              <div class="description" i18n>
                Submitted by
                @if (author.groupId === info.currentUserId) {
                  yourself
                } @else {
                  <a [routerLink]="groupLink$ | async" class="alg-link base-color">{{ author | userCaption }}</a>
                }
                on {{ answer.createdAt | date:'short' }}.
              </div>
            </div>
            @if (!info.isObserving && author.groupId === info.currentUserId && itemData) {
              <div class="buttons">
                <a
                  class="size-xs button"
                  alg-button
                  [routerLink]="itemData.item | itemRoute | url"
                  [algLoadAnswerAsCurrent]="answer.id"
                  i18n
                >
                  Edit it
                </a>
                <a
                  class="size-xs"
                  alg-button
                  [routerLink]="itemData.item | itemRoute | url"
                  i18n
                >
                  Back to your current answer
                </a>
              </div>
            }
          </div>
        }
      </div>
    }
  }
</ng-container>
