@import 'src/variables';

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0.1rem solid rgba(74, 74, 74, 0.1);

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  margin-right: 1rem;
  color: var(--base-color);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin: 0;
  padding: 1rem;
}
