@import 'src/colors.scss';
@import 'src/geometry.scss';

.group-situation-data {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4167rem;
  height: 3.5833rem;

  &.pointer {
    cursor: pointer;
  }

  &.success {
    background-color: #9ACC68;
  }

  &.in-progress {
    background-color: var(--secondary-color);
  }

  &.no-score {
    background-color: #F9C6CD;
  }

  &.not-started {
    background-color: white;
  }


  .situation-check {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  alg-score-ring {
    &.not-started {
      background-color: red;
    }
  }
}
