@use 'src/assets/scss/functions';

:host {
  display: block;
  margin: 0 0 var(--alg-space-size-4) 0;
}

iframe {
  width: 100%;
  border: 0;
  min-height: functions.toRem(200);
  max-height: functions.toRem(480);
}
