<lib-section icon="fa fa-link" label="Skills associated with this activity">
  <lib-grid-filter-bar>
    <lib-select
      [items]="filterChoice"
      [opened]="false"
      width="10"
      style="margin: 0.4167rem;"
    ></lib-select>
    <ng-container *ngFor="let filter of gridFilters">
      <lib-grid-filter
        [icon]="filter.icon"
        [label]="filter.label"
        [type]="filter.type"
        [mode]="filter.mode"
        [text]="filter.text"
        [ranges]="filter.ranges"
        [dateRanges]="filter.dateRanges"
        [list]="filter.list"
        (onClose)="removeFilter(filter.ID)"
      ></lib-grid-filter>
    </ng-container>
  </lib-grid-filter-bar>
  <lib-activity-skill-list [data]="suggested" [activity]="false"></lib-activity-skill-list>

  <p class="skill-post">There may be more skills associated with this activity, that you don't have access to.</p>
</lib-section>