@import 'src/colors.scss';

$mosaic-bk-color: #EFEFEF;

.mosaic-item-container {
  display: flex;
  border-radius: 0.4167rem;
  flex-direction: column;
  min-width: 16.6667rem;

  .mosaic-item-title {
    background-color: $mosaic-bk-color;
    color: $base-text-color;
    border-top-left-radius: 0.4167rem;
    border-top-right-radius: 0.4167rem;
    padding: 0.8333rem;
    height: 3.6667rem;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;

    .truncated-title {
      position: relative;
      overflow: hidden;
      max-height: 2rem;
      padding-right: 1rem;

      &::before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
        background: $mosaic-bk-color;
      }
    }
  }

  .mosaic-item-image {
    position: relative;
    height: 9.1667rem;
    width: 100%;

    .image {
      width: 100%;
      height: 9.1667rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mosaic-lock-key {
      position: absolute;
      right: 0;
      top: 0;
      width: 2.0833rem;
      height: 1.6667rem;
      font-size: 1rem;
      color: $secondary-color;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 0.8333rem;
    }
  }

  .mosaic-bottom-row {
    display: flex;
    align-items: center;
    padding: 0.8333rem;
    background-color: $mosaic-bk-color;
    border-bottom-left-radius: 0.4167rem;
    border-bottom-right-radius: 0.4167rem;

    app-state-widget {
      flex: 1;
    }

    .weight-view {
      font-size: 1rem;
      color: $base-text-color;
      margin-right: 0.4167rem;
    }
  }
}