@import 'src/colors.scss';

.error {
  display: flex;
  height: 3.5rem;
  background-color: $base-color;
  color: white;
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 1em;
}

.loading {
  display: flex;
  background-color: $base-color;
  padding-left: 2rem;
  padding-top: 1em;
  align-items: center;
}
