<ng-container *ngIf="itemLoadingState$ | async as state">

  <div *ngIf="state.tag === 'ready' && (itemData$ | async) as itemData" style="margin: 1rem 0 0.5rem 0">
    <form [formGroup]="itemForm" *ngIf="['all','all_with_grant'].includes(itemData.item.permissions.can_edit); else notAuthorized">

      <div class="header">
        <alg-input [parentForm]="itemForm" name="title" size="large" [isDark]='false'></alg-input>
      </div>

      <nav mat-tab-nav-bar>
        <a mat-tab-link
           [routerLink]="'./'"
           routerLinkActive #rla1="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           [active]="rla1.isActive">
          Content
        </a>
      </nav>

      <div class="bg-white">
        <alg-item-edit-content #content
          *ngIf="rla1.isActive"
          [parentForm]="itemForm"
          [itemData]="itemData"
          (childrenChanges)="updateItemChanges($event)"
        >
        </alg-item-edit-content>
      </div>

    </form>
    <alg-floating-save *ngIf="itemForm.dirty" [saving]="itemForm.disabled" (save)="save()" (cancel)="resetForm()"></alg-floating-save>
    <ng-template #notAuthorized>
      <p>You do not have the permissions to edit this content.</p>
    </ng-template>
  </div>

</ng-container>
