<ng-container *ngIf="fetchState$ | async as fetchState">

  <div *ngIf="fetchState.isReady" style="margin: 1rem 0 0.5rem 0">
    <form [formGroup]="itemForm" *ngIf="fetchState.data.item.permissions | allowsEditingChildren; else notAuthorized">

      <div class="header" *ngIf="fetchState.data.item.permissions | allowsEditingAll">
        <alg-input [parentForm]="itemForm" i18n-placeholder placeholder="Item title" name="title" size="large" [isDark]='false'></alg-input>
        <alg-input [parentForm]="itemForm" i18n-placeholder placeholder="Item subtitle" name="subtitle" size="small" [isDark]='false'></alg-input>
      </div>

      <nav class="nav-tab">
        <a
           class="nav-tab-item"
           [routerLink]="'./'"
           routerLinkActive #rla1="routerLinkActive"
           [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
           [class.active]="rla1.isActive"
           i18n
        >
          Content
        </a>
        <a
          [hidden]="!(fetchState.data.item.permissions | allowsEditingAll)"
          class="nav-tab-item"
          [routerLink]="'./advanced-parameters'"
          routerLinkActive #rla2="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="rla2.isActive"
          i18n
        >
          Advanced parameters
        </a>
      </nav>

      <div class="bg-white">
        <alg-item-edit-content
          *ngIf="rla1.isActive"
          [parentForm]="itemForm"
          [itemData]="fetchState.data"
        >
        </alg-item-edit-content>
        <ng-container *ngIf="attemptId$ | async as attemptId">
          <alg-item-edit-advanced-parameters #advancedParameters
            *ngIf="(fetchState.data.item.permissions | allowsEditingAll) && rla2.isActive"
            [parentForm]="itemForm"
            [item]="initialFormData"
            [attemptId]="attemptId"
          >
          </alg-item-edit-advanced-parameters>
        </ng-container>
      </div>

    </form>
    <alg-floating-save *ngIf="itemForm.dirty" [saving]="itemForm.disabled" (save)="save()" (cancel)="onCancel()"></alg-floating-save>
    <ng-template #notAuthorized>
      <p i18n>You do not have the permissions to edit this content.</p>
    </ng-template>
  </div>

</ng-container>
