<ng-container *ngIf="fetchState$ | async as fetchState">

  <div *ngIf="fetchState.isReady" style="margin: 1rem 0 0.5rem 0">
    <form [formGroup]="itemForm" *ngIf="['all','all_with_grant'].includes(fetchState.data.item.permissions.canEdit); else notAuthorized">

      <div class="header">
        <alg-input [parentForm]="itemForm" i18n-placeholder placeholder="Item title" name="title" size="large" [isDark]='false'></alg-input>
        <alg-input [parentForm]="itemForm" i18n-placeholder placeholder="Item subtitle" name="subtitle" size="small" [isDark]='false'></alg-input>
      </div>

      <nav mat-tab-nav-bar>
        <a mat-tab-link
           [routerLink]="'./'"
           routerLinkActive #rla1="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           [active]="rla1.isActive"
           i18n
        >
          Content
        </a>
        <a mat-tab-link
          [routerLink]="'./advanced-parameters'"
          routerLinkActive #rla2="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [active]="rla2.isActive"
          i18n
        >
          Advanced parameters
        </a>
      </nav>

      <div class="bg-white">
        <alg-item-edit-content #content
          *ngIf="rla1.isActive"
          [parentForm]="itemForm"
          [itemData]="fetchState.data"
          (childrenChanges)="updateItemChanges($event)"
        >
        </alg-item-edit-content>
        <alg-item-edit-advanced-parameters #advancedParameters
          *ngIf="rla2.isActive"
          [parentForm]="itemForm"
          [item]="initialFormData"
        >
        </alg-item-edit-advanced-parameters>
      </div>

    </form>
    <alg-floating-save *ngIf="itemForm.dirty" [saving]="itemForm.disabled" (save)="save()" (cancel)="resetForm()"></alg-floating-save>
    <ng-template #notAuthorized>
      <p i18n>You do not have the permissions to edit this content.</p>
    </ng-template>
  </div>

</ng-container>
