@import 'src/colors.scss';
@import 'src/geometry.scss';

.mat-tab-group {
  font-family: inherit;
}

:host ::ng-deep .mat-tab-nav-bar {
  border-bottom: none;
  padding-right: 1rem;
  .mat-tab-link-container {
    .mat-ink-bar {
      display: none;
    }

    .mat-tab-links {
      .mat-tab-link {
        @include main-tabs;
        flex: 1;

        &.mat-tab-label-active {
          @include main-tab-active;
        }
      }
    }
  }
}

:host ::ng-deep .mat-tab-body-wrapper {
  .mat-tab-body {
    background-color: white;
    @include tab-content-radius;

    &:last-child {
      @include tab-content-radius;
    }
  }
}

.bg-white {
  margin-right: 1rem;
  background-color: white;
}

.header {
  margin-bottom: 2rem;
}
