@use 'src/assets/scss/functions';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 functions.toRem(16);
  height: functions.toRem(32);
  border-radius: functions.toRem(20);
  background-color: #ffcb30;
}

.left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0 functions.toRem(16);
  font-size: functions.toRem(12);
}
