.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.has-children {
  margin-right: var(--alg-space-size-5);
  color: var(--notify-error-color);
}

.button-block {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: var(--alg-space-size-5);
}
