.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.has-children {
  margin-left: var(--alg-space-size-6);
  color: var(--notify-error-color);
}

.button-block {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: var(--alg-space-size-5);
}
