@if (item(); as activeItem) {
  @if (activeItem.permissions | allowsEditingAll) {
    <form [formGroup]="itemForm">
      @let defaultLanguageTagValue = itemForm.controls.defaultLanguageTag.getRawValue();
      <alg-item-all-strings-form
        [defaultLanguageTag]="defaultLanguageTagValue"
        [supportedLanguages]="supportedLanguages()"
        [itemId]="activeItem.id"
        [itemSupportedLanguageTags]="activeItem.supportedLanguageTags"
        [loadedLanguageTags]="loadedLanguageTags()"
        [showDescription]="activeItem.type !== 'Task' && currentResult() !== null"
        formControlName="allStrings"
        (defaultLanguageEvent)="onDefaultLanguageChange($event)"
        (languageValueLoaded)="onLanguageValueLoaded($event)"
      ></alg-item-all-strings-form>
      @if (itemData(); as data) {
        <alg-item-parameters-form
          formControlName="parameters"
          [itemData]="data"
          [textIdError]="textIdError()"
          (confirmRemoval)="onConfirmRemoval()"
        ></alg-item-parameters-form>
      }
    </form>

    @if (itemForm.dirty) {
      <alg-floating-save [saving]="itemForm.disabled" (save)="save()" (cancel)="onCancel()"></alg-floating-save>
    }
  } @else {
    <alg-error i18n-message message="You do not have the permissions to edit this content."></alg-error>
  }
}
