@if (itemData) {
  @if (itemData.item.permissions | allowsEditingAll) {
    <form [formGroup]="itemForm">
      <div>
        <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>Information</h2>
        <div class="field">
          <div class="field-name">
            <label i18n>Item title</label>
          </div>
          <div class="field-value">
            <alg-input [parentForm]="itemForm" name="title"></alg-input>
          </div>
        </div>
        <div class="field">
          <div class="field-name">
            <label i18n>Item subtitle</label>
          </div>
          <div class="field-value">
            <alg-input [parentForm]="itemForm" name="subtitle"></alg-input>
          </div>
        </div>
      </div>
      <alg-item-edit-content
        class="item-edit-content"
        [parentForm]="itemForm"
        [itemData]="itemData"
        *ngIf="itemData.item.type !== 'Task'"
      >
      </alg-item-edit-content>
      <ng-container *ngIf="attemptId">
        <alg-item-edit-advanced-parameters
          [parentForm]="itemForm"
          [item]="initialFormData"
          [attemptId]="attemptId"
          (confirmRemoval)="onConfirmRemoval()"
        >
        </alg-item-edit-advanced-parameters>
      </ng-container>
    </form>

    <alg-floating-save *ngIf="itemForm.dirty" [saving]="itemForm.disabled" (save)="save()" (cancel)="onCancel()"></alg-floating-save>
  } @else {
   <alg-error i18n-message message="You do not have the permissions to edit this content."></alg-error>
  }
}

