<ng-container *ngIf="itemData">
  <form [formGroup]="itemForm" *ngIf="itemData.item.permissions | allowsEditingChildren; else notAuthorized">
    <div *ngIf="itemData.item.permissions | allowsEditingAll">
      <h2 class="alg-h2 alg-text-normal title" i18n>Information</h2>
      <div class="field">
        <div class="field-name">
          <label i18n>Item title</label>
        </div>
        <div class="field-value">
          <alg-input [parentForm]="itemForm" name="title"></alg-input>
        </div>
      </div>
      <div class="field">
        <div class="field-name">
          <label i18n>Item subtitle</label>
        </div>
        <div class="field-value">
          <alg-input [parentForm]="itemForm" name="subtitle"></alg-input>
        </div>
      </div>
    </div>
    <alg-item-edit-content
      class="item-edit-content"
      [parentForm]="itemForm"
      [itemData]="itemData"
      *ngIf="itemData.item.type !== 'Task'"
    >
    </alg-item-edit-content>
    <ng-container *ngIf="attemptId">
      <alg-item-edit-advanced-parameters
        *ngIf="itemData.item.permissions | allowsEditingAll"
        [parentForm]="itemForm"
        [item]="initialFormData"
        [attemptId]="attemptId"
        (confirmRemoval)="onConfirmRemoval()"
      >
      </alg-item-edit-advanced-parameters>
    </ng-container>
  </form>
</ng-container>

<alg-floating-save *ngIf="itemForm.dirty" [saving]="itemForm.disabled" (save)="save()" (cancel)="onCancel()"></alg-floating-save>

<ng-template #notAuthorized>
  <div class="error alg-error-text" i18n>You do not have the permissions to edit this content.</div>
</ng-template>
