@import 'src/assets/scss/functions';

.field {
  display: flex;
  align-items: center;
}

.field-name {
  float: left;
  width: 30%;
  margin-top: 0;
  color: var(--alg-form-item-label);
}

.field-value {
  float: left;
  width: 70%;
  margin-top: 6px;
  margin-left: toRem(16);
}

.item-edit-content {
  display: block;
  margin-top: toRem(38);
}
