@use 'src/assets/scss/functions';

.select-button-label {
  text-transform: capitalize;
}

.dropdown {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: functions.toRem(10);
  background-color: var(--alg-primary-color);
  border-radius: functions.toRem(10);
  border: none;
  box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 functions.toRem(6) functions.toRem(10) 0 rgba(0, 0, 0, 0.2);

  &:before {
    content: "";
    position: absolute;
    top: -.5rem;
    left: 50%;
    margin-left: -.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .5rem .5rem .5rem;
    border-color: transparent transparent var(--alg-primary-color)
  }
}
