@use '../variables';
@use 'src/geometry.scss';
@use 'src/assets/scss/functions';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left-menu {
  position: fixed;
  width: var(--left-panel-width);
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--alg-light-bg-color);

  &.collapsed {
    left: calc(0rem - var(--left-panel-width));
  }

  &.animated {
    transition: left var(--left-menu-animation);
    -webkit-transition: left var(--left-menu-animation);
    -moz-transition: left var(--left-menu-animation);
    -o-transition: left var(--left-menu-animation);
  }
}

.right-thread {
  position: fixed;
  width: var(--right-thread-width);
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--alg-light-bg-color);

  &.collapsed,
  &.inline-mode {
   right: calc(0rem - var(--right-thread-width));
  }
}

.right-container {
  margin-left: var(--left-panel-width);
  margin-right: var(--right-thread-width);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: functions.toRem(16);
  background-color: var(--alg-white-color);
  overflow: hidden;
  flex: 1;
  box-shadow: 0 functions.toRem(7) functions.toRem(10) 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 functions.toRem(7) functions.toRem(10) 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 functions.toRem(7) functions.toRem(10) 0 rgba(0,0,0,0.1);

  &.animated {
    transition: margin-left var(--left-menu-animation);
    -webkit-transition: margin-left var(--left-menu-animation);
    -moz-transition: margin-left var(--left-menu-animation);
    -o-transition: margin-left var(--left-menu-animation);
  }

  &.collapsed {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.thread-collapsed {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media screen and (max-width: 599.98px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;

  &.with-inline-thread {
    margin-right: var(--right-thread-width);
  }
}

.main-content {
  flex: 2 2 auto;
  display: flex;
  flex-direction: column;
  height: 0;
  padding: 0;

  &:not(.with-left-padding):not(.full-frame) {
    padding: 0 var(--alg-space-size-2);
  }

  &.full-frame {
    .main-content-bottom-padding {
      padding-bottom: 0;
    }
  }

  &.with-left-padding {
    padding: 0 0 0 var(--alg-space-size-2);

    .main-content-bottom-padding {
      padding-bottom: 0;
    }
  }
}

.main-content-bottom-padding {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--alg-space-size-1);
}

@media screen and (max-width: 599.98px) {
  .left-menu {
    width: 100%;
    z-index: 999;

    &.collapsed {
      left: -100%;
    }
  }

  .right-thread {
    width: 100%;
    z-index: 999;

    &.collapsed {
      right: -100%;
    }
  }

  .right-container {
    border-radius: 0 !important;
  }
}
