.container {
    // max-width: 960px;
    // margin: 0 auto;
    width: 100%;
    position: relative;

    .left {
        width: 400px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #4E4E4E;
        height: 100%;
    }

    .right {
        margin-left: 400px;
        padding-left: 20px;
        background-color: #F1F2F7;

        .button-container {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;

            app-button {
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}

.score-ring-container {
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

.score-ring-container app-skill-progress {
    margin: 5px;
}
