@import '../variables';
@import 'src/geometry.scss';
@import 'src/assets/scss/functions';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left-menu {
  position: fixed;
  width: var(--left-panel-width);
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--alg-light-bg-color);

  &.collapsed {
    left: calc(0rem - var(--left-panel-width));
  }

  &.animated {
    transition: left var(--left-menu-animation);
    -webkit-transition: left var(--left-menu-animation);
    -moz-transition: left var(--left-menu-animation);
    -o-transition: left var(--left-menu-animation);
  }
}

.right-thread {
  width: var(--right-thread-width);
  height: 100%;
  margin-right: calc(0rem - var(--right-thread-width));
  background-color: var(--alg-light-bg-color);

  transition: margin-right var(--right-thread-animation);
  -webkit-transition: margin-right var(--right-thread-animation);
  -moz-transition: margin-right var(--right-thread-animation);
  -o-transition: margin-right var(--right-thread-animation);

  &.opened {
    margin-right: 0;
  }
}

.right-container {
  margin-left: var(--left-panel-width);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: toRem(16) 0 0 toRem(16);
  background-color: var(--alg-white-color);
  overflow: hidden;
  flex: 1;
  box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);

  &.animated {
    transition: margin-left var(--left-menu-animation);
    -webkit-transition: margin-left var(--left-menu-animation);
    -moz-transition: margin-left var(--left-menu-animation);
    -o-transition: margin-left var(--left-menu-animation);
  }

  &.collapsed {
    margin-left: 0;
    border-radius: 0;
  }

  &.thread-opened {
    border-top-right-radius: toRem(16);
    border-bottom-right-radius: toRem(16);
  }

  @media screen and (max-width: 599.98px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.main-content {
  flex: 2 2 auto;
  display: flex;
  flex-direction: column;
  padding: 0 var(--alg-space-size-2);
  height: 0;
}

.main-content-bottom-padding {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--alg-space-size-1);
}

.error-message, .error-refresh-button, .error-note {
  text-align: center;
}

.error-refresh-button {
  margin: .6rem 0;
}

.error-note {
  font-size: 1rem;
}

@media screen and (max-width: 599.98px) {
  .left-menu {
    width: 100%;
    z-index: 999;

    &.collapsed {
      left: -100%;
    }
  }

  .right-thread {
    position: absolute;
    top: 0;
    right: -100%;
    margin-right: 0;

    width: 100%;
    z-index: 999;

    transition: right var(--right-thread-animation);
    -webkit-transition: right var(--right-thread-animation);
    -moz-transition: right var(--right-thread-animation);
    -o-transition: right var(--right-thread-animation);

    &.opened {
      right: 0;
    }
  }

  .right-container {
    border-radius: 0 !important;
  }
}
