<mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-chart-pie"></i>
      Overview
    </ng-template>
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-sitemap"></i>
      Composition
    </ng-template>
    <ng-template matTabContent>
      <app-section icon="fa fa-users" label="Current Composition">
        <div class="table-container">
          <div class="selection-tool">
            <app-selection [items]="childrenPolicy" (onChange)="onChildrenPolicyChanged($event)"></app-selection>
            <app-selection *ngIf="selectedPolicy" [items]="selItems" type="square"></app-selection>
          </div>
          <app-grid
            [selectedColumns]="columns"
            [columns]="columns"
            [data]="gridData"
            sortMode="single"
            selectionMode="multiple"
            scrollWhenExpanded="true"
            [groupInfo]="grdata"
            (expandWholeWidth)="onExpandWidth($event)"
          >
            <ng-template #headerTemplate let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template
              #bodyTemplate
              let-rowData
              let-columns="columns"
              let-rowIndex="rowIndex"
            >
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td style="width: 35px;">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                  {{ rowData[col.field] }}
                </td>
              </tr>
            </ng-template>
            <ng-template #summaryTemplate let-table>
              <div style="text-align: left; display: flex; align-items: center;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                <span style="margin-left: 10px; color: #9B9B9B; flex: 1;">
                  Select all
                </span>
                <div class="export-tools">
                  <span class="export">
                    <span>Duplicate</span>
                    <i class="fa fa-paste"></i>
                  </span>
                  <span class="remove">
                    <span>Remove</span>
                    <i class="fa fa-trash-alt"></i>
                  </span>
                  <span class="print">
                    <span>Move</span>
                    <i class="fa fa-folder-open"></i>
                  </span>
                </div>
              </div>
            </ng-template>
          </app-grid>
          <span class="tri-tag"></span>
        </div>
        <app-sub-section icon="fa fa-user-plus" label="Add subgroups" tooltip="tooltip help">
          <div class="button-container">
            <ng-container *ngFor="let item of subgroup">
              <app-group-button [label]="item.label" [icon]="item.icon" [disabled]="item.disabled"></app-group-button>
            </ng-container>
          </div>
        </app-sub-section>
        <app-sub-section icon="fa fa-calendar" label="Organize a session to constitute this group">
          <div class="session-content">
            <p style="font-size: 12px;">A session is an event focused on a specific activity, that takes place at a given time.</p>
            <div class="session-selectors">
              <div class="date-selector">
                <span class="label">Date</span>
                <app-date-picker></app-date-picker>
              </div>
              <div class="activity-selector">
                <span class="label">Activity</span>
                <app-activity-picker [trees]="trees"></app-activity-picker>
              </div>
            </div>
            <p style="font-size: 12px;">All the participants to this session will be automatically added as memebers of this group ([group name]).</p>
            <app-button label="Organize" icon="fa fa-plus" class="ui-button-rounded"></app-button>
          </div>
        </app-sub-section>
        <app-sub-section icon="fa fa-user-plus" label="Other ways to add new memebers to this group">
          <app-switch-container label="Invitation code" checked="true" subtitle="Let users access this group using a password you send them.">
            <div class="invitation-code">
              <div class="code-validation">
                <div class="code-wrapper">
                  <span class="label">Code</span>
                  <app-code-token></app-code-token>
                </div>
                <div class="time-wrapper">
                  <span class="label">Validity</span>
                  <app-time-picker></app-time-picker>
                </div>
              </div>
              <div class="auto-create">
                <span class="comment">Automatically create user account ?</span>
                <app-switch mode="white"></app-switch>
              </div>
            </div>
          </app-switch-container>
          <app-switch-container label="Invite users" checked="true" subtitle="Add users name list, separated by commas.">
            <div class="invite-users">
              <app-textarea icon="show" placeholder="psuedo, psuedo..."></app-textarea>
              <app-button label="Invite" class="ui-button-rounded"></app-button>
            </div>
          </app-switch-container>
          <app-switch-container label="Spontanewous requests" checked="true" subtitle="Can users ask you to join the group ?">
            <div class="spon-req">
              <app-selection [items]="yesNo"></app-selection>
            </div>
          </app-switch-container>
          <app-switch-container label="Account creation" checked="true" subtitle="Create batch unique user accounts.">
            <div class="account-create">
              <app-sub-grid [data]="subgriddata" [cols]="subgridcols"></app-sub-grid>
            </div>
          </app-switch-container>
        </app-sub-section>
        <app-sub-section icon="fa fa-file-import" label="Import">
          <div class="import-csv">
            <span class="comment">Import members from a .csv file</span>
            <app-button label="Import" icon="fa fa-plus" class="ui-button-rounded"></app-button>
          </div>
        </app-sub-section>
      </app-section>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-lock"></i>
      Administration
    </ng-template>
    <ng-template matTabContent> </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-cog"></i>
      Settings
    </ng-template>
    <ng-template matTabContent> </ng-template>
  </mat-tab>
</mat-tab-group>
