@import 'src/colors.scss';

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  .mat-tab-label-container {
    .mat-ink-bar {
      display: none;
    }

    .mat-tab-labels {
      background-color: white;
      .mat-tab-label {
        background-color: $base-bk-color;
        border-right: 1px solid $light-border-color;
        &.mat-tab-label-active {
          background-color: white;
          border-right-color: transparent;
          color: $base-color;
          border-top: 3px solid $base-color;
        }
        &.mat-tab-label-active + .mat-tab-label {
          border-bottom-left-radius: 10px;
        }
        &.mat-tab-label-before-active {
          border-bottom-right-radius: 10px;
        }
        .mat-tab-label-content {
          i {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

:host ::ng-deep .mat-tab-body-wrapper {
  .mat-tab-body {
    background-color: white;

    .table-container {
      padding-bottom: 20px;
      position: relative;

      .selection-tool {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: $base-bk-color;

        margin-left: 55px;
        margin-right: 20px;
        margin-bottom: 32px;

        app-selection:first-child {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .tri-tag {
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 17px solid #ECF3FC;
      }
    }

    app-sub-section {
    }

    .button-container {
      display: flex;
      flex-wrap: wrap;
    }

    .session-selectors {
      display: flex;
      align-items: center;

      span.label {
        font-size: 12px;
        font-weight: bold;
        color: #7C7C7C;
        margin-right: 20px;
      }

      .date-selector {
        display: flex;
        align-items: center;
        margin-right: 20px;

      }

      .activity-selector {
        display: flex;
        align-items: center;
      }
    }

    .session-content {
      display: flex;
      flex-direction: column;

      app-button {
        align-self: center;
      }
    }

    span.comment {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .invitation-code {
      display: flex;
      flex-direction: column;

      span.comment {
        font-size: 12px;
      }

      .auto-create {
        display: flex;
        margin-top: 10px;
        
        span {
          flex: 1;
          color: $nav-bk-color;
          font-weight: bold;
        }
      }

      .code-validation {
        display: flex;
        margin-top: 15px;
          
        span.label {
          color: $nav-bk-color;
          font-weight: bold;
          margin-right: 15px;
          font-size: 12px;
        }

        .code-wrapper {
          display: flex;
          align-items: center;
        }

        .time-wrapper {
          margin-left: 15px;
          display: flex;
          align-items: center;
        }
      }
    }

    .invite-users {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      app-textarea {
        width: 100%;
      }
      
      app-button {
        margin-top: 10px;
        align-self: flex-end;
        
        ::ng-deep p-button button {
          width: 140px;
        }
      }
    }

    .import-csv {
      display: flex;
      align-items: center;

      span.comment {
        flex: 1;
      }
      
      app-button {        
        ::ng-deep p-button button {
          width: 310px;
        }
      }
    }
  }
}