@let hasToTruncateList = items().length > maxItemsDisplay();

@for (item of items() | slice : 0 : hasToTruncateList ? maxItemsDisplay() - 1 : maxItemsDisplay(); track item; let i = $index; let isLast = $last) {
  <a
    class="alg-link"
    [routerLink]="{ id: item.id, isUser: false } | groupLink"
    >
    <strong>{{ item.name }}</strong>
  </a>
  <span class="separator">
    @if (
      (hasToTruncateList && !isLast) ||
      (!hasToTruncateList && i < items().length - 2)
    ) {
      <span>,</span>
    }
    @if (
      (!hasToTruncateList && i >= items().length - 2 && !isLast) ||
      (hasToTruncateList && isLast)
    ) {
      <span i18n>, and</span>
    }
  </span>
  @if (hasToTruncateList && isLast) {
    @let remaining = items().length - maxItemsDisplay() + 1;
    <span class="more" i18n>{{ remaining }} more</span>
  }
}
