@for (item of items() | slice : 0 : items().length > maxItemsDisplay() ? maxItemsDisplay() - 1 : maxItemsDisplay(); track item; let i = $index; let isLast = $last) {
  <a
    class="alg-link"
    [routerLink]="{ id: item.id, isUser: false } | groupLink"
    >
    <strong>{{ item.name }}</strong>
  </a>
  <span class="separator">
    @if (items().length > maxItemsDisplay() && !isLast || items().length === 1 || items().length <= maxItemsDisplay() && i < items().length - 2) {
      <span>,</span>
    }
    @if (items().length <= maxItemsDisplay() && i >= items().length - 2 && !isLast || items().length > maxItemsDisplay() && isLast) {
      <span
        i18n
      >, and</span>
    }
  </span>
  @if (items().length > maxItemsDisplay() && isLast) {
    <span class="more" i18n>
    {{ items().length - maxItemsDisplay() + 1 }} more
  </span>
  }
}
