<div class="container">
  <ng-scrollbar orientation="horizontal">
    @switch (group().currentUserMembership) {
      @case ('direct') {
        <div class="content" i18n>
          You are a member of this group.
        </div>
      }
      @case ('descendant') {
        <div class="content" i18n>
          As a member of <alg-group-links class="links" [items]="group().descendantsCurrentUserIsMemberOf"></alg-group-links>
          you are a member of this group.
        </div>
      }
    }

    @if (group().currentUserHasPendingInvitation) {
      <div class="content" i18n>
        You have been invited to this group, go to "<a class="alg-link" [routerLink]="['/groups', 'mine']">My groups</a>" page to accept or reject the invitation.
      </div>
    }

    @switch (group().currentUserManagership) {
      @case ('direct') {
        <div class="content">
          <i class="icon ph-duotone ph-crown"></i>
          <span i18n>You are a manager of this group.</span>
        </div>
      }
      @case ('ancestor') {
        <div class="content">
          <i class="icon ph-duotone ph-crown"></i>
          <span i18n>
            As a manager of
            <alg-group-links class="links" [items]="group().ancestorsCurrentUserIsManagerOf"></alg-group-links>,
            you can manage this group.
          </span>
        </div>
      }
      @case ('descendant') {
        <div class="content">
          <i class="icon ph-duotone ph-crown"></i>
          <span i18n>
            As a manager of
            <alg-group-links class="links" [items]="group().descendantsCurrentUserIsManagerOf"></alg-group-links>,
            you can view this group.
          </span>
        </div>
      }
    }
  </ng-scrollbar>
</div>
