@import 'src/assets/scss/functions';

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: var(--alg-secondary-color);
  white-space: nowrap;
  border-radius: toRem(8);
  background-color: #e6eeff;
  min-height: toRem(40);
  overflow-x: scroll;
}

.content {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

.links {
  margin-left: .4rem;
}

.icon {
  margin-right: toRem(8);
  color: var(--alg-primary-color);
}
