@import 'src/colors.scss';

.group-administrators {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.4167rem;

  .admin-label {
    font-style: italic;
    font-size: 1rem;
    color: $base-text-color;
    margin-right: 0.8333rem;
  }

  .group-administrator {
    display: flex;
    align-items: center;
    margin: 0 0.4167rem;
    font-size: 1rem;

    .user-icon {
      margin-right: 0.4167rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $base-color;
    }
    
    .user-name {
      color: $base-text-color;
      margin: 0.4167rem;
    }
  }
}

.allow-label {
  font-size: 1rem;
  color: $base-text-color;
  margin: 0.4167rem;
}

.lock-time {
  margin-top: 1.25rem;
  color: $section-danger-handle-color;
  font-size: 1.1667rem;
  display: flex;
  align-items: center;

  &-paragraph {
    color: $section-danger-handle-color;
    font-size: 1rem;
    font-style: italic;
    margin-right: 9rem;
  }

  &-text {
    flex: 1;
  }

  &-icon {
    font-size: 1.3333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
  }
}

.form-item-view {
  display: flex;
  align-items: center;
  margin: 0.4167rem;

  &.switch {
    .form-item-label {
      width: auto;
      flex: 1;
    }

    .form-item-control {
      flex: unset;
    }
  }

  .form-item-label {
    display: block;
    font-size: 1rem;
    width: 13.3333rem;
    color: #5C5C5C;
    font-weight: bold;

    &.danger {
      color: $section-danger-handle-color;
    }
  }

  .form-item-control {
    flex: 1;
  }
}