@import 'src/colors.scss';

.activity-skill-list-container {
  .activity-skill-list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &-row {
      display: flex;
      align-items: center;
      
      .list-item-text {
        flex: 1;
      }

      .list-item-icon {
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        color: $base-color;
        margin-right: 10px;
      }
    }

    &-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .session-item {
        display: flex;
        margin: 5px 0;
        font-size: 12px;

        .session-date, .session-online {
          color: $base-color;
          font-weight: bold;
        }

        .session-location {
          margin-right: 20px;
        }
      }
    }
  }
}