<div class="activity-skill-list-container">
  <div *ngFor="let item of data" class="activity-skill-list-item" (click)="onItemClick(item)">
    <div class="activity-skill-list-item-row">
      <span class="list-item-text">{{item.title}}</span>
      <span *ngIf="item.hasKey" class="list-item-icon">
        <i class="fa fa-lock"></i>
      </span>
      <app-score-ring
        *ngIf="item.ring"
        [displayedScore]="item.progress.displayedScore"
        [currentScore]="item.progress.currentScore"
        diameter="32"
      ></app-score-ring>
      <app-skill-progress
        *ngIf="!item.ring"
        [displayedScore]="item.progress.displayedScore"
        [currentScore]="item.progress.currentScore"
        style="width: 150px;"
      ></app-skill-progress>
    </div>
    <div *ngIf="item.sessions" class="activity-skill-list-item-content">
      <div *ngFor="let session of item.sessions" class="session-item">
        <span class="session-date">{{session.date | date: 'd/MM/y'}}</span>
        <span class="session-location"> &nbsp;- {{session.location}}</span>
        <span *ngIf="session.online" class="session-online">online</span>
      </div>
    </div>
  </div>
</div>
