@import 'src/colors.scss';

:host {
  width: 100%;
  display: block;
}

:host ::ng-deep .ui-inputtext {
  background-color: $input-transparency-color;
  border: none;
  box-shadow: 0 0.0833rem #C9CFD7;
  border-radius: 9rem;
  font-size: 1.2rem;
}

:host ::ng-deep .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  box-shadow: none;
}

:host ::ng-deep .ui-dropdown {
  border: none;
  border-radius: 9rem;
  width: 100%;
  background: transparent;
  font-size: 1.2rem;

  .ui-dropdown-trigger {
    background-color: white;
    box-shadow: 0 0.0833rem #C9CFD7;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
  }

  .ui-dropdown-label-container {

    .ui-dropdown-label {
      color: $base-text-color;

      .selected-icon {
        margin-right: 0.8333rem;
      }

      &.ui-placeholder {
        font-style: italic;
      }
    }
  }
}
