<app-section-paragraph
  icon="fa fa-user-plus"
  label="Let user join using a code"
  [collapsible]="true"
  *ngIf="group.canCurrentUserManageMemberships()"
>
  <div class="invitation-code">
    <span class="content-title">Let users access this group using a password you send them.</span>

    <span *ngIf="processing">FREEZE UI</span>

    <div class="code-state">
      <span class="label" *ngIf="group | hasCodeNotSet">There is currently no code set.</span>
      <span class="label" *ngIf="group | hasCodeUnused">This code has not been used yet (or usage resetted).</span>
      <span class="label green" *ngIf="group | hasCodeInUse">
        This code has been activated {{ (group|msSinceCodeFirstUsed)/60000 | number:'1.0-0' }} minutes ago,
        it will be disabled in {{ (group|msBeforeExpiration)/60000 | number:'1.0-0' }} minutes.
      </span>
      <span class="label red" *ngIf="group | hasCodeExpired">
        This code has expired on {{ group.code_expires_at | date:'medium'}}
      </span>
      <app-button
        label="Generate a code"
        icon="fa fa-plus"
        class="ui-button-rounded"
        (click)="generateNewCode()"
        [disabled]="processing"
        *ngIf="group | hasCodeNotSet"
      ></app-button>
    </div>

    <div class="code-info" *ngIf="!(group|hasCodeNotSet)">
      <div class="code-show">
        <span class="label">Code</span>
        <app-code-token
          [code]="group.code"
          [showRefresh]="true"
          [showRemove]="true"
          (refresh)="generateNewCode()"
          (remove)="removeCode()"
        ></app-code-token>
      </div>
      <div class="validity-selector">
        <span class="label">Validity</span>
        <app-time-picker [initialValue]="group.code_lifetime" (submit)="changeValidity($event)"></app-time-picker>
      </div>
    </div>

  </div>

</app-section-paragraph>
