@import "src/colors.scss";

.slider-wrapper {
  margin: 10px 0;

  .percent-values {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    position: relative;

    .start-value, .end-value {
      position: absolute;
      top: 0;
      transform: translateX(-14px);
      border-radius: 100px;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 35px;
      height: 25px;
      background-color: $dark-base-color;
      font-size: 12px;
      color: white;
      line-height: 25px;
    }
  }
}

:host ::ng-deep .f-slider {

  &.ui-slider {
    background-color: #3b73b5;

    &:not(.ui-state-disabled) .ui-slider-handle:hover {
      border: 2px solid transparent;
    }

    .ui-slider-range {
      background-color: #f5a623;
    }

    .ui-slider-handle {
      background-color: $base-color;
      border: 2px solid transparent;
      width: auto;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 10px;
      box-shadow: 0 1px $dark-base-color;

      &:focus {
        box-shadow: 0 1px $dark-base-color;
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f053\f054";
        font-weight: bold;
        color: white;
        font-size: 12px;
      }
    }
  }
}
