@import 'src/colors.scss';

$circular: 1.2rem;

@mixin custom-switch($bk-color, $shadow, $handle-shadow, $switch-width, $handler-width, $handler-height) {

  %custom-pattern {
    background-color: $bk-color;
    box-shadow: 0 .1rem $shadow inset;
  }

  &.ui-inputswitch-checked {
    &.ui-inputswitch-focus .ui-inputswitch-slider {
      @extend %custom-pattern;
    }
    .ui-inputswitch-slider {
      background-color: $dark-transparency-color;

      &::before {
        background-color: $base-color;
        width: $handler-width;
        border-radius: 9rem;
        height: $handler-height;
        bottom: .1rem;
        transform: translateX(calc(#{$switch-width} - #{$handler-width}));
        box-shadow: 0 .1rem $handle-shadow;
      }
    }
  }

  &.ui-inputswitch-focus .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  &:not(.p-disabled):hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  .ui-inputswitch-slider {
    @extend %custom-pattern;

    &::before {
      background-color: #9B9B9B;
      width: $handler-width;
      border-radius: 9rem;
      height: $handler-height;
      bottom: .1rem;
      left: 0;
      position: absolute;
      top: .1rem;
      box-shadow: 0 0.1rem #727272;
    }
  }

  &:hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  &.ui-inputswitch-checked:not(.p-disabled):hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }
}

:host ::ng-deep .white .ui-inputswitch {
  width: 5rem;
  height: 1.5rem;

  @include custom-switch($dark-transparency-color, #DADADA, $dark-base-color, 5rem, 2.5rem, 1.2rem);
}


:host ::ng-deep .dark .ui-inputswitch {
  width: 4.1667rem;
  height: 1.5rem;

  @include custom-switch(#464646, #3F3F3F, #31649E, 5rem, 2rem, 1rem);
}

:host ::ng-deep .circular .ui-inputswitch {
  width: 2.5rem;
  height: 1.5rem;

  @include custom-switch($dark-transparency-color, #DADADA, $dark-base-color, 2.5rem, $circular, $circular);
}

:host ::ng-deep .dark-circular .ui-inputswitch {
  width: 2.5rem;
  height: 1.25rem;

  @include custom-switch(#2C5687, #152A43, $dark-base-color, 2.5rem, 1.5rem, 1.5rem);

  .ui-inputswitch-slider {
    &::before {
      box-shadow: none;
    }
  }
}

:host ::ng-deep p-inputSwitch {
  height: 1.5rem;
  width: 2.5rem;
  display: flex;
  width: fit-content;

  &.dark-circular {
    height: 1.25rem;
  }
}

:host {
  width: fit-content;
}
