<app-pending-invitation-view
  [columns]="invitationColumns"
  [data]="invitationData"
  [gridGr]="invitationPanel"
></app-pending-invitation-view>
<div class="team-content">
  <app-section icon="fa fa-users" label="The teams you joined">
    <div class="team-grid-container">
      <app-grid
        [selectedColumns]="teamColumns"
        [columns]="teamColumns"
        [data]="teamData"
        sortMode="single"
        scrollWhenExpanded="true"
        [groupInfo]="teamPanel"
        (expandWholeWidth)="onExpandWidth($event)"
      >
        <ng-template #headerTemplate let-columns>
          <tr>
            <th style="width: 40px;"></th>
            <th *ngFor="let col of teamColumns" [pSortableColumn]="col.field">
              <div class="header-container"> 
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template
          #bodyTemplate
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td style="width: 40px;">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-template>
        <ng-template #summaryTemplate let-table>
          <div style="text-align: left; display: flex; align-items: center;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            <span style="margin-left: 1rem; color: #9B9B9B; flex: 1;font-size: 1.2rem;">
              Select all
            </span>
            <div class="export-tools">
              <span class="export">
                <span>Leave the team</span>
                <i class="fa fa-sign-out-alt"></i>
              </span>
            </div>
          </div>
        </ng-template>
      </app-grid>
      <span class="tri-tag"></span>
    </div>
    <app-sub-section icon="fa fa-plus" label="Create a team">
      <div class="input-wrapper">
        <app-input
          [hasButton]="true"
          icon="fa fa-plus"
          placeholder="Name de lequipe"
        ></app-input>
      </div>
    </app-sub-section>
    <app-sub-section icon="fa fa-sign-in-alt" label="Join a team">
      <div class="input-wrapper">
        <app-input
          [hasButton]="true"
          icon="fa fa-check"
          placeholder="Invitation code"
          (onClick)="onJoinTeam($event)"
        ></app-input>
      </div>
    </app-sub-section>
    <div style="margin-bottom: -3rem;"></div>
  </app-section>
</div>
