@import 'src/colors.scss';

:host {
  position: relative;
  display: block;

  ::ng-deep .ui-table {
    margin-bottom: 10px;

    .ui-chkbox {
      width: 13px;
      height: 13px;
      .ui-chkbox-box {
        background-color: #E5E5E5;
        box-shadow: 0 1px #BBB inset;
        width: 13px;
        height: 13px;
        border: none;
        position: relative;

        &:hover {
          background-color: #D0D0D0;
        }

        &.ui-state-active:not(.ui-state-disabled):hover {
          background-color: #D0D0D0;
        }

        .ui-chkbox-icon {
          overflow: visible;
          color: #505050;
          position: absolute;
          top: -6px;
          left: -4px;
          font-size: 22px;
        }
      }
    }

    .ui-table-thead > tr > th {
      border-top: none;
      text-transform: uppercase;
      font-size: 12px;
      height: 36px;

      &:focus {
        outline: transparent;
      }
    }

    .ui-table-tbody > tr:nth-child(even) {
      background-color: #fff;
    }

    .ui-table-tbody > tr > td {
      border: none;
      border-bottom: 1px solid #F0F0F0;
      color: $base-text-color;
      height: 40px;
    }

    .ui-table-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .ui-table-tbody > tr.ui-state-highlight > td {
      color: #fff;
    }

    .ui-table-summary {
      border: none;
      background-color: white;

      .export-tools {
        display: flex;
        align-items: center;
        color: $base-color;
        font-size: 12px;

        span {
          margin-right: 10px;
          cursor: pointer;
          
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.toggle-gear {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: white;
  background-color: $dark-black-color;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select-column {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  background-color: #4A4A4A;
  color: white;

  .header {
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424242;
    cursor: pointer;

    span {
      padding: 5px;
      font-size: 10px;
      text-transform: uppercase;

      &.fold-icon {
        font-size: 16px;
      }
    }
  }

  .column-group {
    border-bottom: 1px solid $light-border-color;

    p {
      font-size: 10px;
      text-transform: uppercase;
      padding: 0 10px;
      color: #7D7D7D;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
  
      li {
        display: flex;
        margin-bottom: 5px;
        cursor: pointer;
        
        span {
          flex: 1;
          font-size: 10px;
          color: #7D7D7D;
  
          &.checked {
            color: white;
          }
        }
      }
    }
  }

}

.show-all {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 36px;
  color: white;
  background-color: $dark-black-color;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;

  .missing-title {
    margin-left: 5px;
    font-size: 12px;
    margin-right: 5px;
  }

  .show-icon {
    display: flex;
    font-size: 20px;
    margin-left: 5px;
    align-items: center;
  }
}