@import "src/colors.scss";

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  // position: -webkit-sticky;
  // position: sticky !important;
  // top: 5.8333rem;
  // overflow: visible;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
    top: 8.3333rem;
  }
}

:host {
  position: relative;
  display: block;

  ::ng-deep .ui-table {
    margin-bottom: 0.8333rem;

    .ui-chkbox {
      width: 1.0833rem;
      height: 1.0833rem;
      .ui-chkbox-box {
        background-color: #e5e5e5;
        box-shadow: 0 0.0833rem #bbb inset;
        width: 1.0833rem;
        height: 1.0833rem;
        border: none;
        position: relative;

        &:hover {
          background-color: #d0d0d0;
        }

        &.ui-state-active:not(.ui-state-disabled):hover {
          background-color: #d0d0d0;
        }

        .ui-chkbox-icon {
          overflow: visible;
          color: #505050;
          position: absolute;
          top: -0.5rem;
          left: -0.3333rem;
          font-size: 1.8333rem;
        }
      }
    }

    .ui-table-thead > tr > th {
      border-top: none;
      text-transform: uppercase;
      font-size: 1rem;
      height: 3rem;

      &:focus {
        outline: transparent;
      }
    }

    .ui-table-tbody > tr:nth-child(even) {
      background-color: #fff;
    }

    .ui-table-tbody > tr > td {
      border: none;
      border-bottom: 0.0833rem solid #f0f0f0;
      color: $base-text-color;
      height: 3.5833rem;
      max-height: 3.5833rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
    }

    .ui-table-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .ui-table-tbody > tr.ui-state-highlight > td {
      color: #fff;
    }

    .ui-table-summary {
      border: none;
      background-color: white;

      .export-tools {
        display: flex;
        align-items: center;
        color: $base-color;
        font-size: 1rem;

        span {
          margin-right: 0.8333rem;
          cursor: pointer;

          span {
            margin-right: 0.8333rem;
          }
        }
      }
    }
  }
}

.toggle-gear {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: $dark-black-color;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 0.4167rem;
  border-bottom-left-radius: 0.4167rem;
}

.select-column {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.3333rem;
  background-color: #4a4a4a;
  color: white;

  .header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-bottom: 0.0833rem solid #424242;
    cursor: pointer;

    span {
      padding: 0.4167rem;
      font-size: 0.8333rem;
      text-transform: uppercase;

      &.fold-icon {
        font-size: 1.3333rem;
      }
    }
  }

  .column-group {
    border-bottom: 0.0833rem solid $light-border-color;

    p {
      font-size: 0.8333rem;
      text-transform: uppercase;
      padding: 0 0.8333rem;
      color: #7d7d7d;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0 0.8333rem;

      li {
        display: flex;
        margin-bottom: 0.4167rem;
        cursor: pointer;

        span {
          flex: 1;
          font-size: 0.8333rem;
          color: #7d7d7d;

          &.checked {
            color: white;
          }
        }
      }
    }
  }
}

.show-all {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5833rem;
  height: 3rem;
  color: white;
  background-color: $dark-black-color;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.4167rem;
  border-bottom-left-radius: 0.4167rem;
  cursor: pointer;

  .missing-title {
    margin-left: 0.4167rem;
    font-size: 1rem;
    margin-right: 0.4167rem;
  }

  .show-icon {
    display: flex;
    font-size: 1.6667rem;
    margin-left: 0.4167rem;
    align-items: center;
  }
}

:host.compact-mode ::ng-deep .ui-table-frozen-view tr {
  height: 3.4167rem;

  &:first-child {
    height: 3.3333rem;
  }
}

:host ::ng-deep .ui-table-frozen-view tr {
  height: 5.9167rem;

  &:first-child {
    height: 5.8333rem;
  }
}
