<div class="modify-section">
  <span class="section-comment">Here are the informations registered for <em>Toile de competences</em> in IOI Connect</span>
  <lib-button icon="fa fa-pencil-alt" label="Modify" class="ui-button-rounded"></lib-button>
</div>
<lib-section icon="fa fa-users" label="Personal Information">
  <lib-data-list [items]="personal"></lib-data-list>
</lib-section>
<lib-section icon="fa fa-graduation-cap" label="School Information">
  <lib-data-list [items]="school"></lib-data-list>
</lib-section>
<lib-section icon="fa fa-envelope" label="Contact Information">
  <lib-data-list [items]="contact"></lib-data-list>
</lib-section>
<lib-section icon="fa fa-cog" label="Parameters">
  <lib-data-list [items]="parameters"></lib-data-list>
</lib-section>
