@import 'src/colors.scss';
@import 'src/geometry.scss';

.data-list-container {
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    border-bottom: $border-filet;
    padding: 0.5rem 0;
    height: 3rem;

    span {

      &.list-field {
        color: $base-text-color;
      }

      &.list-value {
        margin-left: auto;
        color: $base-color;
      }
    }
  }
}
