@import 'src/colors.scss';

.data-list-container {
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    border-bottom: 0.0833rem solid $light-border-color;
    padding: 0.5833rem 0;

    span {
      
      &.list-field {
        color: $base-text-color;
      }

      &.list-value {
        margin-left: auto;
        color: $base-color;
      }
    }
  }
}