<div class="header-container">
  <div class="item-title-container">
    <h1 class="header-title alg-h1 alg-text-normal" i18n>My groups</h1>
    <p class="header-subtitle" i18n>Join new groups</p>
  </div>
</div>

@if ((currentUser$ | async)?.tempUser === false) {
  <h2 class="alg-h2 alg-text-normal" i18n>Join a group by code</h2>
  <alg-access-code-view
    i18n-sectionLabel sectionLabel="Join a group by code"
    i18n-buttonLabel="Button label for joining a group" buttonLabel="Join"
    (groupJoined)="onGroupJoined()"
  ></alg-access-code-view>

  <alg-user-group-invitations (groupJoined)="onGroupJoined()"></alg-user-group-invitations>

  <!--<alg-pending-join-requests [showSwitch]="false"></alg-pending-join-requests>-->

  <h2 class="alg-h2 alg-text-normal" i18n>The groups you joined</h2>
  <alg-joined-group-list #joinedGroupList></alg-joined-group-list>

} @else {
  <alg-error
    class="alg-flex-1"
    i18n-message message="To join a group, you first have to log in or sign in using the top right button."
    icon="ph-bold ph-power"
  ></alg-error>
}




