@use 'src/assets/scss/functions';

:host {
  display: block;
  position: relative;
}

.textarea-element {
  width: 100%;
  padding: functions.toRem(16);
  background-color: var(--alg-light-color);
  border-radius: var(--border-radius);
  border: none;
  font-size: functions.toRem(16);
  color: var(--alg-secondary-color);
  resize: none;
  box-sizing: border-box;

  &.no-icon {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  &:focus, &:active {
    outline: functions.toRem(2) solid var(--alg-primary-color);
    box-shadow: none;
  }

  &::placeholder {
    color: var(--alg-secondary-color);
    font-size: functions.toRem(16);
    font-style: italic;
    opacity: .5;
  }
}

.placeholder-icon {
  position: absolute;
  left: 0.6667rem;
  top: 0.6667rem;
  color: var(--base-text-color);
  font-size: 1.2rem;
}
