@if (parentForm()) {
  <ng-container [formGroup]="parentForm()!">
    <textarea
      class="textarea-element"
      [formControlName]="inputName()"
      rows="5"
      [placeholder]="placeholder()"
      [class.no-icon]="!icon()"
      [class.resizable]="resizable()"
      >
    </textarea>
    @if (icon()) {
      <span class="placeholder-icon">
        <i class="ph ph-text-t"></i>
      </span>
    }
    <alg-input-error [form]="parentForm()!" [inputName]="inputName()" />
  </ng-container>
}
