@use 'src/assets/scss/functions';
@use 'src/assets/scss/info-card';

:host {
  display: flex;
  flex-direction: column;
}

.validation-text {
  color: var(--base-color);
  font-size: functions.toRem(16);
  margin: 0;
  padding: functions.toRem(20) 0;
  text-align: center;
}

.validation-text+* {
  margin-top: 0;
  padding-top: 0 !important;
}

.two-levels-section,
alg-two-levels-container-section {
  margin-bottom: functions.toRem(24);

  &:last-child {
    margin-bottom: 0;
  }
}

.hidden-children-hint {
  @include info-card.card;
  margin: functions.toRem(24) auto;
}

.hidden-children-hint-icon {
  @include info-card.icon;
}

.hidden-children-hint-title {
  @include info-card.title;
}

.hidden-children-hint-description {
  @include info-card.description;
}
