@if (children().length > 0) {
  <div
    class="grid-container"
    [class.left-menu-shown]="leftMenuShown()"
    [class.compact]="size() === 'compact'"
  >
    @for (item of children(); track item.id) {
      <div class="grid-item">
        <a class="grid-card"
          [routerLink]="item | itemRoute: { path: path() } |
            with: (item.result && item.result.attemptId ? { attemptId : item.result.attemptId } : { parentAttemptId: parentAttemptId() }) |
            url"
        >
          <div class="grid-card-image-section">
            @if (item.isLocked) {
              <div class="grid-card-lock-status">
                <i class="grid-card-lock-status-icon ph ph-lock"></i>
              </div>
              <div class="grid-card-lock-bg"></div>
            }
            @if (item.displaySettings.thumbnailUrl) {
              <div
                class="grid-card-image"
                [style.background-image]="'url(' + item.displaySettings.thumbnailUrl + ')'"
              ></div>
            } @else {
              <div class="grid-card-image grid-card-image-default-bg"></div>
            }
          </div>
          @if (!item.noScore && ((!item.watchedGroup && item.result) || (item.watchedGroup && item.watchedGroup.avgScore !== undefined))) {
            <div class="grid-card-activity-progress">
              <alg-score-ring [currentScore]="(item.watchedGroup ? item.watchedGroup.avgScore : item.result?.score) ?? 0"
                [isValidated]="(item.watchedGroup ? item.watchedGroup.allValidated : item.result?.validated) ?? false"
                [bestScore]="item.watchedGroup ? (item.watchedGroup.avgScore ?? 0) : item.bestScore"
                [compact]="true"
               />
            </div>
          }
          <div class="grid-card-text-section">
            <div class="grid-card-title text-dots">{{ item.string.title }}</div>
            @if (item.string.subtitle) {
              <div class="grid-card-description">
                {{ item.string.subtitle }}
              </div>
            }
          </div>
        </a>
      </div>
    }
  </div>
}
