@import 'src/colors.scss';

.notification-header-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.6667rem;
  margin-bottom: 1.6667rem;

  .notification-header-title {
    font-size: 2rem;
    color: $dark-text-color;
  }

  .notification-header-subtitle {
    font-size: 1.2rem;
    color: $base-text-color;
  }
}