<div class="breadcrumb-container">
  <ul (resized)="onResize($event)">
    <li class="home"><i class="fa fa-folder"></i></li>
    <ng-container *ngFor="let item of items.path; index as idx;">
      <ng-container *ngIf="idx > 0">
        <li class="separator" [ngClass]="{'active': item.ID === items.selectedID}">
          <ng-container *ngIf="item.separator === 'arrow'; then arrowBlock else slashBlock">
          </ng-container>
          <ng-template #arrowBlock>
            <i class="fa fa-arrow-right"></i>
          </ng-template>
          <ng-template #slashBlock>
            \
          </ng-template>
        </li>
      </ng-container>
      <ng-container *ngIf="maxWidths[idx] === 0">
        <li [ngClass]="{'active': item.ID === items.selectedID}" (click)="onItemClick($event, item, idx)">...</li>
      </ng-container>
      <li *ngIf="maxWidths[idx] > 0" [ngClass]="{'active': item.ID === items.selectedID}" (click)="onItemClick($event, item, idx)" [ngStyle]="{'max-width.px': maxWidths[idx]}">
        <span class="label">
          {{item.label}}
        </span>
        <span *ngIf="item.attempt && item.attempt > 0" class="attempt-badge">
          {{item.attempt}}
        </span>
      </li>
    </ng-container>
  </ul>
</div>
