@import 'src/colors.scss';

$breadcrumb-bottom-color: #E0E1E5;

.breadcrumb-container {
  position: relative;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    padding-left: 15px;
    display: flex;

    li {
      display: flex;
      margin: 0 .25em;
      color: $base-text-color;
      align-items: center;
      height: 40px;
      cursor: pointer;
      overflow: hidden;
      min-width: 0;
      border-top: 3px solid transparent;

      &.active {
        border-top: 3px solid $base-color;
        color: $base-color;
        &.separator {
          border-top: 3px solid transparent;

          i.fa-arrow-right {
            color: $base-color;
          }
        }
      }

      &.separator {
        i.fa-arrow-right {
          color: $base-color;
        }
      }

      &.home {
        color: $base-color;
        margin-right: 10px;
      }

      span {
        padding: 0 5px;
        font-size: 12px;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        &.label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 0;
          flex: 1;
        }

        &.attempt-badge {
          background-color: $base-color;
          color: white;
          height: 16px;
          line-height: 16px;
        }
      }
    }
  }
}