<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-handler">
      <i class="fa fa-users"></i>
    </span>
    <span class="dialog-title">Generate a batch of accounts</span>
    <span class="dialog-close" (click)="onClose($event)">
      <i class="fa fa-times"></i>
    </span>
  </div>
  <div mat-dialog-close></div>
</div>
<div mat-dialog-content>
  <div class="dialog-content">
    <div class="account-type-wrapper">
      <div class="form-item-view">
        <span class="form-item-label">Accounts type</span>
        <div class="form-item-control">
          <alg-selection [items]="data.type" (change)="onTypeChange($event)"></alg-selection>
        </div>
      </div>
      <p class="description">{{data.desc}}</p>
    </div>
    <div class="account-info-wrapper">
      <div class="form-item-view">
        <span class="form-item-label">Prefix</span>
        <div class="form-item-control">
          <alg-input placeholder="Chaine de caracteres" (change)="onPrefixChange($event)"></alg-input>
        </div>
      </div>
      <div class="form-item-view">
        <span class="form-item-label">Suffix length</span>
        <div class="form-item-control">
          <alg-input placeholder="Number of characters" inputType="number" (change)="onSuffixChange($event)"></alg-input>
        </div>
      </div>
      <div *ngIf="isPassword" class="gen-password">Usernames will look like this: {{prefix1}}_{{prefix}}_{{randomString}}</div>
      <div *ngIf="!isPassword" class="gen-code">Participation codes will look like this: {{prefix1}}_{{prefix}}_{{randomString}}</div>
      <div *ngIf="isPassword" class="form-item-view">
        <span class="form-item-label">Password length</span>
        <div class="form-item-control">
          <alg-input placeholder="Number of characters" inputType="number"></alg-input>
        </div>
      </div>
    </div>
    <div class="account-actions">
      <div class="form-item-view">
        <span class="form-item-label">Number of accounts to create</span>
        <div class="form-item-control">
          <alg-input placeholder="Number of characters" inputType="number"></alg-input>
        </div>
      </div>
      <div class="form-item-view switch">
        <span class="form-item-label">Create X accounts in each sub-group?</span>
        <div class="form-item-control">
          <alg-switch mode="white"></alg-switch>
        </div>
      </div>
    </div>
    <div class="account-generate">
      <div style="width: 21rem;">
        <alg-button
          icon="fa fa-key"
          label="Generate"
          class="ui-button-rounded ui-fit-parent"
          (click)="onClose($event)"
        ></alg-button>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions></div>
