@import 'src/colors.scss';

:host {
  display: block;
  margin-left: -5.8333rem;
  margin-right: -1.6667rem;
}

.section-container {
  padding: 2.0833rem 1.6667rem 1.25rem;
  border-bottom: 0.0833rem solid #DEE4ED;
  background-color: #ECF3FC;

  &.no-border {
    border-bottom: none;
  }
  
  .section-header {
    display: flex;
    align-items: center;

    .section-handler {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $base-color;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 9rem;
      position: relative;

      i {
        color: white;
      }
    }

    .section-title {
      font-size: 1.6667rem;
      color: $nav-bk-color;
      margin-left: 1.25rem;
      flex: 1;
    }

    .section-help {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      border-radius: 1.25rem;
      border: 0.0833rem solid $nav-bk-color;
      cursor: pointer;
    }

    .section-close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      color: $base-color;
    }
  }
  
  .section-content {
    padding: 1.25rem 0 1.25rem 5.8333rem;
    color: $base-text-color;
  }
}
