@import 'src/colors.scss';
@import 'src/geometry.scss';
@import 'src/typography.scss';

:host {
  display: block;
  margin-left: -5.8333rem;
  margin-right: -1.6667rem;
}

.section-container {
  padding: 2.0833rem 1.6667rem 1.25rem;
  border-bottom: .1rem solid rgba(46, 94, 149, .2);
  background-color: $light-color;

  &.no-border {
    border-bottom: none;
  }

  .section-header {
    display: flex;
    align-items: center;

      .section-handler {
      @include section-handler($base-color,$dark-color);
      width: 3rem;
      border-radius: 50%;
      border: none;
      padding-right: 0;
      justify-content: center;
      }



    .section-title {
      @include title-h2;
      color: $nav-bk-color;
      margin-left: 1.25rem;
      flex: 1;
    }

    .section-help {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.2rem;
      border-radius: 1.25rem;
      border: 0.0833rem solid $nav-bk-color;
      cursor: pointer;
    }

    .section-close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      color: $base-color;
    }
  }

  .section-content {
    padding: .5rem 0 5rem 4.2rem;
    color: $base-text-color;
  }
}
