@use 'src/assets/scss/functions';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--alg-space-size-5);
  min-height: functions.toRem(97);
  border: functions.toRem(1) solid var(--alg-light-color);
  border-radius: var(--border-radius);
}
