@import 'src/colors.scss';

:host {
  display: block;
  position: relative;
}

textarea {
  width: 100%;
  background-color: #DFE6EF;
  box-shadow: 0.0833rem 0.0833rem #C9CFD7 inset;
  border-radius: 0.4167rem;
  border: none;
  font-size: 1rem;
  padding-left: 2.5rem;
  padding-top: 0.5rem;

  color: $nav-bk-color;

  &::placeholder {
    font-style: italic;
    color: #C6C2C2;
  }

  &.no-icon {
    padding-left: 0.8333rem;
    padding-top: 0.8333rem;
  }
}

.placeholder-icon {
  position: absolute;
  left: 0.6667rem;
  top: 0.6667rem;
  color: $base-text-color;
  font-size: 1rem;
}

:host ::ng-deep .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: 0.0833rem 0.0833rem #C9CFD7 inset;
}