@import 'src/colors.scss';

.pending-request-container {
  margin-right: -1.6667rem;

  .grid-user-info-field {
    display: flex;
    align-items: center;

    img {
      border-radius: 2.9167rem;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      color: $base-text-color;
      margin-left: 1.25rem;

      &-name {
        font-weight: bold;
        font-size: 1.3333rem;
      }

      &-activity {
        font-style: italic;
      }

      &-content {
        white-space: normal;
      }
    }
  }

  .req-tools {
    display: flex;
    align-items: center;
    color: $base-color;
    font-size: 1.2rem;

    span {
      margin-right: 0.8333rem;
      cursor: pointer;

      span {
        margin-right: 0.8333rem;
      }
    }
  }
}


:host ::ng-deep .pending-request-container .ui-table .ui-table-summary {
  background-color: transparent;
}

:host ::ng-deep .pending-request-container .ui-table .ui-table-tbody > tr {
  background-color: transparent;

   > td {
    border-bottom-color: $section-border-color;
    font: 1rem;

    &:last-child {
      border-left: 0.0833rem solid $section-border-color;
    }
  }

  &:last-child {
    border-bottom: 0.0833rem solid $section-border-color;
  }

  &:nth-child(even) {
    background-color: transparent;
  }

  &.ui-state-highlight {
    background-color: $base-color;

    .grid-user-info-field .user-info {
      color: white;
    }
  }
}