<app-section-paragraph
  icon="fa fa-check"
  label="Pending requests"
  [collapsible]="true"
>
  <ng-template #headerTemplate>
    <app-selection
      [items]="groupSwitch"
      style="width: 300px; margin-top: -14px;"
    ></app-selection>
  </ng-template>
  <div class="pending-request-container">
    <app-grid
      [selectedColumns]="columns"
      [columns]="columns"
      [data]="data"
      [groupInfo]="gridGr"
      sortMode="single"
      (expandWholeWidth)="onExpandWidth($event)"
    >
      <ng-template #headerTemplate let-columns>
        <tr>
          <th style="width: 40px;background-color: #D3DBE7;"></th>
          <ng-container *ngFor="let col of columns">
            <th
              *ngIf="col.field === 'date'"
              [pSortableColumn]="col.field"
              style="width: 160px; background-color: #D3DBE7;"
            >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th *ngIf="col.field !== 'date'" style="background-color: #D3DBE7;">
              {{ col.header }}
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template
        #bodyTemplate
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td style="width: 40px;">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'date'">
              {{ rowData[col.field] | date: "MM/d/y" }}
            </ng-container>
            <ng-container *ngIf="col.field === 'user'">
              <div class="grid-user-info-field">
                <img
                  src="{{ rowData.user.image }}"
                  width="70px"
                  height="70px"
                />
                <div class="user-info">
                  <span class="user-info-name">{{ rowData.user.name }}</span>
                  <span class="user-info-activity"
                    ><em>{{ rowData.user.activity }}</em></span
                  >
                  <div class="user-info-content">
                    {{ rowData.user.content }}
                  </div>
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template #summaryTemplate let-table>
        <div style="text-align: left; display: flex; align-items: center;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span style="margin-left: 10px; color: #9B9B9B; flex: 1;">
            Select all
          </span>
          <div class="req-tools">
            <span class="accept">
              <span>Accept</span>
              <i class="fa fa-check"></i>
            </span>
            <span class="reject">
              <span>Reject</span>
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
      </ng-template>
    </app-grid>
  </div>
</app-section-paragraph>
