<ng-container *ngIf="itemData">
  <ng-container *ngIf="itemData.item.permissions | allowsViewingContent; else notAllowToWatch">
    <ng-container *ngIf="itemData.currentResult; else noCurrentResult">

      <alg-section icon="fa fa-book" i18n-label label="Description" *ngIf="itemData.item.string.description">
        <p>{{ itemData.item.string.description }} </p>
      </alg-section>

      <alg-chapter-children
        [itemData]="itemData"
        *ngIf="itemData.item.type === 'Chapter'"
        [algFullHeightContent]="true"
      ></alg-chapter-children>

      <ng-container *ngIf="(itemData.item.type === 'Task' || itemData.item.type === 'Course')">
        <ng-container *ngIf="itemData.item.url; else noUrl">
          <alg-item-display
            *ngIf="attemptId; else noCurrentResult"
            [route]="itemData.route"
            [canEdit]="itemData.item.permissions.canEdit"
            [url]="itemData.item.url"
            [attemptId]="attemptId"
            [view]="taskView"
            [taskConfig]="taskConfig"
            [savingAnswer]="savingAnswer"
            (viewChange)="taskViewChange.emit($event)"
            (tabsChange)="taskTabsChange.emit($event)"
            (scoreChange)="scoreChange.emit($event)"
            (skipSave)="skipSave.emit()"
            (refresh)="refresh.emit()"
          ></alg-item-display>
          <alg-thread *ngIf="showItemThreadWidget" [itemData]="itemData"></alg-thread>
        </ng-container>

        <ng-template #noUrl>
          <p class="validation-text" i18n>
            This activity has not been correctly configured.
          </p>
          <p class="validation-text" *ngIf="itemData.item.permissions.canEdit !== 'none'" i18n>
            You need to set a url in editing mode.
          </p>
        </ng-template>
      </ng-container>

      <alg-sub-skills [itemData]="itemData" *ngIf="itemData.item.type === 'Skill'"></alg-sub-skills>
      <alg-parent-skills [itemData]="itemData" *ngIf="itemData.item.type === 'Skill'"></alg-parent-skills>
    </ng-container>
  </ng-container>

  <ng-template #notAllowToWatch>
    <p class="validation-text">
      <ng-container *ngIf="itemData.item.type === 'Chapter'">
        <span i18n>Your current access rights do not allow you to list the content of this chapter.</span>
      </ng-container>

      <ng-container *ngIf="['Task', 'Course'].includes(itemData.item.type)">
        <span i18n>Your current access rights do not allow you to start the activity.</span>
      </ng-container>

      <ng-container *ngIf="itemData.item.type === 'Skill'">
        <span i18n>Your current access rights do not allow you to list the content of this skill.</span>
      </ng-container>
    </p>
  </ng-template>

  <ng-template #noCurrentResult>
    <p class="validation-text" *ngIf="itemData.item.requiresExplicitEntry; else noRequiresExplicitEntry">
      <span>
        <ng-container i18n>This activity requires explicit entry</ng-container>&nbsp;
        <ng-container i18n="@@notImplemented">(not implemented)</ng-container>.
      </span>
    </p>
    <ng-template #noRequiresExplicitEntry>
      <alg-task-loader
        i18n-label label="Starting the activity"
      ></alg-task-loader>
    </ng-template>
  </ng-template>
</ng-container>
