<ng-container *ngIf="itemData">
  <ng-container *ngIf="itemData.item.permissions.canView !== 'info'; else notAllowToWatch">
    <ng-container *ngIf="itemData.currentResult">

      <alg-section icon="fa fa-book" i18n-label label="Description" *ngIf="itemData.item.string.description">
        <p>{{ itemData.item.string.description }} </p>
      </alg-section>

      <alg-chapter-children [itemData]="itemData" *ngIf="itemData.item.type === 'Chapter'"></alg-chapter-children>

      <alg-item-display [itemData]="itemData" *ngIf="itemData.item.type === 'Task' || itemData.item.type === 'Course'"></alg-item-display>

      <alg-sub-skills [itemData]="itemData" *ngIf="itemData.item.type === 'Skill'"></alg-sub-skills>
      <alg-parent-skills [itemData]="itemData" *ngIf="itemData.item.type === 'Skill'"></alg-parent-skills>
    </ng-container>
  </ng-container>

  <ng-template #notAllowToWatch>
    <p class="validation-text">
      <ng-container *ngIf="itemData.item.type === 'Chapter'">
        <span i18n>Your current access rights do not allow you to list the content of this chapter.</span>
      </ng-container>

      <ng-container *ngIf="['Task', 'Course'].includes(itemData.item.type)">
        <span i18n>Your current access rights do not allow you to start the activity.</span>
      </ng-container>

      <ng-container *ngIf="itemData.item.type === 'Skill'">
        <span i18n>Your current access rights do not allow you to list the content of this skill.</span>
      </ng-container>
    </p>
  </ng-template>
</ng-container>
