@import 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  padding: var(--alg-space-size-4) 0 0 0;
}

.validation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  color: var(--base-color);
  font-size: 1.6rem;
  text-align: center;
}

.edit {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-switch {
  margin-left: 1rem;
}

.description, .html-container {
  margin: toRem(30) 0 0 0;
}
