<p-tree [value]="data">
  <!-- Folder elements template -->
  <ng-template let-node pTemplate="folder">
    <span class="node-tree-item folder" [ngClass]="{'expanded': node.expanded, 'checked': node.checked}">
      <span class="node-item-branch">
        <span *ngIf="!node.root" class="top-branch"></span>
        <span class="bottom-branch folder-branch">
          <span *ngIf="node.expanded" class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content">
        <span (click)="nodeExpand($event, node)" class="node-select">
          <i *ngIf="!node.expanded" class="fa fa-plus-square" style="font-size: 16px;"></i>
          <i *ngIf="node.expanded" class="fa fa-minus-square" style="font-size: 16px;"></i>
        </span>
        <span *ngIf="node.icons" class="node-icon"><i class="{{node.icons}}" style="font-size: 16px;"></i></span>
        <span (click)="nodeCheck($event, node)" class="node-label">{{
          node.title
        }}</span>
        <app-score-ring *ngIf="node.progress" [displayedScore]="node.progress.displayedScore" [currentScore]="node.progress.currentScore" [diameter]="24"></app-score-ring>
      </span>
    </span>
  </ng-template>
  <!-- Leaf elements template -->
  <ng-template let-node pTemplate="leaf">
    <span class="node-tree-item" [ngClass]="{'checked': node.checked}">
      <span class="node-item-branch" [ngStyle]="{'width.px': node.checked ? 33 : 35}">
        <span class="top-branch"></span>
        <span class="bottom-branch"></span>
      </span>
      <span class="node-item-content">
        <span (click)="nodeExpand($event, node)" class="node-select">
          <i *ngIf="node.checked" class="pi pi-check" style="font-size: 12px;"></i>
          <i *ngIf="!node.checked" class="pi pi-circle-on" style="font-size: 12px;"></i>
        </span>
        <span (click)="nodeCheck($event, node)" class="node-label">{{
          node.title
        }}</span>
      </span>
    </span>
  </ng-template>
</p-tree>
