<alg-notification-modal
  i18n-modalTitle modalTitle="Unlocked content"
  icon="ph ph-lock-simple-open"
  iconStyleClass="alg-success-color"
  (closeEvent)="dialogRef.close()"
>
  <p i18n>You have just unlocked the following content.</p>
  <div class="unlocked-items">
    @for (item of items(); track $index) {
      <div class="unlocked-item">
        <span class="alg-primary-color ph" [ngClass]="{
          'ph-files': item.type === 'Task',
          'ph-folder': item.type === 'Chapter',
          'ph-graduation-cap': item.type === 'Skill'
        }"></span>
        <a
          class="alg-link unlocked-item-title"
          [routerLink]="{
            id: item.itemId,
            type: item.type
          } | itemRoute | url"
          (click)="dialogRef.close()"
        >
          {{ item.title || 'No title' }}
        </a>
      </div>
    }
  </div>
  <div class="unlocked-items-controls">
    <button type="button" (click)="dialogRef.close()" alg-button i18n>
      Continue on the current content
    </button>
  </div>
</alg-notification-modal>
