@use 'src/assets/scss/functions';

.title {
  margin-top: functions.toRem(38);
  margin-bottom: 0;
}

.form-item-view {
  display: flex;
  align-items: center;
  margin: functions.toRem(16) 0;
}

.form-item-label {
  width: 30%;
  display: block;
  font-size: functions.toRem(16);
  color: var(--alg-form-item-label);
}

.hint-icon {
  margin-left: functions.toRem(4);
  color: var(--alg-form-item-label, #666);
  cursor: help;
  font-size: functions.toRem(14);
  vertical-align: middle;
}

.form-item-control {
  margin-left: functions.toRem(16);
  flex: 1;

  &.another-input {
    display: flex;
    align-items: center;

    .first-child {
      margin-right: 2rem;

      &.stretch {
        flex: 1;
      }
    }
  }
}

.alg-warning-message {
  display: block;
  margin-top: var(--alg-space-size-6);
}
