@import 'src/colors.scss';
@import 'src/geometry.scss';

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 13rem;
  height: 13rem;
  margin: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: $border-radius;

  &:hover, &.active {
    background-color: rgba(0, 0, 0, .05);
  }

  &.disabled {
    background-color: transparent;
    opacity: 0.5;
  }

  .button-label {
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $base-text-color;
  }
}
