@import 'src/colors.scss';

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10.8333rem;
  height: 10.8333rem;
  margin: 0.4167rem;
  padding: 0.8333rem;
  background-color: #DFE6EF;
  cursor: pointer;
  border-radius: 0.4167rem;

  &:hover, &.active {
    background-color: #CBDFF6;
  }

  &.disabled {
    background-color: transparent;
    opacity: 0.5;
  }

  .button-label {
    margin-top: 0.8333rem;
    font-weight: bold;
    font-size: 1.1667rem;
    text-transform: uppercase;
    color: $base-text-color;
  }
}