@import "src/colors.scss";

.top-right-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .breadcrumb-bar {
    display: flex;
    align-items: center;
    flex: 1;

    alg-breadcrumb {
      flex: 1;
    }

    .lang-picker {
      margin-right: 0.1rem;
    }
  }

  .folded-top-bar {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 3.75rem;
    flex: 1;
    min-width: 0;

    .task-user-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 9rem;
      }
    }

    .rightpane-title {
      margin-left: 1.25rem;
      flex: 1;
      font-size: 1.6rem;
      margin-bottom: 0.4167rem;
      min-width: 0;

      p {
        color: $base-text-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-right: 0.4167rem;

      span {
        display: block;

        &.user-avatar {
          position: relative;
        }

        &.user-id {
          color: $base-color;
          font-size: 1.6667rem;
          font-weight: bold;
        }
      }
    }

    .clock-icon {
      color: $dark-text-color;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 0.4167rem;

      &.finished {
        color: $light-text-color;
      }
    }

    .remaining-time {
      color: $dark-text-color;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 20px;

      &.finished {
        color: $light-text-color;
      }
    }
  }
}
