<p-table [value]="data">
  <ng-template pTemplate="body" let-rowData>
    <tr [ngClass]="{active: rowData.potential_icon}">
      <td class="row-icon">
        <span class="icon" *ngIf="rowData.potential_icon"><i class="{{rowData.potential_icon}}"></i></span>
      </td>
      <td>
        {{ rowData.date | date:'d/MM/y' }}
      </td>
      <td *ngIf="type === 'user'">
        User
      </td>
      <td class="main">
        <b>{{rowData.status}}</b> - {{rowData.title}}
      </td>
      <td>
        <div class="score-wrapper">
          <ng-container *ngIf="rowData.score.type === 'score'">
            <app-score-ring [displayedScore]="rowData.score.displayedScore" [currentScore]="rowData.score.currentScore" diameter="24"></app-score-ring>
          </ng-container>
          <ng-container *ngIf="rowData.score.type === 'progress'">
            <app-skill-progress [displayedScore]="rowData.score.displayedScore" [currentScore]="rowData.score.currentScore" type="thick-horizontal"></app-skill-progress>
          </ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
