<app-section-paragraph
  icon="fa fa-flag-checkered"
  label="Rights you gave to the coordinator"
  [collapsible]="true"
>
  <div class="group-administrators">
    <div class="admin-label">
      This group is administrated by:
    </div>
    <div
      *ngFor="let item of data.administrators; index as idx"
      class="group-administrator"
    >
      <span class="user-icon"><i class="fa fa-user"></i></span>
      <span class="user-name">
        {{ item }}
        <ng-container *ngIf="idx !== data.administrators.length - 1"
          >,</ng-container
        >
      </span>
    </div>
  </div>

  <div class="administrator-config-container">
    <span class="allow-label">You allow them to:</span>
    <div *ngIf="data.require_watch_approval" class="form-item-view switch">
      <span class="form-item-label">See your activity and your answers</span>
      <div class="form-item-control">
        <app-switch
          mode="white"
        ></app-switch>
      </div>
    </div>
    <div
      *ngIf="
        data.require_personal_info_access_approval === 'view' ||
        data.require_personal_info_access_approval === 'edit'
      "
      class="form-item-view switch"
    >
      <span class="form-item-label">View your personal information</span>
      <div class="form-item-control">
        <app-switch
          mode="white"
        ></app-switch>
      </div>
    </div>
    <div
      *ngIf="data.require_personal_info_access_approval === 'edit'"
      class="form-item-view switch"
    >
      <span class="form-item-label danger"
        >Modify your password and personal information</span
      >
      <div class="form-item-control">
        <app-switch
          mode="white"
        ></app-switch>
      </div>
    </div>
    <div class="lock-time">
      <span class="lock-time-text">You are locked in this group until
        {{ data.require_lock_membership_approval_until | date: "d/MM/y h:m" }}</span>
      <span class="lock-time-icon">
        <i class="fa fa-lock"></i>
      </span>
    </div>
    <p class="lock-time-paragraph">
      {{data.desc}}
    </p>
  </div>
</app-section-paragraph>
