<p-tree
  [value]="nodes"
  (keydown)="onKeyDown($event)"
  emptyMessage="You do not belong to any group"
>
<ng-template let-node pTemplate="leaf">
  <span class="node-tree-item">
    <span class="node-item-branch" style="width: 2.9167rem;">
      <span class="top-branch"></span>
      <span class="bottom-branch"></span>
    </span>
    <span class="node-item-content">
      <span class="leaf node-select">
        <i class="pi pi-circle-on" style="font-size: 1.2rem;"></i>
      </span>
      <span class="node-label">
        <span class="node-label-title" (click)="onSelect($event, node)">{{ node.label }}</span>
      </span>
    </span>
  </span>
</ng-template>
  <!-- Folder elements template -->
  <!-- <ng-template let-node pTemplate="folder">
    <span class="node-tree-item folder" [ngClass]="{'expanded': node.expanded, checked: node.checked, assoc: !navigation}">
      <span class="node-item-branch">
        <span *ngIf="!node.root" class="top-branch"></span>
        <span class="bottom-branch folder-branch">
          <span *ngIf="node.expanded" class="mask-branch"></span>
        </span>
      </span>
      <span class="node-item-content" [ngClass]="{connected: node.connected}">
        <span (click)="nodeExpand($event, node)" class="node-select">
          <i *ngIf="!node.expanded" class="fa fa-plus-square" style="font-size: 1.2rem;"></i>
          <i *ngIf="node.expanded" class="fa fa-minus-square" style="font-size: 1.2rem;"></i>
        </span>
        <span *ngIf="node.icons" class="node-icon" (click)="nodeCheck($event, node)">
          <i class="{{node.icons}}" style="font-size: 1.2rem;"></i>
        </span>

        <span class="node-label">
          <alg-state-widget
            *ngIf="!navigation && node.category && showCategory"
            [disabled]="!node.connected"
            [type]="node.category.type"
            [icon]="node.category.icon"
            (click)="nodeCheck($event, node)"
          ></alg-state-widget>
          <span class="node-label-title" (click)="nodeCheck($event, node)">{{ node.title }}</span>
          <span *ngIf="!navigation" class="edit-icon" (click)="onGotoEditPage(node)">
            <i class="fa fa-edit"></i>
          </span>
          <span *ngIf="!navigation" class="connect-link" (click)="toggleConnection($event, node)">
            <i *ngIf="node.connected" class="fa fa-link"></i>
            <i *ngIf="!node.connected" class="fa fa-unlink"></i>
          </span>
        </span>
        <alg-score-ring
          *ngIf="node.progress && navigation"
          [displayedScore]="node.progress.displayedScore"
          [currentScore]="node.progress.currentScore"
          [diameter]="24"
        ></alg-score-ring>
        <span *ngIf="node.checked && navigation" class="go-to-page" (click)="goToPage($event, node)">
          <i class="fa fa-chevron-right"></i>
        </span>
      </span>
    </span>
  </ng-template> -->
  <!-- Leaf elements template -->
  <!-- <ng-template let-node pTemplate="leaf">
    <span class="node-tree-item" [ngClass]="{checked: node.checked, assoc: !navigation}">
      <span class="node-item-branch" [ngStyle]="{'width.rem': node.checked ? 2.75 : 2.9167}">
        <span class="top-branch"></span>
        <span class="bottom-branch"></span>
      </span>
      <span class="node-item-content" [ngClass]="{connected: node.connected}">
        <span (click)="nodeExpand($event, node)" class="leaf node-select">
        <span class="leaf node-select">
            <i *ngIf="node.checked" class="pi pi-check" style="font-size: 1.2rem;"></i>
          <i *ngIf="!node.checked" class="pi pi-circle-on" style="font-size: 1.2rem;"></i>
          <i class="pi pi-circle-on" style="font-size: 1.2rem;"></i>
        </span>
        <span class="node-label">
          <alg-state-widget
            *ngIf="!navigation && node.category && showCategory"
            [disabled]="!node.connected"
            [type]="node.category.type"
            [icon]="node.category.icon"
            (click)="nodeCheck($event, node)"
          ></alg-state-widget>
          <span class="node-label-title" (click)="nodeCheck($event, node)">{{ node.label }}</span>
          <span *ngIf="!navigation" class="edit-icon" (click)="onGotoEditPage(node)">
            <i class="fa fa-edit"></i>
          </span>
          <span *ngIf="!navigation" class="connect-link" (click)="toggleConnection($event, node)">
            <i *ngIf="node.connected" class="fa fa-link"></i>
            <i *ngIf="!node.connected" class="fa fa-unlink"></i>
          </span>
        </span>
        <span *ngIf="node.checked && navigation" class="go-to-page" (click)="goToPage($event, node)">
          <i class="fa fa-chevron-right"></i>
        </span>
      </span>
    </span>
  </ng-template> -->
</p-tree>
