<ng-container *ngrxLet="widgetOpened$ | async as widgetOpened">
  <div class="widget" *ngIf="state$ | async as state">
    <ng-container *ngIf="widgetOpened">
      <div *ngIf="state.isFetching">Loading...</div>
      <div *ngIf="state.isError">Error!</div>
      <div *ngIf="state.isReady" class="widget-body">
        <div *ngIf="state.data.length === 0">There are currently no events</div>
        <div *ngFor="let event of state.data">
          <div>{{ event | json }}</div>
        </div>
        <textarea
          [(ngModel)]="messageToSend"
          placeholder="Send a message..."
        ></textarea>
        <p-button
          label="Submit"
          (click)="sendMessage()"
          [disabled]="!messageToSend.trim()"
          ></p-button>
      </div>
    </ng-container>

    <div class="widget-footer" *ngrxLet="unreadCount$ | async as unreadCount">
      <p-button
        *ngIf="widgetOpened"
        label="Hide thread"
        (click)="toggleWidget(false)"
      ></p-button>

      <p-button
        *ngIf="!widgetOpened"
        label="Show thread {{ unreadCount && unreadCount > 0 ? '('+unreadCount+')' : '' }}"
        (click)="toggleWidget(true)"
      ></p-button>
    </div>
  </div>

</ng-container>
