<div class="widget" *ngIf="state$ | async as state">
  <div class="widget-loading" *ngIf="state.isFetching">Loading...</div>
  <div class="widget-error" *ngIf="state.isError">Error!</div>
  <div class="no-events" *ngIf="state.isReady && state.data.length === 0; else eventsBlock">
    There are currently no events
  </div>
  <ng-template #eventsBlock>
    <div class="widget-body">
      <div class="widget-scroll" #messagesScroll>
        <ng-container *ngIf="{ userCache: userCache$ | async, canCurrentUserLoadAnswers: canCurrentUserLoadAnswers$ | async, itemRoute: itemRoute$ | async } as threadMetadata">
          <alg-thread-message
            class="thread-message"
            [event]="event"
            [userCache]="threadMetadata.userCache ?? []"
            [canCurrentUserLoadAnswers]="threadMetadata.canCurrentUserLoadAnswers ?? false"
            [itemRoute]="threadMetadata.itemRoute ?? undefined"
            *ngFor="let event of state.data"
          ></alg-thread-message>
        </ng-container>
        <form class="footer-panel" [formGroup]="form" (ngSubmit)="sendMessage()">
          <textarea
            class="textarea"
            placeholder="Send a message..."
            pInputTextarea
            formControlName="messageToSend"
            [rows]="1"
            [autoResize]="true"
            (keydown.enter)="$event.preventDefault(); sendMessage()"
          ></textarea>
          <button
            class="send-button p-button-raised p-button-rounded alg-round-button-icon large-icon-size light-icon-weight"
            type="submit"
            icon="pi pi-send"
            pButton
            [disabled]="!form.get('messageToSend')?.value?.trim()"
          ></button>
        </form>
      </div>
    </div>
  </ng-template>
</div>
