@import 'src/colors.scss';

.form-item-view {
  display: flex;
  align-items: center;
  margin: 1.25rem;

  .form-item-label {
    display: block;
    font-size: 1.2rem;
    width: 21rem;
    color: $dark-text-color;
    font-weight: bold;
  }

  .form-item-control {
    flex: 1;

    &.another-input {
      display: flex;
      align-items: center;

      .first-child {
        margin-right: 2rem;

        &.stretch {
          flex: 1;
        }
      }

      .date-pickers {
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        .date-label {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}