@import 'src/assets/scss/functions';

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-refresh {
  vertical-align: bottom;
  text-align: right;
  padding-left: 0;
}

.operations {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.user-progress {
  position: relative;
}

.overlay-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.overlay-position {
  width: 0;
  height: 100%;
  margin-left: -2.3rem;
}

.load-more {
  margin-top: var(--alg-space-size-6);
}
