<alg-composition-filter
  [defaultValue]="defaultFilter"
  (change)="onFilterChange($event)"
></alg-composition-filter>

@if (columns$ | async; as columnsState) {
  @if (rows$ | async; as rowsState) {
    @if (rowsState.isError || columnsState.isError) {
      <alg-error
        class="dark"
        i18n-message message="Error while loading the data"
        icon="ph-duotone ph-warning-circle"
        [showRefreshButton]="true"
        (refresh)="fetchRows()"
      ></alg-error>
    } @else {
      @if (rowsState.isFetching && (!rowsState.data || rowsState.data.length === 0)) {
        <div class="loader">
          <alg-loading></alg-loading>
        </div>
      }
      @if (rowsState.isReady && rowsState.data.length === 0) {
        <p class="empty-message">
          <alg-error
            buttonCaption="Refresh"
            [showRefreshButton]="true"
            (refresh)="fetchRows()"
            i18n
          >
          This group has no {currentFilter, select, Users {users} Teams {teams} other {sub-groups}}
        </alg-error>
        </p>
      }
      <ng-template #menu>
        <div class="menu" cdkMenu (closed)="hideProgressDetail()">
          <alg-user-progress-details
            [canEditPermissions]="canAccess"
            [progressData]="progressOverlay"
            (editPermissions)="onAccessPermissions()"
          ></alg-user-progress-details>
        </div>
      </ng-template>

      @if (rowsState.data && columnsState.data && rowsState.data.length > 0) {
        <div class="operations">
          <button
            alg-button
            type="button"
            icon="ph ph-file-arrow-down"
            (click)="onCSVExport()"
            [disabled]="isCSVDataFetching"
            i18n
          >Export as CSV</button>
        </div>

        <div class="alg-table-page-wrapper">
          <div class="slanted-grid-sticky-header-bg"></div>
          <table class="alg-table-slanted border-style">
            <thead>
              <tr class="alg-table-header-tr">
                <th class="refresh-th sticky-th">
                  <button
                    class="size-s"
                    icon="ph ph-arrow-clockwise"
                    (click)="refreshRows()"
                    alg-button-icon
                  ></button>
                </th>
                @for (col of columnsState.data; track $index) {
                  <th class="alg-table-th sticky-th">
                    <div class="alg-table-slanted-header slanted-header">
                      <div
                        class="alg-table-slanted-header-content"
                        algTooltip="{{ col.title }}"
                        tooltipPosition="top"
                        tooltipStyleClass="secondary"
                        [tooltipDelay]="100"
                      >
                        @if (itemData && itemData.currentResult && itemData.currentResult.attemptId; as attemptId) {
                          <a
                            class="alg-link cursor-pointer alg-text-bold"
                            [routerLink]="col | itemRoute: { path: itemData.item.id === col.id ? itemData.route.path : itemData.route.path.concat([ itemData.item.id ]) } |
                              with: (itemData.item.id === col.id ? { attemptId } : { parentAttemptId: attemptId }) |
                              url : [ 'progress', 'chapter' ]"
                          >{{ col.title }}</a>
                        }
                      </div>
                    </div>
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (row of rowsState.data; track row.id) {
                <tr class="alg-table-body-tr">
                  <td
                    class="alg-table-td users-td"
                    algTooltip="{{ row.header }}"
                    tooltipPosition="left"
                    tooltipStyleClass="secondary"
                    [tooltipDelay]="100"
                  >
                    <a
                      class="alg-link cursor-pointer"
                      [routerLink]="{ id: row.id, isUser: currentFilter === 'Users' } | groupLink"
                    >{{ row.header }}</a>
                  </td>
                  @for (col of columnsState.data; track $index; let colIndex = $index) {
                    @if (row.data[colIndex]; as rowData) {
                      <td
                        class="alg-table-td cursor-pointer user-progress-td"
                        [class.active-cell]="activeCell()?.rowId === row.id && activeCell()?.colIndex === colIndex"
                        (click)="showProgressDetail(row, col, colIndex)"
                        [cdkMenuTriggerFor]="menu"
                        [cdkMenuPosition]="progressDetailMenuPositions()"
                        data-testid="user-progress-tooltip-target"
                      >
                        @if (rowData.type === 'user') {
                          <alg-user-progress [userProgress]="rowData"></alg-user-progress>
                        }
                      </td>
                    }
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        @if (datapager.canLoadMore$ | async) {
          <div class="alg-table-load-more">
            <button
              alg-button
              class="size-s stroke load-more"
              icon="ph-duotone ph-arrow-circle-down"
              (click)="fetchMoreRows()"
              [disabled]="rowsState.isFetching"
            >Load more</button>
          </div>
        }
      }
    }
  }
}
