<alg-composition-filter
  [defaultValue]="defaultFilter"
  (change)="onFilterChange($event)"
></alg-composition-filter>

<ng-container *ngIf="columns$ | async as columnsState">
  <ng-container *ngIf="rows$ | async as rowsState">
    <alg-error
      *ngIf="rowsState.isError || columnsState.isError; else noError"
      class="dark"
      i18n-message message="Error while loading the data"
      icon="fa fa-exclamation-triangle"
      [showRefreshButton]="true"
      (refresh)="fetchRows()"
    ></alg-error>

    <ng-template #noError>
      <div class="loader" *ngIf="rowsState.isFetching && (!rowsState.data || rowsState.data.length === 0)">
        <alg-loading></alg-loading>
      </div>

      <p class="empty-message" *ngIf="rowsState.isReady && rowsState.data.length === 0">
        <ng-container [ngSwitch]="currentFilter">
          <span *ngSwitchCase="'Users'" i18n>This group has no users</span>
          <span *ngSwitchCase="'Teams'" i18n>This group has no teams</span>
          <span *ngSwitchCase="'Groups'" i18n>This group has no sub-groups</span>
        </ng-container>
        <p-button icon="pi pi-refresh" (click)="fetchRows()" styleClass="p-button-sm"></p-button>
      </p>

      <alg-user-progress-details
        [canEditPermissions]="canAccess"
        [progressData]="progressOverlay"
        (hide)="hideProgressDetail()"
        (editPermissions)="onAccessPermissions()"
      ></alg-user-progress-details>

      <ng-container *ngIf="rowsState.data && columnsState.data && rowsState.data.length > 0">
        <div class="operations">
          <button
            pButton
            type="button"
            i18n-label label="Export as CSV"
            icon="fa fa-file-download"
            class="p-button-sm"
            (click)="onCSVExport()"
            [disabled]="isCSVDataFetching"
          ></button>
        </div>

        <p-table #table
          [columns]="columnsState.data"
          [value]="rowsState.data"
          class="slanted-grid"
          [rowTrackBy]="trackByRow"
          [loading]="rowsState.isFetching"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="empty first header-refresh">
                <p-button icon="pi pi-refresh" (click)="fetchRows()"></p-button>
              </th>
              <th *ngFor="let col of columns">
                <div class="slanted-header">
                  <div class="slanted-header-content" pTooltip="{{ col.title }}" tooltipPosition="top" [showDelay]="100">
                    <a
                      class="slanted-header-link alg-link cursor-pointer"
                      [routerLink]="{
                        id: col.id,
                        contentType: col | contentTypeFromItem,
                        path: itemData.item.id === col.id ? itemData.route.path : itemData.route.path.concat([ itemData.item.id ])
                      } | withAttempt: (itemData.item.id === col.id ? {
                        attemptId: attemptId
                      } : {
                        parentAttemptId: attemptId
                      }) | url : [ 'progress', 'chapter' ]"
                      *ngIf="itemData && itemData.currentResult && itemData.currentResult.attemptId as attemptId"
                    >{{ col.title }}</a>
                  </div>
                </div>
              </th>
              <th class="empty last"></th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-row
            let-columns="columns"
          >
            <tr>
              <td class="users" pTooltip="{{ row.header }}" tooltipPosition="left" [showDelay]="100">
                <a
                  class="alg-link cursor-pointer"
                  [routerLink]="{ id: row.id, isUser: currentFilter === 'Users' } | groupLink"
                >{{ row.header }}</a>
              </td>
              <td
                class="cursor-pointer user-progress"
                *ngFor="let col of columns; let colIndex = index"
                (click)="showProgressDetail(overlayTarget, row.data[colIndex], row, col)"
              >
                <alg-user-progress
                  *ngIf="row.data[colIndex]"
                  [userProgress]="row.data[colIndex]"
                ></alg-user-progress>
                <div class="overlay-target">
                  <span class="overlay-position" #overlayTarget></span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr *ngIf="currentFilter === 'Users' && (datapager.canLoadMore$ | async)">
              <td [colSpan]="columnsState.data.length + 1">
                <div class="text-center">
                  <button
                    pButton
                    class="p-button-rounded"
                    i18n-label label="Load more"
                    (click)="fetchMoreRows()"
                    [disabled]="rowsState.isFetching"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>

      <alg-permissions-edit-dialog
        [currentUserPermissions]="itemData.item.permissions"
        [item]="progressDataDialog.item"
        [group]="progressDataDialog.group"
        [sourceGroup]="sourceGroup"
        [permReceiverName]="progressDataDialog.groupName"
        [permGiverName]="progressDataDialog.sourceGroupName"
        (close)="onDialogClose()"
        *ngIf="isPermissionsDialogOpened && itemData && progressDataDialog && sourceGroup"
      ></alg-permissions-edit-dialog>
    </ng-template>
  </ng-container>
</ng-container>
