@import 'src/assets/scss/functions';

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slanted-grid-sticky-header-bg {
  position: sticky;
  top: 0;
  left: 0;
  margin-right: calc(0rem - var(--alg-space-size-2));
  margin-bottom: toRem(-211);
  width: 100%;
  height: toRem(211);
  background-color: #fff;
  z-index: 3;
}

.slanted-header {
  z-index: 4;
  padding-left: toRem(16);
}

.refresh-th {
  vertical-align: bottom;
  text-align: right;
  padding: 0 toRem(16) toRem(16) 0;
  border-bottom: toRem(1) solid var(--alg-border-color) !important;
}

.sticky-th {
  position: sticky !important;
  top: 0;
  background-color: var(--alg-white-color);
  z-index: 3;

  &:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
}

.users-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left !important;
  width: 13.3333rem;
  height: auto !important;
  padding-right: toRem(16) !important;
}

.operations {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.user-progress-td {
  position: relative;
  height: auto !important;
}

.overlay-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.overlay-position {
  width: 0;
  height: 100%;
  margin-left: -2.3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--alg-white-color);
  border-radius: toRem(10);
  border: none;
  overflow: hidden;
  box-shadow: 0 toRem(6) toRem(10) 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 toRem(6) toRem(10) 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 toRem(6) toRem(10) 0 rgba(0, 0, 0, 0.2);
}
