<alg-loading *ngIf="(navigationData$ | async)?.isFetching" size="large"></alg-loading>
<ng-container *ngIf="error$ | async as error">
  <alg-error
    *ngIf="error === 'fetch_error'"
    i18n-message message="Unable to load this task. Either you have a connexion issue or this task is not correctly configured. Please retry, if the problem persists, contact us."
  ></alg-error>
  <alg-error
    *ngIf="error === 'no_child'"
    i18n-message message="This task is not correctly configured (chapter with task expected)."
  ></alg-error>
  <alg-error
    *ngIf="error === 'explicit_entry_with_no_result'"
    i18n-message message="This task is not correctly configured (explicit entry but no result)"
  ></alg-error>
</ng-container>
