<lib-section icon="fa fa-link" label="Activities related to this skill">
  <lib-grid-filter-bar>
    <ng-container *ngFor="let filter of gridFilters">
      <lib-grid-filter
        [icon]="filter.icon"
        [label]="filter.label"
        [type]="filter.type"
        [mode]="filter.mode"
        [text]="filter.text"
        [ranges]="filter.ranges"
        [dateRanges]="filter.dateRanges"
        [list]="filter.list"
        (onClose)="removeFilter(filter.ID)"
      ></lib-grid-filter>
    </ng-container>
    <lib-select
      [items]="filterChoice"
      [opened]="false"
      width="10"
      style="margin: 0.4167rem;"
    ></lib-select>
  </lib-grid-filter-bar>
</lib-section>
<div class="group-tree-container">
  <lib-group-navigation-tree [data]="trees" [navigation]="false" (onEditPage)="onGotoPage($event)"></lib-group-navigation-tree>
</div>
<div class="tree-container">
  <span class="tri-tag"></span>
  <lib-sub-section icon="fa fa-plus" label="Add content">
    <lib-activity-picker [trees]="trees"></lib-activity-picker>
  </lib-sub-section>
</div>