<div class="alg-page-header" *ngIf="user">
  <div>
    <div class="alg-page-header-title">
      {{ user | userCaption }}
    </div>

    <div class="alg-page-header-subtitle" *ngIf="user.webSite">
      <i class="fa fa-external-link-alt"></i>
      <a class="web-site alg-link base-color" [attr.href]="user.webSite" target="_blank">{{ user.webSite }}</a>
    </div>

    <div class="free-text alg-page-header-subtitle" *ngIf="user.freeText">
      {{ user.freeText }}
    </div>
  </div>

  <alg-page-navigator
    *ngIf="true"
    [allowWatching]="!!user.currentUserCanWatchUser && !user.isCurrentUser"
    [isWatched]="!!(isCurrentGroupWatched$ | async)"
    [allowFullScreen]="false"
    (watch)="onStartWatchButtonClicked()"
    (stopWatch)="onStopWatchButtonClicked()"
  ></alg-page-navigator>
</div>
