@use 'src/assets/scss/functions';

.progress-bar-wrapper {
  width: functions.toRem(32);
  height: functions.toRem(4);
  border-radius: functions.toRem(4);
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: var(--alg-border-light-color);

  &.bold {
    height: functions.toRem(8);
  }
}

.progress-current-score {
  height: 100%;
  border-radius: functions.toRem(4);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--alg-primary-color);
}

.progress-best-score {
  height: 100%;
  border-radius: 9rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #a7bdef;
}
