
<div class="header-section-container">
  <div class="header-section-header">
    <span class="header-handle">
      <i class="{{icon}}"></i>
    </span>
    <span class="header-title">{{title}}</span>
    <span *ngIf="isCollapsible" class="header-collapse" (click)="onCollapse()">
      <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
      <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
    </span>
  </div>
  <div class="header-section-body" *ngIf="!isCollapsed">
    <ng-content></ng-content>
  </div>
</div>
