<alg-error
  *ngIf="state === 'error'; else noError"
  class="dark"
  icon="ph-duotone ph-warning-circle"
  i18n-message message="Error while loading the group you manage"
  [showRefreshButton]="true"
  (refresh)="fetchData()"
></alg-error>

<ng-template #noError>
  @if (state === 'fetching') {
    <alg-loading></alg-loading>
  } @else {
    <div class="alg-table-page-wrapper">
      <div class="alg-table-horizontal-scroll">
        <table class="alg-table-v2" cdk-table [dataSource]="data">
          <ng-container cdkColumnDef="name">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Name</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let group">
              <a class="alg-link" routerLink="../by-id/{{ group.id }}">{{ group.name }}</a>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="type">
            <th class="alg-table-th small" cdk-header-cell *cdkHeaderCellDef i18n>Type</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let group">{{ getType(group.type) }}</td>
          </ng-container>

          <ng-container cdkColumnDef="canManage">
            <th class="alg-table-th" cdk-header-cell *cdkHeaderCellDef i18n>Can Manage</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let group">{{ getCanManage(group.canManage) }}</td>
          </ng-container>

          <ng-container cdkColumnDef="canWatchMembers">
            <th class="alg-table-th small" cdk-header-cell *cdkHeaderCellDef i18n>Can Watch Members</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let group">
              <span
                class="table-icon"
                [ngClass]="{
                  locked: group.canWatchMembers,
                  unlocked: !group.canWatchMembers
                }"
              >
                <i *ngIf="!group.canWatchMembers" class="ph-bold ph-x"></i>
                <i *ngIf="group.canWatchMembers" class="ph-bold ph-check"></i>
              </span>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="canGrantGroupAccess">
            <th class="alg-table-th small" cdk-header-cell *cdkHeaderCellDef i18n>Can Grant Group Access</th>
            <td class="alg-table-td" cdk-cell *cdkCellDef="let group">
              <span
                class="table-icon"
                [ngClass]="{
                  locked: group.canGrantGroupAccess,
                  unlocked: !group.canGrantGroupAccess
                }"
              >
                <i *ngIf="!group.canGrantGroupAccess" class="ph-bold ph-x"></i>
                <i *ngIf="group.canGrantGroupAccess" class="ph-bold ph-check"></i>
              </span>
            </td>
          </ng-container>

          @if (data.length > 0) {
            <tr class="alg-table-header-tr" cdk-header-row *cdkHeaderRowDef="displayedColumns()"></tr>
          }
          <tr class="alg-table-body-tr" cdk-row *cdkRowDef="let row; columns: displayedColumns()"></tr>
          <tr class="alg-table-body-tr" *cdkNoDataRow>
            <td class="alg-table-td empty-td" [attr.colspan]="displayedColumns().length">
              <p class="empty-message" i18n>You do not manage any group</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  }
</ng-template>
