@import 'src/variables';

:host {
  position: relative;
  display: block;
}

.small {
  width: 10rem;
}

.table-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.2rem;
  }

  &.edit {
    color: var(--base-color);
  }

  &.locked {
    color: #9acc68;
  }

  &.unlocked {
    color: var(--notify-error-color);
  }
}
