@import 'src/assets/scss/functions';

:host {
  display: flex;
}

.score-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.icon {
  font-size: toRem(14);
}

.round-path {
  stroke: rgba(0, 0, 0, .2);
}

.best-score-path {
  stroke: #a5bfed;
}

.current-score-path {
  stroke: var(--alg-primary-color);
}

.score-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.score-caption {
  color: var(--alg-primary-color);
  font-size: toRem(12);
  font-weight: 400;
  font-family: var(--alg-primary-color);

  &.zero-value {
    color: var(--dark-text-color);
  }
}
