<ng-container *ngIf="session$ | async as session">
  <alg-section
      icon="fa fa-list"
      *ngIf="itemData"
      [label]="session?.watchedGroup | itemProgressLabel"
  >

    <p class="not-allow-caption" *ngIf="!!session?.watchedGroup && itemData.item.permissions.canWatch === 'none'; else content" i18n>
      You are not allowed to watch the progress of other users on this content.
    </p>

    <ng-template #content>

      <div [hidden]="selectors === 'none'">
        <div class="selection-center">
          <nav class="tab-rounded">
            <a class="tab-rounded-item"
               [ngClass]="{'active': !!historyTab.isActive, 'prev': !!chapterGroupProgressTab?.isActive || !!chapterUserProgressTab?.isActive}"
               [routerLink]="'./progress/history'"
               routerLinkActive #historyTab="routerLinkActive"
               i18n
            >
              History
            </a>

            <a class="tab-rounded-item"
               [ngClass]="{'active': !!chapterGroupProgressTab.isActive, 'prev': !!chapterUserProgressTab?.isActive}"
               [routerLink]="'./progress/chapter'"
               routerLinkActive #chapterGroupProgressTab="routerLinkActive"
               *ngIf="selectors === 'withGroupProgress'"
               i18n
            >
              Chapter view
            </a>

            <a class="tab-rounded-item"
               [ngClass]="{'active': !!chapterUserProgressTab?.isActive}"
               [routerLink]="'./progress/chapter-user-progress'"
               routerLinkActive #chapterUserProgressTab="routerLinkActive"
               *ngIf="selectors === 'withUserProgress'"
               i18n
            >
              Chapter view
            </a>
          </nav>
        </div>
      </div>

      <div>
        <alg-item-log-view
          *ngIf="!!historyTab?.isActive"
          [itemData]="itemData"
          [showSubmissionLoadLinks]="showSubmissionLoadLinks"
        ></alg-item-log-view>

        <div class="chapter-group-progress">
          <alg-chapter-group-progress
            *ngIf="!!chapterGroupProgressTab?.isActive"
            [itemData]="itemData"
          ></alg-chapter-group-progress>
        </div>

        <alg-chapter-user-progress
            *ngIf="!!chapterUserProgressTab?.isActive"
            [itemData]="itemData"
        ></alg-chapter-user-progress>
      </div>

    </ng-template>
  </alg-section>
</ng-container>
