<ng-container *ngIf="state$ | async as state">

  <alg-loading class="alg-flex-1" *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark alg-flex-1"
    i18n-message message="Error while loading the user info"
    icon="ph-duotone ph-warning-circle"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.isReady">

    <alg-user-header *ngIf="userRoute$ | async as route" [user]="state.data" [route]="route" ></alg-user-header>

    <alg-user-indicator
      class="user-indicator"
      [user]="state.data"
      *ngIf="!state.data.isCurrentUser && state.data.ancestorsCurrentUserIsManagerOf.length > 0"
    ></alg-user-indicator>

    <nav class="alg-nav-tab" *ngIf="(currentUserGroupId$ | async) === state.data.groupId || (activeRoute$ | async) === 'personal-data' || (activeRoute$ | async) === 'settings'">
      <a
          class="alg-nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #progress="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="progress.isActive"
          i18n
      >
        Progress
      </a>
      <a
          class="alg-nav-tab-item"
          [routerLink]="'./personal-data'"
          routerLinkActive #personalData="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="personalData.isActive"
          i18n
          [hidden]="(currentUserGroupId$ | async) !== state.data.groupId && (activeRoute$ | async) !== 'personal-data'"
      >
        Personal data
      </a>
      <a
          class="alg-nav-tab-item"
          [routerLink]="'./settings'"
          routerLinkActive #settings="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="settings.isActive"
          i18n
          [hidden]="(currentUserGroupId$ | async) !== state.data.groupId && (activeRoute$ | async) !== 'settings'"
      >
        Settings
      </a>
    </nav>

    <ng-container *ngIf="activeRoute$ | async as activeRoute">
      <ng-container *ngIf="activeRoute === 'progress'">
        <ng-container *ngIf="currentUserGroupId$ | async as currentUserGroupId">
          <alg-group-log-view
            [groupId]="currentUserGroupId !== state.data.groupId ? state.data.groupId : undefined"
            [showUserColumn]="false"
          ></alg-group-log-view>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="activeRoute === 'personal-data'">
        <ng-container *ngIf="(currentUserGroupId$ | async) === state.data.groupId; else forbidden">
          <alg-current-user></alg-current-user>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="activeRoute === 'settings'">
        <ng-container *ngIf="(currentUserGroupId$ | async) === state.data.groupId; else forbidden">
          <alg-platform-settings></alg-platform-settings>
        </ng-container>
      </ng-container>

      <ng-template #forbidden>
        <alg-error class="alg-flex-1" i18n-message message="You cannot access this page for this user"></alg-error>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
