<ng-container *ngIf="state$ | async as state">

  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    i18n-message message="Error while loading the user info"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refresh()"
  ></alg-error>

  <ng-container *ngIf="state.isReady">

    <alg-user-header [user]="state.data.user" [route]="state.data.route"></alg-user-header>

    <alg-user-indicator
      class="user-indicator"
      [user]="state.data.user"
      *ngIf="!state.data.user.isCurrentUser && state.data.user.ancestorsCurrentUserIsManagerOf.length > 0"
    ></alg-user-indicator>

    <nav class="nav-tab" *ngIf="(currentUserGroupId$ | async) === state.data.user.groupId || (activeRoute$ | async) === 'personal-data' || (activeRoute$ | async) === 'settings'">
      <a
          class="nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #progress="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="progress.isActive"
          i18n
      >
        Progress
      </a>
      <a
          class="nav-tab-item"
          [routerLink]="'./personal-data'"
          routerLinkActive #personalData="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="personalData.isActive"
          i18n
          [hidden]="(currentUserGroupId$ | async) !== state.data.user.groupId && (activeRoute$ | async) !== 'personal-data'"
      >
        Personal data
      </a>
      <a
          class="nav-tab-item"
          [routerLink]="'./settings'"
          routerLinkActive #settings="routerLinkActive"
          [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
          [class.active]="settings.isActive"
          i18n
          [hidden]="(currentUserGroupId$ | async) !== state.data.user.groupId && (activeRoute$ | async) !== 'settings'"
      >
        Settings
      </a>
    </nav>

    <ng-container *ngIf="activeRoute$ | async as activeRoute">
      <ng-container *ngIf="activeRoute === 'progress'">
        <div class="bg-white" *ngIf="currentUserGroupId$ | async as currentUserGroupId">
          <alg-section icon="fa fa-chart-line" i18n-label label="Progress">
            <alg-group-log-view
                [groupId]="currentUserGroupId !== state.data.user.groupId ? state.data.user.groupId : undefined"
                [showUserColumn]="false"
            ></alg-group-log-view>
          </alg-section>
        </div>
      </ng-container>

      <ng-container *ngIf="activeRoute === 'personal-data'">
        <ng-container *ngIf="(currentUserGroupId$ | async) === state.data.user.groupId; else forbidden">
          <alg-current-user></alg-current-user>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="activeRoute === 'settings'">
        <ng-container *ngIf="(currentUserGroupId$ | async) === state.data.user.groupId; else forbidden">
          <alg-platform-settings></alg-platform-settings>
        </ng-container>
      </ng-container>

      <ng-template #forbidden>
        <div class="bg-white">
          <alg-error i18n-message message="You cannot access this page for this user"></alg-error>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
