@if (group) {
  <p>
    @if (group.isMembershipLocked) {
      <ng-container i18n>
        You are currently not allowed to leave this group.
      </ng-container>
    } @else {
      <ng-container i18n>
        You can freely leave this group. Note that you may lose access to content if this group was granting some permissions to its members.
      </ng-container>
    }
  </p>
  <div class="button">
    <button
      class="size-l"
      icon="ph-bold ph-x"
      (click)="leaveGroup()"
      [disabled]="group.isMembershipLocked"
      alg-button
      i18n
    >Leave this group</button>
  </div>
}
