@use 'src/assets/scss/functions';

.header-content {
  display: flex;
  align-items: center;
  font-size: functions.toRem(12);
  font-style: italic;
  color: var(--alg-secondary-color);
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item {
  display: flex;
  position: relative;
}

.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: functions.toRem(14);
  color: var(--alg-secondary-color);

  &.header-comment {
    padding-top: 0.4167rem;
  }
}

.desc-name {
  color: var(--alg-secondary-color);
  cursor: pointer;

  &.active {
    color: var(--alg-primary-color);
  }
}

.switch {
  margin-right: 1.8rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1.5rem;
}

.gray-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: white;
}
