<div *ngIf="collapsed" class="header-content">
  @if (value) {
    @if (headerContent) {
      <ng-container
        [ngTemplateOutlet]="headerContent"
        [ngTemplateOutletContext]="{ $implicit: value }"
      ></ng-container>
    } @else {
      <span i18n>Yes</span>
    }
  } @else {
    <span i18n>No</span>
  }
</div>

<div *ngIf="!collapsed" class="body">
  <div class="item" *ngIf="descriptionTemplate">
    <div class="desc header-comment">
      <ng-container [ngTemplateOutlet]="descriptionTemplate"></ng-container>
    </div>
  </div>
  <div class="item">
    <div class="switch">
      <alg-switch [checked]="value" (change)="onSet($event)" mode="circular"></alg-switch>
    </div>
    <div class="desc">
      <div class="desc-name" [ngClass]="{ active: value }" (click)="onSet(!value)">
        <ng-container
          *ngIf="labelTemplate"
          [ngTemplateOutlet]="labelTemplate"
          [ngTemplateOutletContext]="{ $implicit: value }"
        ></ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="contentTemplate"
          [ngTemplateOutlet]="contentTemplate"
          [ngTemplateOutletContext]="{ $implicit: value }"
        ></ng-container>
      </div>
    </div>
    <div *ngIf="disabledTooltip.length" class="gray-overlay tool"
      [pTooltip]="disabledTooltip.join('\n') || ''"
      tooltipPosition="top"
      tooltipStyleClass="alg-tooltip"
      [escape]="false"
    ></div>
  </div>
</div>
