@if (collapsed) {
  <div class="header-content">
    @if (value) {
      @if (headerContent) {
        <ng-container
          [ngTemplateOutlet]="headerContent"
          [ngTemplateOutletContext]="{ $implicit: value }"
        ></ng-container>
      } @else {
        <span i18n>Yes</span>
      }
    } @else {
      <span i18n>No</span>
    }
  </div>
}

@if (!collapsed) {
  <div class="body">
    @if (descriptionTemplate) {
      <div class="item">
        <div class="desc header-comment">
          <ng-container [ngTemplateOutlet]="descriptionTemplate"></ng-container>
        </div>
      </div>
    }
    <div class="item">
      <div class="switch">
        <alg-switch [(ngModel)]="value" (change)="onSet($event)"></alg-switch>
      </div>
      <div class="desc">
        <div class="desc-name" [ngClass]="{ active: value }" (click)="onSet(!value)">
          @if (labelTemplate) {
            <ng-container
              [ngTemplateOutlet]="labelTemplate"
              [ngTemplateOutletContext]="{ $implicit: value }"
            ></ng-container>
          }
        </div>
        <div>
          @if (contentTemplate) {
            <ng-container
              [ngTemplateOutlet]="contentTemplate"
              [ngTemplateOutletContext]="{ $implicit: value }"
            ></ng-container>
          }
        </div>
      </div>
      @if (disabledTooltip.length) {
        <div class="gray-overlay tool"
          [algTooltip]="disabledTooltip.join('\n') || ''"
          tooltipPosition="top"
        ></div>
      }
    </div>
  </div>
}
