<ng-container *ngIf="currentGroupContent$ | async as currentGroupContent">
  <button
    class="alg-button-icon no-bg primary-color"
    [ngClass]="{ 'active-secondary': currentGroupContent.isBeingWatched }"
    pButton
    type="button"
    icon="ph ph-eye"
    (click)="toggleWatchingMode($event, currentGroupContent)"
  ></button>

  <p-overlayPanel
    #op
    [style]="{ width: '450px' }"
    appendTo="body"
  >
    <alg-suggestion-of-activities *ngIf="op.overlayVisible"></alg-suggestion-of-activities>
  </p-overlayPanel>
</ng-container>

