<ng-container *ngIf="currentGroupContent$ | async as currentGroupContent">
  <button
    class="p-button-raised p-button-rounded alg-round-button-icon top-bar-size"
    [ngClass]="{ 'active-secondary': currentGroupContent.isBeingWatched }"
    pButton
    type="button"
    icon="fa fa-eye"
    (click)="toggleWatchingMode($event, currentGroupContent)"
  ></button>

  <p-overlayPanel
    #op
    [style]="{ width: '450px' }"
    appendTo="body"
  >
    <alg-suggestion-of-activities *ngIf="op.overlayVisible"></alg-suggestion-of-activities>
  </p-overlayPanel>
</ng-container>

