@use 'src/assets/scss/functions';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.warning {
    .icon {
      color: var(--alg-accent-dark-color);;
    }
  }
}

.left {
  margin-right: functions.toRem(8);
}

.template {
  flex: 1;
}

.icon {
  margin-right: functions.toRem(8);
  color: var(--alg-primary-color);
  font-size: functions.toRem(16);
}

.title {
  color: #000;
  font-size: functions.toRem(16);
}
