<div
  class="container"
  [class.success]="theme() === 'success'"
  [class.warning]="theme() === 'warning'"
  [class.danger]="theme() === 'danger'"
  [class]="styleClass()"
>
  <div class="left">
    <i class="icon {{ icon() }}"></i>
    <span class="title">{{ caption() }}</span>
  </div>
  @if (contentTemplate()) {
    <div class="template">
      <ng-container
        [ngTemplateOutlet]="contentTemplate()!"
        [ngTemplateOutletContext]="{ $implicit: true }"
      ></ng-container>
    </div>
  }
</div>
