<ng-container *ngIf="state$ | async as state">

  <ng-container *ngIf="state.data?.group as group">
    <div *ngIf="state.isFetching" class="block-ui"></div>
    <alg-group-header [groupData]="state.data" *ngIf="!(fullFrameContent$ | async)?.expanded"></alg-group-header>
    <alg-pending-join-requests
        *ngIf="group.isCurrentUserManager && group.currentUserCanManage !== 'none'"
        [groupId]="group.id"
    ></alg-pending-join-requests>
    <alg-group-indicator
        class="group-indicator"
        *ngIf="group.currentUserManagership !== 'none' || group.currentUserMembership !== 'none'"
        [group]="group"
    >
    </alg-group-indicator>
    <!-- tabs -- if only the first tab is visible, do not show the tab bar -->
    <div [hidden]="!group.isCurrentUserManager && group.currentUserMembership === 'none' && !adminTab.isActive && !accessTab?.isActive">
      <div class="nav-tab">
        <a
          class="nav-tab-item"
          [routerLink]="'./'"
          routerLinkActive #overviewTab="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [class.active]="overviewTab.isActive"
          i18n
        >
          Overview
        </a>
        <a
          [hidden]="!group.isCurrentUserManager && !compositionTab?.isActive"
          class="nav-tab-item"
          [routerLink]="'./members'"
          routerLinkActive #compositionTab="routerLinkActive"
          [class.active]="compositionTab.isActive"
          i18n
        >
          Composition
        </a>
        <a
          [hidden]="!group.isCurrentUserManager && group.currentUserMembership === 'none' && !adminTab?.isActive"
          class="nav-tab-item"
          [routerLink]="'./managers'"
          routerLinkActive #adminTab="routerLinkActive"
          [class.active]="adminTab.isActive"
          i18n
        >
          Managers
        </a>
        <a
            [hidden]="!group.currentUserCanGrantGroupAccess && !accessTab?.isActive"
            class="nav-tab-item"
            [routerLink]="'./access'"
            routerLinkActive #accessTab="routerLinkActive"
            [class.active]="accessTab.isActive"
            i18n
        >
          Access
        </a>
        <a
          [hidden]="!group.canCurrentUserManageGroup && !settingsTab?.isActive"
          class="nav-tab-item"
          [routerLink]="'./settings'"
          routerLinkActive #settingsTab="routerLinkActive"
          [class.active]="settingsTab.isActive"
          i18n
        >
          Settings
        </a>
      </div>
    </div>

    <div class="bg-white">
      <alg-group-overview *ngIf="overviewTab?.isActive || !overviewTab && group.currentUserManagership === 'none' && group.currentUserMembership === 'none'" [group]="group"></alg-group-overview>
      <alg-group-composition *ngIf="!!compositionTab?.isActive" [groupData]="state.data" (groupRefreshRequired)="onGroupRefreshRequired()"></alg-group-composition>
      <alg-group-managers *ngIf="!!adminTab?.isActive" [groupData]="state.data"></alg-group-managers>
      <alg-group-settings *ngIf="!!settingsTab?.isActive" [group]="group" (groupRefreshRequired)="onGroupRefreshRequired()"></alg-group-settings>
      <alg-group-access *ngIf="!!accessTab?.isActive" [group]="group"></alg-group-access>
    </div>

  </ng-container>

  <alg-loading *ngIf="state.isFetching && !state.data"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="onGroupRefreshRequired()"
  >
    <ng-container i18n>
      <ng-container *ngIf="state.error.status === 403; else otherError;">
        You are not allowed to view this group page.
      </ng-container>
      <ng-template #otherError>
        Error while loading the group info
      </ng-template>
    </ng-container>
  </alg-error>

</ng-container>
