<ng-container *ngIf="state$ | async as state">

  <ng-container *ngIf="state.tag === 'ready' && (group$ | async) as group">
    <alg-group-header [group]="group"></alg-group-header>
    <alg-pending-join-requests *ngIf="group.isCurrentUserManager" [groupId]="group.id"></alg-pending-join-requests>
    <!-- tabs -- if only the first tab is visible, do not show the tab bar -->
    <nav mat-tab-nav-bar *ngIf="group.isCurrentUserManager">
      <a mat-tab-link
        [routerLink]="'./'"
        routerLinkActive #overviewTab="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="overviewTab.isActive">
        Overview
      </a>
      <a mat-tab-link
        [routerLink]="'./members'"
        routerLinkActive #compositionTab="routerLinkActive"
        [active]="compositionTab.isActive">
        Composition
      </a>
      <a mat-tab-link
        *ngIf="group.canCurrentUserManageGroup"
        [routerLink]="'./managers'"
        routerLinkActive #adminTab="routerLinkActive"
        [active]="adminTab.isActive">
        Administration
      </a>
      <a mat-tab-link
        *ngIf="group.canCurrentUserManageGroup"
        [routerLink]="'./settings'"
        routerLinkActive #settingsTab="routerLinkActive"
        [active]="settingsTab.isActive">
        Settings
      </a>
    </nav>

    <div class="bg-white">
      <alg-group-overview *ngIf="!group.isCurrentUserManager || !!overviewTab?.isActive" [group]="group"></alg-group-overview>
      <alg-group-composition *ngIf="!!compositionTab?.isActive" [group]="group" (groupRefreshRequired)="onGroupRefreshRequired()"></alg-group-composition>
      <alg-group-administration *ngIf="!!adminTab?.isActive" [group]="group" (groupRefreshRequired)="onGroupRefreshRequired()"></alg-group-administration>
      <alg-group-settings *ngIf="!!settingsTab?.isActive" [group]="group" (groupRefreshRequired)="onGroupRefreshRequired()"></alg-group-settings>
    </div>

  </ng-container>

  <p-progressSpinner *ngIf="state.tag === 'fetching'"></p-progressSpinner>

  <p *ngIf="state.tag === 'error'" i18n>Error while loading the group info</p>

</ng-container>
