@use 'src/assets/scss/functions';

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: var(--alg-secondary-color);
  white-space: nowrap;
  border-radius: functions.toRem(8);
  background-color: var(--alg-primary-light-color);
  min-height: functions.toRem(40);
  overflow-x: scroll;
}

.content {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

.links {
  margin-left: .4rem;
}
