@let group = groupData().group;
@if (group | isCurrentUserManager) {
  <alg-member-list class="member-list" #memberList [groupData]="groupData()" (removedGroup)="removedGroup.emit()" />
  @if (group.currentUserCanManage !== 'none') {
    <alg-add-sub-group [loading]="state() === 'addingGroup'"
      (addGroup)="addGroup($event)"
      #addSubGroupComponent
     />
  }
  @if (group.currentUserCanManage !== 'none') {
    <alg-group-join-by-code [group]="group" (refreshRequired)="refreshGroupInfo()" />
  }
  @if (group.currentUserCanManage !== 'none') {
    <alg-group-invite-users [group]="group" />
  }
} @else {
  <alg-group-no-permission />
}
