<ng-container *ngIf="groupData">
  @let group = groupData.group;
  <ng-container *ngIf="group | isCurrentUserManager; else noPermission">
    <alg-member-list class="member-list" #memberList [groupData]="groupData" (removedGroup)="removedGroup.emit()"></alg-member-list>
    <alg-add-sub-group
        *ngIf="group.currentUserCanManage !== 'none'"
        [loading]="state === 'addingGroup'"
        (addGroup)="addGroup($event)"
        #addSubGroupComponent
    ></alg-add-sub-group>
    <alg-group-join-by-code [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="group.currentUserCanManage !== 'none'">
    </alg-group-join-by-code>

    <alg-group-invite-users [group]="group" (refreshRequired)="refreshGroupInfo()" *ngIf="group.currentUserCanManage !== 'none'">
    </alg-group-invite-users>
  </ng-container>
  <ng-template #noPermission>
    <alg-group-no-permission></alg-group-no-permission>
  </ng-template>
</ng-container>
