@import 'src/colors.scss';

.group-edition {

  margin: 1rem;
  background-color: white;

  .field {

    display: flex;

    .field-name {
      float: left;
      width: 20%;
      margin-top: 6px;

      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
    }

    .field-value {
      float: left;
      width: 80%;
      margin-top: 6px;
    }
  }
}

.delete-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 1rem;
  margin-right: 1rem;
}

.group-has-children {
  margin-right: .4rem;
  color: $notify-error-color;
}
