<ng-container *ngIf="state$ | async as state">
  <alg-loading *ngIf="state.isFetching"></alg-loading>

  <alg-error
    *ngIf="state.isError"
    class="dark"
    i18n-message message="Error while loading the group"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refreshGroup()"
  ></alg-error>

  <ng-container *ngIf="state.isReady">
    <form class="group-edition" [formGroup]="groupForm" *ngIf="state.data.isCurrentUserManager; else notAuthorized">
      <alg-section icon="fa fa-cog" i18n-label label="Group information">
        <div class="field">
          <div class="field-name">
            <label i18n>Name</label>
          </div>
          <div class="field-value">
            <alg-input [parentForm]="groupForm" name="name" size="large"></alg-input>
          </div>
        </div>
        <div class="field">
          <div class="field-name">
            <label i18n>Description</label>
          </div>
          <div class="field-value">
            <alg-textarea [parentForm]="groupForm" inputName="description" size="large"></alg-textarea>
          </div>
        </div>
      </alg-section>
      <alg-associated-activity formControlName="rootActivity"></alg-associated-activity>
    </form>

    <div class="operations">
      <alg-group-remove-button [group]="state.data" *ngIf="state.data.isCurrentUserManager"></alg-group-remove-button>
      <div class="right-buttons" *ngIf="groupForm.dirty">
        <alg-button
          i18n-label label="Save"
          class="p-button-rounded p-button-success save"
          [disabled]="groupForm.disabled"
          (click)="save()"
        ></alg-button>
        <alg-button
          i18n-label label="Cancel Changes"
          class="p-button-rounded p-button-outlined p-button-danger cancel"
          [disabled]="groupForm.disabled"
          (click)="resetForm()"
        ></alg-button>
      </div>
    </div>

    <ng-template #notAuthorized>
      <p i18n>You do not have the permissions to edit this content.</p>
    </ng-template>
  </ng-container>
</ng-container>
