<ng-container *ngIf="state$ | async as state">

  <p-progressSpinner *ngIf="state.tag === 'fetching'"></p-progressSpinner>

  <p *ngIf="state.tag === 'error'">Error while loading the group</p>

  <div *ngIf="state.tag === 'ready'" style="margin: 1rem">
    <form [formGroup]="groupForm">
      <div class="field">
        <div class="field-name">
          <label>Name</label>
        </div>
        <div class="field-value">
          <alg-input [parentForm]="groupForm" name="name" size="large" [isDark]='false'></alg-input>
        </div>
      </div>
      <div class="field">
        <div class="field-name">
          <label>Description</label>
        </div>
        <div class="field-value">
          <alg-textarea [parentForm]="groupForm" inputName="description" size="large"></alg-textarea>
        </div>
      </div>
    </form>

    <alg-floating-save *ngIf="groupForm.dirty" [saving]="groupForm.disabled" (save)="saveInput()" (cancel)="resetForm()"></alg-floating-save>
  </div>

</ng-container>
