<ng-container *ngIf="item">
  <alg-section icon="fa fa-cogs" i18n-label label="Global parameters"
    *ngIf="item.type === 'Task'">
    <div class="form-item-view">
      <span class="form-item-label" i18n>Url</span>
      <div class="form-item-control">
        <alg-input [parentForm]="parentForm" inputName="url" i18n-placeholder name="url" size="small"></alg-input>
      </div>
    </div>

    <div class="form-item-view">
      <span class="form-item-label" i18n>Uses API</span>
      <div class="form-item-control">
        <alg-switch [parentForm]="parentForm" name="uses_api" mode="white"></alg-switch>
      </div>
    </div>

    <div class="form-item-view">
      <span class="form-item-label">TextID</span>
      <div class="form-item-control">
        <alg-input [parentForm]="parentForm" inputName="text_id" name="text_id" size="small"></alg-input>
      </div>
    </div>
  </alg-section>

  <alg-section icon="fa fa-book" i18n-label label="Score & Validation"
    *ngIf="['Chapter','Skill'].includes(item.type)">
    <div class="form-item-view">
      <span class="form-item-label" i18n>Validation criteria</span>
      <div class="form-item-control">
        <alg-dropdown
          [options]="validationCritireaOptions"
          [parentForm]="parentForm"
          inputName="validation_type"
          name="validation_type"
        ></alg-dropdown>
      </div>
    </div>

    <div class="form-item-view">
      <span class="form-item-label" i18n>Disable score</span>
      <div class="form-item-control">
        <alg-switch [parentForm]="parentForm" name="no_score" mode="white"></alg-switch>
      </div>
    </div>
  </alg-section>

  <alg-section icon="fa fa-desktop" i18n-label label="Display"
    *ngIf="item.type !== 'Skill">
    <div class="form-item-view">
      <span class="form-item-label" i18n>Display header (not implemented)</span>
      <div class="form-item-control">
        <alg-switch [parentForm]="parentForm" name="title_bar_visible" mode="white"></alg-switch>
      </div>
    </div>
    <div class="form-item-view">
      <span class="form-item-label" i18n>Display group code header (not implemented)</span>
      <div class="form-item-control">
        <alg-switch [parentForm]="parentForm" name="prompt_to_join_group_by_code" mode="white"></alg-switch>
      </div>
    </div>
    <div class="form-item-view">
      <span class="form-item-label" i18n>Full screen (not implemented)</span>
      <div class="form-item-control">
        <alg-selection [parentForm]="parentForm" name="full_screen" [items]="fullScreenOptions"></alg-selection>
      </div>
    </div>
  </alg-section>
</ng-container>
