<ng-container *ngIf="item">
  <alg-section icon="fa fa-cogs" i18n-label label="Global parameters"
    *ngIf="item.type === 'Task'">
    <div class="form-item-view">
      <span class="form-item-label" i18n>Url</span>
      <div class="form-item-control">
        <alg-input [parentForm]="parentForm" inputName="url" i18n-placeholder placeholder="http://www..." name="url" size="small"></alg-input>
      </div>
    </div>

    <div class="form-item-view">
      <span class="form-item-label">Uses API</span>
      <div class="form-item-control">
        <alg-switch [parentForm]="parentForm" name="uses_api" mode="white"></alg-switch>
      </div>
    </div>

    <div class="form-item-view">
      <span class="form-item-label">TextID</span>
      <div class="form-item-control">
        <alg-input [parentForm]="parentForm" inputName="text_id" name="text_id" size="small"></alg-input>
      </div>
    </div>
  </alg-section>

  <alg-section icon="fa fa-book" i18n-label label="Score & Validation"
    *ngIf="['Chapter','Skill'].includes(item.type)">
    <div class="form-item-view">
      <span class="form-item-label" i18n>Validation criteria</span>
      <alg-dropdown
        [options]="validationCritireaOptions"
        [parentForm]="parentForm"
        inputName="validation_type"
        name="validation_type"
      ></alg-dropdown>
    </div>
  </alg-section>
</ng-container>
