@import 'src/colors.scss';

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  .mat-tab-label-container {
    .mat-ink-bar {
      background-color: $base-color;
      height: 3px;
      top: 0;
    }

    .mat-tab-labels {
      background-color: white;
      .mat-tab-label {
        background-color: $base-bk-color;
        border-right: 1px solid $light-border-color;
        &.mat-tab-label-active {
          background-color: white;
          border-right-color: transparent;
          color: $base-color;
        }
        &.mat-tab-label-active + .mat-tab-label {
          border-bottom-left-radius: 10px;
        }
        &.mat-tab-label-before-active {
          border-bottom-right-radius: 10px;
        }
        .mat-tab-label-content {
          i {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

:host ::ng-deep .mat-tab-body-wrapper {
  .mat-tab-body {
    background-color: white;
  }
}
