@use 'src/variables';
@use 'src/geometry.scss';
@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.add-content-wrapper {
  display: flex;
  align-items: center;
}

.label {
  margin: 0 functions.toRem(20);
  font-size: functions.toRem(16);
}

.input-light {
  opacity: 0.5;
}

.new-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.new-content-type {
  display: block;
  flex: 1 0 calc(25% - 1.6667rem);
}

.content-type-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  min-width: functions.toRem(128);
  min-height: functions.toRem(128);
  margin: 0 functions.toRem(20);
  border: functions.toRem(2) solid var(--alg-border-color);
  border-radius: var(--border-radius);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &.selected {
    border: functions.toRem(2) solid var(--alg-primary-color) ;
  }
}

.item-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: functions.toRem(60);
  color: var(--alg-primary-color);
}

.item-title {
  margin-top: functions.toRem(10);
  color: var(--alg-secondary-color);
}

.item-description {
  margin-top: functions.toRem(10);
  font-size: functions.toRem(14);
  text-align: center;
  flex: 1;
  overflow: hidden;
}

.more-items {
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
}

.input-group {
  margin-top: 1rem;
  display: flex;
}

.input-group-control {
  margin-right: 1rem;
  flex: 1;
}

.add-content-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.add-content-list-item {
  padding: functions.toRem(8) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: functions.toRem(1) solid var(--alg-border-color);
}

.add-content-type {
  margin-right: functions.toRem(32);
  color: var(--alg-secondary-color);
}

.add-content-title {
  color: var(--alg-black-color);
}

.select-caption {
  margin: functions.toRem(30) 0 functions.toRem(16) 0;
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
}

.loading {
  margin-top: functions.toRem(16);
}
