<div class="add-content-wrapper">
  @if (showCreateUI) {
    <alg-input
      class="alg-flex-1 white-bg"
      [parentForm]="addContentForm"
      [hasClearButton]="true"
      (focus)="onNewFocus()"
      (blur)="onBlur()"
      [ngClass]="{ 'input-light': focused === 'searchExisting', 'white-bg': isLight }"
      name="title"
      [placeholder]="inputCreatePlaceholder"
      i18n-tooltipText tooltipText="Enter at least 3 characters"
      tooltipEvent="focus"
      tooltipPosition="bottom"
      inputIcon="ph-duotone ph-pen"
      [tooltipDisabled]="trimmedInputsValue.title.length >= minInputLength"
    >
    </alg-input>
  }
  @if (showCreateUI && showSearchUI) {
    <p class="label" i18n>or</p>
  }
  @if (showSearchUI) {
    <alg-input
      class="alg-flex-1 white-bg"
      [parentForm]="addContentForm"
      [hasClearButton]="true"
      (focus)="onExistingFocus()"
      (blur)="onBlur()"
      [ngClass]="{ 'input-light': focused === 'create', 'white-bg': isLight }"
      name="searchExisting"
      i18n-placeholder placeholder="Search for existing content"
      i18n-tooltipText tooltipText="Enter at least 3 characters"
      tooltipEvent="focus"
      tooltipPosition="bottom"
      inputIcon="ph-duotone ph-magnifying-glass"
      [tooltipDisabled]="trimmedInputsValue.searchExisting.length >= minInputLength"
    >
    </alg-input>
  }
</div>

@if (loading) {
  <alg-loading class="loading" size="medium"></alg-loading>
} @else {
  @if (trimmedInputsValue.title.length >= minInputLength) {
    <p class="select-caption" i18n>Select the type of group to create</p>
    <div class="new-content-type">
      <div class="new-content-container">
        @for (newContent of allowedTypesForNewContent; track newContent) {
          <div
            class="content-type-item-container alg-flex-1"
            [ngClass]="{'selected': newContent === selected}"
            (click)="onSelect(newContent)"
          >
            <div class="item-image-wrapper">
              <i class="{{ newContent.icon }}"></i>
            </div>
            <div class="item-title">{{ newContent.title }}</div>
            <div class="item-description">{{ newContent.description }}</div>
          </div>
        }
      </div>
      @if (selected) {
        <div class="input-group">
          <alg-input class="input-group-control white-bg" i18n-placeholder placeholder="Task URL" name="url" [parentForm]="addContentForm"></alg-input>
          <button class="size-l" alg-button (click)="addNew(selected.type)">Add Task</button>
        </div>
      }
    </div>
  }
  @if (state) {
    @if (state.isFetching) {
      <alg-loading class="alg-flex-1"></alg-loading>
    }
    @if (state.isError) {
      <div class="text-center" i18n>
        An error occurred while searching. If the problem persists, please contact us.
      </div>
    }
    @if (trimmedInputsValue.searchExisting.length >= minInputLength && state.isReady) {
      <div>
        <p class="select-caption" i18n>Select a content among those which already exist</p>
        @if ((state.data || []).length > 0) {
          <ul class="add-content-list">
            @for (item of (state.data || []) | slice : 0 : 10; track item) {
              <li
                class="add-content-list-item"
                [algShowOverlay]="op"
                (overlayOpenEvent)="itemId.set(item.id)"
                (overlayCloseEvent)="itemId.set(undefined)"
                #overlay="algShowOverlay"
              >
                <div class="add-content-list-left">
                  <span class="add-content-type">{{ item.type }}</span>
                  <span class="add-content-title">
                    @if(item.id) {
                      <span algShowOverlayHoverTarget>
                        {{ item.title }}
                      </span>
                    }@else {
                      {{ item.title }}
                    }
                  </span>
                </div>
                <div class="add-content-list-right">
                  <button
                    alg-button
                    [disabled]="addedIds.includes(item.id || '')"
                    (click)="addExisting(item)"
                  >{{ addedIds.includes(item.id || '') ? addedText : selectExistingText }}</button>
                </div>
                <ng-template #op>
                  <alg-path-suggestion [itemId]="itemId()" (resize)="overlay.updatePosition()"></alg-path-suggestion>
                </ng-template>
              </li>
            }
          </ul>
        } @else {
          <span i18n>No records found</span>
        }
        @if ((state.data || []).length > 10) {
          <p class="more-items text-center" i18n>
            More than 10 results match your search terms. If you have not found what you are looking for, make your search more specific.
          </p>
        }
      </div>
    }
  }
}
