@import 'src/colors';
@import "src/geometry";

$border-radius: .5rem;

:host {
  display: block;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.watching-warning {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-secondary-color);
  background-color: var(--section-warning-color);
  border-radius: $border-radius;
  margin: 1rem;

  .content {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
  }

}
