<alg-top-nav
  [collapsed]="collapsed"
  [signedIn]="signedIn"
  (collapseEvent)="onCollapse($event)"
  (signInOutEvent)="onSignInOut($event)"
  (notify)="onNotifyClicked($event)"
  (search)="onSearchEvent($event)"
  (searchClose)="onSearchCloseEvent($event)"
  [data]="user"
></alg-top-nav>
<alg-navigation-tabs
  *ngIf="!searchView"
  (skillSelect)="onSkillSelected($event)"
  (activitySelect)="onActivitySelected($event)"
  (yourselfSelect)="onYourselfSelected($event)"
  (groupSelect)="onGroupSelected($event)"
  (joinGroupSelect)="onJoinGroupSelected($event)"
  (manageGroupSelect)="onManageGroupSelected($event)"
></alg-navigation-tabs>
