<p-tabView class="group-skills" [styleClass]="'dark'" (onChange)="onSelectionChangedByIdx($event)" [(activeIndex)]="activeTabIndex">

  <p-tabPanel>
    <ng-template pTemplate="header" tabindex="5">
      <span class="indicator" class="dark"></span>
      <i class="fa fa-hand-paper"></i>
      <span class="p-tabview-title" i18n="|Tab name">Activities</span>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header" tabindex="6">
      <span class="indicator" class="dark"></span>
      <i class="fa fa-graduation-cap"></i>
      <span class="p-tabview-title" i18n="|Tab name">Skills</span>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header" tabindex="7">
      <span class="indicator" class="dark"></span>
      <i class="fa fa-users"></i>
      <span class="p-tabview-title" i18n="|Tab name">Groups</span>
    </ng-template>
  </p-tabPanel>

</p-tabView>

<p-progressSpinner
  *ngIf="dataSources[activeTabIndex].state.tag === 'fetching'"
  [style]="{width: '3.3333rem', height: '3.3333rem'}"
></p-progressSpinner>

<p
*ngIf="dataSources[activeTabIndex].state.tag === 'error'"
 class="error"
>Unable to load the item list</p>

<alg-left-nav-tree [data]="$any(dataSources[activeTabIndex].state).data" *ngIf="dataSources[activeTabIndex].state.tag === 'ready'">
</alg-left-nav-tree>

