<div class="team-member-container">
  <span class="team-member-name">{{data.name}}</span>
  <span class="team-member-full-name">{{data.first_name}} {{data.last_name}}</span>
  <span class="team-member-picture">
    <img src="assets/images/{{data.image}}" style="width: 10rem; height: 10rem;">
    <span *ngIf="data.creator" class="team-member-creator">creator</span>
  </span>
  <span class="team-member-school">{{data.school}}</span>
  <span class="team-member-grade-date">Since {{data.date | date: 'y/MM/d'}}</span>
  <span *ngIf="!data.creator" class="close-button">
    <i class="fa fa-times"></i>
  </span>
</div>