@import "src/colors.scss";

.team-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.8333rem;

  .close-button {
    width: 2.0833rem;
    height: 2.0833rem;
    color: $base-color;
    position: absolute;
    right: 0;
    top: 0.8333rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team-member {
    &-name {
      font-size: 1.3333rem;
      font-weight: bold;
      color: $dark-text-color;
      margin-bottom: 0.4167rem;
    }

    &-full-name {
      font-style: italic;
      font-size: 1.2rem;
      color: $base-text-color;
      margin-bottom: 0.4167rem;
    }

    &-picture {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 0.8333rem;

      img {
        border-radius: 9rem;
      }
    }

    &-creator {
      position: absolute;
      bottom: 0;
      text-transform: uppercase;
      border-radius: 9rem;
      height: 1.6667rem;
      line-height: 1.6667rem;
      font-size: 0.9167rem;
      color: white;
      background-color: #4a90e2;
      width: 5.8333rem;
      text-align: center;
      left: calc(50% - 2.9167rem);
    }

    &-school {
      font-weight: bold;
      font-size: 1.2rem;
      color: $dark-text-color;
      margin-bottom: 0.8333rem;
    }

    &-grade-date {
      font-style: italic;
      color: $base-text-color;
    }
  }
}
