@import 'src/colors.scss';

.team-container {
  position: relative;
  margin-bottom: -1.25rem;

  .tri-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 0.9167rem solid transparent;
    border-right: 0.9167rem solid transparent;
    border-bottom: 1.4167rem solid #ECF3FC;
  }
}

.invite-container {
  background-color: #ECF3FC;

  ::ng-deep app-section .section-container {
    margin-top: 0;
    padding-top: 2.5rem;
  }

  .invitation-code {
    display: flex;
    flex-direction: column;
  
    span.comment {
      font-size: 1.2rem;
    }
  
    .auto-create {
      display: flex;
      margin-top: 0.8333rem;
      
      span {
        flex: 1;
        color: $nav-bk-color;
        font-weight: bold;
      }
    }
  
    .code-validation {
      display: flex;
      flex-direction: column;
      margin-top: 1.25rem;
        
      span.label {
        color: $nav-bk-color;
        font-weight: bold;
        margin-right: 1.25rem;
        font-size: 1.2rem;
        flex: 1;
  
        &.orange {
          color: #F5A623;
        }
  
        &.green {
          color: #9ACC68;
        }
  
        &.red {
          color: #FF001F;
        }
      }
  
      .code-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
      }
    }
  }
}