@if (user(); as user) {
  <div class="user-header-container">
    <div class="user-header">
      <div class="user-title-container">
        <h1 class="user-title alg-h1">
          {{ user | userCaption }}
        </h1>
        @if (user.profile?.webSite) {
          <div class="user-subtitle">
            <i class="ph ph-arrow-square-out user-subtitle-icon"></i>
            <a class="alg-link" [attr.href]="user.profile?.webSite" target="_blank">{{ user.profile?.webSite }}</a>
          </div>
        }
        @if (user.profile?.freeText) {
          <div class="user-subtitle">
            {{ user.profile?.freeText }}
          </div>
        }
      </div>
    </div>
  </div>
}
