<div class="user-header-container" *ngIf="user">
  <div class="user-header">
    <div class="user-title-container">
      <h1 class="user-title alg-h1">
        {{ user | userCaption }}
      </h1>

      <div class="user-subtitle" *ngIf="user.webSite">
        <i class="fa fa-external-link-alt user-subtitle-icon"></i>
        <a class="alg-link" [attr.href]="user.webSite" target="_blank">{{ user.webSite }}</a>
      </div>

      <div class="user-subtitle" *ngIf="user.freeText">
        {{ user.freeText }}
      </div>
    </div>
  </div>

  <alg-page-navigator
    *ngIf="true"
    [allowFullScreen]="false"
  ></alg-page-navigator>
</div>
