@import 'src/assets/scss/functions';

.user-header-container {
  padding: var(--alg-space-size-3) 0;
  display: flex;
  flex-direction: column;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-title-container {
  margin-right: var(--alg-space-size-5);
  flex: 1;
}

.user-title {
  margin: 0;
}

.user-subtitle {
  margin-top: toRem(16);
}

.user-subtitle-icon {
  margin-right: var(--alg-space-size-5);
}
