:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.no-padding {
    padding: 0;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
