@import 'src/assets/scss/functions';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.no-padding {
    padding: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  margin: 0 toRem(2);
  width: toRem(12);
  height: toRem(12);
  background-color: #d2dfff;
  border: toRem(3) solid var(--alg-primary-color);
  border-radius: 50%;
}
