<div class="time-picker">
  <!-- <span class="time-display">
    <i class="fa fa-clock"></i>
    <span class="time-input">
      <span class="time-value" contenteditable="true">{{time}}</span>&nbsp;mn
    </span>
  </span> -->
  <input type="number" class="time-edit" [(ngModel)]="currentValue" (keypress)="timeChange()" (keyup)="timeChanged()">
  <span
    class="time-button"
    [ngClass]="{'disabled': initialValue && currentValue * minutes === initialValue.ms}"
    (click)="onClickValidateButton()"
  >
    <i class="ph-bold ph-check"></i>
  </span>
</div>
