@import 'src/colors.scss';

.team-member-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 54rem;

  app-team-member {
    display: block;
    margin: 0.8333rem;
    flex: 0;
    width: 17.3334rem;
    // max-width: calc(25% - 1.6667rem);
  }
}

// @media screen and (min-width: 171rem) {
//   .team-member-list-container {
//     width: 133rem;
//   }
// }

// @media screen and (min-width: 152rem) and (max-width: 171rem) {
//   .team-member-list-container {
//     width: 114rem;
//   }
// }

// @media screen and (min-width: 133rem) and (max-width: 152rem) {
//   .team-member-list-container {
//     width: 95rem;
//   }
// }

// @media screen and (min-width: 114rem) and (max-width: 133rem) {
//   .team-member-list-container {
//     width: 76rem;
//   }
// }

// @media screen and (min-width: 95rem) and (max-width: 114rem) {
//   .team-member-list-container {
//     width: 57rem;
//   }
// }

// @media screen and (min-width: 76rem) and (max-width: 95rem) {
//   .team-member-list-container {
//     width: 38rem;
//   }
// }

// @media screen and (min-width: 57rem) and (max-width: 76rem) {
//   .team-member-list-container {
//     width: 19rem;
//   }
// }
