@use 'src/assets/scss/functions';

.message-container {
  display: flex;

  &.left {
    justify-content: left;

    .bubble {
      color: var(--alg-secondary-color);
      border-radius: 0 functions.toRem(8) functions.toRem(8) functions.toRem(8);
      background-color: var(--alg-white-color);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: functions.toRem(-6);
        width: 0;
        height: 0;
        border-width: 0 functions.toRem(6) functions.toRem(6) 0;
        border-color: transparent var(--alg-white-color) transparent transparent;
        border-style: solid;
        border-radius: functions.toRem(2) 0 0;
      }
    }
  }

  &.right {
    justify-content: right;

    .message {
      text-align: right;
    }
    .bubble {
      color: var(--alg-white-color);
      background-color: var(--alg-primary-color);
      border-radius: functions.toRem(8) 0 functions.toRem(8) functions.toRem(8);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: functions.toRem(-6);
        width: 0;
        height: 0;
        border-width: functions.toRem(6) functions.toRem(6) 0 0;
        border-color: var(--alg-primary-color) transparent transparent transparent;
        border-style: solid;
        border-radius: 0 functions.toRem(2) 0 0;
      }
    }
    .name-section {
      justify-content: end;
    }
    .date {
      text-align: right;
    }
  }

  &.full-width {
    .message {
      width: 100%;
      text-align: center;
    }
  }

  &.transparent {
    .bubble {
      color: var(--alg-secondary-color);
      line-height: functions.toRem(24);
      background-color: transparent;
    }
    .date {
      text-align: left;
      font-size: functions.toRem(12);
      font-weight: 400;
      line-height: functions.toRem(14);
    }
  }

  &.started {
    margin-bottom: functions.toRem(24);
    opacity: .5;

    .bubble {
      font-size: functions.toRem(16);
    }

    .date {
      text-align: center;
      opacity: 1;
    }
  }

  &.participant {
    .bubble {
      background-color: var(--alg-observation-button-bg-color);
    }
  }
}

.message {
  padding: 0 functions.toRem(6);
  overflow: hidden;
}

.name-section {
  display: flex;
  margin-bottom: functions.toRem(4);
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
  line-height: functions.toRem(14);
}

.name {
  font-weight: 700;
  margin-right: functions.toRem(8);
}

.bubble {
  display: inline-block;
  position: relative;
  border-radius: functions.toRem(8) functions.toRem(8) functions.toRem(8) 0;
  max-width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
}

.date {
  opacity: .5;
}

.classical-event {
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.score-ring {
  margin-right: functions.toRem(15);
}

.message-event {
  margin: functions.toRem(4) functions.toRem(16);
  line-height: functions.toRem(24);
  font-weight: 400;
}

.divider {
  margin-bottom: functions.toRem(16);

  &:last-child {
    margin-top: functions.toRem(16);
    margin-bottom: 0;
  }
}
