<div
  class="message-container"
  [ngClass]="{
    'left': !userInfo?.isCurrentUser && event.kind === 'message',
    'right': userInfo?.isCurrentUser && event.kind === 'message',
    'full-width transparent': ['result_started', 'submission'].includes(event.kind),
    'started': event.kind === 'result_started',
    'participant': !userInfo?.isCurrentUser && userInfo?.isThreadParticipant && event.kind === 'message'
  }"
  >
  <div class="message">
    @if (event.kind === 'message') {
      <div class="name-section">
        @if (!userInfo?.isCurrentUser) {
          <span class="name">{{ userInfo?.name }}</span>
        }
        <div class="date"><ng-container *ngTemplateOutlet="sentAt"></ng-container></div>
      </div>
    }
    <div class="bubble">
      @if (event.kind === 'message') {
        <div
          class="message-event"
          [innerHTML]="(event.text | allowDisplayCodeSnippet : userInfo?.isCurrentUser && event.kind === 'message' ? 'light' : 'dark') | breakLines"
        ></div>
      }
      @if (['result_started', 'submission'].includes(event.kind)) {
        @if (event.kind === 'submission') {
          <hr class="divider alg-divider">
        }
        <div class="classical-event">
          @if (event.kind === 'submission' && event.score !== undefined) {
            <alg-score-ring
              class="score-ring"
              [currentScore]="event.score"
              [diameter]="32"
            ></alg-score-ring>
          }
          <div>
            <div>
              @if (userInfo?.isCurrentUser) {
                <span i18n>
                  You
                </span>
              } @else if (userInfo?.isThreadParticipant) {
                <span i18n>
                  The user
                </span>
              } @else {
                <span>
                  {{ userInfo?.name }}
                </span>
              }
              @if (event.kind === 'result_started') {
                <span i18n>started the activity</span>
              }
              @if (event.kind === 'submission') {
                <span i18n>submitted a</span>
                @if (itemRoute) {
                  <a
                    class="alg-link"
                    [ngClass]="{ 'disabled': !canCurrentUserLoadAnswers }"
                    [routerLink]="itemRoute | with: { answer: { id: event.answerId } } | url: ['task', 'editor']"
                    i18n
                    >
                  solution
                </a>
                }
              }
            </div>
            <div class="date"><ng-container *ngTemplateOutlet="sentAt"></ng-container></div>
          </div>
        </div>
        @if (event.kind === 'submission') {
          <hr class="divider alg-divider">
        }
      }
    </div>
  </div>
</div>

<ng-template #sentAt>
  <span i18n>{{ event.time | relativeTime }}</span>
</ng-template>
