:host {
  display: flex;
  flex-direction: column;
  padding: var(--alg-space-size-4) 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  padding: 1rem;
}

.label {
  font-size: 1.6rem;
  color: var(--base-color);
}
.sub-label {
  color: var(--base-text-color);
}
