@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
}

.tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: functions.toRem(20);
  overflow: hidden;
  background-color: var(--alg-light-color);
}

.tabs-item {
  position: relative;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: functions.toRem(40);
  cursor: pointer;

  &.active {
    background-color: var(--alg-primary-color);
    border-radius: functions.toRem(20);

    .label {
      color: var(--alg-light-color);
    }
  }

  &:not(.active, .next, :first-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: functions.toRem(1);
    height: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(209, 215, 230, 1) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  }
}

.label {
  color: var(--alg-secondary-color);
  text-align: center;
  line-height: functions.toRem(14);
  font-size: functions.toRem(16);
}

:host(.small) {
  .tabs {
    border-radius: functions.toRem(14);
  }

  .tabs-item {
    height: functions.toRem(28);
    padding: 0 functions.toRem(8);

    &.active {
      border-radius: functions.toRem(14);
    }
  }

  .label {
    font-size: functions.toRem(12);
    line-height: functions.toRem(12);
  }
}

:host(.on-colored-bg) {
  .tabs {
    background-color: var(--alg-white-color);
  }

  .label {
    color: var(--alg-secondary-color);
  }
}
