@import "src/colors.scss";

.select-value {
  border-radius: 9rem;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  height: 2rem;
  width: 6.25rem;
  padding: 0 1rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

  .select-label {
    flex: 1;
    font-style: italic;
  }

  .dropdown-icon {
    margin-right: 0;
  }
}

.select-dropdown-wrapper {
  z-index: 1;
  position: relative;
  width: 6.25rem;
  height: 1.8333rem;

  .select-dropdown {
    list-style: none;
    padding-left: 0;
    margin: 0;
    background-color: var(--base-color);
    border-radius: 1rem;
    width: 100%;
    position: absolute;
    top: 0;

    li {
      padding: 0 1rem;
      color: white;
      border-bottom: .1rem solid #6ea6e7;
      cursor: pointer;
      height: 3rem;
      font-weight: 700;
      // font-size: 1.2rem;
      line-height: 3rem;

      &:first-child {
        height: 2rem;
        font-style: italic;
        font-weight: inherit;
        line-height: 2rem;

      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .dropdown-icon {
    position: absolute;
    right: 1rem;
    top: 0.3333rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
