<div
  *ngIf="!opened"
  class="select-value"
  (click)="toogleDropdown($event)"
  [ngStyle]="{ 'width.rem': width }"
>
  <span class="select-label" *ngIf="selected">{{ selected }}</span>
  <span class="dropdown-icon">
    <i class="fa fa-caret-down"></i>
  </span>
</div>
<div
  *ngIf="opened"
  class="select-dropdown-wrapper"
  [ngStyle]="{ 'width.rem': width }"
  (clickOutside)="hideDropdown()"
  [delayClickOutsideInit]="true"
>
  <ul class="select-dropdown">
    <li *ngFor="let item of items" (click)="selectValue(item)">
      {{ item }}
    </li>
  </ul>
  <span class="dropdown-icon" (click)="toogleDropdown($event)">
    <i class="fa fa-caret-up"></i>
  </span>
</div>
