@use 'src/assets/scss/functions';

.widget {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.widget-loading, .widget-error, .no-events, .ws-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.widget-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

.widget-scroll {
  display: block;
  padding: functions.toRem(16) functions.toRem(6);
  overflow-y: auto;
}

.thread-message {
  display: block;
  margin-top: functions.toRem(8);

  &:first-child {
    margin-top: 0;
  }
}

.footer-panel {
  margin: functions.toRem(22) functions.toRem(6) 0 functions.toRem(6);
  display: flex;
  flex-direction: column;
}

.send-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, .05);
  border-radius: functions.toRem(8);
  padding: functions.toRem(12) functions.toRem(12) functions.toRem(12) functions.toRem(16);
}

.thread-status {
  margin-top: functions.toRem(8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-status-caption {
  color: var(--alg-secondary-color);
  font-size: .9rem;
}

.textarea {
  margin-right: .5rem;
  border: none;
  flex: 1;
  background-color: transparent;

  &::placeholder {
    color: rgba(97, 111, 130, .5);
    font-style: italic;
  }

  &:active, &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.no-messages {
  padding: 0 functions.toRem(6);
  color: var(--alg-secondary-color);
  font-size: functions.toRem(14);
  text-align: center;
}

.user-indicator-container {
  width: 100%;
  position: absolute;
  top: functions.toRem(8);
  z-index: 999;
}

.user-indicator {
  margin: 0 functions.toRem(16);
  padding: 0 functions.toRem(16);
  height: functions.toRem(32);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: functions.toRem(20);
  background-color: var(--alg-observation-button-bg-color);
  color: var(--alg-secondary-color);
  font-size: functions.toRem(12);
}

.user-indicator-link {
  margin-left: functions.toRem(4);
}
