@import 'src/variables';
@import 'src/geometry.scss';
@import 'src/typography.scss';

@mixin section-format($bk-color, $handle-color, $handle-border-color) {
  border-bottom: .1rem solid var(--light-border-color);
  background-color: $bk-color;
  border-radius: $border-radius;
  margin-top: 0;
  margin-bottom: 3rem;

  .section-header {
    @include section-header;

    &.show-cursor {
      cursor: pointer;
      user-select: none;
    }

    .section-handler {
      @include section-handler($handle-color,$handle-border-color);

      // i {
      //   color: white;
      //   margin-right: 1rem;
      // }

      .score-container {
        width: 3rem;
        height: 3rem;
        border-radius: 1.25rem;
        background-color: $bk-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .section-header-content {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      align-items: center;
      flex: 1;
      margin-right: 2rem;
      // border-bottom: .1rem solid transparent;
      position: relative;

      &.show-border {
        border-bottom: .1rem solid var(--section-border-color);
      }

      .section-title {
        @include h2-title;
        flex: 1;
      }

      .additional-content {
        margin-right: 4.1667rem;
        display: flex;
        align-items: center;
      }

      .toggle-content {
        width: 4.1667rem;
        height: 2rem;
        padding-left: 2.1667rem;
        cursor: pointer;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img.down {
          transform: rotate(180deg);
        }
      }

    }
  }

  .section-content {
    padding: 0 2rem 3rem 5.8333rem;
    color: var(--base-text-color);
  }
}

:host {
  &.no-rounded-borders {
    .section-container {
      border-radius: 0;
    }
  }
}

.section-container {
  &.success {
    @include section-format(var(--section-color), var(--base-color), var(--dark-color));
  }

  &.danger {
    @include section-format(var(--section-danger-color), var(--section-danger-handle-color), var(--section-danger-handle-border-color))
  }

  &.warning {
    @include section-format(var(--section-warning-color), var(--section-warning-handle-color), var(--section-warning-handle-border-color))
  }
}
