@import 'src/colors.scss';

.activity-container {
  display: flex;
  align-items: center;
  height: 2.6667rem;
  border-radius: 0.4167rem;
  cursor: pointer;

  .activity-content {
    padding-left: 0.8333rem;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #DFE6EF;
    box-shadow: 0 0.0833rem #C9CFD7 inset;
    border-bottom-left-radius: 0.4167rem;
    border-top-left-radius: 0.4167rem;
    color: $base-text-color;
    flex: 1;
    
    .placeholder {
      margin-left: 0.8333rem;
      margin-right: 1.25rem;
      font-style: italic;

      &.touched {
        font-style: normal;
      }
    }
  }

  .select-folder {
    height: 100%;
    width: 2.6667rem;
    background-color: $base-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.4167rem;
    border-bottom-right-radius: 0.4167rem;
  }

}