@import 'src/colors.scss';
@import 'src/geometry.scss';

.activity-container {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: $border-radius;
  cursor: pointer;

  .activity-content {
    padding-left: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: $input-transparency-color;
    box-shadow: 0 .1rem #C9CFD7 inset;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    color: $base-text-color;
    flex: 1;

    .placeholder {
      margin-left: 1rem;
      margin-right: 1.25rem;
      font-style: italic;

      &.touched {
        font-style: normal;
      }
    }
  }

  .select-folder {
    height: 100%;
    width: 3rem;
    background-color: $base-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

}
