<div class="container">
  <div class="elements">
    <div class="element alg-flex-1" *ngIf="showField.days">
      <p class="label">
        <small i18n>Days</small>
      </p>
      <p-inputMask
        class="alg-input"
        placeholder="DDD"
        slotChar="DDD"
        mask="9?99"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="days"
        (ngModelChange)="handleChange()"
      >
      </p-inputMask>
    </div>
    <div class="element alg-flex-1" *ngIf="showField.hours">
      <p class="label">
        <small i18n>Hours</small>
      </p>
      <p-inputMask
        class="alg-input"
        [placeholder]="showField.days ? 'HH' : 'HHH'"
        [slotChar]="showField.days ? 'HH' : 'HHH'"
        [mask]="showField.days ? '9?9' : '9?99'"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="hours"
        (ngModelChange)="handleChange()"
      >
      </p-inputMask>
    </div>
    <div class="element alg-flex-1" *ngIf="showField.minutes">
      <p class="label">
        <small i18n>Minutes</small>
      </p>
      <p-inputMask
        class="alg-input"
        placeholder="MM"
        slotChar="MM"
        mask="9?9"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="minutes"
        (ngModelChange)="handleChange()"
      >
      </p-inputMask>
    </div>
    <div class="element alg-flex-1" *ngIf="showField.seconds">
      <p class="label">
        <small i18n>Seconds</small>
      </p>
      <p-inputMask
        class="alg-input"
        placeholder="SS"
        slotChar="SS"
        mask="9?9"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="seconds"
        (ngModelChange)="handleChange()"
      >
      </p-inputMask>
    </div>
  </div>
  <alg-input-error [control]="control"></alg-input-error>
  <div *ngIf="!control?.invalid">&nbsp;</div>
</div>
