<ng-container *ngIf="item$ | async as item">
  <alg-section icon="fa fa-book" label="Description" *ngIf="item.type === 'Chapter'">
    <p *ngIf="item.string.description ; else noDesc">{{ item.string.description }} </p>
    <ng-template #noDesc>This item has no description</ng-template>
  </alg-section>

  <p-progressSpinner *ngIf="state === 'loading'"></p-progressSpinner>

  <p *ngIf="state === 'error'">Error while loading the group managers</p>

  <ng-container *ngIf="state === 'ready'">
    <p class="validation-text">
      To validate this chapter, solve at least all tasks with Validation type
    </p>
    Ready
  </ng-container>
</ng-container>
