@let state = groupDataState();
@if (groupData(); as data) {
  @let group = data.group;
  <alg-group-header [groupData]="data" />
<!--    <alg-pending-join-requests
    *ngIf="(group | isCurrentUserManager) && group.currentUserCanManage !== 'none'"
    [groupId]="group.id"
  ></alg-pending-join-requests>-->
  @if ((group | isCurrentUserManager) || (group | isCurrentUserMember) || group.currentUserHasPendingInvitation) {
    <alg-group-indicator class="group-indicator"
      [group]="group"
       />
  }
  <!-- tabs -- if only the first tab is visible, do not show the tab bar -->
  <div [hidden]="!(group | isCurrentUserManager) && !(group | isCurrentUserMember) && !historyTab.isActive && !adminTab.isActive && !accessTab?.isActive && !membersTab?.isActive && !subGroupsTab?.isActive && !settingsTab.isActive">
    <div class="alg-nav-tab" data-testid="alg-nav-tab">
      <a
        class="alg-nav-tab-item"
        [routerLink]="'./'"
        routerLinkActive #overviewTab="routerLinkActive"
        [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}"
        [class.active]="overviewTab.isActive"
        i18n
      >
          Overview
        </a>
      <a
        [hidden]="!group.currentUserCanWatchMembers && !historyTab.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./history'"
        routerLinkActive #historyTab="routerLinkActive"
        [class.active]="historyTab.isActive"
        i18n
      >
          History
        </a>
      <a
        [hidden]="!(group | isCurrentUserManager) && !membersTab?.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./members'"
        routerLinkActive #membersTab="routerLinkActive"
        [class.active]="membersTab.isActive"
        i18n
      >
          Members
        </a>
      <a
        [hidden]="!(group | isCurrentUserManager) && !subGroupsTab?.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./sub-groups'"
        routerLinkActive #subGroupsTab="routerLinkActive"
        [class.active]="subGroupsTab.isActive"
        i18n
      >
          Sub-Groups
        </a>
      <a
        [hidden]="!(group | isCurrentUserManager) && !(group | isCurrentUserMember) && !adminTab?.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./managers'"
        routerLinkActive #adminTab="routerLinkActive"
        [class.active]="adminTab.isActive"
        i18n
      >
          Managers
        </a>
      <a
        [hidden]="(hideAccessTab || !(group | canCurrentUserGrantGroupAccess)) && !accessTab?.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./access'"
        routerLinkActive #accessTab="routerLinkActive"
        [class.active]="accessTab.isActive"
        i18n
      >
          Access
        </a>
      <a
        [hidden]="!(group | canCurrentUserManageMembersAndGroup) && !settingsTab?.isActive"
        class="alg-nav-tab-item"
        [routerLink]="'./settings'"
        routerLinkActive #settingsTab="routerLinkActive"
        [class.active]="settingsTab.isActive"
        i18n
      >
          Settings
        </a>
    </div>
  </div>
  <router-outlet />
}
@if (state.isFetching && !state.data) {
  <alg-loading class="alg-flex-1" />
}
@if (state.isError) {
  <alg-error
    class="alg-flex-1"
    [showRefreshButton]="!(state.error | isHttpForbidden)"
    (refresh)="onGroupRefreshRequired()"
  >
    @if (state.error | isHttpForbidden) {
      <ng-container i18n>
        You are not allowed to view this group page.
      </ng-container>
    } @else {
      <ng-container i18n>Error while loading the group info</ng-container>
    }
  </alg-error>
}
