<div class="image-upload-container">
  <span class="image-upload-title">{{ label }}</span>
  <div
    class="upload-file-container"
    (click)="fileInput.click()"
    appDragDrop
    (onFileDropped)="uploadImage($event)"
  >
    <input
      hidden
      type="file"
      #fileInput
      (change)="uploadImage($event.target.files)"
    />
    <div
      *ngIf="imgURL"
      class="image-preview"
      [ngStyle]="{
        'background-image': 'url(' + imgURL + ')'
      }"
    >
      <app-button *ngIf="imgURL" label="remove" class="diagonal-rounded" (onClick)="removeImage($event)"></app-button>
    </div>
    <div *ngIf="!imgURL" class="image-upload-labels">
      <div class="image-drop-label">
        <span><i class="fa fa-upload"></i></span>
        <span class="drop-label">Drop your files here</span>
      </div>

      <div class="image-drop-button">
        <app-button
          class="ui-button-rounded ui-button-success ui-fit-parent"
          icon="fa fa-folder-open"
          label="or select files"
          (onClick)="fileInput.click()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
