@import 'src/colors.scss';

$circular: 12px;

@mixin custom-switch($bk-color, $shadow, $handle-shadow, $switch-width, $handler-width) {

  %custom-pattern {
    background-color: $bk-color;
    box-shadow: 0px 1px $shadow inset;
  }

  &.ui-inputswitch-checked {
    &.ui-inputswitch-focus .ui-inputswitch-slider {
      @extend %custom-pattern;
    }
    .ui-inputswitch-slider {
      background-color: $bk-color;

      &::before {
        background-color: $base-color;
        width: $handler-width;
        border-radius: 100px;
        height: 12px;
        bottom: 1px;
        transform: translateX(calc(#{$switch-width} - #{$handler-width}));
        box-shadow: 0px 1px $handle-shadow;
      }
    }
  }

  &.ui-inputswitch-focus .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  &:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  .ui-inputswitch-slider {
    @extend %custom-pattern;

    &::before {
      background-color: #9B9B9B;
      width: $handler-width;
      border-radius: 100px;
      height: 12px;
      bottom: 1px;
      left: 0;
      box-shadow: 0px 1px #727272;
    }
  }

  &:hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }

  &.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
    @extend %custom-pattern;
  }
}

:host ::ng-deep .white .ui-inputswitch {
  width: 50px;
  height: 13px;

  @include custom-switch(#E4E5EA, #DADADA, $dark-base-color, 50px, 25px);
}


:host ::ng-deep .dark .ui-inputswitch {
  width: 50px;
  height: 13px;

  @include custom-switch(#464646, #3F3F3F, #31649E, 50px, 25px);
}

:host ::ng-deep .circular .ui-inputswitch {
  width: 30px;
  height: 13px; 

  @include custom-switch(#E4E5EA, #DADADA, $dark-base-color, 30px, $circular);
}

:host ::ng-deep p-inputSwitch {
  height: 13px;
  display: flex;
}