<div
  class="item-display alg-flex-1"
  [ngClass]="{ 'full-frame': fullFrame$ | async }"
  *ngIf="state$ | async as state"
>
  <div class="error-container alg-flex-1" *ngIf="(state.isError || (metadataError$ | async)) && !showTaskAnyway" [algFullHeightContent]="true">
    <ng-template #defaultErrorMessage>
      <alg-error
        i18n-message message="Unable to load the task"
        icon="ph-duotone ph-warning-circle"
      ></alg-error>
    </ng-template>

    <ng-container *ngIf="editingPermission | allowsEditingAll; else defaultErrorMessage">
      <alg-error
        *ngIf="initError$ | async; else urlError"
        i18n-message message="It usually occurs when task url is invalid. If the task url is valid and the problem persists, please contact us."
        icon="ph-duotone ph-warning-circle"
      ></alg-error>

      <ng-template #urlError>
        <alg-error
          *ngIf="urlError$ | async as error; else metadataError"
          message="{{ error.message }}"
          icon="ph-duotone ph-warning-circle"
        ></alg-error>
      </ng-template>

      <ng-template #metadataError>
        <alg-error
          *ngIf="metadataError$ | async; else unknownError"
          i18n-message message="Error while requesting task metadata"
          icon="ph-duotone ph-warning-circle"
        ></alg-error>
      </ng-template>

      <ng-template #unknownError>
        <alg-error
          *ngIf="unknownError$ | async"
          [message]="errorMessage"
          icon="ph-duotone ph-warning-circle"
        ></alg-error>
      </ng-template>

    </ng-container>

    <div class="error-buttons">
      <button
        algButton
        class="size-l error-button"
        (click)="showTaskAnyway = true"
        i18n
      >Show task anyway (for debugging)</button>
      <button
        algButton
        class="size-l error-button"
        (click)="refresh.emit()"
        i18n
      >Retry</button>
    </div>
  </div>
  <div
    class="iframe-container alg-flex-1"
  >
    <div class="saving-answer" *ngIf="savingAnswer">
      <p class="saving-answer-message">
        <span i18n>Saving answer...</span>
        <alg-loading size="medium"></alg-loading>
        <button algButton type="button" (click)="skipSave.emit()" i18n>Skip</button>
      </p>
    </div>
    <iframe
      *ngIf="iframeSrc$ | async as iframeSrc"
      class="iframe-element"
      [class.alg-flex-1]="!!(metadata$ | async)?.autoHeight && (state.isReady || showTaskAnyway)"
      [style.height]="(state.isReady || showTaskAnyway) ? (iframeHeight$ | async) : undefined"
      [src]="iframeSrc"
      #iframe
      allowfullscreen
    ></iframe>
  </div>
</div>

@if (unlockedItems && unlockedItems.length > 0) {
  <p-dialog
    [visible]="true"
    [modal]="true"
    [draggable]="false"
    [closable]="true"
    [dismissableMask]="true"
    i18n-header header="Unlocked content"
    styleClass="alg-permissions-edit-dialog no-scroll"
    (visibleChange)="onCloseUnlockedItemsDialog($event)"
  >
    <p class="unlocked-items-title" i18n>You have just unlocked the following content.</p>
    <div class="unlocked-items">
      @for (item of unlockedItems; track $index) {
        <div class="unlocked-item">
          <span class="alg-primary-color ph" [ngClass]="{
            'ph-files': item.type === 'Task',
            'ph-folder': item.type === 'Chapter',
            'ph-graduation-cap': item.type === 'Skill'
          }"></span>
          <a
            class="alg-link unlocked-item-title"
            [routerLink]="{
              id: item.itemId,
              type: item.type
            } | itemRoute | url"
            (click)="closeUnlockedItemsDialog()"
          >
            {{ item.title || 'No title' }}
          </a>
        </div>
      }
    </div>
    <div class="unlocked-items-controls">
      <button class="size-s" type="button" (click)="closeUnlockedItemsDialog()" algButton i18n>
        Continue on the current content
      </button>
    </div>
  </p-dialog>
}
