@use 'src/assets/scss/functions';

.list {
  margin: functions.toRem(6);
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.list-item {
  display: flex;
  align-items: center;
}

.item-link {
  padding: functions.toRem(5);
  border-radius: functions.toRem(8);
  color: var(--alg-white-color);
  font-size: functions.toRem(12);
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background-color: var(--alg-primary-dark-color);
  }
}

.empty-list {
  padding: 0 functions.toRem(16);
  font-size: functions.toRem(12);
  color: var(--alg-white-color);
}

.spinner-container, .empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: functions.toRem(40);
}
