@use 'src/assets/scss/functions';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.light {
    .icon {
      color: var(--alg-white-color);
    }

    .message {
      color: var(--alg-white-color)
    }
  }
}

.wrapper {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: functions.toRem(96);
  color: var(--alg-primary-color);
}

.message {
  &:not(.no-margin-top) {
    margin-top: functions.toRem(12);
  }
  color: var(--alg-secondary-color);
  font-size: functions.toRem(16);
  text-align: center;
}

.refresh-button {
  margin-top: functions.toRem(17);
  font-size: functions.toRem(16);
}
