@import 'src/assets/scss/functions';

.container {
  display: flex;
  flex-direction: column;
}

.controls-container {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  margin-right: .5rem;
}
