@import 'src/assets/scss/functions';

.container {
  display: flex;
  flex-direction: column;
  max-height: toRem(450);
  overflow: hidden;
}

.controls-container {
  overflow: auto;
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  &:first-child {
    margin-right: .5rem;
  }
}
