@import 'src/variables';
@import 'src/geometry.scss';
@import 'src/typography.scss';

:host {
  display: block;
  margin-left: -5.8333rem;
  margin-right: -1.6667rem;
}

.section-container {
  padding: 2rem 2rem 2rem;
  border-bottom: .1rem solid rgba(46, 94, 149, .2);
  background-color: var(--light-color);

  &.no-border {
    border-bottom: none;
  }

  .section-header {
    @include section-header;

      .section-handler {
        @include section-handler(var(--base-color),var(--dark-color));
        width: 3rem;
        border-radius: 50%;
        border: none;
        padding-right: 0;
        justify-content: center;
      }



    .section-title {
      @include h2-title;
      color: var(--nav-bk-color);
      flex: 1;
    }

    .section-help {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.2rem;
      border-radius: 1.25rem;
      border: .1rem solid var(--nav-bk-color);
      cursor: pointer;
    }

    .section-close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      color: var(--base-color);
    }
  }

  .section-content {
    // padding: .5rem 0 5rem 4.2rem;
    padding: 2rem 0 0 4.2rem;
    color: var(--base-text-color);
  }
}
