@import 'src/variables';
@import 'src/geometry.scss';
@import 'src/typography.scss';

:host {
  display: block;
  margin-left: calc(-1 * var(--alg-space-size-2));
  margin-right: calc(-1 * var(--alg-space-size-2));
}

.section-container {
  padding: var(--alg-space-size-4) var(--alg-space-size-2) var(--alg-space-size-1);
  background-color: rgba(0, 0, 0, .06);

  &.no-border {
    border-bottom: none;
  }
}

.section-title {
  color: var(--alg-secondary-color);
  font-size: toRem(24);
  font-weight: 400;
  flex: 1;
}

.section-help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 1.25rem;
  border: .1rem solid var(--nav-bk-color);
  cursor: pointer;
}

.section-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  color: var(--base-color);
}

.section-content {
  margin-top: toRem(20);
}
