<div class="alg-nav-tab" data-testid="edit-item-description-tabs">
  <button
    class="alg-nav-tab-item cursor-pointer"
    [class.active]="activeTab() === 'write'"
    (click)="onTabChange('write')"
    i18n
  >Write</button>
  <button
    class="alg-nav-tab-item cursor-pointer"
    [class.active]="activeTab() === 'preview'"
    (click)="onTabChange('preview')"
    i18n
  >Preview</button>
</div>
@if (activeTab() === 'write') {
  <alg-textarea [parentForm]="parentForm" inputName="description" data-testid="edit-item-description"></alg-textarea>
} @else {
  @if (parentForm) {
    <alg-preview-html [textContent]="parentForm.value.description"></alg-preview-html>
  }
}
