<div class="gear-container">
  <span class="gear-icon" [matMenuTriggerFor]="gearMenu">
    <i class="fa fa-cog"></i>
  </span>
  <span class="gear-label">Settings</span>
  <mat-menu #gearMenu class="gear-mat-menu">
    <ul class="gear-menu">
      <li *ngIf="!secondary">
        <span class="switch-label">Items as rows</span>
        <app-switch
          [checked]="itemsAsRow"
          (change)="handleSwitches($event, 0)"
        ></app-switch>
      </li>
      <li *ngIf="!secondary">
        <span class="switch-label">Compact mode</span>
        <app-switch
          [checked]="compactMode"
          (change)="handleSwitches($event, 1)"
        ></app-switch>
      </li>
      <li *ngIf="!secondary">
        <span class="switch-label">Freeze first column</span>
        <app-switch
          [checked]="freeze"
          (change)="handleSwitches($event, 2)"
        ></app-switch>
      </li>
      <!-- <li>
        <span class="switch-label">Sticky header</span>
        <app-switch
          [checked]="sticky"
          (change)="handleSwitches($event, 3)"
        ></app-switch>
      </li> -->
      <li *ngIf="itemsAsRow">
        <span class="switch-label">Show descriptions</span>
        <app-switch
          [checked]="showDescription"
          (change)="handleSwitches($event, 4)"
        ></app-switch>
      </li>
      <li *ngIf="secondary">
        <span class="switch-label">Comment</span>
        <app-switch
          [checked]="comment"
          (change)="handleSwitches($event, 5)"
        ></app-switch>
      </li>
    </ul>
  </mat-menu>
</div>
