@use "src/assets/scss/functions";

.container {
  padding: 0 var(--alg-space-size-5);
}

.buttons-section {
  display: flex;
  margin-top: var(--alg-space-size-6);
  margin-bottom: var(--alg-space-size-5);
}

.left-menu {
  &:first-child {
    margin-right: var(--alg-space-size-6);
  }
}

.tree-nav-container {
  padding: 0 var(--alg-space-size-5);
}

.tree-invisible {
  display: none;
}

.tree-nested {
  .tree-node {
    &:first-child {
      .tree-nav-dot {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      .tree-nav-dot {
        &:after {
          display: none;
        }
      }
    }
  }
}

.tree-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: functions.toRem(11) var(--alg-space-size-5);
  border-radius: functions.toRem(10);

  &.selected {
    border-radius: functions.toRem(10);
    background-color: var(--alg-tree-selected-color);
  }

  &.locked {
    .tree-nav-caption {
      opacity: .4;
    }
  }

  &.chapter {
    .children-caption {
      margin-left: functions.toRem(4);
    }
  }
}

.tree-nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tree-nav-icon {
  color: var(--alg-primary-color);
  font-size: functions.toRem(16);

  &.fade {
    opacity: .5;
  }
}

.tree-sub-nav-icon {
  margin-left: var(--alg-space-size-6);
  color: var(--alg-primary-color);
}

.tree-nav-caption-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.tree-nav-caption {
  margin-left: var(--alg-space-size-5);
  flex: 1;
  word-break: break-word;

  &.children-caption {
    margin-left: functions.toRem(14);
    font-size: functions.toRem(12);
  }
}

.tree-nav-dot-wrapper {
  width: functions.toRem(16);
  display: flex;
  justify-content: center;
}

.tree-nav-dot {
  width: functions.toRem(6);
  height: functions.toRem(6);
  background-color: var(--alg-tree-line-color);
  border-radius: 50%;

  &:before {
    content: '';
    display: block;
    margin-left: functions.toRem(calc(5 / 2));
    width: functions.toRem(1);
    height: 50%;
    position: absolute;
    top: 0;
    background-color: var(--alg-tree-line-color);
  }

  &:after {
    content: '';
    display: block;
    margin-left: functions.toRem(calc(5 / 2));
    width: functions.toRem(1);
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: var(--alg-tree-line-color);
  }
}

.tree-nav-right {
  margin-left: var(--alg-space-size-6);
}

.tree-nav-skill-progress {
  width: functions.toRem(32);
}

.empty-message {
  margin-top: var(--alg-space-size-5);
  padding: 0 var(--alg-space-size-5);
  text-align: center;
  color: var(--alg-secondary-color);
}
