@import "src/assets/scss/functions";

.container {
  padding: 0 var(--alg-space-size-5);
}

.tree-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: toRem(11) var(--alg-space-size-5);
  border-radius: toRem(10);

  &.selected {
    border-radius: toRem(10);
    background-color: var(--alg-tree-selected-color);
  }

  &.locked {
    .tree-nav-caption {
      opacity: .5;
    }
  }

  &.chapter {
    .children-caption {
      margin-left: toRem(4);
    }
  }
}

.tree-nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tree-nav-icon {
  color: var(--alg-primary-color);
  font-size: toRem(16);

  &.fade {
    opacity: .5;
  }
}

.tree-sub-nav-icon {
  margin-left: var(--alg-space-size-6);
  color: var(--alg-primary-color);
}

.tree-nav-caption-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.tree-nav-caption {
  margin-left: var(--alg-space-size-5);
  flex: 1;
  word-break: break-word;

  &.children-caption {
    margin-left: toRem(14);
    font-size: toRem(12);
  }
}

.tree-nav-dot-wrapper {
  width: toRem(16);
  display: flex;
  justify-content: center;
}

.tree-nav-dot {
  width: toRem(6);
  height: toRem(6);
  background-color: var(--alg-tree-line-color);
  border-radius: 50%;

  &:before {
    content: '';
    display: block;
    margin-left: toRem(calc(5 / 2));
    width: toRem(1);
    height: 50%;
    position: absolute;
    top: 0;
    background-color: var(--alg-tree-line-color);
  }

  &:after {
    content: '';
    display: block;
    margin-left: toRem(calc(5 / 2));
    width: toRem(1);
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: var(--alg-tree-line-color);
  }
}

.tree-nav-right {
  margin-left: var(--alg-space-size-6);
}

.tree-nav-skill-progress {
  width: toRem(32);
}
