<div class="group-container">
  <div class="group-header">
    <div class="group-avatar">
      <img src="assets/images/Male.svg" style="width: 7rem; height: auto;" />
    </div>
    <ng-container *ngIf="currentUser$ | async as user; else userLoading">
      <span class="group-title">
        <ng-container *ngIf="!user.isTemp && (user.firstname || user.lastname) else tempUser">
          {{ user.firstname}} {{ user.lastname}} ({{ user.login }})
        </ng-container>
        <ng-template #tempUser>
          {{ user.login }}
        </ng-template>
      </span>
      <span class="group-toggle" (click)="toggleGroup($event)">
        <i class="fa fa-users"></i>
        <i class="fa {{ groupShow ? 'fa-caret-down' : 'fa-caret-up' }}"></i>
      </span>
    </ng-container>
    <ng-template #userLoading>
      <span class="group-title">Loading...</span>
    </ng-template>
  </div>
  <perfect-scrollbar style="width: 100%;height: 100%;" #scrollPanel (psScrollY)="onScrollEvent($event)">
    <div *ngIf="groupShow" (resized)="onResized($event)" #groupPanel tabindex="4" (focusOnGroupNav)="focusParent()">
      <alg-group-nav></alg-group-nav>
    </div>
    <alg-skill-activity-tabs ></alg-skill-activity-tabs>
    <alg-skill-activity-tabs *ngIf="stickyShow" class="overlay-skills"></alg-skill-activity-tabs>
  </perfect-scrollbar>
</div>
