
<div class="group-container" *ngIf="session ; else userLoading">
  <div class="group-header" *ngIf="!session.user.isTemp; else tempUser">
    <div class="group-avatar">
      <img src="assets/images/Male.svg" style="width: 7rem; height: auto;" />
    </div>
    <span class="group-title">
      {{ session.user | user }}
    </span>
    <span class="group-toggle" (click)="toggleGroup()">
      <i class="fa fa-users"></i>
      <i class="fa {{ groupShow ? 'fa-caret-down' : 'fa-caret-up' }}"></i>
    </span>
  </div>
  <perfect-scrollbar style="width: 100%;height: 100%;" #scrollPanel (psScrollY)="onScrollEvent($event)">
    <div *ngIf="groupShow" (resized)="onResized($event)" #groupPanel tabindex="4" (focusOnGroupNav)="focusParent()">
      <alg-group-nav></alg-group-nav>
    </div>
    <alg-skill-activity-tabs [backgroundColor]="!session.user.isTemp ? 'light' : 'dark'"></alg-skill-activity-tabs>
    <alg-skill-activity-tabs [backgroundColor]="!session.user.isTemp ? 'light' : 'dark'" *ngIf="stickyShow" class="overlay-skills"></alg-skill-activity-tabs>
  </perfect-scrollbar>
</div>
<ng-template #userLoading>
  <span class="group-title">Loading...</span>
</ng-template>
<ng-template #tempUser>
  <div class="connection-button">
    <alg-button
      label="Connexion"
      icon="pi pi-sign-in"
      class="ui-button-rounded ui-button-warning ui-fit-parent"
      style="margin: 1rem;"
      (click)="login()"
    ></alg-button>
  </div>
</ng-template>
