
<div class="group-container" *ngIf="session ; else userLoading">
  <div class="group-header" *ngIf="!session.user.isTemp; else tempUser">
    <div class="group-avatar">
      <img *ngIf="!session.watchedGroup" src="assets/images/Male.svg" style="width: 7rem; height: auto;" />
      <img *ngIf="session.watchedGroup" src="assets/images/Group - Managed.svg" style="width: 7rem; height: auto;" />
    </div>
    <span class="group-title" *ngIf="!session.watchedGroup">
      {{ session.user | user }}
    </span>
    <span class="group-title" *ngIf="session.watchedGroup">
      <small>Obs:</small> {{ session.watchedGroup.name }} <small>[<a (click)="onStopWatchPressed()" style="cursor: pointer;">x</a>]</small>
    </span>
    <span class="group-toggle" (click)="toggleGroup()">
      <i class="fa fa-users"></i>
      <i class="fa {{ groupShow ? 'fa-caret-down' : 'fa-caret-up' }}"></i>
    </span>
  </div>
  <perfect-scrollbar style="width: 100%;height: 100%;" #scrollPanel (psScrollY)="onScrollEvent($event)">
    <div *ngIf="groupShow" #groupPanel tabindex="4" (focusOnGroupNav)="focusParent()">
      <alg-group-nav></alg-group-nav>
    </div>
    <alg-skill-activity-tabs [backgroundColor]="!session.user.isTemp || groupShow  ? 'light' : 'dark'" [class.overlay-skills]="stickyShow"></alg-skill-activity-tabs>
  </perfect-scrollbar>
</div>
<ng-template #userLoading>
  <span class="group-title">Loading...</span>
</ng-template>
<ng-template #tempUser>
  <div class="connection-button">
    <alg-button
      label="Connexion"
      icon="pi pi-sign-in"
      class="p-button-rounded p-button-warning p-fit-parent"
      style="margin: 1rem;"
      (click)="login()"
    ></alg-button>
  </div>
</ng-template>
