@import 'src/colors.scss';

.group-tree-container {
  padding-bottom: 1.6667rem;
}

.tree-container {
  padding-left: 5.8333rem;
  padding-right: 1.6667rem;
  position: relative;

  app-activity-picker {
    margin-left: -2.5rem;
    display: block;
    width: 50%;
  }

  .tri-tag {
    position: absolute;
    top: -1.4167rem;
    left: 1.6667rem;
    border-left: 0.9167rem solid transparent;
    border-right: 0.9167rem solid transparent;
    border-bottom: 1.4167rem solid $light-color;
  }
}