<div class="elements">
  <p-inputMask
      class="element"
      placeholder="HHH"
      slotChar="HHH"
      mask="9?99"
      [size]="8"
      [(ngModel)]="hours"
      (ngModelChange)="handleChange()"
  >
  </p-inputMask>

  <p-inputMask
      class="element"
      placeholder="MM"
      slotChar="MM"
      mask="9?9"
      [size]="8"
      [(ngModel)]="minutes"
      (ngModelChange)="handleChange()"
  >
  </p-inputMask>

  <p-inputMask
      class="element"
      placeholder="SS"
      slotChar="SS"
      mask="9?9"
      [size]="8"
      [(ngModel)]="seconds"
      (ngModelChange)="handleChange()"
  >
  </p-inputMask>
</div>

<alg-input-error [form]="parentForm" [inputName]="name"></alg-input-error>
