@import "src/colors.scss";

$inactive-bk-color: #d8d8d8;

.progress-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.4167rem;
  margin-bottom: 0.4167rem;

  .progress-section-header {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 2.5rem;
    color: white;
    background-color: $base-color;
    padding: 0.4167rem;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
    }

    .header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.0833rem;
      height: 2.0833rem;
      margin-right: 0.8333rem;
      font-size: 1.1667rem;
    }

    .header-title {
      font-weight: bold;
      flex: 1;
    }

    .header-content {
      display: flex;
      align-items: center;

      .selected-progress-level {
        margin-left: 0.4167rem;
      }
    }

    .toggle-expand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.0833rem;
      height: 2.0833rem;
    }
  }

  .progress-section-body {
    display: flex;
    flex-direction: column;
    position: relative;

    .progress-section-item {
      display: flex;
      position: relative;

      .progress-control {
        margin-right: 0.8333rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        .progress-point {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 1.25rem;
          font-size: 0.75rem;
          color: white;
          background-color: $inactive-bk-color;
          cursor: pointer;

          &.active {
            background-color: $base-color;
          }

          &.last {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 2.5rem;
            font-size: 1.2rem;
          }
        }

        .progress-branch {
          display: flex;
          width: 0.4167rem;
          background-color: $inactive-bk-color;
          flex: 1;

          &.active {
            background-color: $base-color;
          }
        }
      }

      .progress-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        color: $base-text-color;
        min-height: 2.5rem;

        &.header-comment {
          padding-top: 0.4167rem;
        }

        .progress-desc-name {
          color: $dark-text-color;
          font-weight: bold;
          margin-bottom: 0.4167rem;
          cursor: pointer;

          &.active {
            color: $base-color;
          }

          &.date {
            display: flex;
            align-items: center;

            &.flex-start {
              align-items: flex-start;
            }

            .date-start-label {
              margin-right: 1.25rem;
              width: 7.5rem;
            }
          }
        }

        .progress-desc-comment {
          font-style: italic;
          color: $base-text-color;
          margin-bottom: 0.8333rem;
        }
      }

      .progress-addition {
        margin-left: 0.8333rem;
      }
    }

    .gray-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      background-color: white;
    }
  }
}
