<div class="progress-section-container">
  <div class="progress-section-header" [ngClass]="{disabled: data.disabled}" (click)="onCollapse($event)">
    <span class="header-icon">
      <i class="{{ data.header.icon }}"></i>
    </span>
    <span class="header-title">{{ data.header.title }}</span>
    <div *ngIf="collapsed && data.progress" class="header-content">
      <alg-progress-level [total]="data.values.length" [filled]="data.active_until" theme="revert"></alg-progress-level>
      <span *ngIf="data.active_until > 0" class="selected-progress-level">{{data.values[data.active_until-1].label}}</span>
    </div>
    <div *ngIf="collapsed && data.until_name && data.checked" class="header-content">
      from {{ data.start_from | date:'d/MM/y'}}
    </div>
    <div *ngIf="collapsed && !data.until_name && !data.progress">
      <ng-container *ngIf="data.checked">yes</ng-container>
      <ng-container *ngIf="!data.checked">no</ng-container>
    </div>
    <span class="toggle-expand">
      <i *ngIf="collapsed" class="fa fa-caret-down"></i>
      <i *ngIf="!collapsed" class="fa fa-caret-up"></i>
    </span>
  </div>
  <div *ngIf="!collapsed" class="progress-section-body">
    <div class="progress-section-item">
      <div class="progress-control">
        <span *ngIf="data.progress" class="progress-branch" [ngClass]="{active: data.active_until > 0}"></span>
      </div>
      <div class="progress-desc header-comment">
        The level of visibility the group has on the item
      </div>
    </div>
    <ng-container *ngIf="data.progress">
      <div *ngFor="let item of data.values; let idx = index;" class="progress-section-item">
        <div class="progress-control">
          <span
            class="progress-point"
            [ngClass]="{active: idx < data.active_until, last: idx + 1 == data.active_until}"
            (click)="onSetActive($event, data, idx)"
          >
            <i *ngIf="idx + 1 < data.active_until" class="fa fa-check"></i>
            <i *ngIf="idx + 1 === data.active_until" class="fa fa-lock-open"></i>
          </span>
          <span *ngIf="idx + 1 < data.values.length" class="progress-branch" [ngClass]="{active: idx + 1 < data.active_until}"></span>
        </div>
        <div class="progress-desc">
          <div class="progress-desc-name" [ngClass]="{active: idx < data.active_until}" (click)="onSetActive($event, data, idx)">
            {{ item.label }}
          </div>
          <div class="progress-desc-comment">{{ item.comment }}</div>
        </div>
        <div *ngIf="item.disabled" class="gray-overlay"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="!data.progress">
      <div class="progress-section-item">
        <div class="progress-control">
          <alg-switch
            mode="circular"
            [checked]="data.checked"
            (change)="onSwitchChange($event, data)"
          ></alg-switch>
        </div>
        <div class="progress-desc">
          <div class="progress-desc-name" [ngClass]="{ active: data.checked }" (click)="onSwitchChange($event, data)">
            {{ data.label }}
          </div>
          <!-- <div class="progress-desc-comment">{{ data.label }}</div> -->
        </div>
      </div>
      <div *ngIf="data.until_name && data.checked" class="progress-section-item">
        <div class="progress-control"></div>
        <div class="progress-desc">
          <div class="progress-desc-name date">
            <span class="date-start-label">Starting from</span>
            <alg-date-picker></alg-date-picker>
          </div>
          <div class="progress-desc-comment"></div>
        </div>
      </div>
      <div *ngIf="data.until_name && data.checked" class="progress-section-item">
        <div class="progress-control">
          <alg-switch
            mode="circular"
            [checked]="data.until_checkd"
            (change)="data.until_checkd = !data.until_checkd"
          ></alg-switch>
        </div>
        <div class="progress-desc">
          <div class="progress-desc-name date flex-start" [ngClass]="{ active: data.until_checkd }">
            <span class="date-start-label" (click)="data.until_checkd = !data.until_checkd">Until</span>
            <alg-date-picker *ngIf="data.until_checkd"></alg-date-picker>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="data.disabled" class="gray-overlay">
    </div>
  </div>

</div>
