<div class="elements">
  <div class="element">
    <p class="label">D</p>
    <p-inputMask
        placeholder="DDD"
        slotChar="DDD"
        mask="9?99"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="days"
        (ngModelChange)="handleChange()"
    >
    </p-inputMask>
  </div>
  <div class="element">
    <p class="label">H</p>
    <p-inputMask
        placeholder="HH"
        slotChar="HH"
        mask="9?9"
        [unmask]="true"
        [size]="8"
        [(ngModel)]="hours"
        (ngModelChange)="handleChange()"
    >
    </p-inputMask>
  </div>
  <div class="element">
    <p class="label">M</p>
    <p-inputMask
      placeholder="MM"
      slotChar="MM"
      mask="9?9"
      [unmask]="true"
      [size]="8"
      [(ngModel)]="minutes"
      (ngModelChange)="handleChange()"
    >
    </p-inputMask>
  </div>
</div>

<alg-input-error [control]="control"></alg-input-error>
<div *ngIf="!control?.invalid">&nbsp;</div>
