$base-color: #4A90E2;
$secondary-color: #F5A623;
$base-text-color: #9B9B9B;

$light-text-color: #DBDBDB;
$light-color: #DBE9F9;
$light-border-color: #EBEBEB;

$dark-text-color: #6E6E6E;
$dark-color: #33649D;
$dark-base-color: #2E5E95;

$base-bk-color: #F1F2F7;

$nav-bk-color: #4E4E4E;

$dark-black-color: #464646;