$base-color: #4A90E2;
$base-bk-color: #F1F2F7;
$base-text-color: #787878;

$secondary-color: #F5A623;

$light-text-color: #DBDBDB;
// $light-color: #DBE9F9;
$light-color: #DFE7F4;
$light-border-color: #EBEBEB;

$dark-text-color: #4A4A4A;
$dark-color: #33649D;
$dark-base-color: #2E5E95;
$dark-black-color: #464646;
$dark-transparency-color: rgba(74,74,74,.1);

$nav-bk-color: #4E4E4E;

// Section colors
$section-color: #DFE7F4;
$section-danger-color: #F2D9E0;
$section-danger-handle-color: #FF001F;
$section-danger-handle-border-color: #B20015;
$section-border-color: #D1D9E5;

//Session colors
$session-left-view-color: #F2F2F2;
$session-right-view-color: #E5E5E5;

// Notification colors
$notify-error-color: #FF001F;
