@use "sass:meta";
@use 'assets/scss/helpers';
@use 'src/geometry';
@use 'src/variables';
@use "assets/scss/functions";

/* You can add global styles to this file, and also import other style files */
@include meta.load-css('@angular/cdk/overlay-prebuilt.css');
@include meta.load-css('assets/scss/components/page-header');
@include meta.load-css('assets/scss/components/table-v2');
@include meta.load-css('assets/scss/components/table-slanted');
@include meta.load-css('assets/scss/components/error-message');
@include meta.load-css('assets/scss/components/data-list-container');
@include meta.load-css('assets/scss/components/mode-bar');
@include meta.load-css('assets/scss/components/calendar');
@include meta.load-css('assets/scss/components/tab-rounded');
@include meta.load-css('assets/scss/components/tab-nav');
@include meta.load-css('assets/scss/components/login-button');
@include meta.load-css('assets/scss/components/button');
@include meta.load-css('assets/scss/components/button-icon');
@include meta.load-css('assets/scss/components/messages');
@include meta.load-css('assets/scss/components/propagation-edit-menu');
@include meta.load-css('assets/scss/components/group-join-by-code');
@include meta.load-css('assets/scss/components/block-ui');
@include meta.load-css('assets/scss/components/tooltip');
@include meta.load-css('assets/scss/components/path-suggestion-overlay');
@include meta.load-css('assets/scss/components/suggestion-of-activities-overlay');
@include meta.load-css('assets/scss/components/user-progress-overlay');
@include meta.load-css('assets/scss/components/rounded-icon-wrapper');
@include meta.load-css('assets/scss/components/input');
@include meta.load-css('assets/scss/components/top-bar-scrollbar');
@include meta.load-css('assets/scss/components/common-confirm-dialog');
@include meta.load-css('assets/scss/components/tag');

// New Design
@include meta.load-css('assets/scss/text-colors');
@include meta.load-css('assets/scss/text-sizes');

/* Custom themes */
@include meta.load-css('assets/scss/themes/coursera-pt');
@include meta.load-css('assets/scss/themes/probabl');
@include meta.load-css('assets/scss/themes/thymio');

@media screen and (max-width: 599.98px) {
  :root {
    --alg-space-size-1: 2rem;
    --alg-space-size-2: 1.5rem;
    --alg-space-size-3: 1rem;
    --alg-space-size-4: .75rem;
    --alg-space-size-5: .5rem;
  }
}

* {
  box-sizing: content-box;
}

.p-component, .p-component * {
  box-sizing: border-box !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--alg-light-bg-color);
  font-family: var(--font-family);
}

button, input, textarea {
  font-family: inherit;
}

.cdk-global-overlay-wrapper {
  background-color: #FFFC;
}

.cdk-overlay-connected-position-bounding-box {
  margin-bottom: -2rem;
}

.html-container {
  a {
    @extend .alg-link;
    @extend .base-color;
  }
}

.grid-card-image-default-bg {
  background-image: url("/images/chapter-default.jpg");
}

.alg-code-wrapper {
  margin: .3rem 0;
  padding: .2rem .4rem;
  max-width: 100%;
  border: .1rem solid rgba(0, 0, 0, .05);
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .05);
  text-align: left;
  overflow: scroll;

  .alg-code {
    white-space: unset;
  }
}

.alg-code {
  color: var(--alg-white-color);
  font-size: 0.9rem;
  white-space: break-spaces;

  &.with-bg {
    padding: 0 .2rem;
    border: .1rem solid rgba(0, 0, 0, .05);
    border-radius: .3rem;
    background-color: rgba(0, 0, 0, .05);
  }

  &.dark {
    color: var(--alg-secondary-color);
  }
}

.top-bar-overlay-panel {
    width: 450px;

    @media screen and (max-width: 599.98px) {
      width: 100% !important;
    }
}

.alg-divider {
  margin: 0;
  padding: 0;
  height: functions.toRem(1);
  border: none;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(209,215,230,1) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.alg-search-result {
  em {
    padding: functions.toRem(1);
    color: var(--alg-primary-color);
    background-color: var(--alg-search-result-highlight);
    font-style: normal;
    font-weight: 300;
  }
}

.alg-z-index-999 {
  z-index: 999 !important;
}
