/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'src/colors.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $base-bk-color;
  min-height: 100%;
}

.cdk-overlay-container {
  background-color: #FFFC;
}
