.section-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.4167rem;
  margin-bottom: 0.4167rem;
}

.toggle-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.0833rem;
  height: 2.0833rem;
}
