<div class="section-container">
  <div class="section-header" [ngClass]="{disabled: disabled, 'cursor-pointer': collapsible}" (click)="onCollapse()">
    <span class="header-icon">
      <i class="{{ icon }}"></i>
    </span>
    <span class="header-title">{{ header }}</span>
    <ng-container *ngIf="contentTemplate && collapsed && collapsible"
      [ngTemplateOutlet]="contentTemplate"
      [ngTemplateOutletContext]="{ $implicit: true }"
    ></ng-container>
    <span class="toggle-expand" *ngIf="collapsible">
      <i *ngIf="collapsed" class="fa fa-caret-down"></i>
      <i *ngIf="!collapsed" class="fa fa-caret-up"></i>
    </span>
  </div>
  <ng-container
    *ngIf="contentTemplate && (!collapsed || !collapsible)"
    [ngTemplateOutlet]="contentTemplate"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>
</div>
