@import 'src/assets/scss/functions';

:host {
  display: block;
  margin: 0 toRem(-16);
}

.data-list-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-list-item {
  border-radius: toRem(8);

  &:hover {
    background-color: var(--alg-children-item-hover-color);

    .item-link {
      border-color: transparent !important;
    }
  }

  &:not(:last-child) {
    .item-link {
      border-bottom: toRem(1) solid var(--alg-border-light-color);
    }
  }
}

.item-link {
  padding: 0 toRem(16);
  display: flex;
  text-decoration: none;

  &.locked {
    opacity: .3;
  }
}

.left-container {
  padding: toRem(18) 0;
  display: flex;
  flex: 1;
}

.right-container {
  min-width: toRem(32);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-number {
  color: var(--alg-primary-color);
  font-size: toRem(20);
}

.item-title-section {
  margin-left: toRem(11);
  text-decoration: none;
  flex: 1;
}

.item-title {
  color: var(--dark-text-color);
  font-size: toRem(20);
  font-weight: 400;
}

.item-subtitle {
  margin-top: toRem(10);
  color: var(--alg-secondary-color);
  font-size: toRem(12);
  font-weight: 400;
}

.item-icon {
  color: var(--alg-primary-color);
  font-size: toRem(24);
}
