<ul
  class="data-list-container"
  [ngClass]="{'activity-type': type === 'activity'}"
  *ngIf="children.length > 0; else noChildrenSection"
>
  <li class="data-list-item" *ngFor="let item of children; let i = index">
    <div class="activity-progress" *ngIf="type === 'activity'">
      <alg-score-ring
        *ngIf="!item.noScore && (!item.watchedGroup && item.result) || (item.watchedGroup && item.watchedGroup.avgScore !== undefined)"
        [diameter]="30"
        [currentScore]="(item.watchedGroup ? item.watchedGroup.avgScore : item.result?.score) ?? 0"
        [isValidated]="(item.watchedGroup ? item.watchedGroup.allValidated : item.result?.validated) ?? false"
        [bestScore]="item.watchedGroup ? (item.watchedGroup.avgScore ?? 0) : item.bestScore"
      ></alg-score-ring>
    </div>
    <div
      class="item-content"
      (click)="click(item)"
      [ngClass]="{ locked: item.isLocked }"
    >
      <a class="item-title alg-link">
        {{ i + 1 }}. {{ item.string.title }}
      </a>
      <span *ngIf="item.isLocked" class="item-status">
        <i *ngIf="item.isLocked" class="fa fa-lock"></i>
      </span>
      <alg-skill-progress
        *ngIf="type === 'skill' && item.result"
        style="width: 25%;"
        type="thick-horizontal"
        [bestScore]="item.bestScore"
        [currentScore]="item.result.score"
      ></alg-skill-progress>
      <alg-state-widget
        [type]="item.category"
        *ngIf="showStateWidget"
      ></alg-state-widget>
    </div>
  </li>
</ul>

<ng-template #noChildrenSection>
  <p *ngIf="emptyMessage">{{ emptyMessage }}</p>
</ng-template>
