<ul
  class="data-list-container"
  [ngClass]="{'activity-type': type === 'activity'}"
  *ngIf="children.length > 0; else noChildrenSection"
>
  <li class="data-list-item" *ngFor="let item of children; let i = index">
    <div class="left-container">
      <div class="item-number">
        {{ i + 1 }}
      </div>
      <a
        class="item-link"
        [ngClass]="{ locked: item.isLocked }"
        [routerLink]="{
          id: item.id,
          contentType: item | contentTypeFromItem,
          path: itemData.route.path.concat([ itemData.item.id ])
        } | withAttempt: (item.result && item.result.attemptId ? {
         attemptId : item.result.attemptId
        } : { parentAttemptId: attemptId }) | url"
        *ngIf="itemData && itemData.currentResult?.attemptId as attemptId"
      >
        <div class="item-title">
          {{ item.string.title }}
        </div>
        <div class="item-subtitle">
          Description
        </div>
      </a>
    </div>
    <div class="right-container" *ngIf="type === 'activity'">
      <alg-score-ring
        *ngIf="!item.noScore && (!item.watchedGroup && item.result) || (item.watchedGroup && item.watchedGroup.avgScore !== undefined); else iconSection"
        [currentScore]="(item.watchedGroup ? item.watchedGroup.avgScore : item.result?.score) ?? 0"
        [isValidated]="(item.watchedGroup ? item.watchedGroup.allValidated : item.result?.validated) ?? false"
        [bestScore]="item.watchedGroup ? (item.watchedGroup.avgScore ?? 0) : item.bestScore"
      ></alg-score-ring>
      <ng-template #iconSection>
        <div class="alg-rounded-icon-wrapper">
          <i class="ph-duotone" [ngClass]="{ 'ph-files': item.type === 'Task', 'ph-folders': item.type === 'Chapter' }"></i>
        </div>
      </ng-template>
    </div>
  </li>
</ul>

<ng-template #noChildrenSection>
  <p *ngIf="emptyMessage">{{ emptyMessage }}</p>
</ng-template>
