@import 'src/assets/scss/functions';

:host {
  display: block;
  padding: var(--alg-space-size-4) 0;
}

.data-list-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-list-item {
  display: flex;
  &:not(:last-child) {
    border-bottom: toRem(1) solid var(--alg-border-light-color);
  }
}

.left-container {
  padding: toRem(23) 0 toRem(13) 0;
  display: flex;
  flex: 1;
}

.right-container {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.item-number {
  color: var(--alg-primary-color);
  font-size: toRem(20);
}

.item-link {
  margin-left: toRem(11);
  text-decoration: none;
  flex: 1;
}

.item-title {
  color: #000;
  font-size: toRem(20);
  font-weight: 400;
}

.item-subtitle {
  margin-top: toRem(10);
  color: var(--alg-secondary-color);
  font-size: toRem(12);
  font-weight: 400;
}
