@use 'src/variables';
@use 'src/geometry.scss';

.selection-tool {
  display: flex;
  flex-direction: column;
  border-radius: geometry.$border-radius;
  background-color: var(--base-bk-color);

  max-width: 56rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  app-selection:first-child {
    margin: 1rem;
  }
}
