<div class="nav-header" *ngIf="templateId === 0">
  <div class="nav-control">
    <span class="nav-collapse" (click)="onCollapse()" tabindex="0">
      <!-- <i class="fa fa-bars"></i> -->
      <img src="assets/images/menu-open.svg" style="width: 2rem; height: 2rem;" />
    </span>
    <span class="platform-info">
      <!-- <span class="platform-image">
        <img src="assets/images/{{data.image}}" style="width: 2.3333rem; height: 2.3333rem;" />
      </span> -->
      <span class="platform-name">Algorea Platform</span>
    </span>
    <!-- <span class="notifications" *ngIf="data.notification > 0" (click)="toggleNotification()" tabindex="1">
      <span class="notification-number">{{ data.notification }}</span>
      <i class="far fa-bell"></i>
    </span> -->
    <!-- <alg-select [items]="langs"></alg-select> -->
    <span class="sign-out" *ngIf="session && !session.user.isTemp" (click)="logout()" tabindex="2">
      <i class="fa fa-sign-out-alt"></i>
    </span>
  </div>
  <div class="overlay-container">
    <alg-button
      *ngIf="session && session.user.isTemp"
      icon="fa fa-sign-in-alt"
      label="Log in / Sign in"
      class="ui-button-rounded ui-button-warning ui-fit-parent"
      (click)="login()"
    ></alg-button>
    <alg-button
    *ngIf="session && !session.user.isTemp"
      icon="fa fa-sign-out-alt"
      label="Log out"
      class="ui-button-rounded ui-button-warning ui-fit-parent"
      (click)="logout()"
    ></alg-button>
  </div>
</div>

<div class="nav-control alt" *ngIf="templateId">
  <span class="nav-collapse" (click)="onCollapse()" tabindex="0">
    <img src="assets/images/menu-open.svg" style="width: 2rem; height: 2rem;"/>
  </span>
  <span class="title-collapse" (click)="onFold()" [ngClass]="{down: !folded}">
    <img src="assets/images/header-open.svg" style="width: 1rem;"/>
  </span>
  <span class="notifications" *ngIf="false" tabindex="1">
    <span class="notification-number">2</span>
    <i class="far fa-bell"></i>
  </span>
</div>
