<div class="container" *ngIf="state$ | async as state">

  <alg-loading class="spinner" size="small" *ngIf="state.isFetching || (deletionInProgress$ | async)"></alg-loading>

  <span class="has-children" *ngIf="state.isReady && state.data" i18n>
    Only an empty group can be deleted.
  </span>
  <alg-error
    *ngIf="state.isError"
    class="warning small"
    i18n-message message="Error while loading the group info"
  ></alg-error>
  <button
      pButton
      type="button"
      class="p-button-rounded p-button-danger"
      i18n-label label="Delete this group"
      (click)="onDeleteGroup()"
      [disabled]="(state.isReady && state.data) || state.isFetching || state.isError || (deletionInProgress$ | async)"
  ></button>
</div>
