@import "src/colors.scss";
$group-header-height: 7rem;
$group-border-color: #e8eaeb;
$header-height: 7.5rem;

@mixin anonym_group($size, $font-size) {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  background-color: $secondary-color;
  border-radius: 9rem;

  i {
    font-size: $font-size;
    color: white;
  }
}

:host ::ng-deep .group-container {
  display: flex;
  flex-direction: column;
  background-color: $base-bk-color;
  border-radius: 1rem 1rem 0 0;
  height: calc(100vh - #{$header-height});
  position: relative;

  .group-header {
    min-height: $group-header-height;
    // border-top-left-radius: 0.8333rem;
    position: relative;
    display: flex;
    align-items: center;

    .group-avatar {
      position: absolute;
      left: 1.25rem;
      top: -0.4167rem;
      width: $group-header-height;

      img,
      span {
        border-radius: 9rem;
      }

      .anonym-group {
        @include anonym_group(5.8333rem, 4rem);
      }
    }

    .group-title {
      font-size: 2rem;
      text-align: center;
      line-height: $group-header-height;
      display: inline-block;
      color: $dark-text-color;
      flex: 1;
      margin-left: 7.0833rem;
      margin-right: 5.8333rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .group-toggle {
      position: absolute;
      right: 1.5rem;
      height: 3rem;
      width: 5rem;
      top: calc(50% - 1.5rem);
      border-radius: 9rem;
      // background-color: $base-color;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $base-text-color;
      padding: 0.8333rem;

      i {
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }

  .group-content {
    color: $base-text-color;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;

    &:focus {
      outline: none;
    }

    %group-div {
      border-top: 0.0833rem solid $group-border-color;
      padding: 0 1.5rem 0 2rem;
      display: flex;
      align-items: center;
      position: relative;
      height: 5rem;
    }

    .group-show-activity {
      @extend %group-div;
      // padding: 1.25rem 1.6667rem;
      background-color: $base-bk-color;
      // padding-right: 0;

      &-label {
        flex: 1;
      }
    }

    .anonym-group {
      @include anonym_group(3rem, 2rem);
      margin-right: 1rem;
      z-index: 2;
    }

    .group-self {
      @extend %group-div;
      background-color: $base-bk-color;
    }

    .group-subtitle {
      font-weight: bold;
      text-transform: uppercase;
      border-top-right-radius: 9rem;
      border-bottom-right-radius: 9rem;
      position: absolute;
      left: 3rem;
      padding-left: 3rem;
      width: calc(100% - 3rem);
      height: 3rem;
      line-height: 3rem;
      font-size: 1.2rem;
      // z-index: 1;

      &.selected {
        background-color: white;
        border-top-right-radius: 9rem;
        border-bottom-right-radius: 9rem;
      }

    }

    .group-list {
      background-color: $base-bk-color;
      border-top: 0.0833rem solid $group-border-color;
      %trans-bk-accordion {
        background-color: transparent !important;
        border: none !important;
        outline: 0.0833rem solid transparent;
        color: $base-text-color !important;
        position: relative;
      }
      .ui-accordion-header {
        margin-bottom: 0;

        a {
          @extend %trans-bk-accordion;
          padding-left: 2rem;

          &[aria-expanded="true"] {
            padding-bottom: 0;
          }

          .ui-accordion-toggle-icon {
            position: absolute;
            right: 0.8333rem;
            top: 1.5rem;
            color: $base-text-color !important;
            z-index: 2;
            font-size: 1.5rem;
            cursor: pointer;
          }

          &:focus {
            box-shadow: none;
          }
        }

        &.ui-state-active {
          @extend %trans-bk-accordion;
        }

        .ui-accordion-header-text {
          text-transform: uppercase;
        }

        p-header {
          display: flex;
          align-items: center;
        }
      }

      .ui-accordion-content-wrapper {
        border-bottom: 0.0833rem solid $group-border-color;
        .ui-accordion-content {
          background-color: transparent;
          border: 0.0833rem solid transparent;
          padding: {
            left: 3.2rem;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  .overlay-skills {
    position: fixed;
    left: 0;
    width: 34rem;
    top: calc(100vh - 4.1667rem);
    z-index: 120;
  }

  .notified {
    width: 100%;
    height: 100%;
    background-color: $nav-bk-color;
    border-top-right-radius: 0.8333rem;
    display: flex;
    flex-direction: column;

    .back-to {
      height: 4.1667rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      color: white;
      border-bottom: 0.0833rem solid #5B5B5B;
      cursor: pointer;

      .back-icon {
        font-size: 1.3333rem;
        margin-right: 0.8333rem;
      }

      .back-label {
        flex: 1;
        font-weight: bold;
      }
    }
  }
}

:host ::ng-deep perfect-scrollbar {
  background-color: $base-color;
}
