@if (state$ | async; as state) {
  @if (state.isFetching) {
    <alg-loading class="alg-flex-1"></alg-loading>
  }
  @if (state.isError) {
    <alg-error
      class="alg-flex-1"
      i18n-message message="Error while loading content"
      [showRefreshButton]="true"
      (refresh)="refresh()"
    ></alg-error>
  }
  @if (state.isReady && state.data; as data) {
    <h2 class="alg-h2 alg-text-normal alg-base-title-primary-space" i18n>
      Sub-skills
    </h2>
    @if (itemData && itemData.currentResult?.attemptId; as attemptId) {
      <alg-item-children-list
        type="skill"
        i18n-emptyMessage emptyMessage="This skill does not have subskills."
        [children]="data.skills"
        [routeParams]="{ parentAttemptId: attemptId, path: itemData.route.path.concat([ itemData.item.id ]) }"
      ></alg-item-children-list>
    }
    <div class="section-title alg-h2" i18n>
      Activities to learn or reinforce this skill
    </div>
    @if (itemData && itemData.currentResult?.attemptId; as attemptId) {
      <alg-item-children-list
        i18n-emptyMessage emptyMessage="This skill does not have related activities."
        [children]="data.activities"
        [routeParams]="{ parentAttemptId: attemptId, path: itemData.route.path.concat([ itemData.item.id ]) }"
      ></alg-item-children-list>
    }
  }
}
