<app-section icon="fa fa-link" label="Suggested activities for this skill">
  <app-activity-skill-list [data]="suggested" [activity]="true"></app-activity-skill-list>
</app-section>
<app-section icon="fa fa-calendar-check" label="Activities associated with this skill">
  <div class="select-type-container">
    <app-selection type="square" [items]="sels"></app-selection>
  </div>
  <app-grid-filter-bar>
    <app-select
      [items]="filterChoice"
      [opened]="false"
      width="10"
      style="margin: 0.4167rem;"
      (onClick)="gridSelect = true"
    ></app-select>
    <ng-container *ngFor="let filter of gridFilters">
      <app-grid-filter
        [icon]="filter.icon"
        [label]="filter.label"
        [type]="filter.type"
        [mode]="filter.mode"
        [text]="filter.text"
        [ranges]="filter.ranges"
        [dateRanges]="filter.dateRanges"
        [list]="filter.list"
        [outsideClicked]="gridSelect"
        (onClose)="removeFilter(filter.ID)"
        (onHide)="gridSelect = false"
      ></app-grid-filter>
    </ng-container>
  </app-grid-filter-bar>
  <app-activity-skill-list [data]="associated" [activity]="true"></app-activity-skill-list>
</app-section>
