@import 'src/colors.scss';
@import 'src/geometry.scss';

.select-type-container {
  margin: 1rem auto 2rem;
  border-radius: $border-radius;
  padding: 1rem;
  max-width: 58rem;

  background-color: $base-bk-color;
}
