@import 'src/colors.scss';

.select-type-container {
  margin-top: 0.8333rem;
  margin-left: 4.1667rem;
  margin-bottom: 0.8333rem;
  border-radius: 0.8333rem;
  padding: 0.8333rem;

  background-color: $base-bk-color;
}