@use 'src/assets/scss/functions';

.back-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--alg-space-size-6);
}

.back-button-title {
  margin-left: functions.toRem(12);
  color: var(--alg-secondary-color);
  font-size: functions.toRem(16);
  font-weight: 700;
}
