<div class="container" *ngrxLet="session$ as session">
  <div class="left" [ngClass]="{ collapsed: !leftMenuDisplayed, expanded: leftMenuDisplayed }">
    <alg-left-menu (hideLeftMenu)="toggleLeftMenuDisplay(false)"></alg-left-menu>
  </div>
  <ng-container *ngIf="currentMode$ | async as currentMode">
    <div class="top-bar" [ngClass]="{ 'with-mode-bar': currentMode !== 'normal', collapsed: !leftMenuDisplayed, expanded: leftMenuDisplayed }">
      <alg-left-header
        *ngIf="!leftMenuDisplayed"
        (displayLeftMenu)="toggleLeftMenuDisplay($event)"
        (displayHeaders)="toggleHeadersDisplay($event)"
        [compactMode]="true"
      ></alg-left-header>
      <alg-top-right-bar [headerDisplayed]="headersDisplayed"></alg-top-right-bar>
      <alg-top-right-controls [drawLeftBorder]="currentMode === 'normal'"></alg-top-right-controls>
    </div>
    <div class="right" [ngClass]="{ collapsed: !leftMenuDisplayed, expanded: leftMenuDisplayed, 'with-mode-bar': currentMode !== 'normal' }">
      <div class="main-content" [ngClass]="{ folded: !headersDisplayed, unfolded: headersDisplayed }">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-confirmPopup key="commonPopup"></p-confirmPopup>
<p-dialog
  *ngrxLet="fatalError$"
  i18n-header="@@auth-error-modal-title" header="Error"
  [visible]="true"
  [style]="{width: '50vw'}"
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
>
  <p i18n="@@auth-error-modal-context">Oops, we are unable to make the site work properly. Are you connected to the Internet?</p>
  <p i18n="@@auth-error-modal-todo">Try to refresh the page. If this problem persists, please contact us.</p>
</p-dialog>
<alg-language-mismatch></alg-language-mismatch>
