<style>
  :host {
    font-family: "titillium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1.2rem;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.6667rem 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>

<div class="container">
  <div class="left" [ngClass]="{ collapsed: collapsed, expanded: !collapsed }">
    <alg-left-nav
      [collapsed]="collapsed"
      (collapse)="onCollapse($event)"
    ></alg-left-nav>
  </div>
  <div class="top-bar"
    *ngIf="editState$ | async as editState"
    [ngClass]="{ editing: editState === 'editing' || editState === 'editing-noaction', collapsed: collapsed, expanded: !collapsed }"
  >
    <alg-top-nav
      *ngIf="collapsed"
      [collapsed]="collapsed"
      [folded]="folded"
      (collapse)="onCollapse($event)"
      (fold)="onFold($event)"
      [templateId]="1"
    ></alg-top-nav>
    <div class="top-right-bar" *ngIf="currentContent$ | async as currentContent">
      <alg-editor-bar
        *ngIf="editState === 'editing' || editState === 'editing-noaction'"
        (cancel)="onEditCancel()"
        (save)="onEditSave()"
      ></alg-editor-bar>
      <div class="breadcrumb-bar"
      *ngIf="!folded && !scrolled">
        <alg-breadcrumb [contentBreadcrumb]="currentContent?.breadcrumbs"></alg-breadcrumb>
        <alg-page-navigator
          *ngIf="editState === 'editable'"
          (edit)="onEditPage()"
        ></alg-page-navigator>
        <alg-button
          *ngIf="collapsed"
          label="Connexion"
          icon="pi pi-check"
          class="ui-button-rounded"
          style="margin-right: 0.4167rem;"
        ></alg-button>
      </div>
      <div class="folded-top-bar" *ngIf="folded || scrolled">
        <alg-score-ring
          *ngIf="isStarted && selectedType == 2"
          [displayedScore]="50"
          [currentScore]="60"
          [diameter]="30"
        ></alg-score-ring>
        <div
          *ngIf="(!isStarted || selectedType === 0 || selectedType === 1) && selectedType !== 5"
          class="task-user-image"
        >
          <img src="assets/images/_messi.jpg" style="width: 2.9167rem; height: 2.9167rem;" />
        </div>
        <div class="rightpane-title">
          <p *ngIf="currentContent && currentContent.title">{{ currentContent.title }}</p>
        </div>
        <div *ngIf="collapsed" class="user-info">
          <span class="user-avatar">
            <img src="assets/images/Male.svg" style="width: 3rem; height: 3rem;" />
          </span>
          <span class="user-id">CyrilK89</span>
        </div>
        <span
          *ngIf="selectedType == 2"
          class="clock-icon"
          [ngClass]="{ finished: false }"
        >
          <i class="fa fa-clock"></i>
        </span>
        <span
          *ngIf="selectedType == 2"
          class="remaining-time"
          [ngClass]="{ finished: false }"
        >
          00:03:10
        </span>
        <alg-page-navigator
          *ngIf="editState === 'editable'"
          [allowFullScreen]="false"
          navigationMode="nextAndPrev"
          (edit)="onEditPage()"
        ></alg-page-navigator>
      </div>
    </div>
  </div>
  <div class="right" [ngClass]="{ collapsed: collapsed, expanded: !collapsed }">
    <div
      class="main-content"
      [ngClass]=
        "{ folded: folded, unfolded: !folded, 'type-1': selectedType === 1, 'type-2': selectedType === 2, 'type-0': selectedType === 0 }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
