@import "../../variables";
@import "src/geometry.scss";
@import "src/assets/scss/functions";

:host {
  display: block;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.top-bar {
  &.animated {
    transition: left var(--left-menu-animation);
    -webkit-transition: left var(--left-menu-animation);
    -moz-transition: left var(--left-menu-animation);
    -o-transition: left var(--left-menu-animation);
  }

  &.with-mode-bar {
    height: 7.5rem;
  }

  &.collapsed {
    left: 0;
  }
}

.left-panel {
  width: var(--left-panel-size);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--alg-light-bg-color);
  height: 100%;

  &.animated {
    transition: left var(--left-menu-animation);
    -webkit-transition: left var(--left-menu-animation);
    -moz-transition: left var(--left-menu-animation);
    -o-transition: left var(--left-menu-animation);
  }

  &.collapsed {
    left: calc(0rem - var(--left-panel-size));
  }
}

.right-panel {
  padding-top: 3.75rem;
  margin-left: var(--left-panel-size);
  position: relative;
  min-height: 100vh;
  border-radius: toRem(16) 0 0 toRem(16);
  background-color: #fff;
  box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 toRem(7) toRem(10) 0 rgba(0,0,0,0.1);

  &.animated {
    transition: margin-left var(--left-menu-animation);
    -webkit-transition: margin-left var(--left-menu-animation);
    -moz-transition: margin-left var(--left-menu-animation);
    -o-transition: margin-left var(--left-menu-animation);
  }

  &.with-mode-bar {
    padding-top: 7.5rem;
  }

  &.collapsed {
    margin-left: 0;
    border-radius: 0;

    .main-content {
      margin-top: 1rem;
    }
  }
}

.main-content {
  padding: 0 var(--alg-space-size-2) var(--alg-space-size-1) var(--alg-space-size-2);
}

.error-message, .error-refresh-button, .error-note {
  text-align: center;
}

.error-refresh-button {
  margin: .6rem 0;
}

.error-note {
  font-size: 1rem;
}

@media screen and (max-width: 599.98px) {
  .left-panel {
    width: 100%;
    z-index: 999;

    &.collapsed {
      left: -100%;
    }
  }
}
