<div class="container" *ngrxLet="session$ as session">
  <div class="left" [ngClass]="{ collapsed: !leftMenuAndHeaders, expanded: leftMenuAndHeaders }">
    <alg-left-menu></alg-left-menu>
  </div>
  <ng-container *ngIf="currentMode$ | async as currentMode">
    <div class="top-bar"
      [ngClass]="{ 'with-mode-bar': currentMode !== 'normal', collapsed: !leftMenuAndHeaders, expanded: leftMenuAndHeaders }">
      <alg-left-header *ngIf="!leftMenuAndHeaders" [compactMode]="true"></alg-left-header>
      <div class="top-right-bar" *ngrxLet="currentContent$ as currentContent">
        <alg-editor-bar *ngIf="currentMode === 'editing'" (cancel)="onEditCancel()"></alg-editor-bar>
        <alg-observation-bar *ngIf="currentMode === 'watching'" [groupName]="session?.watchedGroup?.name || ''"
          (cancel)="onWatchCancel()"></alg-observation-bar>
        <div class="breadcrumb-bar" *ngIf="leftMenuAndHeaders && !scrolled">
          <alg-breadcrumb [contentBreadcrumb]="currentContent?.breadcrumbs"></alg-breadcrumb>
        </div>
        <div class="folded-top-bar" *ngIf="!leftMenuAndHeaders || scrolled">
          <!--<alg-score-ring
            [displayedScore]="50"
            [currentScore]="60"
            [diameter]="30"
          ></alg-score-ring>-->
          <div class="rightpane-title">
            <p *ngIf="currentContent && currentContent.title">{{ currentContent.title }}</p>
          </div>
          <!-- <div *ngIf="collapsed" class="user-info">
            <span class="user-avatar">
              <img src="assets/images/Male.svg" style="width: 3rem; height: 3rem;" />
            </span>
            <span class="user-id">CyrilK89</span>
          </div> -->
          <!-- <span class="clock-icon" [ngClass]="{ finished: false }"><i class="fa fa-clock"></i></span> -->
          <!-- <span class="remaining-time" [ngClass]="{ finished: false }">00:03:10</span> -->
        </div>
      </div>
      <alg-top-right-controls [drawLeftBorder]="currentMode === 'normal'"></alg-top-right-controls>
    </div>
    <div class="right"
      [ngClass]="{ collapsed: !leftMenuAndHeaders, expanded: leftMenuAndHeaders, 'with-mode-bar': currentMode !== 'normal' }">
      <div class="main-content" [ngClass]="{ folded: !leftMenuAndHeaders, unfolded: leftMenuAndHeaders }">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-confirmPopup key="commonPopup"></p-confirmPopup>
<p-dialog *ngrxLet="fatalError$" i18n-header="@@auth-error-modal-title" header="Error" [visible]="true"
  [style]="{width: '50vw'}" [modal]="true" [closeOnEscape]="false" [closable]="false">
  <p i18n="@@auth-error-modal-context">Oops, we are unable to make the site work properly. Are you connected to the
    Internet?</p>
  <p i18n="@@auth-error-modal-todo">Try to refresh the page. If this problem persists, please contact us.</p>
</p-dialog>
<alg-language-mismatch></alg-language-mismatch>
