@import "src/colors.scss";
@import "src/geometry.scss";

@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
    top: 8.3333rem;
  }
}

:host {
  position: relative;
  display: block;

  ::ng-deep .p-datatable {
    margin-bottom: 1rem;
    font-family: 'titillium', sans-serif;


    .p-datatable-thead > tr > th {
      padding: 0 1rem;
      text-align: left;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .03em;
      height: 3rem;

      p-sorticon {
        position: absolute;
        right: 10px;
        top: 1.5rem;
        transform: translateY(-50%);

      }

      &:focus {
        outline: transparent;
      }

    }

    .p-datatable-tbody > tr:nth-child(even) {
      background-color: #fff;
    }

    .p-datatable-tbody > tr > td {
      border: none;
      border-bottom: 0.1rem solid #f0f0f0;
      color: $base-text-color;
      height: 4rem;
      max-height: 4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.2rem;
      padding : 0 1rem;
    }

    .p-datatable-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .p-datatable-tbody > tr.p-highlight > td {
      color: #fff;
    }

  }
}
