:host {
  position: relative;
  display: block;
}

.th-action {
  width: 8rem;
  text-align: center !important;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.2rem;
  }

}
