<ng-container *ngIf="state$ | async as state">
  <alg-error
    *ngIf="state.isError"
    class="dark"
    icon="ph-duotone ph-warning-circle"
    i18n-message message="Error while loading the group you joined"
    [showRefreshButton]="true"
    refreshButtonType="refresh"
    (refresh)="refresh()"
  ></alg-error>

  <p-table
    *ngIf="!state.isError"
    class="alg-table --joined-group-list"
    [value]="state.data || []"
    [customSort]="true"
    sortMode="multiple"
    (sortFunction)="onCustomSort($event)"
    [loading]="state.isFetching"
  >
    <ng-template pTemplate="header" let-columns>
      <tr *ngIf="state.isReady && state.data.length > 0">
        <th i18n>Name</th>
        <th i18n>Type</th>
        <th pSortableColumn="member_since">
          <span i18n>Joined On</span>
          <p-sortIcon field="member_since"></p-sortIcon>
        </th>
        <!-- <th i18n>Can watch your activities</th> -->
        <th i18n>Personal info access</th>
        <th class="th-action"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-membership>
      <tr>
        <td>
          <a class="alg-link" routerLink="../by-id/{{ membership.group.id }}">{{ membership.group.name }}</a>
        </td>
        <td>{{ membership.group.type }}</td>
        <td>{{ membership.memberSince | date:'short' }}</td>
        <!-- <td>
          <span class="table-icon">
            @if(membership.group.requireWatchApproval) {
              <i class="ph ph-check"></i>
            } @else {
              <i class="ph ph-x"></i>
            }
          </span>
        </td> -->
        <td>
          <span class="table-icon">
            @switch(membership.group.requirePersonalInfoAccessApproval) {
              @case('view') {
                <i class="ph ph-eye"></i>
              }
              @case('edit') {
                <i class="ph ph-pen"></i>
              }
              @default {
                <i class="ph ph-eye-slash"></i>
              }
            }
          </span>
        </td>
        <td>
          <div class="actions">
            <ng-container *ngIf="membership.isMembershipLocked || (membership.group.type === 'Team' && membership.canLeaveTeam !== 'free_to_leave'); then cannotLeaveActions else canLeaveActions"></ng-container>
            <ng-template #cannotLeaveActions>
                <ng-container *ngIf="membership.group.type === 'Team'" [ngSwitch]="membership.canLeaveTeam">
                  <div
                    *ngSwitchCase="'frozen_membership'"
                    i18n-pTooltip pTooltip="This team membership is now frozen and cannot be modified."
                    tooltipPosition="left"
                    tooltipEvent="hover"
                    class="ph-duotone ph-lock"
                  ></div>
                  <div
                    *ngSwitchCase="'would_break_entry_conditions'"
                    i18n-pTooltip pTooltip="You cannot leave this team as it would break entry condition to some content your team participating to."
                    tooltipPosition="left"
                    tooltipEvent="hover"
                    class="ph-duotone ph-lock"
                  ></div>
                  <div *ngSwitchDefault class="ph-duotone ph-lock"></div>
                </ng-container>

                <ng-container *ngIf="membership.group.type !== 'Team'">
                  <div
                    i18n-pTooltip pTooltip="You cannot leave the group for the moment. Contact the group manager for more information."
                    tooltipPosition="left"
                    tooltipEvent="hover"
                    class="ph-duotone ph-lock"
                  ></div>
                </ng-container>
            </ng-template>
            <ng-template #canLeaveActions>
              <button
                i18n-pTooltip pTooltip="Leave the group"
                type="button"
                icon="ph-duotone ph-sign-out"
                class="stroke size-l"
                (click)="onGroupLeaveClick(membership)"
                alg-button-icon
              ></button>
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns?.length">
          <p class="empty-message" i18n>This list is empty.</p>
        </td>
      </tr>
    </ng-template>
  </p-table>

</ng-container>
