<alg-section-paragraph icon="fa fa-sign-in-alt" [label]="sectionLabel" [ngClass]="sectionStyleClass">
  <div class="input-wrapper">
    <input
      #input
      type="text"
      i18n-placeholder placeholder="Group code"
      (keyup)="0"
      [(ngModel)]="code"
      [disabled]="state === 'loading'"
    >
    <span class="icon">
      <i class="fa fa-font"></i>
    </span>
    <p-button
      styleClass="alg-button p-button-rounded"
      icon="fa fa-check"
      [label]="buttonLabel"
      [disabled]="input.value === '' || state === 'loading'"
      (onClick)="onClickAccess()"
    ></p-button>
  </div>
</alg-section-paragraph>
