<div class="input-container">
  <input
    class="input-element"
    #input
    type="text"
    i18n-placeholder placeholder="Group code"
    (keyup)="0"
    [(ngModel)]="code"
    [disabled]="state === 'loading'"
  >
  <div class="button-section">
    <button
      class="alg-button primary"
      icon="ph-bold ph-check"
      [label]="buttonLabel"
      [disabled]="input.value === '' || state === 'loading'"
      (click)="checkCodeValidity()"
      pButton
    ></button>
  </div>
</div>

@if (pendingJoinRequest) {
  <alg-join-group-confirmation-dialog
    [name]="pendingJoinRequest.name"
    [params]="pendingJoinRequest.params"
    (confirmEvent)="joinGroup(code, pendingJoinRequest.params)"
    (cancelEvent)="closeModal()"
  ></alg-join-group-confirmation-dialog>
}
