@let item = itemData().item;


<alg-hnk></alg-hnk>

@if (item | isTeamActivity) {
  <p i18n>Team activities are currently not supported</p>
}
@else {
  @let entryStateFetchState = entryStateState();

  @if (entryStateFetchState.isError) {
    <p i18n>There was an error while fetching the entry state</p>
  }
  @else if (entryStateFetchState.isFetching) {
    <p i18n>Loading the entry state...</p>
  }
  @else {
    @let entryState = entryStateFetchState.data;
    @if (entryState | hasAlreadyStated) {
      <p i18n>You have already started the activity. Please refresh the page.</p>
    }
    @else if (entryState | canEnterNow) {
      <p i18n>You can currently start the activity.</p>
    }
    @else {
      <p i18n>You are not allowed to start the activity for now.</p>
    }
    <button
      class="size-l"
      icon="ph-bold ph-door"
      [disabled]="enterActivityInProgress() || !(entryState | canEnterNow)"
      (click)="enterActivity(itemData().route)"
      alg-button
    i18n>Enter now</button>
 }

}
