<alg-section-paragraph icon="fa fa-sign-in-alt" i18n-label label="Add a manager">
  <div class="input-wrapper">
    <input
      type="text"
      i18n-placeholder="Placeholder of field for searching for user by login" placeholder="Login of a user"
      [(ngModel)]="login"
      [disabled]="state === 'loading'"
    >
    <span class="icon">
      <i class="fa fa-font"></i>
    </span>
    <p-button
      styleClass="alg-button p-button-rounded"
      i18n-label label="Add"
      icon="fa fa-plus"
      [disabled]="login === '' || state === 'loading'"
      (onClick)="onClick()"
    ></p-button>
  </div>
</alg-section-paragraph>
