@import 'src/variables';

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--alg-border-color);

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  margin-right: var(--alg-space-size-5);
  color: var(--alg-primary-color);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin: 0;
  padding: var(--alg-space-size-5);
}
