@use "src/assets/scss/functions";

:host {
  display: inline-flex;
  flex-direction: column;
  margin: functions.toRem(6);

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.button {
  display: block;
  padding: .7rem;
  flex-direction: row-reverse;
  border-radius: functions.toRem(10);
  border: none;
  color: var(--alg-white-color);
  background: none;
  font-size: functions.toRem(12);
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  flex: 1;

  &:hover:not(.selected) {
    background-color: var(--alg-primary-dark-hover-color);
  }
}

.selected {
  background-color: var(--alg-primary-dark-color);
}
