<alg-sub-section icon="sign-in-alt" label="Add a content">
  <div class="add-content-wrapper">
    <alg-input
      [parentForm]="newContentForm"
      [hasClearButton]="true"
      (focus)="onNewFocus()"
      [ngClass]="{'input-light': focused === 'existingTitle'}"
      name="newTitle"
      placeholder="Enter a title to create a new child"
      pTooltip="Enter at least 3 characters"
      tooltipEvent="focus"
      tooltipPosition="bottom"
      [tooltipDisabled]="expanded"
    >
    </alg-input>
    <span class="label">or</span>
    <alg-input
      [parentForm]="newContentForm"
      [hasClearButton]="true"
      (focus)="onExistingFocus()"
      [ngClass]="{'input-light': focused === 'newTitle'}"
      name="existingTitle"
      placeholder="Search for existing content"
      pTooltip="Enter at least 3 characters"
      tooltipEvent="focus"
      tooltipPosition="bottom"
      [tooltipDisabled]="expanded"
    >
    </alg-input>
  </div>

  <div *ngIf="expanded && focused === 'newTitle'" class="new-content-type">
    <div class="new-content-container">
      <div class="content-type-item-container" (click)="addNewItem('Chapter')">
        <div class="item-image-wrapper">
          <span><i class="fa fa-book"></i></span>
        </div>
        <div class="item-title">Chapter</div>
        <div class="item-description">A new folder which can contain any activities.</div>
      </div>
      <div class="content-type-item-container" (click)="addNewItem('Task')">
        <div class="item-image-wrapper">
          <span><i class="fa fa-code"></i></span>
        </div>
        <div class="item-title">Task</div>
        <div class="item-description">A new task which users can try to solve.</div>
      </div>
      <div *ngIf="allowSkills" class="content-type-item-container" (click)="addNewItem('Skill')">
        <div class="item-image-wrapper">
          <span><i class="fa fa-graduation-cap"></i></span>
        </div>
        <div class="item-title">Skill</div>
        <div class="item-description">A new sub-skill.</div>
      </div>
    </div>
  </div>

  <div *ngIf="expanded && focused === 'existingTitle'">
    <h3>Select a Content</h3>
    <p-table [value]="test">
      <ng-template pTemplate="body" let-rowData>
        <tr style="background-color: #dfe7f4">
          <td class="type">{{ rowData.type }}</td>
          <td class="main">{{ currentValue }}</td>
          <td>
            <alg-button class="p-small-button p-button-rounded" icon="fa fa-plus" label="Add"></alg-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


</alg-sub-section>
