@import 'src/variables';
@import 'src/geometry.scss';

:host {
  display: block;
}

.add-content-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  span.label {
    font-style: italic;
    margin-left: 1.6667rem;
    margin-right: 2rem;
  }

  alg-input {
    flex: 1;
  }
}

.input-light {
  opacity: 0.5;
}

.main {
  flex: 1;
}

.type {
  color: var(--base-color);
}

.new-content-container {
  display: flex;
  flex-wrap: wrap;

  .new-content-type {
    display: block;
    margin: 1rem;
    flex: 1 0 calc(25% - 1.6667rem);
  }
}

.content-type-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  max-width: 12.5rem;
  margin: 0 auto;

  .item-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.0833rem;
      height: 7.0833rem;
      background-color: var(--base-color);
      color: white;
      border-radius: 7.0833rem;
      font-size: 3.3333rem;
    }
  }

  .item-title {
    font-size: 1.1667rem;
    font-weight: bold;
    color: var(--dark-text-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .item-description {
    font-size: 1.2rem;
    color: var(--base-text-color);
    text-align: center;
    flex: 1;
    overflow: hidden;
  }

  &:hover, &.selected {
    background-color: var(--base-color);
    .item-image-wrapper {
      span {
        background-color: white;
        color: var(--base-color);
      }
    }

    .item-title {
      color: white;
    }

    .item-description {
      color: white;
    }
  }
}

.more-items {
  color: var(--base-text-color);
  font-size: 1.2rem;
}

.input-group {
  margin-top: 1rem;
  display: flex;
}

.input-group-control {
  margin-right: 1rem;
  flex: 1;
}

@media screen and (min-width: 1220px) {
  .new-content-container {
    .new-content-type {
      max-width: calc(25% - 1.6667rem);
    }
  }
}

@media screen and (min-width: 1040px) and (max-width: 1220px) {
  .new-content-container {
    .new-content-type {
      flex: 1 0 calc(33.33% - 1.6667rem);
      max-width: calc(33.33% - 1.6667rem);
    }
  }
}

@media screen and (min-width: 860px) and (max-width: 1040px) {
  .new-content-container {
    .new-content-type {
      flex: 1 0 calc(50% - 1.6667rem);
      max-width: calc(50% - 1.6667rem);
    }
  }
}

@media screen and (max-width: 860px) {
  .new-content-container {
    .new-content-type {
      flex: 1 0 calc(100% - 1.6667rem);
      max-width: calc(100% - 1.6667rem);
    }
  }
}
