@import 'src/colors.scss';
@import 'src/geometry.scss';

$secondary-color: #4a4a4a;
$warning-color: #f5a623;
$danger-color: #ff001f;

:host {
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-button {
  background-color: $base-color;
  border-color: $base-color;
  font-size: 1.2rem;

  &.p-fit-parent {
    width: 100%;
  }

  &.p-button-rounded {
    border-radius: 1rem;
  }

  &.no-uppercase {
    .p-button-text {
      text-transform: unset;
    }
  }

  &.p-small-button {
    font-size: 1rem;
  }

  &.p-medium-button {
    font-size: 1rem;
  }

  &.diagonal-rounded {
    border-top-left-radius: 1rem;
    border-top-right-radius: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: $border-radius;
  }

  &:enabled:focus {
    outline: none;
    box-shadow: none;
  }

  .p-button-text {
    text-transform: uppercase;
  }

  &.p-button-text-icon-left {
    .p-button-text {
      padding: 0;
      padding-left: 1.5rem;
    }
  }

  &.p-button-text-icon-right {
    .p-button-text {
      padding-right: 1.5rem;
    }
  }

  .p-button-icon-left {
    left: 1rem;
  }

  .p-button-icon-right {
    right: 1rem;
  }

  &.p-default {

    &.p-button-secondary {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: white;

      &:enabled:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &.p-button-info {
      background-color: $base-color;
      border-color: $base-color;

      &:enabled:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &.p-button-warning {
      background-color: $warning-color;
      border-color: $warning-color;
      color: white;

      &:enabled:hover {
        color: white;
      }
      &:enabled:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &.p-button-danger {
      background-color: $danger-color;
      border-color: $danger-color;

      &:enabled:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &.p-top-rounded {
      border-radius: 0;
      border-top-left-radius: 0.6667rem;
      border-top-right-radius: 0.6667rem;
    }

    &.p-diag-rounded {
      border-radius: 0;
      border-top-left-radius: 0.6667rem;
      border-bottom-right-radius: 0.6667rem;
    }

    &.p-button-success {
      background-color: white;
      border-color: $base-color;
      color: $base-color;

      &:enabled:hover {
        background-color: $base-color;
        border-color: $base-color;
        color: white;
      }
      &:enabled:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

:host ::ng-deep p-button {
  width: 100%;

    .p-button {
      height: 3rem;
      font-weight: 700;
      font-size: inherit;
      padding: 0 1.5rem;

        &.p-button-rounded {
          border-radius: 1.5rem;
        }

        &.p-default.p-button-success {
          background-color: transparent;
        }
    }
}
