<mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-chart-pie"></i>
      Overview
    </ng-template>
    <ng-template matTabContent>
      <app-group-overview [group_id]="data.ID" [description]="data.description"></app-group-overview>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-sitemap"></i>
      Composition
    </ng-template>
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-lock"></i>
      Administration
    </ng-template>
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-cog"></i>
      Settings
    </ng-template>
    <ng-template matTabContent>
    </ng-template>
  </mat-tab>
</mat-tab-group>
