<nav mat-tab-nav-bar *ngIf="group.current_user_is_manager && canShowTabBar()">
  <ng-container *ngFor="let link of navLinks; index as idx">
    <a mat-tab-link
      *ngIf="canShowTab(idx)"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </ng-container>
</nav>
<div class="bg-white">
  <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
</div>
