@import 'src/colors.scss';
@import 'src/geometry.scss';

.mat-tab-group {
  font-family: inherit;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  .mat-tab-label-container {
    .mat-ink-bar {
      display: none;
    }

    .mat-tab-labels {
      .mat-tab-label {
        @include main-tabs;

        &.mat-tab-label-active {
          @include main-tab-active;
        }

        .mat-tab-label-content {
          i {
            margin-right: 1.25rem;
          }
        }
      }
    }
  }
}

:host ::ng-deep .mat-tab-body-wrapper {
  .mat-tab-body {
    background-color: white;
    @include tab-content-radius;

    &:last-child {
      @include tab-content-radius;
    }
  }
}

.no-permission {
  background-color: white;
  padding: 1rem;
}