@import 'src/colors.scss';
@import 'src/geometry.scss';

:host ::ng-deep app-section .ui-table .ui-table-tbody > tr > td {
  border-right: .1rem solid #f0f0f0;

  &:first-child {
    border: none;
  }
}

app-grid {
  margin-right: -1.6667rem;
  margin-left: -3.3333rem;
}

.award-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: $border-filet;

    &:last-child {
      border-bottom: none;
    }

    .medal-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      margin-right: .1rem;

      &.bronze {
        color: #F5A623;
      }

      &.silver {
        color: #9B9B9B;
      }

      &.gold {
        color: #F9EA35;
      }
    }

    .medal-title {
      font-size: inherit;
      color: $base-text-color;
    }
  }
}
