@import 'src/colors.scss';

.message-rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 4.1667rem;
  height: 4.1667rem;
  border-top: 0.0833rem solid #F0F0F0;

  .rating-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 8.3333rem;
    font-size: 1.2rem;
    color: $base-text-color;

    &.active {
      color: $base-color;
    }
  }
}